[2018-09-24 18:54] kevinvangelder commented on #1317
Only RN 0.57+ is compatible with Xcode 10. This is being discussed over on the Bowser repo. https://github.com/infinitered/ignite-ir-boilerplate-bowser/issues/102

[2018-09-24 19:21] talal7860 commented on #1317
I'm already on 0.57.1.  I've even commented on that thread. Let me know if you want me to close this one

[2018-09-25 11:35] harry7cao commented on #1262
`yarn add react-native-i18n@2.0.12` didn't work for me.

Already tried `react-native link` after running `yarn add`, also didn't work.

[2018-09-25 11:46] bloey opened #1318 "."
### Hey there! Ignite CLI seems to be having a problem, eh?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus points for a repro app)
- Run `ignit

[2018-09-25 14:39] talal7860 commented on #1317
I was able to reproduce this exact issue on react-native by creating a brand new project using `react-native init`. So, I don't think so it has anything to do with ignite. Closing this issue

[2018-09-25 14:39] #1317 closed

[2018-09-25 18:09] kevinvangelder commented on #1318
@bloey Can you provide any information on what's going wrong?

[2018-09-25 18:10] kevinvangelder commented on #1317
@talal7860 Did you try the Product > Clean in Xcode? That often will help, even when it's a RN issue.

[2018-09-26 11:44] #1318 closed

[2018-09-28 08:27] tonmanayo opened #1319 "i18n is now depricated"
---
What's going on?
i18n: This library is deprecated in favor of react-native-languages
---
Steps to reproduce
ignite init uses the react-native-i18n and should be changed to react-native-languages
---
`ignite doctor` results:

[2018-09-28 15:34] derekdon opened #1320 "Are there missing steps to get up and running on a clean mac?"
I thought this would be straight forward, but I keep hitting setup issues... I'm wondering if steps are missing from the readme. I wanted to try the bowser boilerplate.

For example so far I've had to manually install react-native-typescript-transformer, typescript, babel-plugin-transform-inline-environment-variables, also run react-native link react-native-splash-screen as was getting splash scre

[2018-09-28 15:42] derekdon commented on #1305
Tried and see the same on a mac.

[2018-09-28 18:02] kevinvangelder commented on #1319
Yep, this has been resolved in Bowser: https://github.com/infinitered/ignite-ir-boilerplate-bowser/pull/105

Andross will probably not be updated as it is no longer supported.

[2018-09-28 18:04] kevinvangelder commented on #1320
Some of those (like Typescript) need to be globally installed, so they should probably be documented (we haven't done a very good job updating the documentation for Bowser). Others (like manually running react-native link) are probably legitimate issues.

[2018-09-29 11:04] apatche7 opened #1321 "error: bundling failed: TypeError: Cannot read property 'bindings' of null"
### Hey there! Ignite CLI seems to be having a problem, eh?

[code]
---

After I installed a new project with the new version of React, I just got this error with the first run??!!

and this error in App.js

---
`ignite doctor` results:

[code]

[2018-09-30 04:45] elango opened #1322 "React Native - bundling failed: Error: Unable to resolve module `http`"
error: bundling failed: Error: Unable to resolve module `http` from `/Volumes/{app}/node_modules/node-fetch/index.js`: Module `http` does not exist in the Haste module map

Anyidea how to resolve this?

Thanks

[2018-09-30 17:10] tonmanayo commented on #1319
ah no that sucks. I really liked the Andross package. Any reason for not supporting it anymore? @kevinvangelder

[2018-10-02 09:47] david-martyn-ford commented on #1305
Also have the same issue when starting bowser boilerplate from scratch.

OS: `Windows 10 Pro 1803`
Ignite version: `2.1.2`
Node: `v10.6.0`
Npm: `6.1.0`

[2018-10-03 17:45] nicholas commented on #1322
Hey guys, I too am seeing this issue.

To try and isolate, I created a new react native app with `react-native init` and went about doing what I was doing with Ignite, installing and using [contentful.js](https://github.com/contentful/contentful.js). Instead of `http` being the module it couldn't resolve, I saw instead:

@elango Are/were you also adding a dependency when you got this error? My bet

[2018-10-04 05:38] nicholas commented on #1322
To followup, the issue for me ended up being that the dependency I was importing had a `browser` variant that I was supposed to use that I guess handles core node libraries like `http` in a way that works. So, at least for me, this was not an Ignite issue nor Axios or even React Native for that matter. Just me. 🤦‍♂️

[2018-10-04 09:39] derekdon commented on #1320
@kevinvangelder that's fair enough... to be honest I just picked it up and tried it on a clean mac, just assumed all the dependencies would be auto installed via the project's package.json or highlighted as prerequisites in the readme. No worries.

[2018-10-04 09:39] #1320 closed

[2018-10-04 09:41] derekdon commented on #1320
Forgot to add you may want to expand on Reactotron intergration, as I couldn't get it to work / connect for the Bowser boilerplate... Cheers

[2018-10-04 15:15] effexts commented on #1082
I was having the same issue, but on mac... using latest version of node. (v10.11.0 i think).

Switching to node 7.6.0 finally added the DevScreens files in the ignite folder.

I  haven't tested other versions of node.

[2018-10-05 10:34] kumarsathishc commented on #1097
I am facing the same issue. Is there any solution for this? @Gops1994 @codesinghanoop

[2018-10-06 14:18] apatche7 commented on #1321
I did fix it, thanks!

[2018-10-06 14:18] #1321 closed

[2018-10-08 13:22] Gops1994 commented on #1097
problem solve after update my gradle version 4.6  latest @kumarsathishc

[2018-10-09 01:17] johndanek commented on #1097
FYI My "solution" was to create a blank React Native project without Ignite and start over from scratch :-/

[2018-10-09 17:14] hemel-cse commented on #1097
Same issue..

[2018-10-10 07:07] renishghetia commented on #1321
@apatche7 how did you solved it ? i am facing the same issue.

[2018-10-11 21:52] monotv opened #1325 "Allow custom prefixes for ignite plugins because of reasons"
Dear Ignite team,

recently I built a boilerplate based on your awesome Ignite CLI. I did not use the command line to initiate it but rather forked a different project.

The main focus was custom generators to support a certain file structure.

To my surprise, after adding the plugin in a project, the command line showed the correct generators but with `missing` descriptions. Also the generators f

[2018-10-12 01:08] jamonholmgren commented on #1325
Absolutely, this is a valid concern. Thanks for bringing it up @monotv !

Do you have a sense for how we might accomplish this? Simplest is probably just to detect the @ at the beginning of the string and don't make any changes to the name.

[2018-10-13 18:17] JulienMalige commented on #1267
I was thinking to find the name of the Boilerplate with a match(regex) in the `package.json` but it seems that there is no naming pattern/convention.

Do you think I can use one of a generator name from `ignite/ignite.json` or it's better to add a new key on this same file ?

[code]

[2018-10-13 21:17] JulienMalige commented on #1267
Ok, just found #829, so I will use this strategy. I will make a PR on each boilerplates to add this key/value.

[2018-10-15 09:31] karlmarxlopez commented on #1084
@GantMan Any updates on this?

[2018-10-16 10:04] mithunnath opened #1327 "react-native run android command failed on Ignite project"
I'm just giving Ignite a try for the first time. Installed the Andross boilerplate and tried to run "react-native run android" command. I'm getting the following error: (note: this works fine with a normal react-native app in my computer)

[code]

`ignite doctor` results:
[code]
Any help would be greatly appreciated! Thanks

[2018-10-16 10:15] mithunnath commented on #1327
Now the error is, this one!
[code]

[2018-10-16 10:36] mithunnath commented on #1327
Issue has been fixed! My machine was missing some libraries specifically needed for 64 bit Linux.
This command saved me!

`sudo apt-get install libc6:i386 libncurses5:i386 libstdc++6:i386 lib32z1 libbz2-1.0:i386`

For more reference: https://stackoverflow.com/questions/41181412/unable-to-build-react-native-2-project-to-phone#answer-41355974

[2018-10-16 10:39] #1327 closed

[2018-10-16 13:44] andyr6381 commented on #1061
New here, was having a similar issue using node 10 and devscreen folders not being created in the ignite folder, downgraded to node 7.6.0 and everything installed and worked normally.

[2018-10-16 17:36] mlaco commented on #1084
@devanshsadhotra could you tell me what your file `E:\ReactNativeYoungClay\youngclay/App/Navigation/AppNavigation.js` looks like please?

[2018-10-16 18:35] jamonholmgren commented on #1061
That's helpful, thanks @andyr6381 . Go ahead and comment on this issue: https://github.com/infinitered/ignite-dev-screens/pull/14

[2018-10-16 20:50] HunWalk commented on #1061
The boilerplate works with node v8.12.0 on macOS. Well however by default homebrew wants to install node v10.12.0 and with that version the boilerplate is kinda broken.

[2018-10-16 20:57] HunWalk commented on #1061
Yeah, a slight problem. After the boilerplate was complete i 've had to run npm install because some dependencies were still missing. Is this necessary?

[2018-10-16 21:08] jamonholmgren commented on #1061
To be honest, I'm not sure! @HunWalk if you could comment on the other issue (this repo is about the Ignite CLI), that might get more attention.

[2018-10-19 07:14] AizenSousek opened #1328 "exclamation mark with ignite start up or stop"
Hello team:
 there is a bug with ignite node about output content when I start up ignite node or stop it,the console will output so many exclamation mark, more than 20.then I debug application, when I get it:
`ignite = Ignition.start(ServerConfigurationFactory.createConfiguration());`
it will output exclamation mark by console
![85670051-2a3c-44cd-b874-975e57d0dffa](https://user-images.githubuserc

[2018-10-19 14:53] bryanstearns commented on #1328
Hi @AizenSousek -- I think you might have the wrong project; this Ignite is a CLI for React Native project. Maybe you were thinking of https://ignite.apache.org ?

[2018-10-19 15:31] mlaco commented on #1325
I'll take a shot at this as time permits

[2018-10-21 11:52] rubenvde commented on #1305
[code]

Got the same issue here

[2018-10-22 18:47] kevinvangelder commented on #1294
https://github.com/infinitered/ignite-ir-boilerplate-bowser

[2018-10-22 18:47] #1294 closed

[2018-10-22 18:51] kevinvangelder commented on #1287
Usually if you get stuck on the splash screen there is a redbox error behind it. You can either try resetting the cache on your packager with `npm start --reset-cache` or temporarily comment out the splash screen call in the native code so you can see the redbox error and address it. Since Leon's PR should have improved things here I'm closing this issue, but feel free to reopen if it's still a pr

[2018-10-22 18:51] #1287 closed

[2018-10-22 18:51] #1328 closed

[2018-10-22 18:52] #1319 closed

[2018-10-22 18:52] #1311 closed

[2018-10-22 18:53] #1322 closed

[2018-10-22 18:53] #1307 closed

[2018-10-22 18:54] #1309 closed

[2018-10-22 18:54] #1303 closed

[2018-10-22 18:56] #1266 closed

[2018-10-22 19:00] kevinvangelder commented on #1231
@Derek-X-Wang It appears your issue is with flexbox styling, not anything specific to Ignite. If you're still having trouble with this I'd suggest posting to our [community Slack](http://community.infinite.red) or StackOverflow, or do some flexbox tutorials to learn more about some of it's oddities.

[2018-10-22 19:00] #1231 closed

[2018-10-22 19:02] koff75 opened #1329 "CFBundleIdentifier error"
Hello !

---
I would like to start the simulator with the command react-native run-ios :

[code]

---
`ignite doctor` results:
[code]

Thans 👍 :)

[2018-10-22 19:03] kevinvangelder commented on #1201
We've recently added the boilerplate to the Ignite Doctor output.

[2018-10-22 19:03] #1201 closed

[2018-10-22 19:05] kevinvangelder commented on #1135
Closing this issue because it appears the project didn't generate much interest and hasn't been updated since last year.

[2018-10-22 19:05] #1135 closed

[2018-10-22 19:54] AnonymousSB commented on #1329
The `CFBundleIdentifier` error is kind of a generic catch all. The real error is most likely listed a few lines above that. I suspect it's the same issue I encountered after upgrading to Mojave and Xcode 10. You'll need to run the following commands, then open Xcode and do a clean

# Commands
[code]

# Clean build folder
<img width="251" alt="screen shot 2018-10-22 at 9 53 07 am" src="https://user

[2018-10-23 08:38] timkuilman commented on #1097
Same issue here as well.

[2018-10-23 09:16] koff75 commented on #1329
Thanks for your answer, but I still have the problem with Xcode 10 and Mojave...

[2018-10-23 14:07] AnonymousSB commented on #1329
Can you provide more output? I’m interested in the errors right before it says “Build Failed”.

[2018-10-23 15:14] gretzky commented on #1329
I just dealt with the same issue elsewhere. In order to get any react-native app working on Mojave with Xcode 10, react-native needs to be at v0.57.3. The latest Andross is using 0.55.1. My guess is the issue stems here.

[2018-10-23 17:37] kogden commented on #362
me neither :(

[2018-10-24 12:09] febuniac commented on #1225
Thank you very much!

[2018-10-24 19:40] kevinvangelder commented on #1097
Can you folks open new issues with details on the specific errors you're getting and other related info?

[2018-10-24 19:52] kevinvangelder commented on #362
@kogden Can you open a new issue?

[2018-10-24 19:57] kevinvangelder commented on #1329
Yeah, unfortunately there are issues with Xcode 10 and React Native. There are a couple of issues here that have some suggested bandaids, but I think a more permanent fix is still coming.

[2018-10-25 20:00] anveshreddy87 opened #1330 "Can you please update react and react-navtive versions to latest versions(16.6.0 & 0.57.4) in your CLI....it would be really helpful ...thanks"
### Hey there! Ignite CLI seems to be having a problem, eh?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus points for a repro app)
- Run `ignit

[2018-10-25 21:38] kevinvangelder commented on #1330
Hey, thanks for the issue. We'll probably update the boilerplates soon, in the mean time you can use the `react-native-version` flag to use a version other than the default. Another option is to simply update the package.json after initializing the project.

[2018-10-29 19:36] mlaco commented on #1325
@monotv thank you for your patience. Our team was away on our yearly retreat last week. I'll try to get this done when I can.

[2018-10-30 01:05] jamonholmgren opened #1332 "Upgrade to latest Gluegun"
Let's upgrade to Gluegun 2.x. Part of Ignite 3 along with #1333.

[2018-10-30 01:06] jamonholmgren opened #1333 "Switch to Typescript"
While upgrading to Gluegun (#1332), let's update to use TypeScript as well.

[2018-10-30 11:02] elirangoshen commented on #1305
I just had this issue and I solve it by copying the node-modules dir from a fresh bower install.
you can merge it as well so if you install native base it should still be there.

[2018-10-31 14:00] #1193 closed

[2018-10-31 22:19] mfachmirizal opened #1336 "Is there a plan for Ignite to migration react navigation v1 to v2 ?"
I'm just curiouse, Is there a plan for Ignite to migration react navigation v1 to v2 ?. Because react navigation v1 is buggy..

[2018-11-03 17:04] hunterloftis commented on #1330
Using the flag yields an error and then crashes/freezes the terminal:

[code]

[2018-11-05 04:18] jwanga commented on #1329
@gretzky this did the trick for me. Had to upgrade to react-native 0.57.4 then clean the build folder from Xcode.

[2018-11-05 06:49] lvlrSajjad commented on #1296
@2534290808
i've tested this command with the same options you have selected . as below pic.
`ignite new hhhh -b ignite-ir-boilerplate-andross`
![untitled](https://user-images.githubusercontent.com/42815758/47982106-bbeefd80-e0e3-11e8-9fb4-fc262ef2f526.jpg)
my specs:
`Windows 10`
`npm -v : 4.2.0`
`node -v : 8.12.0`

and everything successfully installed as below pic :
![untitled1](https://user-ima

[2018-11-05 07:15] lvlrSajjad commented on #1286
I used exact settings for creating a project and it created successfully see below screenshot .
![untitled2](https://user-images.githubusercontent.com/42815758/47983205-cb704580-e0e7-11e8-89d7-e27cf5f92b0f.jpg)

maybe it have issue with your npm || node version .
my specs:
[code]

[2018-11-05 08:11] lvlrSajjad commented on #1229
I ran this command twice :

[code]

once in the root of C drive (windows installation drive) got the filename error

then in the root of D drive (not a windows installation drive) got no errors at all and the project successfully depolyed

[2018-11-05 13:33] gretzky commented on #1329
@jwanga, I've already done those steps as well and still experiencing issues, but thanks!

[2018-11-06 09:30] lvlrSajjad commented on #1131
@umer93379
what boilerplate do you use ?
this happens on a fresh ignite project?

[2018-11-06 19:49] banderson0421 opened #1337 "error: bundling failed: TypeError: Cannot read property 'bindings' of null at Scope.moveBindingTo @babel"
### Hey there! Ignite CLI seems to be having a problem, eh?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus points for a repro app)
- Run `ignit

[2018-11-06 19:51] banderson0421 commented on #1321
Can you share what the fix was here?

[2018-11-08 16:24] mlaco commented on #1082
Hey everyone thank you for your patience! I've discovered the root cause and I'll make a PR asap!

[2018-11-08 17:38] jamonholmgren opened #1338 "Ignite add/remove -- better error"
When running `ignite add <whatever>` in a bare React Native project, I get an unhelpful error message. The solution is to run `ignite attach`, but it doesn't say to do that.

![image](https://user-images.githubusercontent.com/1479215/48216605-036ec700-e33a-11e8-8cb6-3f7474824764.png)

Let's update this error to tell them to run `ignite attach`.

[2018-11-13 22:18] kevinvangelder commented on #1329
Today's update of 0.57.5 is supposed to resolve the remaining XCode 10 errors. I'd suggest trying to upgrade if you're experiencing issues.

[2018-11-14 03:08] sayhei opened #1341 "ignite-ir-boilerplate-bowser was not able to be installed. Is it a valid NPM module?"
##when i init a new project by choose bowser ,the error shows beloew

`

🔥 igniting app igniteDemo
? Which boilerplate would you like to use? Bowser (React Navigation, MobX State Tree, & TypeScript)
✔ using the Infinite Red boilerplate v3 (code name 'Bowser')
✔ added React Native 0.55.4 in 39.27s
✖ ignite-ir-boilerplate-bowser was not able to be installed. Is it a valid NPM module?
----------
Comm

[2018-11-14 03:13] jamonholmgren commented on #1337
Hey there @banderson0421 , would you mind providing a minimal repro so we can see what's going on? Thanks!

[2018-11-14 05:18] sayhei opened #1342 "ignite-ir-boilerplate-bowser was not able to be installed. Is it a valid NPM module?"
## when i init a new project by choose bowser ,the error shows beloew

    igniting app igniteDemo
    ? Which boilerplate would you like to use? Bowser (React Navigation, MobX State Tree, & TypeScript)
    ✔ using the Infinite Red boilerplate v3 (code name 'Bowser')
    ✔ added React Native 0.55.4 in 39.27s
    ✖ ignite-ir-boilerplate-bowser was not able to be installed. Is it a valid NPM module?

[2018-11-14 10:47] jakesyl commented on #1285
Having the same issue in xcode 10

[2018-11-14 17:41] kevinvangelder commented on #1342
The CFBundleIdentifier issue is either a build cache issue or an XCode 10 issue. If you have XCode 10 you'll need to either upgrade RN to 0.57.5+ or downgrade XCode. Otherwise, try opening the project in Xcode and go to Build > Clean and try running the app again.

[2018-11-15 14:48] sayhei commented on #1342
@kevinvangelder  i follow your sugguestion but the project still can not run

[2018-11-16 01:55] sayhei commented on #1342
For now ,i can run it after execute 'yarn install & react-native link'

[2018-11-16 17:41] hungdev commented on #1216
in terminal run:
[code]
to open bash_profile, then add your ATH environment variable, example:
[code]
then try again
ignite new MyNewAppName

[2018-11-19 01:15] #1342 closed

[2018-11-19 11:36] karner opened #1344 "Error logging on loading boilerplate"
Hi guys!

First - Thanks for this awesome project!
This is a request for enhancement: **Please add logging for the exact exception including callstack caused by the line: require(`${modulePath}/boilerplate.js`)  in  boilerplate-install.js (Currently line 62)**

I started working on a custom boilerplate based on ignite-typescript-boilerplate which didn't get an update since RN 0.51.0 and faced some

[2018-11-19 14:44] zuijiaoluo opened #1345 "Command failed: react-native link rnpm-install ERR! Something went wrong while linking. Error: Maximum call stack size exceeded"
What's going on?
link error
---
Steps to reproduce
ignite new xxxx
---
`ignite doctor` results:
System
  platform           darwin
  arch               x64
  cpu                4 cores                               Intel(R) Core(TM) i5-5287U CPU @ 2.90GHz
  directory          /Users/xxxx

JavaScript
  node               8.9.1        /Users/xxxx/.nvm/versions/node/v8.9.1/bin/node
  npm

[2018-11-19 16:49] mlaco commented on #1082
This is the workaround I used to get dev-screens to show up on Windows, unfortunately
it is NO LONGER WORKING for me today. I am stumped, and I'm officially giving up trying
to fix this until I get some outside help. However, I will still post this. The inconsistency
must mean that I made some other changes that I didn't realize were necessary. (cc @jamonholmgren )

Clone `ignite-dev-screens` to i

[2018-11-19 17:32] mlaco commented on #1344
Thank you for opening this issue, @karner. We'll address it as time permits.

[2018-11-19 17:40] mlaco commented on #1283
Hi @darioajr sorry for the (very) delayed response. Did you manage to solve the problem? I'm going to close this since old issues are often abandoned, but please do open another if you're still having problems. If you do, please include the output of `ignite doctor`,  and let us know what command you were trying to run. Thanks!

[2018-11-19 17:40] #1283 closed

[2018-11-19 20:15] ruddell commented on #1344
The same thing would be useful when loading boilerplate `commands`.  If something goes wrong, it silently exits with no error message.

[2018-11-20 16:05] mlaco commented on #1345
This error was probably caused by `ignite-ir-boilerplate-bowser`

I ran git bisect on Bowser, starting with commit 7c80537d

The result showed the first bad commit as:

[code]

[2018-11-20 20:38] mlaco commented on #1345
I mistakenly thought that `react-native link` was the cause of the changes in
`project.pbxproj`. Those changes are made BY XCODE upon opening the project!

When the project opens, items appear in a group in the project explorer called
"Recovered References". For each of these items, correpsonding entires are added
to `project.pbxproj`.

So this issue could be fixed by programatically doing whateve

[2018-11-21 00:38] darioajr commented on #1283
Hi, I fixed this project, updating versions.

[2018-11-21 04:13] esafirm commented on #1329
Just try Ignite this morning and have the same issue.
The one that i created using `react-native init` doesn't have this issue.

I'm not on Mojave.

Ignite doctor:

[code]

Any idea?

[2018-11-22 03:44] knightramza commented on #1082
thanks for your help, this problem break my head for few hours jeje

[2018-11-23 09:44] alainib commented on #1285
me too. try this maybe, it worked for me before but now the problem appear again

Xode -> file -> project setting
for « pre user build system » choose « legacy »

[2018-11-25 06:06] kevinvangelder commented on #1342
@sayhei This is probably resolved in the latest release of the Bowser boilerplate (though you would have to generate a new project to test). We were trying to use a smaller fork of the Storybook module (because they unnecessarily include a large dependency by default), but it seems that was causing a lot of issues so we've gone back to the original dependency for now.

[2018-11-25 06:07] kevinvangelder commented on #1329
@esafirm Did you try the steps posted above by @AnonymousSB? https://github.com/infinitered/ignite/issues/1329#issuecomment-431959264

[2018-11-26 06:27] sayhei opened #1348 "generate not work"
when i run 'ignite generate screen gg' or 'ignite generate screens gg'
it shows

![](https://user-images.githubusercontent.com/8320880/48681404-40aa4300-ebdd-11e8-93a2-97a504ba2f9b.png)

[2018-11-26 21:19] kevinvangelder commented on #1348
@sayhei Can you post the output from `ignite doctor`?

[2018-11-27 07:21] zuijiaoluo commented on #1345
Is there any new progress?

[2018-11-29 10:07] MilosJo commented on #504
That is actually related to Android Simulator.

As @skellock stated. Toggling `cmd+k `and/or `cmd+shift+k` fixed issue for me.
Thanks

[2018-11-30 12:14] nirre7 commented on #1345
Might be the splash-screen.patch that's the culprit. I had many issues with it when upgrading the bowser boilerplate previously.

[2018-12-01 15:18] niknedelchev commented on #1130
I had the same issue, but when I ran " sudo ignite new ProjectName " it all went fine :)

[2018-12-01 19:07] jamonholmgren commented on #1345
We have a potential fix up in https://github.com/infinitered/ignite-ir-boilerplate-bowser/pull/127, just need to fix the CI and we'll get a new version up. @zuijiaoluo @nirre7

[2018-12-02 11:13] absjabed opened #1349 "ignite android initial build failed on Windows 8.1"
---
What's going on?

My OS; win8.1
Node: v10.14.0
NPM: 6.4.1

I just used command: `ignite new ignitehuh`
then: ` react-native run-android`

![screenshot_1543747935](https://user-images.githubusercontent.com/13753347/49338957-fe104e00-f653-11e8-8b8b-0388508d02b8.png)
---
Steps to reproduce
---
`ignite doctor` results:

C:\Users\absjabed\Desktop\igniteapp\ignitehuh>ignite doctor
System
  platform

[2018-12-02 18:13] BrianD91 opened #1350 "Unable to resolve module `...DevscreensButton.js`"
What's going on?
I'm getting the error in the android emulator and npm that it is
```Unable to resolve module `../../ignite/DevScreens/DevscreensButton.js` ```

---
Steps to reproduce
Create the project using Andross, try to run it?

I can see what the problem is. There isn't a DevscreensButton.js file, nor is there a /DevScreens/ directory. I don't know why that didn't get added to the project?

[2018-12-03 03:05] kelvin-dev opened #1351 "[Opinion] The project feasibility"
We support your idea of a universal boilerplate for React-native, appreciate your effort but it seems current status quo requires MUCH effort for maintenance and SW dependencies are outdated against latest community releases. Plz help consider another attractive project road map, for example, support react-native navigation so that we can gain more STARs and community interest !
https://github.com

[2018-12-03 11:39] JoshLWScott opened #1352 "[Bowser] Creating new application fails to apply patch."
---
What's going on?

---
Steps to reproduce

`ignite new application`

---
`ignite doctor` results:

[2018-12-03 19:21] kevinvangelder commented on #1351
Kelvin, you're right, keeping things up to date is difficult, and thanks for the suggestion. We're currently in the process of evaluating React Native Navigation to decide if we are going to use it in our next boilerplate version. I'm not sure I understand what you mean by "project road map", as far as I'm aware there is no alternative comprehensive boilerplate tool on the same scale as Ignite.

[2018-12-06 02:17] robpaveza opened #1354 "ignite new application fails, spins on plugin installation"
---
What's going on?

From a completely clean bootstrap of `sudo npm i -g ignite-cli`, trying to bootstrap a new app using Bowser gets me a series of failing installations that I can't even Ctrl+C from:

[code]

It's still spinning on another attempt at `react-native-gesture-handler@1.0.9`.  It looks like I will need to force-quit.  It's been going for a good 15 minutes.

---
Steps to reproduce

1

[2018-12-06 02:22] jamonholmgren commented on #1354
Hey @robpaveza , can you try a non-sudo install of Ignite?

[2018-12-06 02:53] robpaveza commented on #1354
Maybe I'm outdated on npm?  But I need to `sudo` in order to `npm i -g`, otherwise I get `EACCES`.  And if I just `npm i ignite-cli`, that would just install to a local directory?  (That works, but doesn't register the `ignite` command line; instead it's installed like a regular Node module).

Separately: I solved the problem about Xcode.  https://github.com/nodejs/node-gyp/issues/569 `sudo xcode-

[2018-12-06 06:13] jamonholmgren commented on #1354
I think it's related to the issue we're fixing with this: https://github.com/infinitered/ignite-ir-boilerplate-bowser/pull/127 and this https://github.com/infinitered/ignite-ir-boilerplate-bowser/pull/130. I'm going to try to get these deployed by the end of the week. Apologies for the delay, it's been a very busy week!

[2018-12-06 06:14] jamonholmgren commented on #1352
Should be fixed with https://github.com/infinitered/ignite-ir-boilerplate-bowser/pull/130 when that is merged.

[2018-12-06 06:15] jamonholmgren commented on #1351
Ignite did fall a little behind early in 2018 but we are putting a lot of energy into it now and you should see a lot of progress. Stay tuned. :)

[2018-12-06 06:39] jamonholmgren commented on #1354
@robpaveza I went ahead and merged those PRs. If you want to `npm i -g ignite-cli` and then try to spin up a new app, it should pick up Bowser version `1.1.1` which should _hopefully_ fix your issues.

(It should never take more than a couple minutes to complete, by the way.)

[2018-12-06 06:50] jamonholmgren commented on #1354
![image](https://user-images.githubusercontent.com/1479215/49566617-201e0080-f8e0-11e8-9288-81cf650a0218.png)

It appears to be working for me with a bare install.

[2018-12-06 21:22] jamonholmgren commented on #1338
Thank you @De-ma !

[2018-12-06 21:22] #1338 closed

[2018-12-08 00:14] carlinisaacson commented on #1354
If you are still having issues with EACCES errors, here are some [npm docs](https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally) about solving those.

[2018-12-09 11:17] jasan-s opened #1358 "failed to add React Native 0.57.7"
ignite version `2.1.6` on MacOSX mojave
ran `ignite new testignitereactnative`
selected `Andross`
got the following error:  `failed to add React Native 0.57.7`
<img width="652" alt="screen shot 2018-12-09 at 3 19 39 am" src="https://user-images.githubusercontent.com/13863953/49696620-4bfbe900-fb61-11e8-8456-263396f01902.png">

**UPDATE:**
**These all fail** with same error of unable to install the

[2018-12-11 20:05] ystoneman commented on #1350
Same here
[code]

[2018-12-14 19:19] jamonholmgren commented on #1358
@jasan-s Can you do `--debug` to get more verbose output? It's working for me. Also, can you update with the results of `ignite doctor`?

[2018-12-14 21:13] jamonholmgren opened #1360 "`ignite add` should show where it is adding the plugin from"
When I run `ignite add`, it searches in several locations, including `~/.ignite/overrides`, NPM, etc.

Once it resolves where it is adding a plugin from, it should display to the user what the source is.

This will help prevent confusing situations where you forget that you have an override in place and add from the wrong source.

[2018-12-18 22:04] natguy commented on #1268
I know this thread is 5 months old... but I'm seeing the same missing translation error. Was there a solution to this?

[2018-12-19 22:47] jamonholmgren commented on #1082
This should be fixed with the latest Ignite CLI and [Ignite Andross 3.0.2](https://github.com/infinitered/ignite-andross/pull/238#issuecomment-448410297).

[2018-12-19 22:47] #1082 closed

[2018-12-19 22:48] jamonholmgren commented on #1008
We're going to call this one solved by @jbosse the Boss. https://github.com/jbosse/ignite-expo-boilerplate

[2018-12-19 22:48] #1008 closed

[2018-12-19 22:56] #1081 closed

[2018-12-19 22:58] jamonholmgren commented on #1280
I'm going to close in favor of #1142.

[2018-12-19 22:58] #1280 closed

[2018-12-20 02:39] fajieyefu commented on #1249
hi  I had the same problem. 'Running React Native setup version 0.39.2 (~ 2 minutes-ish)' all the time
 ,Have you solved this problem?

[2018-12-20 02:41] fajieyefu commented on #1249
![image](https://user-images.githubusercontent.com/19398548/50260584-96277900-0443-11e9-93b2-f1a786a3046c.png)

![image](https://user-images.githubusercontent.com/19398548/50260632-c8d17180-0443-11e9-8ec6-d5c9a5c13ef5.png)

[2018-12-20 05:54] jasan-s commented on #1358
seems to be now working.

[2018-12-20 05:54] #1358 closed

[2018-12-29 22:13] jamonholmgren commented on #1249
Hi @fajieyefu , we unfortunately no longer support React Native version 0.39. I'm going to close this issue, but if you find a solution please do post it here.

[2018-12-29 22:13] #1249 closed

[2018-12-29 22:13] jamonholmgren commented on #1358
Thanks @jasan-s !

[2019-01-02 07:06] jazst21 commented on #1082
not working on mac mojave. perhaps need to rollback to node 7?  ignite doctor :
System
  platform           darwin
  arch               x64
  cpu                4 cores                       Intel(R) Core(TM) i5-5250U CPU @ 1.60GHz
  directory          /Users/pugar/GitHub/ignite1

JavaScript
  node               10.7.0       /usr/local/bin/node
  npm                6.4.1        /usr/local/bin/npm

[2019-01-02 09:25] nyl9488 opened #1361 "Redux Persist not able to get value on startup"
Hi.... the redux persist seem to rehydrate after the screen render... how to delay the screen render wait until rehydrate finished?

[2019-01-02 09:40] nyl9488 commented on #1361
componentDidMount() not able to get redux persist on the first page initial render... it is working on 2nd page afterward...

[2019-01-02 11:22] kaushal9678 commented on #1285
As @gdowens  mentioned, I followed those steps and it worked for me
**rm -rf ios/build then running react-native run-ios --simulator**

[2019-01-02 21:14] jamonholmgren commented on #1361
Hey there @nyl9488, this would be a good question for our community! http://community.infinite.red. Let me know if you find a bug with Ignite, though.

[2019-01-02 21:14] #1361 closed

[2019-01-04 06:13] jamonholmgren commented on #1079
A similar issue still happens with this. Without `yarn` installed, you get this error with `ignite doctor`:

[code]

This should be relatively straightforward to fix. On [this line](https://github.com/infinitered/ignite/blob/master/src/commands/doctor.js#L45-L46) we need to `try/catch` the exception.

[2019-01-04 06:35] jamonholmgren commented on #1285
I just ran through the steps outlined above and, other than running into [this issue](https://github.com/facebook/react-native/issues/22863), it worked fine.

<img src="https://user-images.githubusercontent.com/1479215/50676182-dc361e00-0fa7-11e9-8323-ccc8165dd7a2.png" width="200" />

[2019-01-04 07:19] jamonholmgren opened #1362 "`ignite new` with local relative path to boilerplate is broken"
Steps to reproduce:

1. Try installing a local boilerplate (e.g. `ignite new PizzaApp -b ../ignite-my-boilerplate`)

I added a few logging statements.

[code]

[2019-01-04 07:48] jamonholmgren commented on #1362
It seems like a return of #985, but the fix is still in place. I'm puzzled.

Workaround is to use absolute paths ... again.

[2019-01-07 13:04] dischord01 opened #1365 "Error: stderr maxBuffer exceeded"
---
What's going on?
Getting an error on fresh install

[code]

---
Steps to reproduce

[code]

This last part hangs the terminal.

---
`ignite doctor` results:

[code]

[2019-01-09 22:49] mlaco commented on #1365
We'll look into this

[2019-01-11 04:01] nikitph opened #1366 "ignite new app fails with ✖ ignite-redux-persist is not available on npm"
### Hey there! Ignite CLI seems to be having a problem, eh?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus points for a repro app)
ignite new a

[2019-01-11 06:14] ruddell commented on #1366
I believe this is fixed in https://github.com/infinitered/ignite-andross/pull/239

[2019-01-11 20:51] #1142 closed

[2019-01-11 20:54] infinitered-circleci commented on #1142
:tada: This issue has been resolved in version 2.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v2.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-11 20:58] mlaco commented on #1349
@absjabed do you have [yarn](https://yarnpkg.com/) installed?

[2019-01-11 20:59] mlaco commented on #1345
Closing since https://github.com/infinitered/ignite-bowser/pull/127 is merged.
Please open new issue if necessary.

[2019-01-11 20:59] #1345 closed

[2019-01-11 21:38] mlaco commented on #1344
@ruddell I'd be happy to help. Could you be more specific about what boilerplate commands please?

[2019-01-11 21:39] #1344 closed

[2019-01-11 21:54] jamonholmgren commented on #1366
@nikitph Can you test and report back?

[2019-01-11 22:55] FelixButzbach commented on #1366
Same problem here. How can I update the andross version?

[2019-01-11 23:12] FelixButzbach opened #1369 "wrong react-navigation version"
### Hey there! Ignite CLI seems to be having a problem, eh?

---
What's going on?
I just installed ignite and wanted to give it a try but I can't get it running on my Android phone (via ubuntu).
It looks like the Andross boilerplate comes with a wrong version of react-navigation. See the generated package.json below:
[code]
I assume that it should be at least react-navigation 2.x because of the wa

[2019-01-12 01:15] ruddell commented on #1344
@mlaco Any command that has an error in the javascript.  Here's an example to reproduce what I'm saying:

[code]

When I log [`registryItem`](https://github.com/infinitered/ignite/blob/1096c26df9f8dd690da4e5f0479850e7e8279030/src/commands/generate.js#L166) in `generate.js`, this is the output:
[code]

[2019-01-14 06:05] absjabed commented on #1349
no i'm i was using npm

[2019-01-14 16:17] hecmonn commented on #1097
Same issue here

[code]

It seems the View is not asking for permissions, however in the development mode it did.

Any solution, yet?

[2019-01-14 16:37] ruddell commented on #1369
Fixed by https://github.com/infinitered/ignite-andross/pull/239

Ignite was recently updated to allow version specifications.  This doesn't affect Macs, but maybe on  linux npm/yarn accepts the version including `~>`.  So it is installing an old version of `"ignite-dev-screens": "~>2.3.0",` which still has that old react-native-navigation library (removed [in 2.4.2](https://github.com/infinitered/

[2019-01-14 16:39] nidzola commented on #1369
Hm, strange, I'm on Mac, and I have the same issue, will try the fix, thanks 😄

[2019-01-14 16:47] ruddell commented on #1369
I updated the comment with better reasoning and a workaround until it's fixed

[2019-01-14 16:49] ruddell commented on #1366
You can test with:
[code]

[2019-01-14 23:20] #1325 closed

[2019-01-14 23:23] infinitered-circleci commented on #1344
:tada: This issue has been resolved in version 2.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v2.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-15 01:15] jamonholmgren commented on #1349
@absjabed Can you try with Yarn instead?

[2019-01-15 01:17] jamonholmgren commented on #1097
@hecmonn Can you open a new issue with a minimal reproducible app published? This issue is quite stale and I don't think the same issue as what you're experiencing.

I'm going to lock this thread; please open new issues with minimal repros so it's easier for us to debug.

Thank you!

[2019-01-15 01:22] jamonholmgren commented on #1366
@FelixButzbach I've merged @ruddell 's fix into Andross and the new version should be available shortly. Thanks so much to @ruddell and everyone for their help!

[2019-01-15 01:22] #1366 closed

[2019-01-15 16:42] ruddell commented on #1051
@jeronnex2 You can either install `git`, or pass `--skip-git` when generating your app.

I think this was [fixed in Gluegun](https://github.com/infinitered/gluegun/pull/397), but Ignite still uses an older version

[2019-01-15 17:23] alisarac opened #1371 "Error when using Node 8.9.4"
### Hey there! Ignite CLI seems to be having a problem, eh?

---
What's going on?

I installed ignite-cli and then tried to create a new project. The error below occurred after selecting boilerplate.

SyntaxError: Invalid regular expression: /(?<|^|\/)@/: Invalid group at detectInstall
It looks this is a "RegExp Lookbehind Assertion" and it is not supported in node.js version 8.9.4 and previous ve

[2019-01-18 22:49] jamonholmgren commented on #1371
@asharamseervi Can you file a new issue?

[2019-01-18 22:50] #1354 closed

[2019-01-18 22:50] #1352 closed

[2019-01-18 22:51] #1351 closed

[2019-01-18 22:51] #1348 closed

[2019-01-18 22:51] #1337 closed

[2019-01-19 01:17] johntimothybailey commented on #1333
Why?

[2019-01-19 01:52] GantMan commented on #1333
Good feedback @johntimothybailey !!!

I think this change doesn't force others to use TypeScript.  It would just improve the integrity of the Ignite with some static type checking.  Those who use/consume Ignite would still be able to ship vanilla JS.   Gluegun itself is now in TypeScript (the change caught several JS bugs), however no project made with Gluegun is forced to be TS.  It's an option.

[2019-01-22 21:33] jamonholmgren commented on #1333
I definitely appreciate your feedback, @johntimothybailey. I concur with @GantMan's response, that we never want to raise the bar too high where people can't contribute. Perhaps we could include a "guide to TypeScript" in our contributing guide that gives you the tools you'd need in order to make changes. We don't mind helping out, too! If you submit a PR and need help with the types, we're only t

[2019-01-23 08:06] tayfunyasar commented on #1140
It should be access all these elements in /App with the only folder name. There are a lot of example.
https://github.com/react-boilerplate/react-boilerplate/blob/master/app/containers/HomePage/index.js#L15

[2019-01-23 11:19] tayfunyasar opened #1373 "resource android not found on "npm run android:build""
What's going on?
[code]
---
Steps to reproduce

---
`ignite doctor` results:
Tayfuns-MacBook-Pro:instaton-mobile tayfunyasar$ ignite doctor
System
  platform           darwin
  arch               x64
  cpu                8 cores                                                         Intel(R) Core(TM) i5-8259U CPU @ 2.30GHz
  directory          /Users/tayfunyasar/dev/gitlap/instaton/client/instato

[2019-01-23 11:22] maartenvandillen opened #1374 "AppConfig not imported"
### Hey there! Ignite CLI seems to be having a problem, eh?

---
What's going on?

It seems that App/Config/AppConfig.js is no longer imported in App/Config/index.js. This results in I18n not initializing properly.

---
Steps to reproduce
Generate new project with Ignite v 2.1.0 and check App/Config/index.js. There used to be an import there but now it is gone.

[2019-01-23 18:46] submetu commented on #1371
I am getting the same error on Node 8.9.4

[2019-01-24 02:51] jamonholmgren commented on #1140
Thanks for your comment! For now, we don't intend to add this to Ignite. We did [flatten the folder structure](https://shift.infinite.red/announcing-ignite-bowser-3-0-the-flattening-3307d821abf2) in Bowser which should help a lot.

[2019-01-24 02:51] #1140 closed

[2019-01-24 15:11] hubciorz commented on #1371
Same here.

[2019-01-27 00:14] Jnlbr commented on #1371
Same error on 8.9.0

[2019-01-27 06:01] tungnt86 commented on #1130
I resolved this issue by upgrade node to 11.8.0 or 10.15.0.
If you use nvm: `nvm install 11.8.0`
If you use n: `n 11.8.0`

[2019-01-29 19:14] jamonholmgren commented on #1371
Thanks for reporting everyone. We are aware of the issue and working on a fix. No need for more "same issue" comments. :-)

[2019-02-04 17:55] germanllop commented on #1371
Hi, did you get any fix?

[2019-02-06 05:37] aditbharadwaj commented on #1268
unfortunately the missing translation issue is happening to me same as @steveharman any one got a fix for it ?

[2019-02-07 05:39] charanrajh opened #1376 "Not going furthe"
### Hey there! Ignite CLI seems to be having a problem, eh?

After I installed ignite 2.x, I tried to create an application using ignite new. It asked me about andross or bowser and some other questions too. Then the screen looked like the following. The activity indicator is scrolling on and on. The process went to infinite time. It's not getting completed.
---
What's going on?
Process was going

[2019-02-08 07:25] avh2502 commented on #1268
Not a fix, but workaround based on @ryanlntn post.

For now I just changed
<Text preset="header" tx="pizzaLocationListScreen.header" />
to
<Text preset="header" text="pizzaLocationListScreen.header" />

[2019-02-08 13:18] donnes commented on #1362
@jamonholmgren relative and absolute paths are not working on Windows when using Git Bash.
Trying to figure out a workaround, but if I find a definelly solution for the issue I'll send a PR.

For know, the evidence...

![image](https://user-images.githubusercontent.com/9506146/52480314-78000e80-2b92-11e9-93c2-6733332b6cb7.png)

[2019-02-11 19:47] raedwa01 opened #1377 "launchPackager.command in new window doesn't use same node version"
---
What's going on?
When I run on a machine where my default node version is fairly old (4.9.1), I switch to 10.15.0 using nvm.  Problem is, the new terminal that launches the launchPackage.command function, uses my default version of node and fails.  There should be a simple way (maybe using .nvmrc) you check to see if the version of node in the "popup" is the same as the original version and ch

[2019-02-12 20:36] raooll opened #1378 "Ignite new broken"
---
What's going on?
- Create new app with ignite new fails.
[code]

<img width="1267" alt="screen shot 2019-02-13 at 1 57 25 am" src="https://user-images.githubusercontent.com/3482371/52666072-3de89100-2f33-11e9-8a3e-145d25dba1d5.png">

---

Steps to reproduce
- yarn global add ignite-cli
- ignite new test_app

---

`ignite doctor` results:

<img width="1119" alt="screen shot 2019-02-13 at 1 59 5

[2019-02-13 00:46] jamonholmgren commented on #1378
Hi @raooll , it looks like you have the command line tools installed but not Xcode. Can you confirm this?

[2019-02-13 00:46] jamonholmgren commented on #1376
Hi @charanrajh, can you try Bowser and see if it works?

[2019-02-13 02:41] raooll commented on #1378
@jamonholmgren yes I have only installed command line tool. Is the missing xcode causing the problem ?

[2019-02-13 06:54] raooll commented on #1378
Hey @jamonholmgren, I installed the latest xcode and I still get the same error.

[2019-02-13 13:22] diegotejadav commented on #1378
I also had a problem like this, a solution was to open Xcode and set the Command Line Tools:
![screen shot 2019-02-13 at 8 18 52 am](https://user-images.githubusercontent.com/3412546/52714575-3394ba00-2f68-11e9-9bf5-d6af9345d4a2.png)
Restart the machine and try it again.

[2019-02-14 03:02] raooll commented on #1378
Hello @diegotejadav, the command line tools is set in my Xcode, still the same error.
<img width="781" alt="screen shot 2019-02-14 at 8 22 10 am" src="https://user-images.githubusercontent.com/3482371/52759716-f0ebe400-3032-11e9-8204-40fdbe99209c.png">

Restarting the machine did not help either.

[2019-02-14 05:44] Zetsukaze opened #1380 "Ignite new app does not work"
What's going on?

Attempting to ignite a new app gives the following error:
![image](https://user-images.githubusercontent.com/1698993/52765128-d54a0300-305d-11e9-946d-52776171127d.png)

I have tried using npm to install the boilerplate for bowser using the command below, and it throws a template not found error.
`ignite boilerplate-install ignite-bowser MyAwesomeApp --debug --npm`

---
Steps to r

[2019-02-14 13:01] diegotejadav commented on #1380
This seems to be same problem as https://github.com/infinitered/ignite/issues/1378, unfortunately stills open

[2019-02-14 13:14] Zetsukaze commented on #1380
Is there a previous CLI version that we could use to bypass this issue?

[2019-02-14 16:13] jamonholmgren commented on #1378
Weird. I'm not entirely sure what's going on there. My machine is completing the steps properly. Are you getting a new error or the same one?

[2019-02-14 16:16] jamonholmgren commented on #1378
@raooll Can you try creating a new react native bare app, like this:

[code]

and then add ignite-bowser, like this:

[code]

Does that complete?

[2019-02-14 16:19] jamonholmgren commented on #1380
Hey @Zetsukaze, I'm having trouble recreating this issue.

![image](https://user-images.githubusercontent.com/1479215/52800668-1f68bf80-3031-11e9-8061-6a12d222e7cf.png)

Can you try this?

[code]

and try again?

[2019-02-14 16:20] jamonholmgren commented on #1380
@diegotejadav I think the other issue is unrelated, but I could be wrong.

[2019-02-14 16:22] jamonholmgren commented on #1377
Hey @raedwa01 , thanks for reporting! My recommendation is to run the packager yourself using `react-native start` in a command window that already has nvm set properly.

I'm going to close this issue as it is not Ignite-specific. You may want to open an issue over at https://github.com/react-native-community/react-native-cli.

[2019-02-14 16:22] #1377 closed

[2019-02-14 16:29] raooll commented on #1380
Hello @jamonholmgren,

Tried the above, did not work.

<img width="573" alt="screen shot 2019-02-14 at 9 58 25 pm" src="https://user-images.githubusercontent.com/3482371/52801405-c8e89900-30a3-11e9-86cb-04223e3ded38.png">

<img width="573" alt="screen shot 2019-02-14 at 9 58 39 pm" src="https://user-images.githubusercontent.com/3482371/52801417-cdad4d00-30a3-11e9-93b0-2dc8881d05d9.png">

[2019-02-15 02:29] raooll commented on #1378
@jamonholmgren tried the above, it worked without any problem.

<img width="1278" alt="screen shot 2019-02-15 at 7 57 31 am" src="https://user-images.githubusercontent.com/3482371/52830617-8355bb80-30f7-11e9-9e61-3ebf3c712b9a.png">

[2019-02-18 01:34] Zetsukaze commented on #1380
@jamonholmgren Yeah, I tried that as well, did not work. I did a yarn install of ignite first, then npm. Both had issues.

[2019-02-18 04:25] raooll commented on #1380
@jamonholmgren can we use an older version of ignite ?

[2019-02-18 10:28] WaqqaR opened #1382 "Ignite app initialise issue"
What's going on?
When I do:  ignite new MyNewApp it throws a bunch of errors:

At C:\Users\Waqqar Ahmed\AppData\Local\Yarn\bin\ignite.ps1:5 char:13
+     *CYGWIN*) basedir=`cygpath -w "$basedir"`;;
+             ~
Unexpected token ')' in expression or statement.
At C:\Users\Waqqar Ahmed\AppData\Local\Yarn\bin\ignite.ps1:8 char:3
+ if [ -x "$basedir/pwsh" ]; then
+   ~
Missing '(' after 'if' in if

[2019-02-18 10:29] WaqqaR opened #1383 "Ignite New App issue"
What's going on?
When I do:  `ignite new MyNewApp`

it throws a bunch of errors:

[code]

---
Steps to reproduce
initiate new ignite app
---
`ignite doctor` results:
ignite doctor throwing the same error :/

[2019-02-18 10:32] #1382 closed

[2019-02-18 22:47] shouse commented on #1358
I switched from 9.X to 8.12.0 and this rectified my issue.  Thanks @vincentferniot

[2019-02-21 22:55] darijus opened #1384 "Make sure you have an Android emulator running or a device connected and have set up your Android development environment"
[code]

---
`ignite doctor` results:

[code]

Doesn't happen on a normal react native app

[2019-02-22 15:00] diegotejadav commented on #1384
@darijus, do you have android studio installed, configured and some virtual device running in the AVD Manager?
I use these and everything runs well:
![screen shot 2019-02-22 at 10 00 09 am](https://user-images.githubusercontent.com/3412546/53250564-a862a500-3688-11e9-9f84-09f1b667e7f0.png)

[2019-02-23 21:34] punktzrzutu opened #1385 "decorators-legacy - Support for the experimental syntax 'decorators-legacy' isn't currently enabled"
Hi,
Having a problem with decorators, getting "'decorators-legacy' isn't currently enabled"
____
What's going on?
[code]
____
Steps to reproduce
[code]

[code]

____
`ignite doctor` results:
[code]

[2019-02-24 00:42] kevinvangelder commented on #1385
When you get this error it means dev dependencies weren't installed. Running `npm i --dev` should resolve it for you.

[2019-02-24 11:30] KPS250 commented on #365
Any update on this?

[2019-02-26 11:50] shawn-tangsc opened #1386 "Module `core-js/modules/es6.object.define-property` does not exist in the Haste module map"
### Hey there! Ignite CLI seems to be having a problem, eh?

---
What's going on?

[code]
---
Steps to reproduce

[code]
[code]
---
`ignite doctor` results:

[code]

[2019-02-26 15:27] shawn-tangsc commented on #1386
It looks like I've solved it.
run
[code]
its seem fixed it .

[2019-02-27 17:10] Moji0098 commented on #449
how to enlble hot-reload on real device not virtual device .. thank you

[2019-02-27 17:52] fabriziobertoglio1987 commented on #449
@Moji0098  on android `adb shell input keyevent 82`

[2019-02-27 18:03] jamonholmgren commented on #1385
Just ran into this myself. Running this fixed it:

[code]

[2019-02-27 18:03] #1385 closed

[2019-02-27 18:05] jamonholmgren commented on #1383
I'm not able to reproduce this on my Windows PC. Can you try it on a different computer and see if it's causing the same issues?

[2019-02-27 18:06] #1386 closed

[2019-02-28 12:56] Rashmi215 commented on #1285
Can you please elaborate the steps.

[2019-02-28 19:40] fennellgb23 commented on #1383
Getting same error on a fresh install on Windows 10

[2019-03-04 09:52] ntoka commented on #1383
@WaqqaR I had the same issue on Windows while using Powershell, but it seems to work via Command Prompt

[2019-03-05 03:16] #1371 closed

[2019-03-05 03:19] infinitered-circleci commented on #1371
:tada: This issue has been resolved in version 2.2.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v2.2.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-07 15:30] jamesgeorge007 opened #1389 "ignite new doesn't throw any errors if more than one arguments are provided"
`ignite new <projectName> arg2` works just fine taking in the very first argument.

[2019-03-08 07:10] ethicalvats commented on #1378
Same issue

ignite new is failing!

[2019-03-08 08:30] ethicalvats commented on #1378
After the app was generated running it via iOS sim 12.1 it shows this screen

![simulator screen shot - iphone x - 2019-03-08 at 13 58 31](https://user-images.githubusercontent.com/1000068/54016883-5c485200-41aa-11e9-9e66-ce827c45854b.png)

I am trying the fixes as per https://stackoverflow.com/questions/52262084/syntax-error-support-for-the-experimental-syntax-decorators-legacy-isnt-cur

will let

[2019-03-09 01:30] derekgreenberg opened #1391 "Feature Request: Allow generating kebab-case projects"
---
What's going on?
This is more of a feature request than an issue report. `Ignite new` requires an app name to be provided in camel case. For example: `Please use camel case for your project name. Ex: FooBar`. This generates a containing directory using the same project name, such as `FooBar`

For some users, it would be preferable to generate the containing directory in kebab case, such as 'fo

[2019-03-09 01:41] kevinvangelder commented on #1391
React Native will not permit a project to be generated with kebab case, I presume because it would cause problems in the native code.

[2019-03-09 12:44] grasilife opened #1392 "500 error"
[code]

---

[code]

![image](https://user-images.githubusercontent.com/20743267/54071740-0fe53b00-42ac-11e9-8b65-1d2f4f5cacbf.png)
![image](https://user-images.githubusercontent.com/20743267/54071743-1b386680-42ac-11e9-9705-eddbfa20c108.png)

![image](https://user-images.githubusercontent.com/20743267/54071708-82095000-42ab-11e9-99e5-1fcd64dfd265.png)
![image](https://user-images.githubuserconten

[2019-03-09 16:37] derekgreenberg commented on #1391
@kevinvangelder I'm suggesting:
* We stick to the existing rule that the user must provide the project name in camel case as we do now
* We add an option (--kebab-case, -k, or similar) to rewrite the generated containing directory directory in kebab case. The app itself would be generated as usual using the camel case name that the user passed in.
* We would apply the kebab case transform to the n

[2019-03-13 13:04] imtechnofreak opened #1393 "Cannot read property '0' of undefined error installing boilerplate"
I am having a wired issue when generating a new project using ignite-cli. I followed the same steps in the docs.

yarn global add ignite-cli
ignite new MyNewAppName
<img width="1033" alt="Screenshot 1940-12-22 at 6 32 14 PM" src="https://user-images.githubusercontent.com/10373433/54280848-74f7a400-45be-11e9-80f8-daf821a8b65c.png">

node  v11.11.0
react-native-cli: 2.0.1

[2019-03-13 13:24] danielmain commented on #1393
Same here, my versions are:

- yarn: 1.13.0
- node: v11.10.0
- zsh/tmux environment on mac os 10.14

[2019-03-13 13:35] danielmain commented on #1393
With Node version 10.15.3 I get the same problem

[2019-03-13 14:31] imtechnofreak commented on #1393
@danielmain i think the cli is broken

[2019-03-13 20:45] k2s commented on #1393
downgrade to 2.2.2 works

[2019-03-14 09:35] DusanDimitric commented on #1393
Same issue here.

[code]

[2019-03-14 16:10] pspelman commented on #1393
I'm also having this issue
node -v   ->   v.11.6.0
npm -v   ->   6.9.0
ignite -v   ->   3.0.0-alpha.5
react-native -v   ->   react-native-cli: 2.0.1

[2019-03-15 10:47] san4u opened #1394 "Ignite command fails and i can't even run the command ignite doctor."
This is the error which is showing when i try to run the ignite command.
Error: Error: Couldn't load command component -- needs a "run" property with a function.

[code]

[2019-03-15 18:09] ruddell commented on #1393
It looks like the `alpha.5` was released as the latest version on NPM:

`npm info ignite-cli` shows:

[code]
I didn't test but I'm guessing that's the reason for the recent issues.

[2019-03-15 23:08] return-main commented on #1393
So after trying every alpha versions of ignite-cli 3.0.0 on Windows 10 and Manjaro, i generated my project using:
`ignite new MyApp -b bowser`

[2019-03-16 00:44] pspelman commented on #1393
@return-main Your solution worked on Mac with 3.0.0-alpha.5 !!

I used:
`ignite new myIgniteApp -b andross`

[2019-03-16 11:15] vadim-96 commented on #1384
@darijus first you need to run android emulator from the AVD Manager, then start your project: `react-native run-android`
Don't forget about the android paths: [https://facebook.github.io/react-native/docs/getting-started#4-add-platform-tools-to-path](https://facebook.github.io/react-native/docs/getting-started#4-add-platform-tools-to-path)

[2019-03-16 16:25] drakonkat opened #1395 "Error ignite generate"
I created a new Bowser boilerplate project, then tried to list all possible "generate" component calling the service "ignite generate". But this command always throw and error.

---
Launching the command ignite generate i will get this error:

      ` Error: Error with "ignite generate" in ignite-bowser
        please report issue at https://github.com/infinitered/ignite

  - generate.js:11 Comman

[2019-03-17 12:03] JuxhinB opened #1396 "react-navigaton-drawer Issue"
Current I have Ignite version 2.2.2 and I was having an issue while modifying drawerLockMode for a screen. By setting react-navigation fixed to version 3.0.0 also keeps react-navigation-drawer to 1.0.1 which is responsible to the issue. The solution of this issue is simple but it is a struggle to find from where the issue comes.

[2019-03-17 23:26] jamonholmgren commented on #1380
@raooll Can you use the newest alphas and see if those work?

[code]

[2019-03-18 16:09] jamonholmgren commented on #1393
Apologies for the problems, folks! We're looking into it.

[2019-03-19 05:23] pawitk commented on #1380
I have been facing the same issues.  Tried using an older version of ignite-cli to no success.

Using the exact solution suggested by @jamonholmgren works.  Thanks!

[2019-03-19 06:37] nikitph commented on #1295
i wld love this too

[2019-03-20 09:06] yesIamFaded opened #1397 "Ignite new App Andross & Bowser not working properly"
---
**What's going on?**

When I build an App with Ignite and Boilerplate Andross it gets build and it also works but I dont have a Developer Screen even when manually running: ignite add dev-screens

When I build an App with Ignite and Bowser it throws the error many people seem to have :
x ignite-bowser was not able to be installed. Is it a valid NPM module?

so both of them are not working corr

[2019-03-21 06:39] juanmiret commented on #1395
I'm having the same issue 😟

[2019-03-21 15:55] jamonholmgren commented on #1395
Thanks for reporting! I'll look into this.

[2019-03-21 17:30] jamonholmgren commented on #1395
Can you try with `ignite-bowser@4.0.0-alpha.4`?

[code]

And see if that helps?

I was able to do the above and `ignite g` lists out the generators and they all work.

[2019-03-22 01:11] levi-beers commented on #1397
I have this same problem on MacOS 10.14.3. Dev screens will not add even though they are in packages.json.

[2019-03-22 08:56] drakonkat commented on #1395
I have tried with @4.0.0-alpha.4 and it works, i suppose is a bowser version problem.
Thanks for the help

[2019-03-22 08:56] #1395 closed

[2019-03-23 11:22] iatsu commented on #172
Currently I am having the same issue. Firstly it says "Missing android SDK 23" even though I have specifically installed this SDK and then it just hangs with "Running React Native setup version 0.39.2 (~ 2 minutes-ish)".

[2019-03-24 09:46] freevital commented on #1386
I have the same issues and the command above doesn't fix it.

[2019-03-24 20:15] TiangeHu2806 commented on #1397
I have same issue, got error like "Support for the experimental syntax 'decorators-legacy' isn't currently enabled".

[2019-03-25 02:41] jamonholmgren commented on #1396
Hi @JuxhinB, thanks for submitting the issue! Are you using Ignite Andross or Bowser?

If Andross, the relevant line of code to update is here:

https://github.com/infinitered/ignite-andross/blob/495764631e34b0027bac76d8f523c4ebbad97f87/boilerplate.js#L177

If Bowser, it's this line:

https://github.com/infinitered/ignite-bowser/blob/941a1fe8f9c56d0e4cd44281f86eb6cb6cbece06/boilerplate/package.jso

[2019-03-25 02:51] jamonholmgren commented on #1397
@TiangeHu2806 Try the answer listed here for your problem: https://github.com/infinitered/ignite/issues/1385#issuecomment-467967378

[2019-03-25 02:53] jamonholmgren commented on #1397
@yesIamFaded @levi-beers I haven't updated [ignite-dev-screens](https://github.com/infinitered/ignite-dev-screens) yet to be compatible with the latest alphas. I would recommend not installing ignite-dev-screens until I do. I'm not sure on an ETA.

[2019-03-25 03:03] jamonholmgren commented on #1394
Hey @san4u , thanks for your patience -- I'm a bit behind on Ignite issues. Can you try this?

[code]

[2019-03-25 03:05] jamonholmgren commented on #1393
I think fixing the dist-tags problem fixed the issue. Please report if it's still a problem.

[2019-03-25 03:05] #1393 closed

[2019-03-25 03:08] jamonholmgren commented on #1392
Hi @grasilife , can you try the solution outlined here? https://github.com/infinitered/ignite/issues/1385#issuecomment-467967378

I'm going to close this issue, but please let me know if the problem persists and I'll re-open.

[2019-03-25 03:08] #1392 closed

[2019-03-25 03:17] jamonholmgren commented on #948
`setDebugConfig` is not used in Bowser. Since we aren't officially supporting Andross anymore, this method should be deprecated, and thus I will close this issue.

[2019-03-25 03:17] #948 closed

[2019-03-25 03:19] jamonholmgren commented on #932
Rethinking this, I think it would be a good idea to have this command be `ignite issue`. We should also ask if it's a problem with Bowser or the CLI and then file the issue with the appropriate repo.

[2019-03-25 03:20] jamonholmgren commented on #697
We haven't had much demand for this, so I'm going to close it, because we don't intend to build it.

[2019-03-25 03:20] #697 closed

[2019-03-25 03:23] jamonholmgren commented on #782
We don't plan to build this plugin, so I'm going to close it. apisauce is part of Andross and Bowser anyway.

[2019-03-25 03:23] #782 closed

[2019-03-25 03:26] jamonholmgren commented on #783
We don't intend to build this plugin, so I'm going to close this issue.

[2019-03-25 03:26] #783 closed

[2019-03-25 03:27] jamonholmgren commented on #779
I do want to do this. Keeping this pinned for future reference. cc @rmevans9

[2019-03-25 03:31] jamonholmgren commented on #971
Because of React Native limitations, there's not a great way to get around this.

However, you can probably use something like [react-native-fast-image](https://github.com/DylanVann/react-native-fast-image). We should consider adding it to Bowser.

[2019-03-25 03:32] jamonholmgren commented on #1052
I haven't seen issues with Yarn in a long time. Closing this.

[2019-03-25 03:32] #1052 closed

[2019-03-25 03:34] jamonholmgren commented on #1028
In the meantime, a good way to see all installed Ignite packages is `yarn list | grep 'ignite-'`.

[2019-03-25 03:43] jamonholmgren commented on #1044
Still planning to add this (2 years later). :-)

[2019-03-25 03:46] jamonholmgren commented on #456
This issue no longer applies to Ignite; closing.

[2019-03-25 03:46] #456 closed

[2019-03-25 03:47] jamonholmgren commented on #777
Not intending to implement this; closing.

[2019-03-25 03:47] #777 closed

[2019-03-25 03:49] jamonholmgren commented on #652
Still on the radar!

[2019-03-25 03:50] jamonholmgren commented on #916
This hasn't gotten a lot of support, so I'm going to close it.

[2019-03-25 03:50] #916 closed

[2019-03-25 03:51] #970 closed

[2019-03-25 03:52] jamonholmgren commented on #1087
Closing as this is quite old -- please open a new issue if it's still a problem.

[2019-03-25 03:52] #1087 closed

[2019-03-25 03:53] jamonholmgren commented on #883
I don't intend to support Windows Powershell, but if someone wants to tackle this, feel free!

[2019-03-25 03:55] jamonholmgren commented on #888
I believe this is no longer an issue with the latest versions of Ignite. If it is, please open a new issue (and tag this issue, #888).

[2019-03-25 03:55] #888 closed

[2019-03-25 03:56] jamonholmgren commented on #996
@baldursson Hey, it's been a while! Is this something you'd like to try sometime? I could see it being quite useful.

[2019-03-25 04:00] jamonholmgren commented on #780
For Andross only. Ref https://github.com/infinitered/ignite-redux-persist/pull/14.

[2019-03-25 04:00] #780 closed

[2019-03-25 15:37] DusanDimitric commented on #1393
I still get **3.0.0-alpha.5** when I `npm i -g ignite-cli`

[code]

You didn't make a release or?

[2019-03-25 19:23] jrgiant commented on #1386
@freevital I ran into the same issue. core-js just updated to 3.0.0 (on 2019.03.19 according to changelog). Also mentioned in [Babel issue #9734](https://github.com/babel/babel/issues/9734#issue-423654875). A work around is to downgrade to core-js@2.6.5 until the issue is resolved.

[2019-03-26 10:33] yesIamFaded commented on #1397
@jamonholmgren  Same error with this Alpha aswell:
x ignite-bowser was not able to be installed. Is it a valid NPM module?

[2019-03-26 11:57] JuxhinB commented on #1396
Hi! I'm using the Andross template, but the issue persist with some other react-navigation-drawer [issues](https://github.com/react-navigation/react-navigation/issues/5287) but ofc not related to this issue. My suggestion was to fix what you ship, since it is expected that sth out of the box should work fine.

[2019-03-28 08:31] longpq18 opened #1398 "handlers cannot have an undefined key"
When i create new reducer then I cann't create new Types
please help me

[2019-03-29 04:40] #1398 closed

[2019-03-29 20:20] AnonymousSB opened #1399 "New screen isn't reflected in navigationStore"
What's going on?

Using the Bowser template with Mobx, anytime I add any new screens and update the navigators, I have to tear down the entire app and restart. How can I clear the Mobx navigationStore?

---
Steps to reproduce

use ignite generate screen to add a screen, observe with Reactotron that navigationStore doesn't reflect new screen.

---
`ignite doctor` results:

System
  platform

[2019-03-31 17:53] tayfunyasar opened #1400 "Cant build android, > com.android.ide.common.process.ProcessException: Failed to execute aapt"
---
I'm having an error when I try to "build" android.

[code]

---
Steps to reproduce
rm -rf node_modules && npm I
cd android
./gradlew clean build

---
`ignite doctor` results:
[code]

[2019-04-01 07:06] michlee1337 commented on #1285
I've tried
- setting all workspace/ project build and pre-build systems to "legacy"
- deleting the build folder
- running the run-ios with different specified devices

But every time my simulator opens, the app opens to the loading page, then crashes. It never gets pass the loading page.

But if I build the project from XCode everything works fine.

Any advice?

[2019-04-03 09:14] Woolei commented on #1268
Hi avh2502, may i know which page you change this? i have the same issue.

[2019-04-03 18:48] kevinvangelder commented on #1399
If you're using Reactotron, you should be able to just press Cmd+. and enter `resetStore`, then reload your app. If you're not using Reactotron, the easiest way to reset your store is to comment out the loading from async storage in `setupRootStore.ts`.

[2019-04-03 18:52] kevinvangelder commented on #1396
@JuxhinB We do try to keep our code in good working order, but Andross has been deprecated.

[2019-04-03 18:59] kevinvangelder commented on #1384
@darijus By "normal React Native app" do you by chance mean an Expo generated app? If so, you'll probably need to download and install Android Studio, it's dependencies, and the necessary SDKs to get an emulator up and running. Under the hood, we're actually running the same commands to launch the React Native app on your emulator as vanilla React Native, so it is unlikely we have caused the issue

[2019-04-05 17:10] rostislav-simonik commented on #1044
@jamonholmgren nevermind, we created bash script for time being.

[2019-04-06 14:30] budda opened #1401 "Xcode Simulator not found when running ios from a new Ignite project"
---
What's going on?

A default macOS Simulator doesn't open when running ios project if the project is created with Ignite CLI.

If i generate the same base project with react-native then it does open the default iPhone X simulator.

---
Steps to reproduce

I created a project with
```react-native init awesome```
and then ran it with
```react-native run-ios```
and the Simulator opened and showed

[2019-04-06 14:45] budda commented on #1401
Looking at RN local-cli/runIOS/runIOS.js it executes ```xcrun simctl list --json devices``` so am not sure what can be different between the generated projects that runIOS.js even cares about?

[2019-04-06 16:18] budda commented on #1401
If I call ```react-native run-ios --simulator="iPhone 6"``` in the Ignite project folder I get the same simulator not found error - whatever phone model I specify.

If I do the same in the basic react-native project folder I get a different simulator, as specified, every time.

[2019-04-06 22:27] budda opened #1402 "package.json version of react not compatible with react-native"
What's going on?

Created a new project using boilerplate and ran ```npm install``` but this fails due to some forced package version in dependency.

react-native 0.59.3 required react 16.8.3 but the ignite package.json specifies 16.6.1

error:
[code]

i fixed by modifying the projects generated package.json to require react@16.8.3 instead.

---
Steps to reproduce

run ```npm install``` on a fresh

[2019-04-07 10:02] budda opened #1403 "New project using Bowser boilerplate fails to be generated"
What's going on?

[code]

---
Steps to reproduce

* Create a new project using the ignite CLI tool.
* Select the 'bowser' boilerplate option.
* Wait for the error.

[2019-04-08 07:51] devingray commented on #1401
+1

[2019-04-08 19:56] cassianomon commented on #1401
If you run `rm -rf node_modules` then `npm install` and `npm audit fix` it will open the iPhone X emulator but will give another error:

[code]

[2019-04-08 20:15] kevinvangelder commented on #1401
Do you have the XCode commandline tools installed? `xcode-select --install`

[2019-04-08 20:16] budda commented on #1401
Yes command line tools installed. Works fine with react-native tool direct.

[2019-04-08 20:26] kevinvangelder commented on #1401
Okay, can you either check the output for the actual error (it's usually 20-50 lines up) or open the project in XCode and try building it to see what error it returns?

[2019-04-08 20:35] cassianomon commented on #1401
On `react-native run-ios`:

[code]

If I run on Xcode it gets 52 errors on the issues panel:

[code]

[2019-04-08 20:52] kevinvangelder commented on #1401
I saw someone mention on another thread that the simulator names have changed in the latest version of XCode, not sure if that's related or not. I've never seen the error you're getting.

[2019-04-08 20:54] budda commented on #1401
I mentioned in comment 2 the simulator names work fine from the non Ignite project folder.

I also get the same build error as @cassianomon above.

[2019-04-08 20:58] ruddell commented on #1401
This was mentioned in the Slack.  Looks related to https://github.com/facebook/react-native/issues/24196 and https://github.com/infinitered/ignite-bowser/issues/164

[2019-04-08 21:03] kevinvangelder commented on #1401
Keep in mind, Ignite doesn't always use the latest RN version, so that could easily be the source of discrepancies between vanilla and Ignite, particularly when there are tooling changes and the fixes are only included in the bleeding-edge versions.

[2019-04-08 22:29] cassianomon commented on #1401
Should we open a new issue for the error after resolving simulator one?

[2019-04-09 04:03] jamonholmgren commented on #1403
Hey @budda , can you post the results of `ignite doctor`?

[2019-04-09 04:04] jamonholmgren commented on #1402
What version of Ignite CLI are you running, @budda ?

[2019-04-09 12:41] LINXUEZHAO commented on #1380
ignite: command not found

[2019-04-09 15:44] #1079 closed

[2019-04-09 15:47] infinitered-circleci commented on #1079
:tada: This issue has been resolved in version 2.2.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v2.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-09 15:48] jamonholmgren commented on #1401
The problem with `ignite doctor` when yarn is not installed is fixed in #1404, which has been deployed as 2.2.4. Upgrade with `npm upgrade -g ignite-cli`.

[2019-04-09 20:22] cassianomon commented on #1401
Updated to 2.2.4, still having the issue:

[code]

[2019-04-10 07:59] ZebelDattel opened #1405 "Redu persist issue"
Redux persist does not rehydrate the data on the go. It rehydrates after some time and as a result doest not get the correct props on the first screen. this problem is only in the first screen. Is there any good solution to this like how could I delay the loading of first screen untill it is properly rehydrated?

[2019-04-10 15:41] jamonholmgren commented on #365
What we need is the ability to pass through the `--package` CLI command to `react-native init`.

[code]

This would run:

[code]

I would hold off until we have PR #1379 merged in, or work off of that branch, though.

[2019-04-10 15:42] jamonholmgren commented on #1383
Ignite doesn't support PowerShell, unfortunately. If someone wants to help out and add PowerShell support, please do! Otherwise, please use cmd.exe or a bash prompt.

[2019-04-10 15:42] #1383 closed

[2019-04-10 15:44] jamonholmgren commented on #1391
@derekgreenberg I support this, good idea. I'm not sure if an option is the right way to go or if it's better to just do `ignite new foo-bar` and have the app name inferred from the folder name given.

This is likely to be somewhat nontrivial, though, because of how we are making assumptions throughout the spin-up process. The workaround is to generate the new project and then simply rename the ma

[2019-04-10 15:46] jamonholmgren commented on #172
@iatsu Please open a new issue with as much detail as you can provide. Thank you!

[2019-04-10 15:48] jamonholmgren commented on #1393
@DusanDimitric You might have run into another erroneous deployment. Because of our non-standard alpha publishing process right now, it's sometimes easy to screw up the order of commands. I'm trying to be better about it though! 😅

[2019-04-10 15:49] jamonholmgren commented on #1397
@yesIamFaded Can you try with the latest versions of each?

[2019-04-10 16:47] jamonholmgren commented on #1378
I think the comments under this issue are mostly unrelated, so I'm going to close and lock this, and if you can create new issues we'll take a look!

[2019-04-10 16:47] #1378 closed

[2019-04-10 16:48] #1380 closed

[2019-04-10 16:50] jamonholmgren commented on #365
We actually have an issue for this, so I'll track over there at #1044.

[2019-04-10 16:50] #365 closed

[2019-04-10 17:06] jamonholmgren commented on #1401
The latest version of Bowser (3.2.0) seems to fix this issue. Please re-try:

[code]

Note that the feature generating Detox tests is currently broken; that's next on my list to work on.

[2019-04-10 17:06] #1401 closed

[2019-04-10 17:11] jamonholmgren commented on #1384
Since this issue is pretty old, I'm going to close it. Please open a new issue if you continue to run into this problem! <3

[2019-04-10 17:11] #1384 closed

[2019-04-10 17:12] #1399 closed

[2019-04-10 17:15] jamonholmgren commented on #1285
@michlee1337  Related to #1401, maybe? Try the latest Ignite CLI and Ignite Bowser, it might help.

[2019-04-10 17:16] jamonholmgren commented on #1400
@tayfunyasar Is this an Andross or Bowser app?

[2019-04-10 17:43] DusanDimitric commented on #1393
Thanks for the effort. When can we expect 3.0.0 ?

[2019-04-10 19:11] cassianomon commented on #1401
With bowser it worked but with andross it still having the issue.

[2019-04-10 19:42] budda commented on #1401
I thought the CLI tool would be where the simulator issue would have been. Strange.
What was the actual fix? I couldn't find it from looking at the commits to either repo.

[2019-04-10 20:08] budda opened #1406 "Doctor, doctor what version of the boilerplate was used for the new project?"
Can ```ignite doctor``` show the version of the boilerplate that was used at app creation time?

[2019-04-10 20:28] budda commented on #1402
Ignite CLI was a fresh NPM install 4 days ago. I've since upgraded it today to test the other fixes.

[2019-04-10 20:48] budda commented on #1401
New issue opened on the boilerplate project - https://github.com/infinitered/ignite-andross/issues/263

[2019-04-11 15:41] jamonholmgren commented on #1393
@DusanDimitric I feel like we're ready to publish now, to be honest. Just need a few more people to test it and make sure it works.

[2019-04-11 15:42] #1389 closed

[2019-04-11 17:25] ruddell commented on #1393
I already prepared the Ignite JHipster boilerplate for v3 ([commit](https://github.com/ruddell/ignite-jhipster/commit/20d1ca0c1689dc4ad71f45e86fd9decc984a50da)) and it works as expected.  Thanks for keeping it simple 👍

[2019-04-12 15:38] jamonholmgren commented on #1393
I had intended to reach out about ignite-jhipster and forgot. 🤦‍♂️ Glad it's good to go!

[2019-04-12 15:42] jamonholmgren commented on #1401
The fix appears to be upgrading to 0.59.0.

[2019-04-12 15:47] jamonholmgren commented on #1393
I'm going to go ahead and release this morning.

[2019-04-12 20:26] budda commented on #1401
@jamonholmgren just upgrading the RN version doesn't resolve the build fail that @cassianomon mentions earlier in comment https://github.com/infinitered/ignite/issues/1401#issuecomment-480997544

[2019-04-12 23:02] jamonholmgren commented on #1393
I didn't get a chance to do it. Maybe tomorrow?

[2019-04-12 23:02] jamonholmgren commented on #1406
Good question. That information might be in `ignite/ignite.json` -- we could incorporate that into `ignite doctor` at some point?

[2019-04-12 23:03] jamonholmgren commented on #1402
Okay, thanks @budda!

[2019-04-18 04:51] devanshAppiness commented on #1366
i reinstalled nodeJs and it worked!!

[2019-04-18 20:45] conradkirschner opened #1407 "Storybook not working out of the boy"
maybe related to https://github.com/storybooks/storybook/issues/4179

---
What's going on?
ERROR in ./storybook/addons.js
Module build failed: Error: Couldn't find preset "module:metro-react-native-babel-preset" relative to directory "C:\\Users\\conrad\\Desktop\\react-native\\boilerplate_samples\\MyNewAppName12\\MyNewAppName12\\storybook"
---
Steps to reproduce
after try to use the sample code fro

[2019-04-19 10:21] tayfunyasar commented on #1400
Andross app

[2019-04-21 18:51] Boby commented on #1268
yes, I am also having the same issue

[2019-04-22 15:27] leonardo2204 opened #1408 "Adding PersistGate to boilerplate"
As per the redux-persist docs we can have the following:

[code]

But in the boilerplates, we persist things inside the Rehydration `updateReducers` function, which is `async`.
So, it's kinda tricky to return the `persistor` from this function and use it later on, because every other chained calls would be `async` too.
What approach you think it works best for this use case?

Thanks guys!

[2019-04-22 15:51] jamonholmgren commented on #1401
@budda FYI the Detox issue should be fixed on the latest Ignite CLI, `4.0.0-beta.3`. Since that's tagged `latest` for dist-tags, it's easy to upgrade to:

[code]

I believe all outstanding major issues are fixed for Bowser. Andross still has an issue with its plugins and I'll work on that when I have time.

[2019-04-22 19:47] budda commented on #1401
Assume you mean `ignite-cli@3.0.0-beta.3` which i got via npm. Is yarn still faster these days?

[2019-04-23 09:13] timkuilman commented on #1394
Same issue here running `3.0.0-beta.3`

`ignite --help` and `ignite doctor` commands fail.

[2019-04-23 15:23] stevematdavies commented on #1371
Node 11.7.0
npm 6.7.0
yarn 1.13.0

Mac High sierra

[2019-04-23 15:32] stevematdavies opened #1409 "CLI error when installing Browser bolierplate ignite beta"
CLI bolerplate install error.

[code]
[code]

 `ignite new TestApp`  causes the error

`ignite doctor`

[code]

[2019-04-23 15:41] stevematdavies commented on #1409
could it be due to `You're using a prerelease version of bowser@beta4.` ?

[2019-04-24 09:17] jamonholmgren commented on #1409
@stevematdavies I found the issue and pushed up a fix. Can you try again, please?

I'm going to close this issue as I believe it's fixed.

Ref: https://github.com/infinitered/ignite-bowser/commit/45b7122856228fb3f5fb91ea5f44392ff25c5506

[2019-04-24 09:17] #1409 closed

[2019-04-24 09:19] jamonholmgren commented on #1407
@conradkirschner Would you mind using the latest beta Ignite CLI?

[code]

[2019-04-24 09:34] stevematdavies commented on #1409
Looks good from my side all working, top job @jamonholmgren many thanks

[2019-04-24 09:45] emech-en commented on #45
Any workaround for this?

[2019-04-25 17:47] brenohq commented on #1394
same error here on ```3.0.0-beta.4```

[2019-04-29 06:24] superp commented on #1394
I have the same problem with 3.0.0-alpha.5.
Both _ignite --help_ and _ignite doctor_ fail.
What can I do to fix this?

[2019-04-29 16:38] us-22 opened #1410 "ignite fresh install, reactotorn cannot resolve ../../../App/redux ; case sensitive"
Hey

---
What's going on?
ignite fresh install with Androos boilerplate template not working. after running `react-native run-ios` i got `Unable to resolve module '../../../App/redux' from 'path/to/my/work/directory/node_modules/reactotorn-redux/dist/index.js'`

However, App/redux do exists but with capital R in redux. So it's App/Redux not App/redux.

---
Steps to reproduce
Create a fresh install

[2019-04-29 19:02] kevinvangelder commented on #1394
If you're having trouble with the betas, try installing 2.2.4

[2019-04-30 16:16] samtoya commented on #1181
+1 for Apollo integration.

[2019-05-01 23:21] ryanlntn commented on #1410
Hey @us-22 I'm unable to recreate with a freshly ignited app. Given that the error seems to be coming from reactotron-redux it's possible that it was already fixed there. I'm going to close this for now but feel free to reopen if you're continuing to have this issue.

[2019-05-01 23:21] #1410 closed

[2019-05-01 23:35] #1253 closed

[2019-05-01 23:36] #1226 closed

[2019-05-01 23:37] #1204 closed

[2019-05-02 12:31] HunWalk opened #1411 "redux-saga not firing the functions upon redux actions"
What's going on?
---
In the latest boilerplate redux saga is not firing the functions upon dispatching the observed action.

Steps to reproduce
---
[code]

add the test request type into the root saga (and the TestSaga itself), then try to dispatch the action

ignite-doctor
---
System
  platform           darwin
  arch               x64
  cpu                4 cores                   Intel(R) Core(

[2019-05-02 13:22] HunWalk commented on #1411
Okay, i've managed to repair this in my project.
Check these out:

- https://github.com/infinitered/ignite-andross/blob/6d274f1bcbdf014d8e07aa75c3d94ddbe9bc192b/boilerplate/package.json.ejs#L51
reactotron-redux-saga version should be 3.0.0. as it was mentioned here:
https://github.com/infinitered/reactotron/issues/917#issuecomment-459956630
since you're using redux-saga 1.0.0
- Check this commit:

[2019-05-02 22:21] #1332 closed

[2019-05-02 22:25] infinitered-circleci commented on #1389
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-02 22:42] ruddell opened #1412 "Ignite v3 Broken - Missing build folder"
### What's going on?
The recent v3 release is broken, no commands work

### Steps to reproduce
[code]
Results in error:
[code]
You can see there is no build folder in the v3.0.0 release by doing the following:
[code]
### `ignite doctor` results:
Not possible

[2019-05-02 23:26] jamonholmgren commented on #1412
Apologies, you caught us at a broken build (while releasing 3.0). We rolled back and are releasing a new version soon. cc @ryanlntn

[2019-05-02 23:26] jamonholmgren commented on #1412
It looks like 3.0.1 has been released. Can you check it, please?

[2019-05-02 23:42] ryanlntn commented on #1412
@jamonholmgren Looks like the issue is persisting on 3.0.1:

[code]

[2019-05-03 01:27] atingsonpetcircle opened #1413 "newly generated Andross project has broken saga"
What's going on?

the example saga StartupSagas.startup is not being invoked

version: 3.0.0-beta.4

Steps to reproduce
1. installed the latest ignite v2 version
2. ignite new SampleProjectWhatever
3. react-native run-ios

the following code was not invoked, even the `Hello, Test.`

[code]

screenshot of reactotron

![Screen Shot 2019-05-03 at 9 27 13 AM](https://user-images.githubusercontent.com/

[2019-05-03 02:17] jamonholmgren commented on #1413
Hi @atingsonpetcircle, thanks for the issue. We don't use Andross regularly at IR anymore, so we're relying on the community for pull requests. I'll mark this as a bug and if you get a chance to submit a PR (or someone else) I'd be happy to review and publish a new version. 🙏

[2019-05-03 02:27] atingsonpetcircle commented on #1413
@jamonholmgren

Thanks for response. as much as i wanted to fix this, I am fairly new to react-native, so gotta wait for response from others....

does that mean we should migrate to mobx instead?

[2019-05-03 03:22] jamonholmgren commented on #1412
Fixed in 3.0.3. Thanks!

[2019-05-03 03:22] #1412 closed

[2019-05-03 03:24] jamonholmgren commented on #1413
@atingsonpetcircle I do recommend moving to mobx-state-tree, but only if you're early in your app development. Bowser is our current stack and we really like it. If you've already invested a lot of time into an Andross app, I'd recommend sticking with that, as it's a fine way to build an app.

[2019-05-03 04:18] atingsonpetcircle commented on #1413
@jamonholmgren tbh we have a code built on Andross template already. I think for short term fix on the bug is desirable

[2019-05-03 04:19] #623 closed

[2019-05-03 04:20] #779 closed

[2019-05-03 04:22] jamonholmgren commented on #845
@mlaco I'd like to still do this, but basically we'd just need to do something custom here:

https://github.com/infinitered/ignite/blob/6e8145c6a0a589bf56da4f3fda807bcdd8e66175/src/commands/help.ts#L13

[2019-05-03 04:23] jamonholmgren commented on #926
We'd appreciate help with this feature!

[2019-05-03 04:24] jamonholmgren commented on #971
This is more of a Bowser thing, so I'm closing here.

[2019-05-03 04:24] #971 closed

[2019-05-03 04:24] jamonholmgren commented on #996
This is more of a Bowser thing, so closing now.

[2019-05-03 04:24] #996 closed

[2019-05-03 04:28] jamonholmgren commented on #1044
What we need is the ability to pass through the --package CLI command to react-native init.

[code]

This would run:

[code]

[2019-05-03 04:30] #1128 closed

[2019-05-03 04:31] jamonholmgren commented on #1184
No longer relevant, so I'm closing this. 😎

[2019-05-03 04:31] #1184 closed

[2019-05-03 04:31] jamonholmgren commented on #1189
No longer relevant, so I'm closing this. 😎

[2019-05-03 04:31] #1189 closed

[2019-05-03 04:32] jamonholmgren commented on #1202
No longer relevant, so I'm closing this. 😎

[2019-05-03 04:32] #1202 closed

[2019-05-03 04:33] jamonholmgren commented on #1278
This issue is pretty stale, so I'm closing it. Please let me know if you still need help with it. 🙂

[2019-05-03 04:33] #1278 closed

[2019-05-03 04:35] jamonholmgren commented on #1304
This issue is pretty stale, so I'm closing it. Please let me know if you still need help with it. 🙂

[2019-05-03 04:35] #1304 closed

[2019-05-03 04:35] jamonholmgren commented on #1281
This issue is pretty stale, so I'm closing it. Please let me know if you still need help with it. 🙂

[2019-05-03 04:35] #1281 closed

[2019-05-03 04:36] jamonholmgren commented on #1301
This issue is pretty stale, so I'm closing it. Please let me know if you still need help with it. 🙂

[2019-05-03 04:36] #1301 closed

[2019-05-03 04:36] jamonholmgren commented on #1195
I agree with @kevinvangelder -- let's add to docs somewhere. Easy fix.

[2019-05-03 04:37] jamonholmgren commented on #1288
@kevinvangelder Can we close this issue?

[2019-05-03 04:38] jamonholmgren commented on #1084
This issue is pretty stale, so I'm closing it. Please let me know if you still need help with it. 🙂

[2019-05-03 04:38] #1084 closed

[2019-05-03 04:38] jamonholmgren commented on #1286
This issue is pretty stale, so I'm closing it. Please let me know if you still need help with it. 🙂

[2019-05-03 04:38] #1286 closed

[2019-05-03 04:38] jamonholmgren commented on #1296
This issue is pretty stale, so I'm closing it. Please let me know if you still need help with it. 🙂

[2019-05-03 04:38] #1296 closed

[2019-05-03 04:39] jamonholmgren commented on #1229
This issue is pretty stale, so I'm closing it. Please let me know if you still need help with it. 🙂

[2019-05-03 04:39] #1229 closed

[2019-05-03 04:39] jamonholmgren commented on #1131
This issue is pretty stale, so I'm closing it. Please let me know if you still need help with it. 🙂

[2019-05-03 04:39] #1131 closed

[2019-05-03 04:40] jamonholmgren commented on #1305
@Kamaropoulos Is this still happening for you?

[2019-05-03 04:44] ryanlntn commented on #1397
https://github.com/infinitered/ignite-dev-screens has been updated to be compatible with Ignite 3. This should now be fixed with Ignite 3 and the latest Andross boilerplate.

[2019-05-03 04:44] #1397 closed

[2019-05-03 04:47] ryanlntn commented on #1349
This issue is pretty stale, so I'm closing it. Please let me know if you still need help with it. :slightly_smiling_face:

[2019-05-03 04:47] #1349 closed

[2019-05-03 04:49] ryanlntn commented on #1051
Ignite 3 is now using the latest Gluegun. In addition the `ignite-ir-boilerplate-2016` is no longer supported.

[2019-05-03 04:49] #1051 closed

[2019-05-03 04:51] ryanlntn commented on #1333
Ignite 3 is now using TypeScript 😄

[2019-05-03 04:51] #1333 closed

[2019-05-03 05:02] ryanlntn commented on #1362
Relative paths to boilerplates appear to be fixed with Ignite 3. Still need to investigate windows but I believe we don't currently support an absolute path like `C:/path/to/boilerplate` since we're matching on `~`, `.`, `\\`, or `/`.

[2019-05-03 05:05] ryanlntn commented on #1376
This issue is pretty stale, so I'm closing it. Please let me know if you still need help with it. :slightly_smiling_face:

[2019-05-03 05:05] #1376 closed

[2019-05-03 05:09] ryanlntn commented on #1402
This should be fixed with Ignite 3 and the latest Andross and Bowser boilerplates.

[2019-05-03 05:09] #1402 closed

[2019-05-03 05:51] ryanlntn commented on #1400
This still appears to be an issue. To clarify `react-native run-android` works fine but when trying to run `./gradlew clean build` directly it will error. This appears to be due to an outdated version of `react-native-device-info`. Upgrading to the latest resolves the issue.

[2019-05-03 06:33] atingsonpetcircle commented on #1413
fix according to https://github.com/infinitered/ignite-andross/issues/267

change the code to this of `CreateStore.js`
[code]

update reactotron-redux-saga to at least `3.0.0`

[2019-05-03 07:11] ryanlntn commented on #1400
This is now resolved with the latest ignite-andross (4.0.1)

[2019-05-03 07:11] #1400 closed

[2019-05-03 10:34] Kamaropoulos commented on #1305
@jamonholmgren honestly, I don't know, it's been a while since I last touched it and I don't even remember how it ended up 😂
I'll check later today and let you know :)

[2019-05-04 07:41] ryanlntn commented on #1407
This is being tracked on the ignite-andross repo here: https://github.com/infinitered/ignite-andross/issues/216

[2019-05-04 07:41] #1407 closed

[2019-05-04 07:48] ryanlntn commented on #1394
This error indicates that you're using an ignite plugin which has commands that have not yet been updated to support ignite 3. What ignite plugins are you using?

[2019-05-04 08:06] ryanlntn commented on #1195
Moved here: https://github.com/infinitered/ignite/blob/master/docs/quick-start/code-names.md

[2019-05-04 08:06] #1195 closed

[2019-05-04 09:58] ryanlntn commented on #1406
This is now included in Ignite 3

[2019-05-04 10:26] ryanlntn commented on #1413
Closing this here as this is Andross specific and already being tracked with https://github.com/infinitered/ignite-andross/issues/267

[2019-05-04 10:26] #1413 closed

[2019-05-04 17:35] ruddell commented on #1406
The boilerplate name is available from `ignite doctor`, but the version is not.

[2019-05-05 00:49] jamonholmgren commented on #1365
Please let us know if it's still happening with the latest version of Ignite. In the meantime I'm going to close this issue. Thanks!

[2019-05-05 00:49] #1365 closed

[2019-05-05 00:52] jamonholmgren commented on #1305
Sounds good @Kamaropoulos ! Let us know if we can help.

[2019-05-05 21:13] #1406 closed

[2019-05-05 21:17] infinitered-circleci commented on #1406
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-05 21:21] jamonholmgren commented on #1181
So Steve is still correct, here -- we still derive boilerplates from client work. While we have some Apollo work, it's still not a high percentage of our work, so we're holding off on it. We still like Apollo though!

[2019-05-05 21:26] jamonholmgren commented on #1268
@Boby Can you try with the latest versions of everything?

[2019-05-05 21:27] jamonholmgren commented on #1401
@budda Yarn is still faster for most things, yeah. I use it almost exclusively, but we do try to support both (albeit not for Ignite's source code itself).

[2019-05-05 21:41] jamonholmgren commented on #45
I'd love to have help with this.

[code]

That would be a great addition to Ignite.

You'd need to add a command, in the `src/commands` folder:

[code]

Something like that.

[2019-05-06 16:45] superp commented on #1394
I have tried to upgrade version to 3.1.1 but it had no success.
So, I've downgraded to  2.2.4 and it works now.

[2019-05-06 19:14] rostislav-simonik commented on #1044
@jamonholmgren I think that command line option for react-native is not supported anymore. I've created shell scripts a time ago, but to be platform independent would be great to rewrite them into js.

[code]

and added to own boilerplate version like this

[code]

[2019-05-06 23:47] jamonholmgren commented on #1394
@superp Can you file a new issue with the problems you're having with 3.1.1? We'd like to fix them.

[2019-05-06 23:49] jamonholmgren commented on #1044
That's very interesting. I didn't know the react-native-cli doesn't support a custom package name.

[2019-05-07 05:52] superp commented on #1394
@jamonholmgren At 3.1.1 version the problem was the same. No one ignite's generators and ignite doctor commands didn't work. The error was the same as at the top of this issue.

[2019-05-07 12:39] mayermatheus commented on #1268
Hi,
I am also having the same issue for android.

[2019-05-08 06:57] magpielover commented on #1394
same for me for version 3.1.1

[2019-05-08 22:31] ryanlntn commented on #1394
@superp @magpielover Can you post the ignite plugins you're using? One or more of them has commands that need to be updated to support Ignite 3 which changed made breaking changes to the command interface.

[2019-05-10 18:51] James-deWitt commented on #1220
I'm having this issue with v2.2.4" after downgrading from v3.1.1 due to https://github.com/infinitered/ignite/issues/1394

Adding the generators like on the previous solution for v2.1.1 did not work (assuming I should substitute `ignite-ir-boilerplate-bowser` for `ignite-ir-boilerplate-andross`)

[2019-05-10 18:58] James-deWitt commented on #1394
This seemed to occur for me on ignite-cli@3.1.1 after adding `ignite-maps` and running `npm install`

Downgrading to 2.2.4 has broken the bowser generators however...

[2019-05-10 21:00] MuhammadUsman786786 opened #1417 "Sagas does not receive actions?"
I have created the Ignite boilerplate with this command

`Ignite new ProjectName`

Project is generated successfully.
But sagas are not called.
Actions are dispatched successfully but saga does not receive the actions.

[2019-05-10 21:13] ryanlntn commented on #1394
Thanks @James-deWitt! We'll get an update out for `ignite-maps` to support Ignite 3.

[2019-05-10 22:55] ryanlntn commented on #1394
@James-deWitt https://github.com/infinitered/ignite-maps/releases/tag/v1.0.0 is now compatible with Ignite 3.

[2019-05-10 23:17] ryanlntn commented on #1417
This should be resolved with https://github.com/infinitered/ignite-andross/releases/tag/v4.0.3

[2019-05-10 23:17] #1417 closed

[2019-05-11 02:03] #1394 closed

[2019-05-11 02:03] jamonholmgren commented on #1362
I'm going to close this, but if anyone wants to fix the absolute paths on Windows, feel free!

[2019-05-11 02:03] #1362 closed

[2019-05-11 13:18] James-deWitt commented on #1394
Awesome! I can confirm that my ignite-cli@3.1.1 doesn't throw up anymore!

[2019-05-11 21:20] GuillaumeHemmen opened #1418 "Not able to create a new plugin"
Hello, I recently updated my ignite-cli and tried to create a new plugin with no success. See details below:

---
What's going on?

I tried to create a new plugin following the official documentation: https://github.com/infinitered/ignite/blob/master/docs/advanced-guides/creating-plugins.md

The command `ignite plugin new radio-buttons` throw the following error:

[code]

---
Steps to reproduce

-

[2019-05-11 21:29] GuillaumeHemmen commented on #1418
I would also add that I get the same issue on a freshly install mac VM.

[2019-05-12 02:14] ruddell commented on #1418
https://github.com/infinitered/ignite/blob/3da165cd48950f0e46d6d7e9a02c7218be945b8e/src/commands/plugin.ts#L51

It looks like `parameters.second` contains the plugin name instead of `parameters.third`
[code]

[2019-05-12 08:23] GuillaumeHemmen commented on #1418
@ruddell is there anything I could do on my end to solve the problem or is it related to ignite-cli itself?

[2019-05-13 05:00] king804 opened #1420 "not able to receive addListener willFocus"
componentDidMount(){
        this.props.navigation.addListener('willFocus', () =>{
            //don't work
        });
        this.props.navigation.addListener('didFocus', () =>{
            //don't work
        });
}

with react-navigation 3.0~3.9 also don't work

[2019-05-13 07:10] lalithnarayan commented on #1420
+1

[2019-05-13 16:39] ruddell commented on #1420
Could you please add the output of `ignite doctor` (run in the root of your app folder) so that we can tell what boilerplate and versions are you using?

[2019-05-13 23:27] kevinvangelder commented on #45
Hey everyone, I believe this is no longer something Ignite should be concerned about as `react-native link` will handle any fonts/assets added to the `package.json`.
[code]

[2019-05-14 01:02] lalithnarayan commented on #1420
System
  platform           darwin
  arch               x64
  cpu                4 cores                                         Intel(R) Core(TM) i5-5250U CPU @ 1.60GHz
  directory          /Users/lalithnarayankashyap/Documents/testApp

JavaScript
  node               10.15.3      /usr/local/bin/node
  npm                6.9.0        /usr/local/bin/npm
  yarn               1.7.0        /usr/local

[2019-05-14 02:09] king804 commented on #1420
here my ignite doctor

System
  platform           darwin

  arch               x64
  cpu                4 cores                                                 Intel(R) Core(TM) i5-5350U CPU @ 1.80GHz
  directory          /Users/sys_admin/Documents/project/dt/DRUN/DrunDriver

JavaScript
  node               10.15.3      /usr/local/bin/node
  npm                6.4.1        /usr/local/bin/npm
  ya

[2019-05-14 06:12] mact200590 commented on #1088
react-native is not recognized as an internal or external command operable program or batch file
i try it all but nothing work

[2019-05-15 11:36] odraude7 commented on #1420
+1

[2019-05-15 15:07] jamonholmgren commented on #1268
@mayermatheus Can you open a new issue with `ignite doctor` results and a backtrace / screenshot, please?

[2019-05-15 15:08] jamonholmgren commented on #1220
We did rename `ignite-ir-boilerplate-bowser` to `ignite-bowser`, so maybe try that, @James-deWitt ?

[2019-05-15 15:10] jamonholmgren commented on #1418
Yeah, our plugin generator is currently borked, I believe. We need to fix this.

[2019-05-15 15:27] GuillaumeHemmen commented on #1418
I raised a PR. I don’t know if it’s the correct approach though

[2019-05-15 16:37] jamonholmgren commented on #1088
@mact200590 Can you run `react-native` from your command line?

[2019-05-15 16:52] mact200590 commented on #1088
thanks a lot, i just dele all the modules, and install de depencies again

El mié., 15 may. 2019 a las 13:37, Jamon Holmgren (<notifications@github.com>)
escribió:

[2019-05-15 19:18] #1418 closed

[2019-05-15 19:25] infinitered-circleci commented on #1418
:tada: This issue has been resolved in version 3.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v3.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-16 16:23] certilremy commented on #1384
I Have the same Problem here. When I create a fresh new app it work , if I close an reopen the app I can't run it keeps telling me this error. I need  to create a fresh app an copy my old code to continue working every time i close my App .

[2019-05-17 05:32] nileshprajapati007444 opened #1422 "issue: ignite new app created with 'src' as package name. Package name should be Project name."
If I create new app with 'ignite new 'SampleApp'. It is created, but Main Folder 'SampleApp' contain  sub folder as 'src', and package name is also created with 'src'. It is the issue.

Before around 1 month, It was working fine with ignite.

Can anyone give me solution of it ?

Thanks in advance.

[2019-05-17 14:34] ruddell commented on #1422
What version of `ignite` are you using?  If you aren't using v3, I recommend upgrading

[2019-05-20 05:23] nileshprajapati007444 commented on #1422
@ruddell yes. it is working fine with upgraded version. Thank you.

[2019-05-20 05:23] #1422 closed

[2019-05-21 17:05] jamonholmgren commented on #1384
@certilremy, that sounds really painful! I'm not sure what we can do here to help you, though. If you provide a fresh Ignite-powered app that reproduces the issue, then we can take a look. Please open a new issue if you do.

[2019-05-24 11:06] AtharvaAbsolute opened #1424 "Ignite command not found"
![ignite](https://user-images.githubusercontent.com/19706447/58323555-f337b880-7e41-11e9-8d75-1fde3a1eb2c4.png)

Can you tell me exactly what path to update in .bashrc for this to work?

[2019-05-24 15:52] jamonholmgren commented on #1424
Hey @AtharvaAbsolute , try:

[code]

[2019-05-27 19:28] us-22 commented on #1410
@ryanlntn After investigation. This issue happens only if you choose not to install ignite development screens with Androos template. Otherwise, it's working just fine.

[2019-05-28 13:15] alexakasanjeev commented on #11
Hi, I was wondering what it takes to get my boilerplate code get listed in ignite.

I have wrote a React Native boiler plate code that is based on Atomic design and uses redux, react-navigation, storybook, redux saga.
[Boiler plate code](http://github.com/alexakasanjeev/arcn)

[2019-05-28 22:21] kevinvangelder commented on #11
@alexakasanjeev Only official Infinite Red boilerplates are included in the CLI by default, but you're welcome to open a PR to add yours to the list of 3rd party boilerplates here: https://github.com/infinitered/ignite/blob/master/BOILERPLATES.md

[2019-05-29 02:48] jamonholmgren opened #1426 "List Boilerplate in Ignite CLI"
Hi, I was wondering what it takes to get my boilerplate code get listed in ignite.

I have written React Native boiler plate code that is based on [Atomic design](http://bradfrost.com/blog/post/atomic-web-design/) and uses redux, react-navigation, storybook, redux saga.
[Boiler plate code](http://github.com/alexakasanjeev/arcn)

_Originally posted by @alexakasanjeev in https://github.com/infiniter

[2019-05-29 02:49] jamonholmgren commented on #1426
@alexakasanjeev If you want to convert it to an Ignite boilerplate, I'd be happy to evaluate it for possible inclusion in Ignite CLI.

[2019-05-29 06:07] alexakasanjeev commented on #1426
@jamonholmgren **Can you give me more context about what it means to convert into Ignite boilerplate**,

I would really like to get my boilerplate get enlisted.
About my boilerplate code: [arcn](http://github.com/alexakasanjeev/arcn)

1. It uses [Atomic design](http://bradfrost.com/blog/post/atomic-web-design/)
2. It uses redux
3. It uses [redux-saga](https://redux-saga.js.org/) for async operatio

[2019-05-29 15:07] jamonholmgren commented on #1426
Hey @alexakasanjeev! Check out this guide, and if you run into problems, please let me know here!

https://github.com/infinitered/ignite/blob/master/docs/advanced-guides/creating-boilerplates.md

[2019-05-30 13:18] daoudjahdou commented on #1279
Hey any updates about this ? having ignite working with react native web would be awesome !

[2019-06-01 19:18] prathusingh commented on #1285
I was able to resolve it by building it from Xcode itself.
Once build is succeeded, you may need to run (if you get an error)
"sudo launchctl limit maxproc [limit for one user] [total limit]"
Inside Simulator Help, Apple's example values are 2000 for one user and 2500 total.

[2019-06-02 04:03] jamonholmgren commented on #1279
@daoudjahdou No updates, unfortunately! We still haven't had a client project where that's been a first-class concern.

[2019-06-04 05:43] nirre7 opened #1427 "Can't create generator"
What's going on?
Can't create generator

`ignite plugin new test`

crashes and gives me this:

[code]
Checked /Users/niso/.config/yarn/global/node_modules/ignite-cli/build/ and there is no template folder there.

I'm I misunderstanding how to create a generator?? :(

---
Steps to reproduce

1. Create new ignite project
2. cd newProject
3. ignite plugin new testgenerator
4. no, yes,yes
5. *crash*

[2019-06-05 17:32] ruddell commented on #1427
This is a bug in the packaging.  Using a local clone of the ignite repo works, like you said the `templates` folder is not released to npm.  It looks related to https://github.com/infinitered/gluegun/pull/537

[2019-06-06 19:42] nirre7 commented on #1427
Yepp that seems to be the issue 👍

[2019-06-07 13:15] tomacotuna opened #1428 "React Native Web with Ignite"
Hey, so this is just a thought I had this couple of days while working on bootstrapping a side project using Ignite boilerplate, and saw the new development in react-native-web and the fact that Microsoft and expo are pushing it.

Was wondering if the amazing team behind Ignite have any plans on creating a Ignite starter with react-native-web as an option.

[2019-06-12 00:05] parthibanloganathan commented on #1156
Experienced this recently and @akaralar's solution worked for me too. Not sure why it works nor does it sound like the proper solution

[2019-06-13 15:00] myfoostrong commented on #1427
To save others time, the implied fix above is...
`git clone https://github.com/infinitered/ignite
mv ignite/src/templates ~/.config/yarn/global/node_modules/ignite-cli/build/
rm -rf ignite`

Went from the above error, to...
`✔ Is this an app boilerplate plugin? · No
✔ Will your plugin have a generator command? (e.g. ignite generate <mygenerator> <name>) · Yes

Creating new plugin: ignite-test
✔︎ i

[2019-06-14 09:59] adrianhartanto0 commented on #1028
There is already a `ignite list` command though. Any idea what word to use instead? @jamesgeorge007

[2019-06-14 17:38] rizwanatta opened #1429 "template with React-hooks and context api"
Shouldn't there be a template generation with

React hooks, React Navigation, Context Api??

Almost all the people in f8 of facebook usually use useContext instead of 3rd party libraries like Redux or Mobx for stateManagement!

[2019-06-14 19:09] kevinvangelder commented on #1429
Good question! Hook and context are still fairly new, and not something we're regularly using in our client projects. There is a chance that we'll add them eventually, however if this is something you need for use in your own projects you could submit a pull request and we'd be happy to review it.

[2019-06-14 19:11] rizwanatta commented on #1429
I am actually using this methodology in a project by custom init not ignite!  but i like the way how ignite deals with BOWSER and other templates! I will surely trying to submit a PR

[2019-06-16 05:15] niallmurphy-ie opened #1430 "Following installation instructions just gives errors."
node: v10.15.3
npm: 6.4.1
react-native-cli: 2.0.1
react-native: 0.59.3

Following the instructions gives this when I try to run run-android. I install expo as per the instructions.

This is the same error as I got a month ago or something and trying again today gives the same result. No offence but this is really poor form for something so lauded. None of the suggestions around the web for the bui

[2019-06-19 00:13] kevinvangelder commented on #1430
Hey there, sorry you're running into issues. Which instructions did you follow? As far as I know, none of the instructions mention anything about Expo.

The errors you are seeing may be related to this recent breaking change by Google: https://developers.google.com/android/guides/releases

[2019-06-19 00:17] kevinvangelder commented on #1428
We are not, however Ignite boilerplates are fairly straightforward to create, so if it's something you would use feel free to give it a go. We'll even link to it in our documentation so other people can find it.

[2019-06-20 05:56] kukokp commented on #1384
I open genymotion and device is show in android studio but when i run react-native project then
"Make sure you have an Android emulator running or a device connected and have
set up your Android development environment:"

This error is showing please guide me for the same

[2019-06-22 14:06] lkostrowski opened #1431 "App bootstrapping fails"
Using `ignite-cli@3.1.3`

[code]

[2019-06-22 15:52] lkostrowski commented on #1431
I had CLT instead of XCode in my path, after changing this:

[code]

[2019-06-22 15:58] lkostrowski commented on #1431
Solved. I had Command Line Tools in my path instead of XCODE.
Maybe worth checking it during install.

[2019-06-22 15:58] #1431 closed

[2019-06-28 14:38] naaness commented on #1430
This works for me:

In package.json

"dependencies": {
     ...
    "react-native-device-info": "2.1.2",
    "react-native-gesture-handler": "1.3.0",
    ...
}

[2019-06-30 10:52] affanhashone opened #1432 "ignite app size is 30.2 mb"
why app size is so big 30.2 mb without any huge libraries ?

[2019-07-01 18:28] kevinvangelder commented on #1432
If memory serves, an empty Hello World React Native app is ~25MB. We haven't spent much time on optimizing bundle size because it isn't really an important factor for most of our clients. However, if someone wanted to do a breakdown on why the bundle is so large and/or some pull requests to reduce the initial size we'd be happy to take a look.

[2019-07-02 06:43] affanhashone commented on #1432
@kevinvangelder for your quick Response, I think after React Native 0.60 The App Size Will Reduce, But Still have a Look When Your Team Get Time. I can Use Android App Bundle To reduce the app size, But Ios Is a concern.

[2019-07-03 00:28] dkniffin commented on #1285
Just going to put this here, because it comes up in search results and I've been trying to figure this out for several hours: If you are using [react-native-splash-screen](https://github.com/crazycodeboy/react-native-splash-screen), make sure you do `SplashScreen.hide()` 🤦‍♂

[2019-07-06 03:49] AnonymousSB opened #1433 "spork ignite fails"
# What's the matta?
`ignite spork` fails epically

# What happened?
ran `ignite spork` in the root directory, received the following error:

# How'd I do it?
* New Project
* ignite-cli 3.1.1
* ran `ignite spork` in the root directory of my project

[2019-07-08 03:16] vfa-tienhnm-os opened #1434 "Error occurred when using with Apollo: Cannot read property 'data' of null"
Hello all!

I'm having trouble using ignite with apollo graphql.

I'm also not sure if this error of ignite or apollo, but when I use `react-native init` to create the project, the apollo works as expected.

The problem only occurs on Android, when I turn off the graphQL server (create network error), the application will appear a red screen when cannot query to server.

![Screenshot_1562320865](h

[2019-07-08 10:36] andre-sonect commented on #1431
Sorry but that solution is not clear enough. Can you elaborate please since I am having the same issue with Bowser boilerplate? thanks

[2019-07-08 10:40] lkostrowski commented on #1431
Sure. For some time you don't have to install XCode on your Mac, which is good because of its size.
I don't do RN

[2019-07-10 09:43] robinv8 opened #1435 "Is there a plan to support androidx?"

[2019-07-10 18:08] kevinvangelder commented on #1435
https://github.com/react-native-community/discussions-and-proposals/issues/129

[2019-07-11 02:10] robinv8 commented on #1435
thank you

[2019-07-11 02:10] #1435 closed

[2019-07-12 09:20] viralS-tuanlv opened #1436 "Please upgrade to react native 0.60"
react native 0.60 was released, i saw a lot of benefit, so i hope ignite upgrade to 0.6x. Thanks

[2019-07-14 04:57] jamonholmgren commented on #1431
I like the idea of detecting that. @lkostrowski, do you know a good way to do that? Maybe a PR? <3

[2019-07-14 05:27] jamonholmgren commented on #1433
Can you give us the results of `ignite doctor` please? Thanks!

[2019-07-14 05:28] jamonholmgren commented on #1432
The Hermes Engine will further dramatically reduce package size on Android. I think over time this will improve. We'd love some help reducing app size!

[2019-07-14 05:30] #1430 closed

[2019-07-14 05:31] jamonholmgren commented on #1428
I'd love to eventually do this, but it's a nontrivial amount of work and we'd have to have a client need it to justify the time. Want to hire us to do it? :-)

[2019-07-14 05:33] jamonholmgren commented on #1028
@adrianhartanto0 We could show which ones are currently installed by highlighting them and adding `[installed]`, or put them in a separate section of the output.

![image](https://user-images.githubusercontent.com/1479215/61179755-2be04c80-a5be-11e9-9c9c-6bc5e76eae99.png)

[2019-07-14 05:33] jamonholmgren commented on #1427
I'll try to get this fixed soon!

[2019-07-14 06:03] AnonymousSB commented on #1433
System
  platform           darwin

  arch               x64
  cpu                4 cores                Intel(R) Core(TM) i5-7267U CPU @ 3.10GHz
  directory          /Users/username

JavaScript
  node               11.14.0      /usr/local/bin/node
  npm                6.9.0        /usr/local/bin/npm
  yarn               1.15.2       /usr/local/bin/yarn

React Native
  react-native-cli   2.0.1

Ig

[2019-07-14 07:39] lkostrowski commented on #1431
Can't promise, but will try :)

[2019-07-15 07:05] viralS-tuanlv opened #1438 "Please upgrade to react native 0.60"
react native 0.60 was released, i saw a lot of benefit, so i hope ignite upgrade to 0.6x. Thanks

[2019-07-15 10:31] john1jan commented on #1394
i also have same with ignite 3.1.3

[2019-07-15 11:20] esmaeilpour commented on #1438
@viralS-tuanlv I've found this `ignite new HoldMyBeer --react-native-version 0.60.2`

ref: https://github.com/infinitered/ignite/issues/1078

[2019-07-15 13:49] viralS-tuanlv commented on #1438
no, i have tried and: ⠧ adding React Native 0.59.9 (30 seconds-ish)

[2019-07-16 02:16] jamonholmgren commented on #1438
We are working on it! Ref: https://github.com/infinitered/ignite-bowser/issues/218#issuecomment-511278155

[2019-07-16 02:22] jamonholmgren commented on #1394
Can you file a new issue with more information? Thanks!

[2019-07-16 02:58] jamonholmgren commented on #1427
I have a PR in the works ... once we release that, it'll fix this issue.

[2019-07-17 00:59] infinitered-circleci commented on #1431
:tada: This issue has been resolved in version 3.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v3.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-17 01:03] #1427 closed

[2019-07-17 01:10] infinitered-circleci commented on #1427
:tada: This issue has been resolved in version 3.1.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v3.1.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-18 07:09] idanlevi1 opened #1440 "There is option to install Javascript and MobX ? (without typescript)"
I don't use typescript, i saw one option for mobx with typescript and another for javascript with redux
how i combine mobx and javascript?

[2019-07-19 15:52] robinheinze opened #1442 "ignite --help should list the available options, like --boilerplate"
We have a bunch of command line options available like `--boilerplate`, `--skip-git`, and `--no-detox`, and probably others.

We should make sure these are documented in `/docs/ignite-commands`, and also list all available options when `ignite --help` is run.

[2019-07-22 20:04] ferroblesh commented on #1432
is there any current work to reduce the size? How may I help with that?

[2019-07-25 12:40] dkocich commented on #1433
the same issue happened to me:

[code]

[code]

[2019-07-27 03:56] BirdsAndFish opened #1448 "ignite new error"
<img width="956" alt="image" src="https://user-images.githubusercontent.com/13975743/61989622-21fe2500-b065-11e9-97cb-01ed3c55184e.png">

[2019-08-02 04:11] #1433 closed

[2019-08-02 04:19] infinitered-circleci commented on #1433
:tada: This issue has been resolved in version 3.1.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v3.1.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-04 02:26] viralS-tuanlv commented on #1438
almost month but not yet see any change

[2019-08-05 02:29] ferkrodriguez98 opened #1450 "problem generating list"
What's going on?

i watched your tutorial on youtube on how to build a react native app in under 15 minutes, and when i generate a list i have some things different.

first, in the video it shows that options appear and they choose between one or two, on my terminal, none appear.

second, if i put this:

✔ What coding style do you want for your list? · Listview
✔ What kind of List would you like t

[2019-08-05 11:41] rahultatvasoft opened #1451 "Clear Redux Store"
@ruddell how to clear store or flush all data stored in Props?

[2019-08-05 16:39] Lucas-Geitner opened #1452 "React native I18 is deprecated"
**What's going on?**

https://github.com/AlexanderZaytsev/react-native-i18n
This library is deprecated in favor of react-native-localize. You can use react-native-localize with I18n-js (but also with react-intl, react-i18next, etc. The choice is yours!)

I was trying to update react-native i18n for react-native 60, and I find out the package was depreciated !

It's would be good to choose a new on

[2019-08-05 16:57] ruddell commented on #1451
To clear the store, you can increase the `reducerVersion` in [`redux-persist.js`](https://github.com/ruddell/ignite-jhipster/blob/fcd53047a10d4ce86dc2fb8d71e0fd9c377c0e51/boilerplate/app/config/redux-persist.js#L7) of an Ignite JHipster app (or `ReduxPersist.js` for an Andross app).  Or if you only want to reset only a single key, you can add a reset method [like this example](https://github.com/r

[2019-08-06 00:35] jamonholmgren commented on #1452
@Lucas-Geitner Can you post the results of `ignite doctor` please?

[2019-08-06 09:22] Lucas-Geitner commented on #1452
I eject and remove all the ignite related stuff sorry @jamonholmgren !

Still thanks for the great job !

[2019-08-06 14:21] lander854 commented on #1448
use sudo [rest of the command]

[2019-08-07 07:20] BirdsAndFish commented on #1448
thank you

[2019-08-07 16:16] stelselim commented on #1285
Did you figure out? I am having the same issue.
it works with Xcode, but not in terminal (react-native run-ios)

[2019-08-08 10:24] FrederickEngelhardt opened #1453 "Ignite 3.1.6 (and previous versions) failure with detox option"
---
What's going on?
Running `ignite new MyApp` and checking detox results in a chain of failures resulting in the CLI exiting the build.

---
Steps to reproduce
1. `yarn global ignite@latest (3.1.6)`
2. `ignite new MyApp`
3. `Tick bowser`
4. `Tick detox`

#### Description of Error:
Ignite downloads React Native 0.60.4 and then fails with detox.

#### Error
`Command failed <MYPATH>/detoxTest/detox

[2019-08-09 10:42] kbzowski opened #1454 "postinstall works only on iOS"
Creating a new project with ignite-bowser on Windows 10 ends with an error:.

[code]

I guess the blame is on the postinstall script, which assumes that cocoapods is installed (which is available AFAIK only for iOS).

`"postinstall": "solidarity && jetify && (cd ios; pod install)",`

Removing last part of the script fixes the problem.

---
`ignite doctor` results:

[code]

[2019-08-09 18:28] ruddell commented on #1451
Closing since this looks solved, feel free to add more comments

[2019-08-09 18:28] #1451 closed

[2019-08-10 14:03] RaitoBezarius commented on #1454
I confirm this issue, I'm on Linux, I get this error before the postinstall makes node gives up: `sh: pod: command not found`

[2019-08-10 14:04] RaitoBezarius commented on #1454
Related to: https://github.com/infinitered/ignite-bowser/issues/231

[2019-08-10 14:19] RaitoBezarius commented on #1454
I implemented a fix in the boilerplate "bowser-postfinall-fixed" to install with: `ignite new MyProject -b bower-postinstall-fixed`: https://github.com/RaitoBezarius/ignite-bowser — I'll open a PR

[2019-08-10 17:42] mikasaloli commented on #1448
`🔥 igniting app PizzaApp                                                                                                √ Which boilerplate would you like to use? · ignite-bowser                                                              √ using the Infinite Red boilerplate v3 (code name 'Bowser')                                                            √ added React Native 0.60.4 in 140.06s

[2019-08-10 17:43] mikasaloli commented on #1448
![asd](https://user-images.githubusercontent.com/32994521/62825127-f9336f00-bbd0-11e9-95b8-a95677309e0e.PNG)
how about mine i tried to change pc but same result

[2019-08-11 00:56] FrederickEngelhardt commented on #1454
@kbzowski for react-native 0.60.4 you will need cocoapods for iOS linking and AFAIK iOS development.

This case could be solved by adding postinstall script which detects if the user either has linux or darwin. Or we could detect if pod exists in path.

Example:

*create a file called postinstall.js*
[code]
In package json under scripts we would replace postinstall like this:
```"postinstall": "no

[2019-08-12 22:05] FrederickEngelhardt commented on #1453
Closing. This was related to having a git conflict with the wix/applesimutils.

Resolved this by removing the wix tap and fresh installing.

Helpful link:
https://github.com/wix/AppleSimulatorUtils/issues/48

[2019-08-12 22:05] #1453 closed

[2019-08-13 16:34] geekz-reno commented on #1448
same here, please help,

[2019-08-14 12:05] affanhashone opened #1455 "React native app crash after upgrading to 60 in release mode"
App crash on upgrading to 60 in release mode

The app crash when changing the bottom tab navigator.

[2019-08-16 17:02] Christop406 commented on #1380
@jamonholmgren is this still the recommended way to fix this issue? I was able to get it to work using your commands but not using the recommended installation instructions on the README

[2019-08-19 12:30] AliYar-Khan opened #1457 "Manifest merger failed"
---
What's going on?
i created an ignite project and when i try to run this on android emulator it gives me this error :

	is also present at [androidx.core:core:1.0.0] AndroidManifest.xml:22:18-86 value=(androidx.core.app.CoreComponentFactory).
	Suggestion: add 'tools:replace="android:appComponentFactory"' to <application> element at manifestMerger1494032060779892511.xml:7:5-9:19 to override.

--

[2019-08-20 09:40] HarryTech061 commented on #1457
The same issue to me on the newest version of ignite cli when generating Andross in Ubuntu 18.04

[2019-08-21 21:33] abuslah commented on #1448
asme here ! HELP LEASE !

[2019-08-21 22:59] markrickert commented on #1448
@mikasaloli and @geekz-reno, looks like you guys have a different issue. Looks like yarn package manager isn't installed.

try following the instructions here and trying again: https://yarnpkg.com/lang/en/docs/install/#mac-stable

[2019-08-21 23:00] markrickert commented on #1448
The original issue was solved by running the command in `sudo` mode. Closing this isssue.

[2019-08-21 23:00] #1448 closed

[2019-08-22 06:46] AliYar-Khan commented on #1457
@HarryTech061 https://github.com/facebook/react-native/issues/25292?source=post_page-----4ba5cdd33388----------------------#issuecomment-502973498 check here issue is resolved !

[2019-08-22 06:47] #1457 closed

[2019-08-22 10:42] sam-ong commented on #1285
@stelselim Hi did you get your problem fixed? Running into the same issue

[2019-08-23 12:14] tayfunyasar commented on #1457
I'm having same error.

System
  platform           linux

  arch               x64
  cpu                12 cores                           Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
  directory          /home/tayfun/dev/gitlab/instaton

JavaScript
  node               8.10.0       /usr/bin/node
  npm                6.11.2       /usr/local/bin/npm
  yarn               1.17.3       /usr/local/bin/yar

[2019-08-23 12:21] tayfunyasar opened #1458 "AndroidManifest merger error on first run"
I have started new project from scratch.

I'm having error during first run.

Here it is my doctor result.

[2019-08-23 13:58] tayfunyasar opened #1459 "Why do "ignite new <project>" creates ".git" directory?"
I tried 2 times to be sure. Why does ignite creates .git directory?

[2019-08-23 14:11] tayfunyasar commented on #1458
I have added props below after read https://github.com/material-components/material-components-android/issues/193#issuecomment-450471987 but i got another errors.

added into "gradle.properties"

errors:

[2019-08-23 14:18] tayfunyasar commented on #1458
I have added "jetifier" as dev dependency and script command. It worked.

https://github.com/kmagiera/react-native-gesture-handler/issues/647#issuecomment-509862615

[2019-08-23 18:00] ruddell commented on #1459
It's the default for new Ignite apps.  You can pass `--skip-git` to `ignite new` to skip initializing a git repository, or delete the `.git` folder if you already started an app.

[2019-08-26 10:28] rahulserver opened #1460 "ignite-andross was not able to be installed. Is it a valid NPM module?"
Just gave ignite cli a try and when I do a `ignite new sometestapp`, I get this error trace on windows 10:

[code]
---
What's going on?

---
Steps to reproduce
 Just create a new app on windows and proceed with the cli wizard steps.
---
`ignite doctor` results:

[code]

[2019-08-27 16:42] zucchinho opened #1461 "ignite g navigator ... "Cannot read property 'length' of undefined""
---
What's going on?

CLI is throwing a TypeError after the first prompt when running "ignite g navigator navName".

---
Steps to reproduce

At prompt type "ignite g navigator navName"
When prompted for "What type of navigator do you want to create?" select any option,

An error is thrown before the second prompt:
TypeError: Cannot read property 'length' of undefined

  - navigator.js:134 Command.

[2019-08-27 16:49] zucchinho commented on #1461
closing as this is an issue with the bowser boilerplate, have submitted bug report there

[2019-08-27 16:49] #1461 closed

[2019-08-28 10:23] sahilvicesoftware commented on #1458
Getting the same error

[2019-08-29 07:01] tonystaark commented on #1285
same issue

[2019-09-01 19:33] gazedash opened #1463 "Why use plugins? (Question)"
### it is unclear from the docs or plugins README why would I use a plugin and do I need to?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus poi

[2019-09-02 01:24] moss1mo commented on #1458
I'm getting the same error, hopefully someone can help us with this error.

[2019-09-02 11:09] 0gebey opened #1464 "Missing Android while trying to start new project"
Hello guys , I'm just trying to start Ignite , I downloaded it via yarn on windows.I'm writting ignite new MyNewIgnite to the cmd console but I got an issue like;

🔥 Setting MyNewIgnite on FIRE! 🔥
-----------------------------------------------
  (                  )   (
  )\ )   (        ( /(   )\ )    *   )
 (()/(   )\ )     )\()) (()/(  ` )  /(   (
  /(_)) (()/(    ((_)\   /(_))  ( )(_))  )\
 (

[2019-09-02 16:40] ruddell commented on #1464
Please update Ignite to the latest version.  You are on `v1.13.0` where the latest version is [`v3.1.6`](https://github.com/infinitered/ignite/releases/tag/v3.1.6).  That should solve several problems.

[2019-09-02 22:53] tk999 opened #1465 "Cannot read property 'includes' of undefined"
### Hey there! Ignite CLI seems to be having a problem, eh?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus points for a repro app)
- Run `ignit

[2019-09-04 09:29] ashish9342 commented on #1139
In `react-native: 0.60.5`

Go to . > [Your Project] > ios > [Your Project].xcodeproj > project.pbxproj.

Change all the port 8081 to 8089(example)

[2019-09-04 21:26] kevinvangelder commented on #1459
Git is a powerful (and industry-standard) version control system. It is included by default because the majority of users will want to use it with their app and it's more convenient for it to be done automatically for them. As ruddell mentioned above, you can easily skip git or remove it after you have generated your project.

[2019-09-04 21:26] #1459 closed

[2019-09-04 21:28] kevinvangelder commented on #1463
Plugins were part of our answer to complaints we got about Ignite Andross, which included everything by default. In the end they didn't get maintained and most of them are now defunct, but we've found a better balance and only include the things that a majority of users want.

[2019-09-05 12:34] gazedash commented on #1463
@kevinvangelder Thanks for clarification. But currently what is the use case to use a plugin?
The only use case I can see if I want to make a boilerplate on top of ignite, but even then I don't see why I would use plugins

[2019-09-06 18:27] samtoya commented on #288
Any update on this please... I need to get this working in my app, it's holding me back for production launch. Any help on this would be greatly appreciated. Thanks.

[2019-09-08 08:00] affanhashone commented on #1279
@jamonholmgren  Did You Find any ignite base web project ?

[2019-09-08 10:20] affanhashone opened #1466 "andross update to latest vesion ?"
### Hey there! Ignite CLI seems to be having a problem, eh?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus points for a repro app)
- Run `ignit

[2019-09-08 10:21] affanhashone commented on #1438
Any Update About Andross ?

[2019-09-11 19:09] tayfunyasar commented on #1466
I also need to update my project & dependencies using cli.

Or should we update & upgrade packages without ignite?

[2019-09-13 10:36] nervouscat commented on #1438
any news?  Inginte is an amazing boilerplate tool

[2019-09-17 18:16] ODINA101 commented on #1285
same issue

[2019-09-17 18:41] stelselim commented on #1285
Just quit searching, i jumped into Flutter. Its much more stable and hasslefree. I would recommend

[2019-09-17 18:57] ODINA101 commented on #1285
@stelselim react native is more flexible to design app

[2019-09-17 19:17] kevinvangelder commented on #1438
The update for Bowser was shipped August 1st. Andross is in community support mode, which means most of the updates will come from community contributions.

[2019-09-17 19:26] kevinvangelder commented on #1463
We used them for adding and configuring optional packages like `react-native-maps`, which had substantial setup steps that had to be exactly followed in order to get it working and it worked way better to have it automated so you couldn't screw it up (as long as we maintained the package to keep up with the constantly changing setup steps).

[2019-09-17 19:29] #1438 closed

[2019-09-17 19:32] kevinvangelder commented on #1454
#1456 Is an initial fix for this issue. Hopefully we'll get a chance to implement a more robust fix in the near future.

[2019-09-17 19:39] kevinvangelder commented on #1440
Hey, sorry no one responded to you. Unfortunately there is no mix-and-match as we use boilerplates to generate your app and that would require maintaining boilerplates with every possible combination of the various options. There may be a community boilerplate that more closely resembles the options that you are looking for.

[2019-09-18 18:13] paulvales commented on #1458
Getting the same error

[2019-09-25 14:19] imadmk commented on #1454
I successfully created a project with Linux Bash Shell on windows 10. Need some works if you never install it before.

[2019-09-25 22:56] jamonholmgren opened #1467 "README: Create graphic for Jon Ruddell quote"
In the README, we have this great quote:

I'd like to create a graphic for Ignite and embed it in the README.

[2019-09-25 22:57] #1463 closed

[2019-09-25 22:58] GantMan commented on #1467
Yes!  I love quote cards!   They really make stuff beautiful!   Here's how much they livened up a separate post.

![image](https://user-images.githubusercontent.com/997157/65645670-f8f30580-dfbd-11e9-95e6-56ec1e3a4b40.png)

[2019-09-26 13:54] emrekca opened #1468 "Check the render method of 'NavigatorReduxWrapper'."
I've been dealing with this problem for 2 days, After creating a new project, I get this error.

Thanks for your help.

<img width="309" alt="Ekran Resmi 2019-09-26 16 49 18" src="https://user-images.githubusercontent.com/10177802/65693853-9c571f80-e07d-11e9-8618-5d41fe12382a.png">

`ignite doctor` results:

`System
  platform           darwin

  arch               x64
  cpu                8 cores

[2019-09-26 14:48] sobiso commented on #1468
I have the same problem/error

[2019-09-26 15:40] ZulianTiger commented on #1468
I have the same problem as of today, created a project 2 days ago and it worked, don't know what changed within the past 2 days

[2019-09-26 17:01] ZulianTiger commented on #1468
I solved the problem by editing the create-redux-container.js file inside the node-modules folder. Basically I needed to get rid of everything that had to do with Themes to get it working.

Here is my create-redux-container.js file, it might help someone:
https://pastebin.com/YCM0C8Uj

[2019-09-26 18:31] #1440 closed

[2019-10-01 00:03] jamonholmgren commented on #1450
Hey @ferkrodriguez98, apologies, that video is quite old at this point. You'll want to follow some of the newer Bowser tutorials like this one by @robinheinze :

https://shift.infinite.red/creating-a-trivia-app-with-ignite-bowser-part-1-1987cc6e93a1

[2019-10-01 00:03] #1450 closed

[2019-10-01 00:04] jamonholmgren commented on #1452
Good luck with the project! <3

[2019-10-01 00:04] #1452 closed

[2019-10-01 00:05] jamonholmgren commented on #1380
@Christop406 Sorry about the delay, I didn't see your comment until now. How is it with the latest Bowser?

[2019-10-01 00:07] jamonholmgren commented on #288
@samtoya Can you post the results of `ignite doctor` please? If you're still having trouble with it, that is.

[2019-10-01 00:07] jamonholmgren commented on #1279
@affanhashone Not at this time.

[2019-10-01 00:09] jamonholmgren commented on #1285
This issue seems to be more of a catch-all for many different types of issues. I'm going to lock it for now. If you have a particular issue and especially if you can provide a repro, feel free to file it in the appropriate place:

https://github.com/infinitered/ignite/issues for CLI issues
https://github.com/infinitered/ignite-bowser/issues for issues with Ignite Bowser boilerplate
https://github.

[2019-10-01 06:56] LzazSports commented on #1279
@jamonholmgren  i created my own using ignite. Thanks

[2019-10-01 10:18] samtoya commented on #288
I'm unable to run `ignite doctor` successful, I have the ignite video plugin installed.

I'm using ignite-cli@3.1.6 .

Here's my output;

`
Error: Error: Couldn't load command video -- needs a "run" property with a function.

  - command-loader.js:53 Object.loadCommandFromFile
    [lib]/[ignite-cli]/[gluegun]/build/loaders/command-loader.js:53:15

  - plugin-loader.js:40
    [lib]/[ignite-cli]/[gl

[2019-10-03 22:57] antonabyzov opened #1470 "RN60+ support"
Hey guys, do you suggest supporting new version of RN60+ please?

[2019-10-05 08:04] milesmeow commented on #1458
I'm getting the same error.  It happens when I add the Dev Screens to my project.  If you don't have Dev Screens it builds okay.

[2019-10-07 09:13] ahuseyn opened #1472 "'ignite' is not recognized as an internal or external command, operable program or batch file."
I have an issue seems to insolvable. I installed ignite cli as described. But after install any `ignite `command returns same answer:
**'ignite' is not recognized as an internal or external command,
operable program or batch file.**

Then I tried to install cli via npm but I got same results. My system is windows 10. There are no problem with dependencies because I installed all of them.

Thank yo

[2019-10-07 15:56] jamonholmgren commented on #1472
Hey @ahuseyn, can you try running it with `npx` instead?

[code]

[2019-10-07 16:58] joeyfigaro commented on #1380
@jamonholmgren

OS: OS X 10.15 Beta (catalina)
package manager: yarn

FWIW

[code]

[2019-10-07 17:02] joeyfigaro commented on #1380
@jamonholmgren changing node version from `12.10.0` to `11.10.0` got me past the previous failure involving `process.chdir`

[2019-10-07 17:24] joeyfigaro commented on #1380
@jamonholmgren @Christop406

Was able to generate my first ignite bowser project using node `11.10.0` and refusing detox tests. Including detox causes another failure.

[2019-10-08 11:14] samtoya commented on #288
@jamonholmgren Here....:

System
  platform           darwin

  arch               x64
  cpu                4 cores                                         Intel(R) Core(TM) i5-5250U CPU @ 1.60GHz
  directory          /Users/samtoya/Code/TechNation/RN/aftownmusic

JavaScript
  node               10.16.0      /Users/samtoya/.nvm/versions/node/v10.16.0/bin/node
  npm                6.11.3       /Use

[2019-10-11 18:00] #1028 closed

[2019-10-11 18:08] infinitered-circleci commented on #1028
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-11 18:59] jamonholmgren commented on #1458
Is this an Andross-specific bug? It seems to be. If so, we can move this issue over to the ignite-andross repo.

[2019-10-11 19:01] jamonholmgren opened #1473 "ignite doctor -- no generators listed"
Despite having generators installed (on an Ignite Bowser project), `ignite doctor` doesn't show them.

![image](https://user-images.githubusercontent.com/1479215/66677543-b87ec300-ec1e-11e9-813b-aa861ceb83c3.png)

[code]

We need to dig into this and figure out why.

[2019-10-11 19:11] jamonholmgren opened #1474 "ignite add <package> needs a better error when package not found"
When running `ignite add push-notifications` (should be singular, not plural), I got this scary error:

![image](https://user-images.githubusercontent.com/1479215/66678181-27105080-ec20-11e9-9490-a86970221cc2.png)

We need to protect against this and provide nicer output to the developer.

[2019-10-11 19:27] arvidboivie commented on #1474
I can take a look at this

[2019-10-11 20:58] milesmeow commented on #1458
I've actually had to do the following in order to build for Andross...
https://github.com/material-components/material-components-android/issues/193#issuecomment-538702727

[2019-10-11 21:09] #1474 closed

[2019-10-11 21:16] infinitered-circleci commented on #1474
:tada: This issue has been resolved in version 3.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v3.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-13 20:00] arielrodrigues commented on #1472
Hi @ahuseyn, I am not a windows user but I guess that it can be solved putting ignite-cli in your Environment Variables. Maybe you missed that step? Can you try to add it to your Environment Variables and tell us if it solves your problem?

[2019-10-14 09:41] #1472 closed

[2019-10-14 11:21] arielrodrigues commented on #1473
There is someone working on this issue? I would like to help.

[2019-10-14 20:34] tudorpintea commented on #1380
i downgraded to node 11.10.0 but i have the same failure :(
Does anyone have another solution?
Thanks !

[2019-10-15 16:18] robinheinze commented on #1473
@arielrodrigues Go for it! Let us know if you have any questions!

[2019-10-16 08:41] RamyEl-basyouni commented on #1458
Hey all, as @tayfunyasar said, It worked for me:
if you generate ignite solution with dev screens, you will gave to add to "gradle.properties" file
[code]
and running:
[code]

[2019-10-16 19:46] MarkRabey opened #1477 "Error creating new project"
---
What's going on?

When trying to create a new project, I receive errors during the installation process. It take about 1 minute on the "adding React Native" step, then on the "adding ignite-bowser" step, I get an error that says `✖ ignite-bowser was not able to be installed. Is it a valid NPM module?`. Next there is an error shown relating to `react-native-gesture-handler`.

---
Steps to repro

[2019-10-21 02:59] dperez3 commented on #1477
Same...
[code]

[2019-10-21 14:32] elirangoshen opened #1479 "ignite doctor failed to run"
when i run ignite doctor im getting the following error:
`  Error: Error: Couldn't load command component -- needs a "run" property with a   function.`

I'm using ignite cli v3.2.1
java version 1.8.0_101

let me know if there is more info i should add

[2019-10-21 22:11] #1479 closed

[2019-10-21 22:12] elirangoshen commented on #1477
i solved it by validate cocoapods is latest version an xcode is located app /Application dir

and than run this command : sudo xcode-select -s /Applications/Xcode.app/Contents/Developer

[2019-10-23 09:08] gsushil999 commented on #1221
Is there any solution yet how to solve this issue

[2019-10-24 19:29] #1473 closed

[2019-10-24 19:37] infinitered-circleci commented on #1473
:tada: This issue has been resolved in version 3.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v3.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-26 23:00] amrox commented on #1477
I'm seeing this too. I think my Xcode is fine.

I selected "false" for Detox.

[code]
[code]

[2019-10-28 13:51] kopax opened #1484 "Example gives cannot read property 'includes' of undefined"
Hi, I have just discover ignite and wanted to give it a try.

First of all, [this example](https://github.com/infinitered/ignite#use-ignite-andross-infinite-red-andross-boilerplate) is not working, it gives `✖ Cannot read property 'includes' of undefined`
[code]

Also, I see that ignite installed react-native 0.59.9 which is quite old. Are they plan to upgrade or can we already upgrade to >= 0.60.

[2019-10-28 13:53] kopax commented on #1484
Also have this:

[code]

Looking at https://github.com/AlexanderZaytsev/react-native-i18n , it seems that the package is deprecated

[2019-10-28 16:13] jamonholmgren commented on #1477
@amrox Try upgrading your CocoaPods to the latest:

[code]

[2019-10-28 16:20] jamonholmgren opened #1485 "Generated boilerplate needs to be updated"
The boilerplate that is generated with `ignite plugin new ignite-my-boilerplate` is hopelessly out of date.

Link: https://github.com/infinitered/ignite/blob/master/src/templates/plugin

1. The React Native version is really old
2. It uses `context` rather than `toolbox`
3. It uses `parameters.third` [which is wrong](https://github.com/infinitered/ignite/blob/dd71788cdef0efa1ba880c2491a41c588c2d9e

[2019-10-28 17:41] MarkRabey commented on #1477
Thanks @jamonholmgren! That did the trick.

[2019-10-28 17:41] #1477 closed

[2019-10-29 11:06] elirangoshen commented on #1477
@jamonholmgren worth to update docs maybe :)

[2019-10-29 15:22] jamonholmgren commented on #1279
Hey folks, we have a new experimental web boilerplate using Next.js. Do `ignite new MyApp -b next-js` to try it out.

We don't have MobX-State-Tree or even TypeScript on it yet, but plan to evolve it over time. Next.js is an awesome web framework.

[2019-10-29 15:24] jamonholmgren commented on #288
Hey @samtoya , please file a new issue on [Ignite Andross](https://github.com/infinitered/ignite-andross). Thanks!

[2019-10-29 15:32] jamonholmgren opened #1487 "Add `ignite-cli` binary command to allow running with NPX"
We need to add a new binary in `./bin` called `./bin/ignite-cli` to allow Ignite to be run with NPX.

It can just require the other `./ignite`, which should work to trigger the CLI.

[code]

Make sure to `chmod +x ./bin/ignite-cli`, and test it with `./bin/ignite-cli doctor` to ensure parameters are passed.

The `files` property in package.json shouldn't need to change, as it already includes `./b

[2019-10-29 15:52] jamonholmgren commented on #1221
I'd recommend reading this, @gsushil999:

https://reactnavigation.org/docs/en/redux-integration.html

[2019-10-29 16:33] jamonholmgren commented on #1380
If you run ignite with `--debug` you'll see more verbose logs which might give you more info to debug this.

[2019-10-29 17:20] jamonholmgren opened #1490 "Clean up ignite doctor generators output"
#1478 fixed the generators not showing up, but the output leaves a little to be desired:

![image](https://user-images.githubusercontent.com/1479215/67791958-91edc400-fa35-11e9-87bf-3ac0646af09f.png)

Let's clean this up and make it look good.

@mikaoelitiana or @arielrodrigues, are you interested in doing this?

[2019-10-29 17:57] mikaoelitiana commented on #1490
Sure, I will check that

[2019-10-30 07:21] anusha5695 commented on #1487
@jamonholmgren : I would like to give it a try

[2019-10-30 07:42] anusha5695 commented on #1487
@jamonholmgren : PR: https://github.com/infinitered/ignite/pull/1492. Is this what is required?

[2019-10-30 15:14] adrianhartanto0 commented on #1208
Should this be boilerplate specific command since each boilerplate has its own file structure? @jamonholmgren

[2019-10-31 12:46] neel280394 opened #1493 "To install it, you can run: npm install --save /Users/baps/.npm/_npx/979/lib/node_modules/ignite/src/app/index.js"
### Hey there! Ignite CLI seems to be having a problem, eh?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus points for a repro app)
- Run `ignit

[2019-10-31 16:10] mikaoelitiana commented on #1490
@jamonholmgren, it would look like this :

![Capture d’écran 2019-10-31 à 17 10 11](https://user-images.githubusercontent.com/674667/67964899-599ae100-fc01-11e9-8ad6-77a1ab0c4224.png)

[2019-10-31 18:19] jamonholmgren commented on #1493
Hey @neel280394, please follow the issue template. Thanks!

[2019-10-31 18:19] #1493 closed

[2019-11-01 23:10] jamonholmgren commented on #1208
@adrianhartanto0 Yeah, you'd just copy and paste the `generate` folder and make a `destroy` folder (and `commands/destroy/destroy.js`).

https://github.com/infinitered/ignite-bowser/tree/d0cae5484a96f4d686ab61c87428ec5749b194d6/commands

I'd wait a bit, though, as we're revamping that folder structure a bit right now.

[2019-11-02 21:54] TnasuH opened #1498 "Ignite-cli can not create a new project"
Hi there,

I cannot create a new project via ignite-cli. Could you help me? Where is there problem? I tried fix it but I can't.
[code]

[2019-11-02 22:47] TnasuH commented on #1498
Sorry guys.
I found solution.
The problem was caused by the macOS update to Catalina from Mojave.

I **re-installed** the following installation list using **sudo**. If try without sudo, problem is not solved.

node.js 13.0.1 (Latest)
brew install node
brew link --overwrite node
brew install watchman
sudo gem install cocoapods
brew install yarn
sudo yarn global add ignite-cli

[2019-11-02 22:47] #1498 closed

[2019-11-03 02:56] TnasuH opened #1499 "Navigation white screen problem"
- When create a new app and start the app. Click 'Continue' button and screen is white..
- CMD+R screen is normal. and click the back button. screen problem again.
- CMD+R screen is normal again.

[code]

[code]

[2019-11-03 04:19] samtoya commented on #288
Okay.. @jamonholmgren

Thanks.

[2019-11-03 06:10] jainthedestroyer opened #1500 "ignite-bowser does not have a boilerplate.js"
---
What's going on?

🔥 igniting app Temp3
✖ ignite-bowser does not have a boilerplate.js
error installing boilerplate
---
Steps to reproduce
`ignite new Temp3 --boilerplate bowser --no-detox`
---
`ignite doctor` results:

System
  platform           linux
  arch               x64
  cpu                4 cores      Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz
  directory          destroyer    /home/des

[2019-11-03 10:31] TnasuH commented on #1500
Me too.

[2019-11-04 09:30] Gorhom commented on #1500
should be fixed now https://github.com/infinitered/ignite-bowser/issues/290 👍🏿

[2019-11-04 11:47] whalemare opened #1501 "Template not found"
### What's going on?
Can not generate screen

### Steps to reproduce
[code]
showed next logs:

[code]

### `ignite doctor` results:
[code]

[2019-11-04 11:49] whalemare commented on #1501
Some additional output of `node_modules/ignite-bowser` directory
[code]

[2019-11-04 18:22] ruddell commented on #1499
`react-native-screens` was causing this. It was temporarily disabled in https://github.com/infinitered/ignite-bowser/commit/1c5785e0a7b29399456db5aacc3befa7d720af37, then fixed in https://github.com/infinitered/ignite-bowser/pull/289 (released as v4.11.0)

[2019-11-04 19:05] CezaryKnapik commented on #1501
Same here

[2019-11-04 23:54] jamonholmgren commented on #1501
@whalemare Thanks for the detailed issue -- I'm pushing up a hotfix now which will be version 4.11.1. Sorry about the trouble! cc @CezaryKnapik

To fix, just update your `ignite-bowser` like so (once it deploys):

[code]

[2019-11-04 23:56] jamonholmgren commented on #1499
@TnasuH Can you test with the latest Ignite Bowser?

[2019-11-05 00:08] #1500 closed

[2019-11-05 00:08] jamonholmgren commented on #1499
https://github.com/infinitered/ignite-bowser/releases/tag/v4.11.1

[2019-11-05 00:08] #1499 closed

[2019-11-05 00:38] #1501 closed

[2019-11-05 02:49] noumanDev commented on #1358
When i use --debug i found that npx was not installed
`npm install -g npx`
fixed the problem

[2019-11-05 02:58] jamonholmgren commented on #1358
Cool, thanks @noumanDev !

[2019-11-05 03:00] jamonholmgren commented on #1358
@noumanDev Would you want to submit a PR where we check if `npx` is installed and provide a nice friendly error message? Something like this one:

https://github.com/infinitered/ignite/blob/b3b7538204aa856ede404afa344146b74a669bca/src/cli/check.js#L16-L22

... but not optional (so remove the line with `optional: true`).

[2019-11-06 02:42] manhnguyenba commented on #905
Perfect Solution! I searched 3 days for this issue but can't find a solution. Finally I remove react-native and install react-native-cli. It worked. Thank you!

[2019-11-06 08:13] TnasuH commented on #1499
@jamonholmgren I couldn't test it sorry. I will test it at weekend.

[2019-11-06 16:48] jamonholmgren commented on #905
You also don't need to install `react-native-cli` anymore to work with Ignite, as we now use `react-native` binary with `npx`.

[2019-11-06 22:37] conradkirschner opened #1502 "[Bug] Can not Create new Project on Windows 10"
### Can not create new Project
---
What's going on?
I've installed ignite globally on Windows 10.
Then I tried to use the wizzard to create a new project

---
- adding ignite-andross
- installing boilerplate
- using the Infinite Red boilerplate v2 (code name 'Andross')
√ using the Infinite Red boilerplate v2 (code name 'Andross')
- adding React Native 0.59.9 (30 seconds-ish)
√ added React Native 0

[2019-11-06 23:16] conradkirschner commented on #1502
to get it work, i had to install it **NOT GLOBAL** should be written into readme, or fixed (this only apears to andross)

[2019-11-10 14:56] egemenkayalidere commented on #1502
I have the same issue. How to solve it ?

[2019-11-10 15:14] amirping opened #1503 "No splash screen for android - ignite bowser"
### splash screen for android !!!
i use ignite for the first time, so maybe I'm mistaken, i searched for the issue without success.

once the application created, there is no splash screen added.
tested on android , I got a white screen then the application load.

`ignite doctor` results:
System
  platform           linux
  arch               x64
  cpu                8 cores          Intel(R) Core

[2019-11-10 15:43] egemenkayalidere commented on #1502
I found a solution. I reinstalled homebrew, node & npm, ignite-cli, react-native-cli and it worked !

[2019-11-11 19:04] astralmedia opened #1504 "Cannot read property 'dependencies' of undefined"
On windows 10, trying to run ignite, I get the following error:

[code]

Thanks for any advice

[2019-11-11 20:19] #1504 closed

[2019-11-12 16:06] Venipa commented on #1502
this issue is related to Windows 10, homebrew is for mac afaik so this is still unsolved for op.

im currently having the same issue on Windows 10 1903, the setup just stops afterwards
![image](https://user-images.githubusercontent.com/17952364/68688279-c356ab80-056e-11ea-96fc-1d1737350dfb.png)

[2019-11-12 17:06] egemenkayalidere commented on #1502
Yes, you are right and I know the homebrew is for mac too. I suggest you guys to use this way that you reinstall node & npm, ignite-cli, react-native-cli to solve your case. Forget homebrew.

[2019-11-13 13:59] grappesm opened #1505 "Andross is not actual"
I ran simple:

ignite new MyProject
Output:
[code]
After that I started server *yarn start"  (which was OK), and I ran "react-native run-android" which causes this problem:

[code]

`ignite doctor` results:

[code]

[2019-11-14 02:33] masonlin commented on #1502
I have the same issue, and follow your suggest to uninstall all of those packages and reinstall to solve it. Thank you.

[2019-11-15 21:54] vzpintor commented on #435
Somebody has an example from authentication flow with ignite bowser, I'm try to use this flow https://reactnavigation.org/docs/en/auth-flow.html but, not working it.

I'm relative new using ignite and I don't have much idea that how can I it

Please somebody that help me

[2019-11-20 19:21] thezenvan opened #1508 "props.navigation.navigate stops working after clicking Firebase Dynamic Link"
**What's going on?**

In welcome screen run Firebase Authentication sendSignInLinkToEmail method which sends an email with a link. Go to email and click the link, it opens the app back to the welcome screen but when clicking a button that should navigate to another screen the button is receiving the tap (can see logged message in console) but navigate function doesn't do anything.
When the email l

[2019-11-24 14:35] whalemare opened #1509 "Failed to add React Native 0.61.2"
## What's going on?
Trying to create new app, but it is failed with error `failed to add React Native 0.61.2`

## Steps to reproduce
[code]

## `ignite doctor` results:

[code]

P.S. Guys, I am opened about 2 issues like this for all the time. Can you please create Docker image on CI (or something else) that can execute command `ignite new PizzaApp` and wait until success on every new version? It

[2019-11-24 14:43] whalemare commented on #1509
I run this via `--debug` and see error `Unable to locate the CocoaPods.app application bundle`.
I am just skip it and install it manually.

[2019-11-24 14:43] #1509 closed

[2019-11-26 23:23] MossP commented on #1508
Sorry I don't have an answer but I'm experiencing a strange issue also quite similar where the nav stops working after a fast refresh has occurred.

I'm curious if they are the same issue. Are you able to navigate after a couple of fast refresh auto updates?

[2019-11-27 16:04] thezenvan commented on #1508
I'm able to navigate after a reload so as a workaround for now I implemented this module https://www.npmjs.com/package/react-native-restart to force a reload

[2019-11-29 17:07] moumnimohamed opened #1510 "Command failed : gradlew.bat app:installDebug. when run react-native run-android"
after installing  the ignite project i launch the emulator and  i execute react-native run-android  but it generate this error
![error](https://user-images.githubusercontent.com/21304554/69883121-0d5fc100-12d3-11ea-9581-347a5dcde753.PNG)

[2019-12-03 02:22] #45 closed

[2019-12-03 10:49] tayfunyasar opened #1511 "console.tron.log is undefined"
ERROR:

package.json
[code]

I think Reactotron dependencies should be in prod dependencies. What do you think?

[2019-12-03 11:18] tayfunyasar commented on #1511
I commented out bold sections. And it worked.

App/Redux/ScreenTrackingMiddleware.js

import { NavigationActions } from 'react-navigation'

[code]

[2019-12-03 11:20] tayfunyasar commented on #1511
there is a plugin for it. Ignite shouldnt require any extra plugin.

https://github.com/infinitered/babel-plugin-ignite-ignore-reactotron

[2019-12-03 17:22] ruddell commented on #1511
This only affects the `ignite-andross` boilerplate.  The babel plugin has not been updated since 2017 so I don't think it will work.

You can see how `ignite-bowser` prevents Reactotron crashes in prod in [reactotron.ts#L22-L48](https://github.com/infinitered/ignite-bowser/blob/e8b5d9ed941c3d374b39da0f0b7435918866affc/boilerplate/app/services/reactotron/reactotron.ts#L22-L48). Doing something simi

[2019-12-03 21:09] kevinvangelder commented on #1511
@tayfunyasar Reactotron is purposely excluded from running in production by default because it provides access to behind the scenes information, which if someone discovered in your production app could be harmful to your business (for example, they might be able to bypass payment requirements to access premium content or delete data from your database bypassing user type checks). If you want to ru

[2019-12-04 21:15] dpaulino opened #1512 "Ignite bowser was not able to be installed. Is it a valid NPM module?"
What's going on?
I'm trying to create a new ignite app using bowser but I'm getting an error.
[code]
 Here's the full `--debug` log:
[code]
---
Steps to reproduce

1. Run `ignite new testapp --debug`
---
`ignite doctor` results:
[code]

[2019-12-04 21:24] ruddell commented on #1512
I see in the `stdout ` the error message: `The engine "node" is incompatible with this module. Expected version "^8.10.0 || ^10.13.0 || >=11.10.1". Got "11.0.0"` . It would be nice if Ignite prints this error in a readable format.

Does it work if you upgrade `node` to an acceptable version?

[2019-12-04 21:25] dpaulino commented on #1512
@ruddell I completely missed that due to my unfamiliarity with ignite. Thanks, I'll try updating node.

[2019-12-04 21:27] dpaulino commented on #1512
Updating to node v13.3.0 worked! Thanks again @ruddell!

[2019-12-04 21:27] #1512 closed

[2019-12-05 09:19] quangcanh2975 commented on #1262
It worked for me

[2019-12-09 15:54] adrienthiery opened #1513 "Plugin Removing itself fails"
👋

---
What's going on?

Ignite plugins seems to fail removing themselves (when using `yarn`, anyway).

[code]

`remove.js` relevant part:

[code]

This is very strange because `shelljs_1` is defined with all the methods on. Just `shelljs1.default` is missing.

---
Steps to reproduce

[code]

---
`ignite doctor` results:

[code]

[2019-12-09 21:22] jamonholmgren commented on #1513
Submitted PR @adrienthiery.

[2019-12-10 17:12] #1513 closed

[2019-12-10 17:18] infinitered-circleci commented on #1513
:tada: This issue has been resolved in version 3.3.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v3.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-12 14:48] tsirolnik opened #1519 "ignite g map does nothing"
What's going on?

After running
`ignite add maps`

I am trying to run

`ignite g map <name>`

And nothing happens.

Output:
![image](https://user-images.githubusercontent.com/3106496/70721785-e48df180-1cfe-11ea-9c99-9b43cd852757.png)

---
Steps to reproduce

* Create a project with ignite andross
* Run `ignite add maps`
* Run `ignite g map <mapname>`

---
`ignite doctor` results:

[code]

[2019-12-14 16:29] interfaith opened #1520 "build.gradle"
using ubuntu 19.10 and latest node
https://stackoverflow.com/questions/56803943/manifest-merger-failed-after-import-a-module/56853863#56853863

[2019-12-17 06:28] bepehr opened #1521 "coordinatorlayout download error"
What's going on?
when is run npx react-native run-android i get this error:
info Running jetifier to migrate libraries to AndroidX. You can disable it using "--no-jetifier" flag.
Jetifier found 976 file(s) to forward-jetify. Using 8 workers...

WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018. For more informa

[2019-12-17 07:17] bepehr commented on #1521
I found my solution in this [link ](https://github.com/kmagiera/react-native-screens/issues/213)

[2019-12-17 07:17] #1521 closed

[2019-12-17 13:48] nirre7 commented on #1432
@ferroblesh

Our release build is about 11mb with a bunch of 3rd party libs.

Android: If you release the app as aab instead of apk then you'll reduce the size of the app a lot.
To be able to do that you need to signup for "google app signing".
There are several resources out there https://shift.infinite.red/handling-64-bit-android-builds-for-react-native-2fcd7a2e5c14

[2019-12-26 00:37] immackay opened #1522 "Creation of app with name "Test" fails"
---
When creating a new app using the name "Test", the tests directory, tsconfig.json, and yarn.lock fail to be moved to the parent directory during initialization.

[code]

---
Steps to reproduce:

`npx ignite new Test -b bowser`

Press `y` when prompted for detox tests.

[2019-12-26 00:41] immackay commented on #1522
Looks like this is due to case-insensitive file paths. Perhaps the proto-app directory could be given a different name than the resultant name of the app?

Either way, this is far from a major issue.

[2019-12-26 08:16] tayfunyasar commented on #1511
Thats why i got this error when i run app in debug mode on my real device. Thanks for details.

[2019-12-30 14:00] psaikali opened #1523 "Getting "an error occured while installing ignite-bowser boilerplate." message"
When creating a new app with `ignite-bowser` boilerplate (RN 0.61.2), the first part of the process works fine:

[code]

But then I'm getting an error when the process is trying to install the libraries.

[code]

Thanks for your help!

[2020-01-02 08:08] egemenkayalidere commented on #1511
To solve this problem easily my suggestion is, search in your project for "console.tron.log" and add if condition to check either your project is in DEV mode or not. You can do this simply by using  "__DEV__ && console.tron.log()"

Thanks

[2020-01-03 16:53] radouanedev opened #1524 "Disable persisting data"
Hi guys, do you have any idea on how to disable persisting data definitively ?

[2020-01-06 18:26] okcompewter commented on #1511
I am using ignite-bowser in my project, but ran into this same problem yesterday after making my first release bundle. Like you said, @ruddell , I see the code in [reactotron.ts#L22-L48](https://github.com/infinitered/ignite-bowser/blob/e8b5d9ed941c3d374b39da0f0b7435918866affc/boilerplate/app/services/reactotron/reactotron.ts#L22-L48), but it doesn't seem be mocking out the `console.tron.log` prop

[2020-01-07 19:49] #1487 closed

[2020-01-07 19:56] infinitered-circleci commented on #1487
:tada: This issue has been resolved in version 3.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v3.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-10 17:16] giorgosart commented on #1380
Hey I am facing the same issue here, it seems like the issue is with the `react-native` version that is being installed with `ignite-andross`

![image](https://user-images.githubusercontent.com/1062121/72172370-e2d24f00-33cc-11ea-89a9-8fde46f1bb8c.png)

`error Cannot use React Native CLI to initialize project with version lower than 0.60.0.`

[2020-01-14 16:54] rammmukul opened #1525 "Failed to initialise a new project"
Can not create a new project with bowser.

---
run:
$ ignite new apppp --debug
-select bowser
-say no to Detox tests

CLI output -
[code]

---
`ignite doctor` results:

[code]

[2020-01-18 13:07] rammmukul commented on #1525
At least this page (https://facebook.github.io/react-native/docs/getting-started) does not state any specific version of cocoapods is installed, the doctor result shows 1.5.2 for cocoapods which is slightly old, I used Homebrew to install cocoapods.

I will try installing the latest version and try again, for now I went with Andros instead.

[2020-01-20 06:25] rammmukul commented on #1525
OK, it worked with the latest version of cocoapods on my own I never would have the idea to check version of a package manager. thanks @kevinvangelder .

[2020-01-20 06:25] #1525 closed

[2020-01-22 01:48] JimLynchCodes opened #1527 "TypeError: undefined is not an object (evaluating '_reactNavigation.ThemeColors.light')"
---
What's going on?

I scaffolded a fresh project with this config and am getting an error when I run the project.

![Screen Shot 2020-01-21 at 8 07 53 PM](https://user-images.githubusercontent.com/5354163/72858400-ae914500-3c8e-11ea-9218-6002692ce304.png)

---
Steps to reproduce

`ignite new FunTimesAnd`

`npm i`
`yarn install`

Then I went into the project and tried to run `npx react-native run

[2020-01-22 20:08] mlaco commented on #1527
Hi @JimLynchCodes sorry you're having a problem with Ignite. We will try to reproduce it and help you if we can!

[2020-01-22 20:10] mlaco commented on #1523
Hey sorry you're having trouble @psaikali. We will try to reproduce the issue.

[2020-01-22 20:13] mlaco commented on #1522
Hey @immackay ! Thanks for filing the issue. I've just come off a project and have some time to address some Ignite issues. I can play around with this for a short time, but since it's a very fringe case (as you said), I think it'll be a low priority.

[2020-01-22 20:33] mlaco commented on #1510
Hi @moumnimohamed we'll try to reproduce this issue if we can! It might be helpful to have some more information. Can you run `ignite doctor` and share the output please? Provide any other relevant info also please.

[2020-01-22 20:47] mlaco commented on #1464
Closing as resolved

[2020-01-22 20:47] #1464 closed

[2020-01-23 09:15] moumnimohamed commented on #1510
l just created a new project ,for testing this error , so i gotten this new
![new ignite](https://user-images.githubusercontent.com/21304554/72971009-1ba8f580-3dc9-11ea-9ec3-12ebbae31df3.PNG)

[2020-01-23 17:20] mlaco commented on #1527
Good news! I was able to reproduce this error today! I'm studying the problem now.

[2020-01-23 23:44] fpena commented on #1523
I'm getting this same error when using the latest version, `3.1.5`. My node version is `8.16.0`.

[2020-01-24 19:05] mlaco commented on #1527
I tested with the following setup, but could not reproduce.
[code]

[2020-01-24 19:11] JimLynchCodes commented on #1527
Thanks @mlaco! I was trying it with node v12 and v11. It seems like node v8 is working for you so maybe ignite only supports older versions of nodejs? 🤔

[2020-01-24 20:21] mlaco commented on #1510
Thanks for providing more info! It looks like you're using Ignite Andross. We are currently in "community support" phase of Andross, which means we're happy to review and merge pull requests and release new versions, but we don't use Andross anymore ourselves, so we rely on the community to provide fixes for issues.
If you're interested in our latest and greatest, try out [Ignite Bowser!](https://

[2020-01-24 20:38] mlaco commented on #1527
You're welcome, @JimLynchCodes! It's actually not Ignite causing this problem, it's the Andros boilerplate. We are currently in "community support" phase of Andross, which means we're happy to review and merge pull requests and release new versions, but we don't use Andross anymore ourselves, so we rely on the community to provide fixes for issues.
I recommend you try out [Ignite Bowser](https://g

[2020-01-24 20:38] #1527 closed

[2020-01-24 20:49] mlaco commented on #1520
Hi @interfaith, if you're still experiencing this issue, could you run `ignite doctor` and paste the output here please?

[2020-01-24 20:56] mlaco commented on #1508
Hi @thezenvan have you been able to solve this problem? Let me know if you're still stuck with it 😄

[2020-01-25 20:17] JimLynchCodes commented on #1527
Thanks @mlaco!

Unfortunately, I tried with node v8 and got the exact same error message. 😞

[2020-01-25 20:18] JimLynchCodes opened #1528 ""Invariant Violation: Native module cannot be null."
### Hey there! Ignite CLI seems to be having a problem, eh?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus points for a repro app)
- Run `ignit

[2020-01-25 20:21] JimLynchCodes opened #1529 "Invariant Violation: Native module cannot be null." on Fresh Bowser Scaffold"
### Hey there! Ignite CLI seems to be having a problem, eh?

Scaffolded a project with: `ingite new MyNewIgniteBowser`
and chose Bowser with the e2e testing.

When I run `react-native run-ios` the simulator starts up with this error:
[code]
![Screen Shot 2020-01-25 at 3 21 21 PM](https://user-images.githubusercontent.com/5354163/73126894-5d32cf80-3f86-11ea-8df8-bb64c177dc90.png)

`ignite doctor` r

[2020-01-27 02:13] fpena commented on #1523
I did upgrade my Cocoapods version to `1.7.0.beta.3` and it started working again.

[2020-01-28 12:42] loiclouvet commented on #1511
Same issue on ignite-bowser after an upgrade to v4.13.0.

`reactotron.ts` does clearly mock `console.tron` object in production mode but `reactotron.ts` is only imported in dev mode following `environment.ts` code source :
[code]
That's why in production mode, console.tron is undefined

### 2 solutions
1. We only call console.tron methods in dev mode like @egemenkayalidere  suggests :
`__DEV__ &&

[2020-01-30 09:10] Drzaln commented on #1529
have you run `pod install` on ios folder?

[2020-02-01 15:34] yudori commented on #1527
I had the same issue and updating `react-navigation-stack` to version `2.0.16` helped solve it for me. However, I ran into a series of other errors so here are the total updates I had to make to bootstrap the base project successfully (with DevScreens):

[code]

[2020-02-03 14:48] JimLynchCodes commented on #1529
thanks @Drzaln! Yes, I ran `pos install` but I'm getting these errors! :(

[2020-02-03 16:19] JimLynchCodes commented on #1528
huh, not sure why I opened this issue and didn't write anything in it...

[2020-02-03 16:19] #1528 closed

[2020-02-05 21:41] aplishka opened #1530 "patch-in-file.ts does not null check file before further processing"
This line in `patch-in-file()` fails if the file its attempting to read is not found.

https://github.com/infinitered/ignite/blob/3da165cd48950f0e46d6d7e9a02c7218be945b8e/src/extensions/ignite/patch-in-file.ts#L20

In my case this was because the `name` parameter of my `package.json` did not match the parent directory name of my `ios/{ProjectNameHere}/AppDelegate.m` file.

Though I had to manually

[2020-02-05 21:42] aplishka commented on #1202
@jamonholmgren Just curious why this became no longer relevant?

I just hit this same problem (as noted here: #1530), but was able to debug it as an issue with my `package.json` name parameter not matching my `AppDelegate.m` files parent directory name

[2020-02-07 21:53] mlaco commented on #1529
Hi @JimLynchCodes, sorry you're having trouble with Ignite. I'll see if I can reproduce with your setup.

[2020-02-07 22:52] #1530 closed

[2020-02-08 14:24] charlesCassioSilva commented on #1527
Why did you guys close a crash issue asking us to switch to bowser boilerplate? This is not a solution!
How the community would to keep track of the problem and fix it?
You guys should get rid of Andross so.

[2020-02-09 16:23] JimLynchCodes commented on #1529
Thanks @mlaco

I just tried scaffolding a fresh ignite Bowser app, but it's still just giving me strange errors when it tries to start up...

![Screen Shot 2020-02-09 at 11 21 21 AM](https://user-images.githubusercontent.com/5354163/74105746-7911a600-4b2e-11ea-9364-42c93b66db4b.png)

ignite doctor:
[code]

[2020-02-10 14:24] mlaco commented on #1529
@JimLynchCodes it looks like that error might have something to do with Jest. Do you have that installed?

[2020-02-10 14:31] #1424 closed

[2020-02-10 14:36] mlaco commented on #1523
@fpena That's good to hear! Do you mind if we close this issue then? Will you be good now that you're using the new Cocoapods version? (We can open it back up if not)
(Sorry for delay, I've been out of office for a while)

[2020-02-10 14:36] #1523 closed

[2020-02-10 18:37] #1490 closed

[2020-02-10 20:42] JimLynchCodes commented on #1529
@mlaco what do you mean "have jest installed"?

I've always only encountered Jest as a dev dependency. Do I need to have it installed globally for ignite to work properly?

[2020-02-11 20:23] #1467 closed

[2020-02-12 21:10] mlaco commented on #1432
Inside an Ignite project, is this the app whose size we're concerned with?`ios/build/TestAppSize/Build/Products/Release-iphonesimulator/TestAppSize.app`
 This was 22.1 MB for me.

[2020-02-12 23:13] izilla commented on #1527
@yudori that solution works for me too is this something that should PR'd

[2020-02-13 18:20] mlaco commented on #1485
- [ ]  update RN version
- [ ]  change `context` to toolbox
- [ ]  Fix: It uses `parameters.third` [which is wrong](https://github.com/infinitered/ignite/blob/dd71788cdef0efa1ba880c2491a41c588c2d9ed5/src/templates/plugin/boilerplate.js.ejs#L30) (should be parameters.first)
- [ ]  Fix: It uses ava for testing rather than jest
- [ ]  Add typescript support

[2020-02-15 08:55] bhaveshdaswani93 opened #1534 "Is there any play to support React navigation v5"
The newly released react navigation v5 is a component based approach versus react navigation v4 which is like registry based approach and there are kindly new features in react navigation v5.
Are you planning for providing support for react navigation v5

[2020-02-15 18:44] kevinvangelder commented on #1534
There is already an open PR, you can help us out by reviewing the code and/or taking it out for a test drive.

[2020-02-18 08:41] bhaveshdaswani93 commented on #1534
ok, will look into that.

[2020-02-18 08:41] #1534 closed

[2020-02-19 09:36] a-atalla opened #1535 "Freshly generated app from bowser boilerplate doesn't launch on android while working fine on ios"
---
Freshly generated app from bowser boilerplate doesn't launch on android while working fine on ios
---
Steps to reproduce
- ignite new MyApp -b bowser
- npm run android
- after build successfully the app crash silently on the emulator
---
`ignite doctor` results:
[code]

[2020-02-19 09:38] a-atalla commented on #1535
Found that the problem is due to missing steps in `react-native-screens`, and found the solution here  https://github.com/react-navigation/react-navigation/issues/6267#issuecomment-528883756

[2020-02-20 08:34] is343 commented on #1535
@a-atalla this fixed it for me.
I also started a fresh build today and Android was crashing immediately.

[2020-02-20 18:32] lasharela opened #1536 "Question: generate screen w"
I've just discovered Ignite and created `Bowser` template.

In a template, I see that screens are in directories (which is nice), but by default `ignite generate screen login` creates screen in the root of the `screen` directory.

Is there any way to specify directory?

[2020-02-23 07:06] WaYdotNET commented on #1535
@is343
https://github.com/react-navigation/react-navigation/issues/6897

add in android/app/bundle.grandle

[code]

[2020-02-25 07:56] bhaveshdaswani93 opened #1537 "Can you provide the source code for Jamon Holmgren's talk at React Live Amsterdam where he uses Ignite Bowser to build an app in less than 30 minutes:"
Can you provide the source code for following

Jamon Holmgren's talk at React Live Amsterdam where he uses Ignite Bowser to build an app in less than 30 minutes:

It's a great talk. can you provide its source code for the app, that will be very helpful as it will help to get started with your boilerplate.
https://www.youtube.com/watch?v=Pb8MWkQ9GOc

[2020-02-25 20:15] #1537 closed

[2020-02-25 20:31] samselfridge commented on #979
Just had this issue - my problem was that I wasn't importing my saga function properly (also typo), but the 'name undefined' was the only error it was throwing.

[2020-02-29 18:18] xavixie commented on #1512
the same problem, update node v13.8.0 not work.

[2020-03-02 21:23] mlaco commented on #1535
Thanks for the issue _and_ for the problem, @a-atalla! I'll check that link and see what I can do :)

[2020-03-03 10:43] 3mpe commented on #1524
You must turn off the active parameter in REDUX_PERSIST

[2020-03-09 16:27] DeVoresyah opened #1540 "Prepare for React Native 0.62.0"
So I just see that react native will release new version `0.62.0`. And I see that the core team of Ignite not really focus on **Andross Boilerplate**. For me, Andross Boilerplate is really good, especially for new beginners to React Native.

So I hope to ignite the core team to develop Andross Boilerplate, if it's because of the fund or something. Maybe we can open funding to develop more this boi

[2020-03-13 10:58] tunm1228 opened #1541 "remove component or screen with teminal not working"
### Hey there! Ignite CLI seems to be having a problem, eh?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus points for a repro app)
- Run `ignit

[2020-03-19 18:21] thebigredgeek commented on #1247
I find immense irony in the idea that Rx is simpler than Sagas.  Async/await + array operators.  You don't need Rx.

[2020-03-20 04:29] tunm1228 opened #1542 "How do I use mobx-state-tree in my class components?"
### Hey there! Ignite CLI seems to be having a problem, eh?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus points for a repro app)
- Run `ignit

[2020-03-20 20:20] kevinvangelder commented on #1524
Disable lines 35 and 52 in [setup-root-store.ts](https://github.com/infinitered/ignite-bowser/blob/master/boilerplate/app/models/root-store/setup-root-store.ts#L35).

[2020-03-22 23:41] saso1212 opened #1543 "cant start my firts app"
### Hey there! Ignite CLI seems to be having a problem, eh?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus points for a repro app)
- Run `ignit

[2020-03-22 23:47] saso1212 commented on #1543
I cant start my first app.
I have error on my android Simulator TypeError:undify is not an object(evaluating '._reactNavigator.ThemeColor.light')

 platform           win32
  arch               x64
  cpu                4 cores      Intel(R) Core(TM) i5-4200U CPU @ 1.60GHz
  directory          burgerApp    D:\REACT-NATIVE\ignite\burgerApp

JavaScript
  node               13.11.0      C:\Program Fil

[2020-03-28 08:09] irosadie commented on #1543
same issue

[2020-04-01 13:58] akash89bis commented on #1543
More or less same issue
"TypeError: Cannot read property 'light' of undefined" any idea/guidance what could be the issue?

[2020-04-01 14:00] akash89bis commented on #1543
@saso1212  - were you able to fix it, please let me know?

[2020-04-02 06:09] ottotsuma commented on #196
C:\Users\"User"\Desktop\Textables>ignite new IgniteApp
This command requires yo to be installed.
Installing yo...
'CI' �́A�����R�}���h�܂��͊O���R�}���h�A
����\�ȃv���O�����܂��̓o�b�` �t�@�C���Ƃ��ĔF������Ă��܂���B
🔥 Setting IgniteApp on FIRE! 🔥
'yo' は、内部コマンドまたは外部コマンド、
操作可能なプログラムまたはバッチ ファイルとして認識されていません。
events.js:288
      throw er; // Unhandled 'error' event
      ^

This is the error message I got wh

[2020-04-02 06:12] ottotsuma opened #1544 "ignite new IgniteApp This command requires yo to be installed. Error."
C:\Users\"User"\Desktop\Textables>ignite new IgniteApp
This command requires yo to be installed.
Installing yo...
'CI' �́A�����R�}���h�܂��͊O���R�}���h�A
����\�ȃv���O�����܂��̓o�b�` �t�@�C���Ƃ��ĔF������Ă��܂���B
🔥 Setting IgniteApp on FIRE! 🔥
'yo' は、内部コマンドまたは外部コマンド、
操作可能なプログラムまたはバッチ ファイルとして認識されていません。
events.js:288
      throw er; // Unhandled 'error' event
      ^

This is the error message I got wh

[2020-04-02 15:48] ruddell commented on #1544
You should use the latest version of the `ignite-cli` package which is currently v3.5.1, you are using v1.13.0.  Yeoman is no longer used in ignite since v2

[2020-04-03 02:14] ottotsuma commented on #1544
im doing "npm install -g ignite-cli" is this not how you install the latest package of ignite? as I did it again just now and again i have been given 1.13.0

[2020-04-03 15:14] ruddell commented on #1544
That's definitely confusing since I don't see a 1.13.0 release of `ignite-cli` available on npm (verified with `npm view ignite-cli versions`).

You can try to install the latest by specifying the version: `npm install -g ignite-cli@v3.5.1`

[2020-04-03 16:02] akash89b commented on #1544
@ottotsuma  - please dont use "npm install -g ignite-cli". First install yarn via choco.
Run "choco install yarn" and then simply run "yarn global add ignite-cli", this will work fine.

[2020-04-04 11:31] ottotsuma commented on #1544
I`m not sure if still doing someting wrong but i followed @akash89b  and i got the following:

C:\Users\locks>yarn global add ignite-cli
yarn global v1.22.4
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linking dependencies...
[4/4] Building fresh packages...
success Installed "ignite-cli@3.5.1" with binaries:
      - ignite
Done in 3.33s.

C:\Users\locks>ignite -V
1.13.0

I am tryi

[2020-04-04 12:43] ottotsuma commented on #1544
After uninstalling chocolate and just running npm install -g ignite-cli@v3.5.1 in the cmd with node.js the issue was resolved. For some reason with chocolate installed i kept getting the error: npm ERR! code EEXIST.

[2020-04-04 12:43] #1544 closed

[2020-04-09 07:08] luckeysherpa07 commented on #1242
In my case it was opposite. First i had to run `yarn run storybook` and then `react-native run-ios`

[2020-04-17 01:30] GreenRidingHood commented on #1384
chmod 755 android/gradlew && react-native run-android

Maybe help anyone, I run that line at terminal and solved my issue
https://superuser.com/questions/1399393/i-cant-run-react-native-run-android

[2020-04-18 00:45] joaovbibiano opened #1545 "Expo Starter does not working"
### Hey there! Ignite CLI seems to be having a problem, eh?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus points for a repro app)
- Run `ignit

[2020-04-18 00:56] joaovbibiano commented on #1545
I found that react-native-screens/native-stack isn't available on npm.... What can I do?

[2020-04-18 18:02] SivaSamrajS opened #1546 "Ignite Select Query Performance"
Hi Ignite Team,

I have a table A which has composite primary key and there is no index on this table. The table will usually have 10 columns and it can go upto 10M records. Whenever i am selecting records from this table, i am giving 3 keys in the where condition. My application is taking taking almost 10 mins to do the job with the select query, without the select query it is taking only 10 seco

[2020-04-18 19:57] exlnt opened #1547 "Unable to get started"
What's going on?
- I followed the steps in your install documents exactly.
- When I try to run the app using `npx react-native run-android` it fails with several warnings and error messages.
- I have attached the complete log from my CLI session.
---
Steps to reproduce
$ yarn global add ignite-cli
$ ignite new MyApp
  ( Choose Andross when prompted )
$ npx react-native run-android

---
`ignite doc

[2020-04-19 20:05] exlnt commented on #1547
Today, I tried the same steps with "bowser" template and I run into the same errors.

[2020-04-19 20:37] exlnt commented on #1547
I was able to use [this](https://stackoverflow.com/a/60594090) to get past the error on `run-android` cmd. Now the build is working and the app is launching in the AVD image. However, now I'm getting another error related to ReactNavigation,

[2020-04-19 20:43] exlnt commented on #1543
I'm running into this same issue.

[2020-04-20 15:38] ruddell commented on #1546
Are you sure this is the right project to report this issue on?  I'm guessing you are looking for the Apache Ignite repository.

This repository is for the Ignite CLI for React Native, which doesn't have code dealing with databases.

[2020-04-22 09:34] santoshzp commented on #1543
I'm running into this same issue.

[2020-04-23 03:29] tuandt commented on #1547
You should upgrade the ReactNavigation module.

[2020-04-23 03:32] tuandt commented on #1540
This is a good idea. I want to give a hand.

[2020-04-23 11:43] #1546 closed

[2020-04-23 18:01] exlnt commented on #1547
@tuandt - I am fairly new to REACT native, very much still learning.
`    "react-navigation": "3.11.0",
    "react-navigation-redux-helpers": "^4.0.1",
    "react-navigation-stack": "^1.10.3",
    "react-navigation-tabs": "^2.5.6",`

Those are the ReactNavigation packages. Which ones do I need to update and to what version?
Also, why does the template still have these pacakges in use, if they no l

[2020-04-23 19:16] tuandt commented on #1547
You can use these versions:
  "@react-native-community/masked-view": "^0.1.9",
   "react-navigation": "4.0.10",
    "react-navigation-redux-helpers": "^4.0.1",
    "react-navigation-stack": "2.0.16",
    "react-navigation-tabs": "^2.5.6",
After that, you may need to fix some small bugs in source code.

I don't know why. Maybe they upgraded the react-native to 0.61.4 in a hurry then they did not te

[2020-04-25 19:29] exlnt commented on #1547
@tuandt Thanks for the help! I added those packages and now its just reporting issues with dependencies. I dont have time to sort through all these errors! It's a shame the folks who setup this repo/template dont have it cleaned up and ready to got for people. I will just move on to creating my own app from scratch without any templates!

[2020-04-29 09:51] MisterFruits opened #1548 "ignite new failing silently when cocoapods is not installed on OSX"
I was trying to follow the infinitred tutorial there https://shift.infinite.red/creating-a-trivia-app-with-ignite-bowser-part-1-1987cc6e93a1. I was kind of stuck because the `ignite new IgniteTrivia --boilerplate bowser --no-detox` (**which run without error message and returning `0`**) doesn't seems to generate some important folder (app/models, app/screens etc). I'm just seeing:

[code]

Thanks

[2020-04-30 17:17] bryanstearns commented on #1548
Cocoapods is a prerequisite depending on the boilerplate you're using and the options you give it;  React Native 0.60 (or later) demands it, when not using Expo.

`ignite doctor` is already telling you that cocoapods isn't installed, and since it's up to the boilerplate to decide, I'm closing this, but I'll open a PR shortly for Bowser (our primary supported boilerplate) to have it give a clear er

[2020-04-30 17:17] #1548 closed

[2020-05-04 22:03] destinybonavita opened #1549 "Cocoapods Installed but Error Installing Boilerplate"
### Hey there! Ignite CLI seems to be having a problem, eh?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus points for a repro app)
- Run `ignit

[2020-05-04 22:33] kevinvangelder commented on #1549
Do you use a ruby switcher like `chruby` or `ruby-env`? I often forget to switch to the ruby that has cocoapods installed when running `ignite`.

[2020-05-04 22:57] destinybonavita commented on #1549
I don't think I do; how would I check?

[2020-05-05 02:13] destinybonavita commented on #1549
Fixed it! There was a problem with my cocoapods setup

[2020-05-05 02:13] #1549 closed

[2020-05-05 02:37] bryanstearns commented on #1549
Hey @destinybonavita -- can you share what was wrong with your cocoapods setup? Maybe it's something Ignite could check for, and give a clearer error message.

[2020-05-05 02:42] destinybonavita commented on #1549
I think it came down to a problem with the `./configure` file having the wrong file encoding. I tried a bunch of things at once and it eventually worked.

The last thing I tried was changing my global git config to ignore file encodings for macOS vs Windows

[2020-05-05 02:43] bryanstearns commented on #1549
Alrighty, thank you!

[2020-05-05 07:56] vantuan88291 commented on #1540
dont, please wait for 0.63 release

[2020-05-05 13:21] DeVoresyah commented on #1540
I would like to donate for new Ignite Boilerplate roadmap, since I can't help to contribute

[2020-05-06 19:20] jamonholmgren commented on #1540
@DeVoresyah I really appreciate your offer! If someone outside of IR wants to take you up on your offer, that's great -- and tag me so I can review the PR.

[2020-05-07 05:38] waqas19921 commented on #1540
@DeVoresyah @jamonholmgren i can send PR for upgrade.

[2020-05-07 10:18] DeVoresyah commented on #1540
I've some requirement list to do in next ignite update:
- [ ] React Native version minimum 0.62
- [ ] React Navigation v5
- [ ] Redux Saga

Please still using the current Ignite project structure, we just need to upgrade RN version and Navigation. For Reactotron, I think we don't need it anymore since RN 0.62 already give default debugger??

[2020-05-08 07:32] waqas19921 commented on #1540
@DeVoresyah I have created a pull request here https://github.com/infinitered/ignite-andross/pull/307

It is currently creating a new project with above mentioned requirements.

[2020-05-08 07:33] waqas19921 commented on #1540
@jamonholmgren I need your guideline for linting the project files. As i have not updated linting libraries.
Also plugins like dev-screens, vector-icons and redux-persist also needs to update.

[2020-05-08 18:08] jamonholmgren commented on #1540
@waqas19921

On linting, you probably don't need to update the linting library. Just keep it at the current version.

The plugins -- do you know what needs to be updated?

[2020-05-08 18:53] waqas19921 commented on #1540
i think we have to remove dev-screens and move some screen examples in the boilerplate. Rest just needs version updates.

[2020-05-11 20:20] jamonholmgren commented on #1540
@waqas19921 If you can submit PRs and then post here with a list of all the PRs to review, I'll get that done.