[2016-12-17 16:12] GantMan opened #548 "[2.0] - Hide commands"
generators showing up as toplevel commands in Ignite.
![image](https://cloud.githubusercontent.com/assets/997157/21288141/e37da67e-c440-11e6-9c14-9631bcf6893d.png)

Ideally a feature in gluegun would allow us to hide certain commands.

Bonus:  This would allow for easter eggs 🍳

[2016-12-18 01:59] GantMan opened #549 "[2.0] Ignite i18n"
Create a plugin which handles i18n

[2016-12-19 10:58] leesolway commented on #528
Does this mean removing Saga's?

[2016-12-19 14:17] GantMan commented on #528
sagas will not be removed.  We'll simply make it easy for people to customize (and if they go with Thunk, they will probably remove sagas) but we won't be managing the Thunk plugin.

[2016-12-19 14:37] GantMan opened #552 "Simplify mapStateToProps with Ramda?"
Consider:
![image](https://cloud.githubusercontent.com/assets/997157/21316420/3b49f55c-c5c6-11e6-8413-35a168e34ffa.png)
And ultimately a very clean version:
![image](https://cloud.githubusercontent.com/assets/997157/21316458/7a47394a-c5c6-11e6-9a0d-f0120436799e.png)
from
http://randycoulman.com/blog/2016/02/16/using-ramda-with-redux/

#### Possible complaints?
* How can I change the name of one it

[2016-12-20 08:13] mtwallet opened #553 "API help"
Hi there.

First of all thank you for an excellent starter kit, great work. I am in the middle of my first RN project and have decided to move it over to Ignite, I feel it will help me to improve my project and code.

That said some of the concepts are different than the way I have learned to do things and I would appreciate a little help; firstly with how to structure the API file.

My project ha

[2016-12-20 14:06] GantMan commented on #553
Hi!  And welcome to Ignite :)

That's very interesting that your API requires 3 different configuration states in order to handle 3 different calls.

But does it?   From what I see above, you're doing `.post`, `.get` and simply passing params to those functions.   Couldn't you create an API with all the state you would need, and simply post/get with that API?

Take a look at the API testing screen

[2016-12-21 09:38] mtwallet commented on #553
@GantMan thanks for the reply, I appreciate the help. I'll take a look and report back.

[2016-12-21 14:16] mtwallet commented on #553
@GantMan Thanks for the warm welcome! I have managed to get my authentication working in the api test screen. I have no clue whether I am doing this correctly but it works using:

[code]

and in the test screen

[code]

I've got that working with the `LoginSaga` and it populates my store with the token on success, happy days! (I think) :)

I've setup my next api endpoint for fetching orders which

[2016-12-21 17:33] #542 closed

[2016-12-22 02:10] exos commented on #219
This guide promotes bad practices

[2016-12-23 15:46] GantMan opened #557 "[2.0] Dev Screens Opt In"
Some people don't want the dev screens.

Here's my proposed behavior:

### Add
[code]

**If Yes:**
* Set Examples to "classic" in Ignite config
* Copy the the screens to containers folder
* Set App/Config/DebugSettings.js `showDevScreens` to `__DEV__`
* Insert a function that renders the dev screens as part of the JSX in the navigation
* Call the function in the navigation, which adds/provides the

[2016-12-23 15:48] GantMan opened #558 "[2.0] - Ignite remove"
Opposite of ignite add

performs the remove functionality on the given module then uses npm/yarn to uninstall the dev dependency.

Pretty straight forward.
* Make sure what they typed, exists locally
* Detect removed generators
* Ask user if they are sure.
* remove generators
* Call remove functionality
* Uninstall dep from node modules

[2016-12-23 19:57] kevinvangelder commented on #557
The interactive command should also list out what screens will be generated. Something like: `(Example Components, Theme, ...)`

[2016-12-23 20:05] kevinvangelder commented on #553
@mtwallet If your token is in the store, you'll want to use `this.state.token` and in your `mapStateToProps` set `token: state.login.token` (replace `login.token` with the correct path to where you've stored the token).

If you post a gist with the two or three files you're working on we'll be better able to help you. Also, for more interactive assistance, check out our [Gitter room](https://gitte

[2016-12-24 17:28] yoohan-dex opened #562 "can not fire !!!!"
### Hiya! So you think it's broken or missing a feature eh?

Welllllll, it just might be.  Do me a favor and check the following.

- [ ] Issue does not already exist
- Identify exactly what aspect your issue is about
  - [x] ignite base application
  - [ ] ignite the cli
  - [ ] ignite generated code

Also, for the quickest assistance please run `ignite doctor` and paste in
everything (including t

[2016-12-24 20:05] GantMan commented on #562
Looks to me like android did not get generated.  So I'm guessing you can't do `react-native init` at all is that correct?

What error do you get with `react-native init test`

[2016-12-24 21:27] yoohan-dex commented on #562
I can pass react-native-cli , both iOS and Android is normal. Only one thing just I still don't know how to use genymotion it will tell me can't patch bundle .

Now I reinstall and then post more details

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Gant Laborde <notifications@github.com>
Date: 12/25/16 04:06 (GMT+08:00)
To: infinitered/ignite <ignite@noreply.g

[2016-12-24 22:01] yoohan-dex commented on #562
First new I will meet this problem..

[code]

and then I ` chmod -R 777 ` to avoid this problem

then meet the issue problem I just posted . T. T sad

[2016-12-24 22:02] yoohan-dex commented on #562
@GantMan

[2016-12-26 00:47] #558 closed

[2016-12-26 07:53] nonameolsson opened #563 "You don't seem to have a generator ... installed"
### Hiya! So you think it's broken or missing a feature eh?

Welllllll, it just might be.  Do me a favor and check the following.

- [X] Issue does not already exist
- Identify exactly what aspect your issue is about
  - [ ] ignite base application
  - [x] ignite the cli
  - [ ] ignite generated code

Also, for the quickest assistance please run `ignite doctor` and paste in
everything (including t

[2016-12-26 21:49] kevinvangelder opened #564 "Un-generators"
We'll eventually want un-generator commands. Generally, they'll do the following:

• Delete the generated screen
• Delete the generated styles
• Un-link the screen from the navigation if the navigation plugin supports removing.

[2016-12-26 22:11] kevinvangelder opened #566 "[2.0] Navigation Generator"
In addition to setting up RNRF, this will also need to expose generators to `addScreenToNavigation` and `removeScreenFromNavigation`.

[2016-12-27 00:18] GantMan opened #567 "[2.0] Ignite New"
`ignite new` should be started.

Take these examples as functional minimums.  The actual experience can have spinners/friendly graphics etc.

version 1:  Answers "no" to everything.  Perfect for regen playground. Simply uses https://github.com/infinitered/ignite/issues/568
[code]

version 2:  Answers "yes" to everything. Great for testing.
[code]

version 3: Composer experience
[code]

[2016-12-27 00:59] GantMan opened #568 "[2.0] Ignite - basic - structure"
`ignite add basic-structure`

Creates basic ignite folders and approved structure.   As of right now, this will include the following opinions:

* Redux
* Sagas
* Navigator - RNRF

This is the only plugin for `ignite new something --min`

This plugin does the following:
* Copies over your index.ios.js to look at App folder
* Copies over your index.android.js to look at App folder
* Creates a READM

[2016-12-27 01:00] GantMan commented on #568
the goal is to have ignite basic structure break up into pieces and get smaller as more parts are modularized.

[2016-12-27 13:44] sourcesoft commented on #488
Guys does this functionality helps with keeping local and ignite-repo fetched and merged (like ignite-base folder)?

I've ran `ignite new myapp` a month ago and after 30 days feel like living under a rock now 😄 . 50+ commits are submitted and I have no idea how to be updated and keep track of changes (from package.json deps to Containers/App, ...).

There should be some way to have more than just

[2016-12-27 14:31] GantMan commented on #488
This is a step in the right direction.  For things to keep updated, things have to be applied or removed properly.   Though it is not the goal of ignite 2.0, it is a benefit that somewhat gets applied.

We're open to feedback on how best we can keep repos up to date, but that is slated for Ignite 3.0 on our roadmap.

[2016-12-27 17:16] perqa opened #570 "Mapview broken in Android base application"
<img width="289" alt="screen shot 2016-12-27 at 18 07 14" src="https://cloud.githubusercontent.com/assets/960796/21504495/c08a8d36-cc5f-11e6-94ad-7aba523ded90.png">

Application created by

``ignite new TestApplication``

Everything seems to work, except Mapview on Android.

[2016-12-30 01:53] mykelaballe commented on #512
was this fixed? im still having the same issue. Or do i need to re-install Ignite?

[2016-12-30 01:56] MarlBurroW commented on #512
This issue has been fixed by @skellock one month ago.

[2016-12-30 05:20] GantMan commented on #570
You can use our key for now:
https://github.com/infinitered/ignite/blob/master/ignite-base/android/app/src/main/AndroidManifest.xml#L51-L54

I'll make sure this works in what I'm working on for Ignite 2.0

[2016-12-30 22:04] mykelaballe commented on #512
hmm so that means i need to re-install ignite right? since im still having the socket.io error? im currently using react-native 0.32

[2017-01-02 16:57] skellock commented on #568
I vote to remove redux, sagas, and RNRF from `--min`.  It should be just the *core* stuff.  Some apps might not need sagas or even redux.

[2017-01-03 14:41] skellock opened #578 "Redux generator is not upcasing anymore"
When you `ignite g redux Foo`, the `FooRedux.js` has the `createReducer()` block that looks like this:

[code]

Those `Types.Foo` need to be uppercase for this to work.

This fix https://github.com/infinitered/ignite/pull/531 should be uppercased after splitting on the _ boundaries.

Found by Thiemo Bleeken @thiemo--bleeken in the Gitter channel.

[2017-01-05 03:43] gaboelnuevo commented on #562
I have the [same problem](#issuecomment-269102014)

[2017-01-05 16:58] stubblychin opened #581 "Question: What styling controls the presentation page shrinking effect in the default app?"
Hi,

A small question to help a noob understand things a bit better.

On the default app, in android, when I move back to the PresentationScreen, from one of the sub pages, (not the the menu drawer), the contents of the presentation screen seem to do a grow/shrink effect.  It also has a white padding/border around it as it shrinks/grows.

I suspect there is a style somewhere controlling this, but

[2017-01-05 18:09] GantMan commented on #581
can you make a small video showing this effect, it doesn't come to mind.

[2017-01-05 18:31] stubblychin commented on #581
Here's a quick demo I made via my Nexus phone (which is a higher version than marshmallow)

https://youtu.be/6x1PPlQ19FQ

[2017-01-05 18:40] GantMan commented on #581
Ah yes!  I'm familiar with that.  I think that's either part of the transitions in React Native, OR that comes from RNRF.   I'm pretty sure it's configurable.

@skellock - do you know?

[2017-01-05 18:53] skellock commented on #581
Oh ya... that's the default transition in Navigation Experimental (inside RNRF).  They do a 95% scaling which will cause that silly white background.

I'm not entirely sure where to go to change it, but I know that Navigation Experimental is customizable.

Hope that helps.

[2017-01-06 12:05] pvinis commented on #521
ok i did the first thing you suggested and it worked. should i maybe make a pr to include this in the `startup` redux part of ignite?

[2017-01-06 12:37] pvinis commented on #521
ok i actually made a pr. it was small enough to do it quickly today.

[2017-01-06 15:28] stubblychin commented on #581
You are indeed correct.  There is a fadeInScene function in node_modules/react-native-router-flux/src/DefaultRenderer.js which has a 0.95 scaling.

That function gets called by the direction interpolator.  How I override this I've no clue.

[2017-01-06 18:41] GantMan commented on #581
You can pass your own animation style with your own interpolation function:

https://github.com/aksonov/react-native-router-flux/blob/38260d7812431dfc39195391c11ff14924b989d7/docs/API_CONFIGURATION.md

[2017-01-07 20:21] nonameolsson commented on #563
Any comments? I still have this issue, and can't manage to get started with ignite. I have also installed:
`npm install -g generator-react-native-ignite`.

What am I missing here? I really want to get started with Ignite :)

[2017-01-09 16:04] derekgreenberg commented on #563
@nonameolsson Looks like this might be an issue with npm installs on your system. Take a look at https://github.com/yeoman/yo/issues/403 for actions you can take to fix the problem.

[2017-01-09 16:29] GantMan opened #583 "[2.0] Proposed structure of the Ignite folder and example usage"
### Proposed structure of the Ignite folder and example usage:
[code]

[2017-01-09 16:29] GantMan commented on #583
cc: @kevinvangelder - this is what we talked about this morning via `next-devscreens`.  Ping Steve or I to get more detail.

[2017-01-09 16:32] derekgreenberg commented on #562
@yoohan-dex and @gaboelnuevo - check out this: https://github.com/nodeschool/discussions/issues/305 and see if following suggestions in that thread help to solve the problem.

[2017-01-09 16:48] gaboelnuevo commented on #562
The issue was about permitions on create template folder. I created it and add permition manually and it works.

[2017-01-10 16:27] jordan-enev opened #585 "Could not find com.android.support:support-v4:24.0.0."
Once I run `react-native run-android` on a fresh install, then it triggers the following error:

I have installed Android support library version 23.2.1. How can I update it? In the SDK Manager there isn't an update. I guess this is the problem.

![sdk-tools](https://cloud.githubusercontent.com/assets/3863376/21814488/26cbd200-d762-11e6-9e9d-31d8725565b6.png)

Here is the error log:

[code]

[2017-01-10 17:12] jordan-enev commented on #585
I've updated **Support repository** and the problem is fixed. In the above screenshot, it's already updated.

[2017-01-10 17:12] #585 closed

[2017-01-15 02:52] Steviey commented on #513
+1

[2017-01-15 18:55] GantMan opened #593 "[2.0] Proposed Navigation Construct"
When a plugin wants to add a screen as an example screen, there needs to be a construct for not only copying the screen, but also adding that screen to the routes, opening it etc.  This means we need to wrap an abstract layer around our Navigation, should we (likely we will) deviate from RNRF in the future.

I'm suggesting we have a command that is exposed to the user and the other functions via C

[2017-01-15 19:36] skellock commented on #593
Seems reasonable to me.

For `addScreenExample`, that makes sense to me.  What about if there's extra files needed to accompany that screen?  Like images and stuff?  I guess it'd be just up to the plugin author to put them in the right place too.

I wouldn't mind seeing what happens with `react-navigation`'s api before we commit to something.  Especially since we're all hoping that it'll be the th

[2017-01-15 19:48] GantMan commented on #593
Yup, authors will need to move files if they get fancy.  My hope is that as the need grows, we can be in touch with the authors to add features.

That's what I'm saying though.  We don't want to commit.  If later we change the navigation, we just make it fit our API.  Am I missing what you're saying?  We're not actually committing, that's the benefit.

I'm fine with that!  Let the noodley goodness

[2017-01-15 20:13] skellock commented on #593
Question:  Is this just for adding ignite sample screens?  Or are you thinking for how we'll be navigating within our app?

If it's just ignite sample screens, then we can do whatever you want.  We're creating the dev screen experience.

If you're talking for how all navigation works in our app, I do have some questions about what I'm seeing.

1.  The concept of `open` as a verb might not be enoug

[2017-01-15 22:30] GantMan commented on #593
Devscreens with a unknown navigation is the driving force of this need.

Anyone who uses `IgniteNav`, and the features built into it, will be protected from future swaps/changes in navigation.  If the power of `IgniteNav` is found wanting, people can use the underlying architecture, but they will not be protected should they later swap out.  Which, let's be honest, you should know that.

so the sh

[2017-01-15 23:47] skellock commented on #593
So this proposal is "how to use navigation" in an ignite app... of which devscreens will use?

[2017-01-16 00:20] GantMan commented on #593
yes.  But a better way to say it is this.   How dev screens will use navigation, and perhaps one day all Ignite apps (version 2.5?  Just an idea that never happens?  Who will know!?)

[2017-01-16 00:28] skellock commented on #593
So I don't mind us coming up with our own navigation for dev screens, but tying that in with how the navigation for the app works is biting off too much, in my opinion.

Wanna chat in person tomorrow?

[2017-01-16 00:29] GantMan commented on #593
sounds good!

[2017-01-16 15:47] prijindal commented on #172
I am having the same issue as @ur23, can you elaborate what did you do to fix this problem?

[2017-01-17 22:17] juddey commented on #437
Closing this issue. Turns out the mocking wasn't the problem - the mocks to ramda et al were not needed. I had a call to `R.map` (ie ramdas version of map), jest confused it with ES6's new `map` function, and things exploded as documented above.

I replaced the ramda map function with the ES6 map function (eg `object.map`) and all fixed.

Thinking about how I'll submit a container test for v2.0 of

[2017-01-17 22:17] #437 closed

[2017-01-18 09:57] nirabpudasaini commented on #562
Had the same issue, i had react cli and failed install of ignite using sudo install.

Worked after i removed files that my user did not have access to rm -r /usr/lib/node_modules/

[2017-01-21 06:10] matart15 commented on #156
@DanielMSchmidt Did you able to use ignite with relay?
I looked at your https://github.com/DanielMSchmidt/ignite-relay-demo

but it seems not working.

[2017-01-21 19:49] DanielMSchmidt commented on #156
@matart15 Sorry, but I didn't manage to get this working and kind of stopped working on it for a while. But I think I will give it another shot in the next couple days and keep you up to date.

[2017-01-21 22:27] projoneftw opened #596 "Drawer switches sides on right-to-left locale, but it's mask doesn't"
- [x] Issue does not already exist
- Identify exactly what aspect your issue is about
  - [x] ignite base application
  - [ ] ignite the cli
  - [ ] ignite generated code

`ignite doctor`:

[code]

awesome project you got here! 👍
I found that the side menu becomes un-closable when switching to right-to-left language. But then I saw that the mask is still sitting on the right side, so it's closable

[2017-01-22 00:24] jamonholmgren opened #598 "New syntax for `patching.insertInFile`"
Currently, `insertInFile` does this:

[code]

I'd like to propose named parameters:

[code]

Additionally, if the `insert` already exists, it doesn't error -- it simply ignores it. This will let this function be idempotent.

I can implement this if it's good to go.

[2017-01-22 01:01] kevinvangelder commented on #598
Since contributors will likely be using this tool on a semi-regular basis it seems like improving the interface in this way would be worthwhile.

[2017-01-22 01:03] kevinvangelder commented on #557
Closed by #590. We will need to hook in to the navigation functionality, but everything else is there.

[2017-01-22 01:03] #557 closed

[2017-01-22 02:48] #529 closed

[2017-01-22 06:21] ericvera commented on #567
I've been playing with the v2 for the last couple of hours and have a v0.1 of the new command. It still needs some work, but thought I'd share it before investing too much on it. If this works let me know and I can create a pull request once I add a bit more validation. Otherwise let me know of any suggestions on a better approach.

Approach [new.js](https://github.com/ericvera/ignite/blob/next-ne

[2017-01-22 06:24] ericvera commented on #567
This is what it looks like at the moment.

[code]

[2017-01-22 06:33] kevinvangelder commented on #567
@ericvera Looks like a great start to me, but @GantMan and @skellock are the real masterminds, so I'd look for their feedback before continuing. This already covers most of the functionality of the proposed `--min` option.

[2017-01-22 06:52] ericvera commented on #567
There are a few things that I am still not sure what your intended design is. Did you intend to run `react-native init <project name>` (I have not added this yet) and then run the ignite-basic-structure generator?

[2017-01-22 11:41] skellock commented on #567
Thanks for the input @ericvera. I'd like to see `ignite-basic-generators` rolled into `ignite` personally.

I think you'll see a lot of refinements next week though as the team is getting together in person.

And yes, our starting point is `react-native init EricApp`.

[2017-01-22 13:56] skellock commented on #567
@ericvera I just re-read your comment.  I didn't realize what you were saying is: you're building it.

@GantMan has built `new` and we're just tweaking it now.  We're going in stages.  We've got unholy (what we're calling ignite 1's kitchen sink approach) up & running now, and we're going to bust those into plugins next.

I appreciate the help though.  Perhaps what we can do is start tagging a few

[2017-01-22 14:01] #547 closed

[2017-01-22 14:01] #548 closed

[2017-01-22 15:49] GantMan commented on #567
awesome thoughts @ericvera -  I think Ignite 2.0 in one week will look very different.   Keep your ear to the ground here on github to see the transformation as we go through it 👍

[2017-01-22 16:15] skellock opened #602 "Add option to pass a react native version."
In Ignite 2 for the `new` command.  It'd be nice to support multiple versions of React Native.

[code]

[From a discussion](https://github.com/infinitered/ignite/pull/601#discussion_r97225821) we had recently.

The default will be whatever we're expecting it to be for Ignite.  And we'll be updating this frequently.  This would be great though, to test out release candidates, or whatever.  We do ru

[2017-01-22 16:46] jmuchaxo commented on #562
I have been stuck around this for a while and what worked for me was:
sudo rm -r -f /usr/lib/node_modules/generator-react-native-ignite/app/templates
sudo chmod 777 /usr/lib/node_modules/generator-react-native-ignite/app
ignite new myAppName

[2017-01-22 17:00] GantMan commented on #567
@skellock , should this have been closed?

[2017-01-22 17:06] skellock commented on #562
Depending on how `node.js` was setup on your machine, things can get hairy.

In Ignite 1 we write temporary files under the global node_modules path.  Combine this with a less-than-ideal `node.js` setup, and stuff like this happens.

In Ignite 2 the only file writing we do is to the directory your project is going.

Better days ahead!

[2017-01-22 17:08] skellock commented on #567
I think so.  `ignite new` has been built.

Feel free to open this up if you think i'm overlooking something.

[2017-01-22 17:37] GantMan commented on #567
Just thinking the --min --max hasn't been put in yet.  The original ticket had those.

[2017-01-22 17:53] skellock commented on #567
Okie dokie.

[2017-01-22 23:24] #578 closed

[2017-01-23 00:09] skellock commented on #578
Just a heads up.  This is merged, but not released yet.

[2017-01-24 01:52] jamonholmgren opened #605 "ignite add should protect against packages without package.json"
Currently, trying to add a package without a `package.json` results in a nasty error. Check and display an error if there is no package.json.

Likely around `src/plugins/default/commands/add.js` line 74.

@GantMan @skellock

[2017-01-24 02:01] kevinvangelder commented on #596
@projoneftw Thanks for finding and reporting this issue. Turns out that this is a problem with the react-native-drawer library. https://github.com/root-two/react-native-drawer/issues/225

[2017-01-24 02:01] #596 closed

[2017-01-24 02:09] jamonholmgren opened #606 "Silent error in ignite generate needs to show error"
When there's a JS error in a generator, it currently dies silently. We need to show the error that occurred.

@skellock @GantMan

[2017-01-24 04:35] jamonholmgren commented on #552
I'd say this is lower priority, although the curried version is very nice!

[2017-01-24 04:35] #581 closed

[2017-01-24 04:39] jamonholmgren commented on #520
We won't be building this into Ignite 2.0, but you can make your own generators that have the desired indentation and it'll work how you want it to. :)

[2017-01-24 04:39] #520 closed

[2017-01-24 13:49] thiagoterleski opened #607 "Error when I run android"
Has anyone had the same problem?

![captura de tela 2017-01-24 as 11 44 46](https://cloud.githubusercontent.com/assets/2950918/22249678/12dd28ba-e22b-11e6-9734-dea77c7d0a94.png)

### ignite doctor
[code]

[2017-01-24 16:01] ruddell commented on #607
"React native uses 23.0.2. maps uses 23.0.3. and some other 3rd party libs use 23.0.1." - skellock
![android](https://cloud.githubusercontent.com/assets/4294623/22255000/e610b98e-e20a-11e6-82b0-318e3942a6b8.png)

[2017-01-24 16:09] thiagoterleski commented on #607
Thanks!

[2017-01-24 16:09] #607 closed

[2017-01-24 21:35] sinewave440hz commented on #248
We are using Extended Style Sheets in our Ignited project right now. I just generated a couple of containers, all that was necessary was a couple of changed lines in style and container files. Wasn't hard at all, but this would enhance an already very handy generator!

[2017-01-24 22:06] hchoong commented on #459
This is still an open issue on react-native-config https://github.com/luggit/react-native-config/issues/65

[2017-01-25 01:39] kevinvangelder opened #610 "Ensure all Ignite commands can only be run from project root"
We should have a strategy to refuse to run any Ignite commands from any directory but the project root.

[2017-01-25 02:11] jamonholmgren opened #612 "Give friendly error if react-native CLI not installed"
If `react-native-cli` is not installed, Ignite currently fails with a lame error. Let's make it less lame.

[2017-01-25 02:26] skellock opened #613 "Refactor extensions/ignite.js"
This file https://github.com/infinitered/ignite/blob/next/packages/ignite/src/plugins/default/extensions/ignite.js is growing too big.

[2017-01-25 03:09] skellock opened #614 "Add a way to make an ignite plugin generator."
Let's make it easy for people create ignite plugins, by providing them with boilerplate.

[code]

@jamonholmgren wanted this which gives purpose to the new plugin namespace.

[code]

[2017-01-25 22:12] jamonholmgren commented on #605
Additionally, we should do the following:

* [ ] If no `index.js` in the plugin, then don't require an add / remove function
* [ ] If there is an `index.js` in the plugin, then detect if it's missing `add` and give a friendly error. Don't require `remove`.

[2017-01-25 22:14] skellock opened #615 "Ignite TOML should require an '[ignite]' node"
We shouldn't assume that the `ignite.toml` has a `[ignite]` entry.  Some plugins don't have anything in there.

Let's fix this up:

https://github.com/infinitered/ignite/blob/next/packages/ignite/src/plugins/default/commands/add.js#L98

[2017-01-25 22:24] skellock opened #616 "Let's replace TOML with JSON for 3rd party plugin `ignite.toml` files."
This will affect the generators and , but really, we should be using JSON.

[2017-01-26 23:07] kevinvangelder commented on #610
Closed by #617

[2017-01-26 23:07] #610 closed

[2017-01-26 23:07] kevinvangelder commented on #605
Closed by #617

[2017-01-26 23:07] #605 closed

[2017-01-27 00:49] kevinvangelder opened #620 "All `new` prompts should be multiple choice or multi-select"
To streamline the user experience we want to only present multiple choice or multi-select questions. This also helps future-proof for when we start getting more plugins of a given type.

[2017-01-27 00:53] skellock opened #621 "Testing For Ignite 2"
Lulz.  Let's start.  It's too fragile.

[2017-01-27 01:14] skellock opened #623 "Add ignite-debug.log"
When something goes wrong during `ignite`, let's create a `ignite-debug.log` file in the root directory.

[2017-01-27 01:20] skellock opened #624 "Improve iOS cache clear in newclear"
Right now in our `package.json` in the newclear command, we're not aggressive enough to clear the Xcode cache.  It should be `rm -rf ios/build` instead of `rm -rf ios/build/ModuleCache/*`.

[2017-01-27 01:35] skellock opened #625 "First screen pushed on Dev screens is blank"
In Ignite 2.

* open the dev screens
* tap any of the screen buttons.  It's white.
* tap back
* tap the same button
* it's fine!

Wierd eh?

[2017-01-27 01:39] GantMan opened #626 "Add Example for Plugin not working"
There's no examples - there should be vector icons at least.
![image](https://cloud.githubusercontent.com/assets/997157/22357571/f116403a-e3ed-11e6-9086-717664ec1484.png)

[2017-01-27 02:53] veebuv opened #628 "Can't do a basic install"
The error i'm getting, sorry if this has already been issued, but I just can't fin a work around

Error: EACCES: permission denied, mkdir '/usr/local/lib/node_modules/generator-react-native-ignite/app/templates'
Also, for the quickest assistance please run `ignite doctor` and paste in
everything (including the lines with 3 backticks).

[2017-01-27 05:31] kevinvangelder commented on #626
Fixed in #627

[2017-01-27 05:31] #626 closed

[2017-01-27 05:32] kevinvangelder commented on #625
This is likely due to the fact we're using the built-in Navigator component. I know we used to have the solution to this problem but since we've moved on to better navigators that information has likely been lost.

[2017-01-27 05:33] kevinvangelder commented on #615
Related to #616

[2017-01-27 10:49] Blackclaws commented on #628
See this:

https://github.com/infinitered/ignite/issues/526

[2017-01-27 13:31] yayolius opened #629 "Weird "NETWORK_ERROR" while connect to my serve"
Hello, i am having the same issue than this buddy: https://github.com/skellock/apisauce/issues/22,
I am developing in Android, but everytime that i try to access my development server in localhost in http://localhost:3000, it get an NETWORK_ERROR response, but the app is connected, and the network is working.
But when i try to access external domains like http://api.github.com IN THE SAME file, it

[2017-01-28 13:22] skellock commented on #629
Did you port forward?  Your server is probably running on your computer and not your android device.

`adb reverse tcp:3000 tcp:3000` to open up a reverse tunnel.

[2017-01-28 13:22] #629 closed

[2017-01-29 01:22] kevinvangelder commented on #567
@ericvera We made a lot of progress on 2.0 this week. Feel free to check out the latest code on `next` as well as the new issues we've filed to get an idea of where we could use help.

[2017-01-29 01:46] kevinvangelder opened #631 "Fix `run` suppressing output by using `spawn`"
When we `run` subcommands their output gets suppressed. If we `spawn` them instead we can catch and redirect the output to the user's terminal, but Steve ran into complications with `react-native link` also `run`ning commands instead of spawning them.

[2017-01-29 06:16] skellock commented on #631
I have a fix for this. Will get this in on monday.

[2017-01-29 17:10] GantMan opened #633 "Need new API Key for Examples"
Someone went crazy on our API key
![image](https://cloud.githubusercontent.com/assets/997157/22406164/5ae98f68-e613-11e6-85cf-10e39a810102.png)

Looks like we're not going to be able to use this one.  Need to either open a new account, OR switch API for examples.

[2017-01-29 23:44] skellock commented on #633
LOL.  Someone really needed to check the weather.

We shouldn't have an API key in our examples, though.

I've used Github's API in Reactotron.  You can do 60/hr without a key per-ip.

Here's more options https://github.com/toddmotto/public-apis

[2017-01-30 01:00] GantMan commented on #633
I think moving to github is best.   You can't trust the weather :D :umbrella:

[2017-01-30 17:03] GantMan opened #634 "[2.0] Printout after questions is odd"
take a look at this:
![image](https://cloud.githubusercontent.com/assets/997157/22432746/876951f4-e6db-11e6-92ce-b385d50ba2a2.png)

Looks like it asks questions several times, when you go back and look at it.  What's up with that?

enquirer lib bug?

[2017-01-30 17:06] skellock commented on #634
I've seen the duplicates on 1 line, but this is the first time I've seen it THAT bad. Hah!

Something is not right.

[2017-01-30 18:26] kevinvangelder opened #636 "Rename addComponentExample and addScreenExample."
When I use `ignite.addComponentExample` I expect the example to appear in the Component Examples screen. However, since we're running this from a plugin it's really adding it to the Plugin Examples screen. We should do something to make it more clear what's happening.

[2017-01-30 18:34] GantMan commented on #636
Do you recommend `addPluginComponentExample` or too wordy?

[2017-01-30 18:59] kevinvangelder commented on #636
That would at least be a step in the right direction. Since it will only ever be used by Plugin developers I don't think that's too verbose.

[2017-01-30 19:06] kevinvangelder opened #637 "Upgrading from Ignite 1 to Ignite 2"
It would be nice, but probably a fair amount of work, if we had an `upgrade` command that would bring 1.0 users up to 2.0 compatibility (at least to the point where they can use 2.0 generators). At a minimum we would want to generate some config files, the all-out option would be to move existing screens around and such. My vote would be to do at least the minimum.

[2017-01-30 19:08] kevinvangelder commented on #634
This got much worse when I switched the Dev Screens question to be the list type. I meant to mention it in the PR but forgot.

[2017-01-30 19:10] skellock commented on #637
I think structurally, not much is changing in how we build things.  This should be very doable.

Good on ya for thinking about this.

[2017-01-30 19:16] kevinvangelder commented on #637
Right, but some things the generator commands depend on won't be there if the app was generated with v1.

[2017-01-30 20:02] skellock commented on #636
I like wordy.

[2017-01-31 11:23] projoneftw commented on #578
I know it may seem trivial to the experienced guys, but maybe you should add it to troubleshooting section in readme until release - I burned a good couple of hours on it :)
Found this issue only after I fixed it, the error is "take(patternOrChannel): patternOrChannel is undefined"

[2017-02-01 06:57] ivankennethwang commented on #524
Is there any plans of moving to 0.40?

[2017-02-01 15:10] skellock opened #638 "Upgrade to React Native 0.41.0"
Welcome to February!

Ignite 1 is still at 0.39.2.  0.40.0 was a bit of "destroyer of worlds" upgrade, but 0.41.0 looks to be a little easier (minus that breaking Java change that may affect 3rd parties).

Let's get us up on 0.41.0.

[2017-02-01 15:12] skellock commented on #524
Yes.  In fact, we should go straight to 41 shortly.  Tracking on #638.

[2017-02-01 15:12] #524 closed

[2017-02-02 15:19] GantMan opened #639 "Git Ignore .vscode/*"
https://github.com/infinitered/ignite/blob/master/ignite-base/.gitignore

[2017-02-02 18:11] rameez-dynamo opened #640 "Generation of a map view breaks"
So I have been trying to generate a map-view using the ```ignite generator``` feature for last few hours and it breaks. The following were my theories:

1. Something to do with the setup of the ```AndroidManifest.xml``` file. So I added the location permissions and also a Google Maps API key. Then I reran the ```ignite generate mapview```. No fruits borne.

2. Something to do with the structure of

[2017-02-02 18:24] kevinvangelder commented on #640
Can you confirm you have the SDKs for 23.0.1, 23.0.2, 23.0.3, and Google Play Services in your Android SDK manager?

[2017-02-02 18:31] rameez-dynamo commented on #640
I do have those installed.

[2017-02-03 03:16] nikkollaz opened #642 "Unknown named module: reduxsauce"
Hi, i am trying to run and test Ignite by first time, i can't find how to fix errors.

**I do this steps:**
sudo ignite new MyIgnite9
cd MyIgnite9
react-native run-android

Compiles everything ok but on runtime on emulator shows me this error...
Unknown named module: 'reduxsauce'

**I tried to do this actions:**
sudo yarn install
react-native link

**but do not build anymore shows me this error:**

[2017-02-03 03:25] kevinvangelder commented on #642
You shouldn't need to run `sudo` for any of those commands, and in fact it is strongly discouraged to use `sudo` for anything related to `npm`, and probably by extension `yarn`. If you can't run these commands without `sudo` then you probably have a problem with your npm/yarn installation. I know it sucks, but I would try uninstalling npm/yarn and installing it without `sudo`.

[2017-02-03 04:40] jamonholmgren opened #643 "Prevent some commands from running unless in ignited app"
- [x] Issue does not already exist
- [x] ignite the cli

## Replication Steps

_Note this is with the current `next` branch installed and linked._

1. `ignite new Foo` and complete the generation of the project
2. `ignite new Foo` again
3. Note that it does not error

It should refuse to continue if the folder exists.

[2017-02-03 04:58] jamonholmgren opened #644 "`ignite new` fails with TypeError: system.spawn is not a function"
[code]

However, while filing this issue I was able to resolve my own issue.

1. Go into your `ignite/packages/ignite` folder
2. Run `npm install`

It'll bring in the latest `gluegun` and everything works.

Filing this anyway in case someone else runs into this.

[2017-02-03 04:58] #644 closed

[2017-02-03 05:12] jamonholmgren opened #645 "Igniting a new app with no vector icon package causes a runtime error"
## Steps to replicate

1. With Ignite 2, `ignite new Foo` and answer `none` to all the questions
2. Try to run the app with `react-native run-android` or ios
3. Observe this error:

[code]

[2017-02-03 05:23] jamonholmgren commented on #645
I tried just adding the vector icons package and I get this:

![image](https://cloud.githubusercontent.com/assets/1479215/22580499/bd4863fa-e98d-11e6-9a76-08815253e42c.png)

We'll want to test each library in isolation, and none at all, before we're done with this.

[2017-02-03 05:30] skellock commented on #643
We had this, but wasnt working.  I took it out so we can continue. Will address tomorrow.

[2017-02-03 05:37] skellock commented on #644
This note was in my PR.  I think we might need to track these notes in a release.  Even if its just for us right now.  Sucks that you lost time to this.

[2017-02-03 18:41] Blackclaws opened #647 "Ignite generated redux files don't work (Wrong reducer name)"
### Hiya! So you think it's broken or missing a feature eh?

Welllllll, it just might be.  Do me a favor and check the following.

- [x ] Issue does not already exist
- Identify exactly what aspect your issue is about
  - [ ] ignite base application
  - [ ] ignite the cli
  - [x] ignite generated code

Also, for the quickest assistance please run `ignite doctor` and paste in
everything (including

[2017-02-03 18:51] akusany2 opened #648 "I'm being run in an Ignite directory."
### Sorry, I couldn't create a new app here, I'm being run in an Ignite directory.

- [x] ignite the cli

[code]

Just installed ignite with guidelines but facing this error when init a new app.
`ignite new test`

test folder does not exists in the directory.

Am I missing something?

[#349](https://github.com/infinitered/ignite/issues/349)

[code]

Everything appears to be good - checking on the

[2017-02-03 18:54] ruddell commented on #647
I think it's fixed but not released https://github.com/infinitered/ignite/issues/578

[2017-02-03 20:09] GantMan commented on #647
so sorry, we need to release this.  I'll try to make time today.

[2017-02-03 20:19] kevinvangelder commented on #648
Is there an `App` directory in that folder? That check is a little over-simplified.

[2017-02-03 21:20] Blackclaws commented on #647
Ah  I see. Any update on the timeline for 2.0? Is there going to be a February release?

[2017-02-03 21:27] GantMan commented on #647
we're working towards it!   :crossed_fingers:

[2017-02-03 21:34] skellock commented on #647
My answer is HELL YES.

[2017-02-03 21:42] GantMan commented on #647
this is why I love you Steve.  <3

LET'S MAKE THIS HAPPEN!

[2017-02-04 06:15] akusany2 commented on #648
Damn! I missed it, there is an App directory in my folder, sorry about this 💯

[2017-02-04 06:15] #648 closed

[2017-02-04 13:45] skellock commented on #606
Here's the error when there's a problem:

[code]

Feel free to open this ticket again if you think this can be improved somehow.

[2017-02-04 13:45] #606 closed

[2017-02-04 13:46] skellock commented on #602
Now in place.

[2017-02-04 13:46] #602 closed

[2017-02-04 13:49] skellock commented on #631
This is now in place.

[2017-02-04 13:49] #631 closed

[2017-02-04 13:53] waqas19921 commented on #638
When will ignite version that supports 0.41 being launched?

[2017-02-04 15:30] GantMan opened #652 "[2.0] - Create Newclear for Ignite - Official command"
Should bring in newclear
https://github.com/GantMan/mobile-commander/blob/master/bin/newclear.sh

@kevinvangelder - you should write this, and include the command to detect windows build folders and delete those as well.  Since that recently bit you in Win95 or wutevs you use.

[2017-02-04 15:32] GantMan commented on #638
I think we have it in 2.0, if you'd like to use that.

Otherwise we'll be getting it into 1.x this weekend.

[2017-02-05 20:28] nonameolsson commented on #563
Thank you @derekgreenberg! That worked.

[2017-02-05 20:28] #563 closed

[2017-02-06 12:30] Blackclaws commented on #621
Is there an official guide how to build and install ignite 2.0? Or are you going to publish @next npm packages?
Should we start using 2.0 for production for easier migration?

[2017-02-06 13:20] skellock commented on #621
Not quite ready for human consumption just yet.

We will tag with a pre-release once we're ready to go though.  So much has been fluctuating, it'd be demoralizing for someone to start documentation just yet.  :)

[2017-02-06 16:44] skellock commented on #616
Implemented in #655 .

[2017-02-06 16:44] #616 closed

[2017-02-06 16:45] skellock commented on #615
Fixed by #655 .  `ignite/ignite.json` is now completely optional.

[2017-02-06 16:45] #615 closed

[2017-02-06 18:44] kevinvangelder commented on #648
No problem, in the future we'll have a more specific check that won't fail when a generic folder is present.

[2017-02-07 15:29] kyawmoehaynes opened #656 "Ignite stuck at step Installing Ignite dependencies (~ 1 minute-ish)"
When I Ignite new App, the installation stuck at step "Installing Ignite dependencies (~ 1 minute-ish)"

<img width="643" alt="screen shot 2017-02-07 at 11 17 49 pm" src="https://cloud.githubusercontent.com/assets/7079899/22697521/9e8b9c4a-ed8c-11e6-8eb9-5a7994d07a23.png">

<img width="362" alt="screen shot 2017-02-07 at 11 17 40 pm" src="https://cloud.githubusercontent.com/assets/7079899/22697520

[2017-02-07 16:03] #656 closed

[2017-02-08 06:02] valinaga commented on #638
Hi,

Any updates on RN 0.41? Can't wait to get into it. Thanks.

[2017-02-08 10:16] iamrutvik opened #658 "When Ignite will support React Native 0.41?"
Is there any road map?

[2017-02-08 21:32] ali-hellani opened #659 "Ignite Documentation/Tutorials"
I have just started using ignite and have figured out some of it, but is there any documentation or tutorials on how to use the features it provides and to get more familiar with the structures ?!

[2017-02-08 23:07] GantMan commented on #658
We've got it in ignite 2.0, and we plan on having 2.0 released this month.  So we'll handle it that way.

That sound right @jamonholmgren and @skellock ?

[2017-02-08 23:07] GantMan commented on #638
@valinaga - would you like to try 2.0?  I'll screen share with you and you'll be on RN 0.41

[2017-02-08 23:43] skellock commented on #658
That would be my preference.

[2017-02-09 05:22] valinaga commented on #638
This will be great!
Thanks,

Vali Nagacevschi
CEO

Tel:+ 40 788 10 10 11

On 9 Feb 2017, 01:08 +0200, Gant Laborde <notifications@github.com>, wrote:

[2017-02-09 08:04] bhushanjawle commented on #292
Thank you @skellock for the snippet to hide back button. Thank you @BipinBhandari for the code, worked for me to get display the hamburger menu after login.

[2017-02-09 11:33] eduardomoroni opened #660 "Deprecated dependency - Ghooks"
[Ghooks](https://github.com/gtramontina/ghooks) is deprecated, now we have [Husky](https://github.com/typicode/husky).

The reasons are [here](https://github.com/gtramontina/ghooks/issues/166).

## Migrating to Husky

To migrate from `ghooks` to `husky`, uninstall `ghooks` and install `husky`:

[code]

`ghooks` scripts will be automatically migrated and custom hooks will be preserved.

[2017-02-09 17:09] waqas19921 commented on #638
I have tested RN 0.41 with ignite 1.13 there is no breaking thing everything is fine. Please update to RN 0.41.

[2017-02-09 18:43] kevinvangelder commented on #660
#584 Fixed this for Ignite 1.0 and we'll probably be updating Ignite 2.0 in the near future.

[2017-02-09 19:50] jamonholmgren commented on #659
@ali-hellani Welcome, friend!

First, start with the intro video: https://www.youtube.com/watch?v=5SVLs_NN_uY

Then join our Slack: http://infiniteredcommunity.herokuapp.com/

Ask questions in the #ignite channel in there and we're happy to help!

[2017-02-09 19:50] #659 closed

[2017-02-09 19:52] jamonholmgren commented on #658
Correct. Thanks for the question @iamrutvik

[2017-02-09 19:52] #658 closed

[2017-02-09 19:58] jamonholmgren commented on #643
@skellock Low priority

[2017-02-09 21:37] jamonholmgren commented on #633
Great idea @skellock

[2017-02-09 21:39] valinaga commented on #638
RN 0.41 goes with which version of react?
Thanks

Vali Nagacevschi

On 9 Feb 2017, 19:09 +0200, Waqas Ahmed <notifications@github.com>, wrote:

[2017-02-09 22:04] jamonholmgren commented on #656
@kyawmoehaynes You self-closed this, is it something you still need help with?

[2017-02-10 03:41] jamonholmgren opened #664 "Update the README to avoid confusion during 1 -> 2 migration"
Per #662 , we're going to be merging `next` into `master` and forging ahead with Ignite 2 as fast as possible. Yay.

But people coming to the repo in the meantime may get confused.

Let's get the README polished up really nice and have an Ignite 1 and Ignite 2 section, clearly showing the roadmap.

[2017-02-10 13:15] skellock commented on #664
Love it!

[2017-02-10 13:49] nonameolsson opened #666 "Unknown error, "ava""
### Hiya! So you think it's broken or missing a feature eh?

Welllllll, it just might be.  Do me a favor and check the following.

- [X] Issue does not already exist
- Identify exactly what aspect your issue is about
  - [ ] ignite base application
  - [ ] ignite the cli
  - [X] ignite generated code

[code]

Hi!
I'm having trouble to start my Ignite generated app.

This is the error message which

[2017-02-10 13:51] skellock commented on #666
Does windows have a `node_modules/.bin` folder?  Or do they call it something else?

[2017-02-10 14:06] nonameolsson commented on #666
Yes it has. Here's a screenshot of it and its content.
![screenshot_2](https://cloud.githubusercontent.com/assets/1493018/22829364/86627a72-efa2-11e6-9e36-8f1808d850c9.png)

[2017-02-10 14:41] nonameolsson commented on #666
I just installed Ignite on my Mac, and tried to start a new project
[code]

This was the result.
<img width="1433" alt="screen shot 2017-02-10 at 15 41 03" src="https://cloud.githubusercontent.com/assets/1493018/22830592/5e3e221c-efa7-11e6-967f-5c24f541d7c4.png">

[2017-02-10 16:40] skellock commented on #666
Thats strange.  Was this after running `ignite new Thing`?

Can you try `cd android && ./gradlew clean && cd .. && react-native run-android` again.  Just make sure it's clean.

[2017-02-10 16:45] skellock commented on #666
For the Windows issue can you turn of hot reloading and try again?  Does that work?

[2017-02-11 06:49] valinaga commented on #638
It didn't work with actual version. I'm getting errors about headers all over the places.
Please let me know when the 2.0 version will be ready.
Thanks

[2017-02-11 06:54] skellock commented on #638
Ya, Ignite 1 is staying at 0.39.2 because of breaking changes to iOS components introduced by React Native 0.40.0.

In Ignite 2.0 we're on the latest.

More details when it ships!

[2017-02-11 06:54] #638 closed

[2017-02-11 18:07] paulsumit1993 commented on #642
I ran into the same issue on windows

[2017-02-11 18:17] skellock commented on #642
@paulsumit1993 are you getting a permission issue too?

[2017-02-11 18:50] paulsumit1993 commented on #642
Its fixed now, just run `yarn` or `npm install` in your react native project root directory to install missing dependencies.

[2017-02-11 19:26] skellock commented on #642
Yep.  The dependencies need to be installed for society to function.  Glad you're hooked up!

[2017-02-11 19:26] #642 closed

[2017-02-11 21:29] GantMan opened #672 "Clean out Devscreens"
As of right now, dev screens depend on app styles.  The schism needs to happen! ➗

1. Move styles over to dev screens
2. Make dev screens point to new styles
3. Delete unused styles from copied files
4. Delete unused styles from original themes folder

[2017-02-11 22:40] jamonholmgren commented on #634
I've replicated this issue with a barebones `prompt-list` and `enquirer` repo and filed an issue.

https://github.com/enquirer/prompt-list/issues/2

[2017-02-11 23:35] jamonholmgren commented on #634
I just tested using Inquirer instead of Enquirer and it works fine. We would lose these prompt types (unless there are plugins for these, which there possibly are -- haven't checked):

radio
question
autocomplete

For now, I'm going to introduce a dependency on Inquirer into Ignite until prompt-list is fixed and then we can switch back to the Gluegun one. Or if Gluegun switches to Inquirer too.

[2017-02-12 00:31] codecounselor commented on #512
I just tried generating a new project for the first time today and I think I'm running into this same issue.

![image](https://cloud.githubusercontent.com/assets/12678528/22858543/bcf932aa-f08e-11e6-9e08-e8abb1808609.png)

[code]

I've tried several things including running with NPM 3 and NPM 2.  I've installed socket.io-client at the project and global level as well.

And I've tried several sugge

[2017-02-12 00:44] skellock commented on #512
Uh oh.  Whenever I see socket.io errors, I immediately get worried.

It straight-up won't work on NPM 2 now.  That I can tell you for sure.

Can you switch to `npm 3` and try with a freshly ignited project?  I see the version of the one you're using is 0.30.0.

If you still encounter troubles, let's start another Issue and reference this one.

[2017-02-12 01:10] codecounselor commented on #512
So I think first try was actually with npm v4.  Once I switched to 3 I started getting a different error, seeminly due to an older version of `react-native` as you pointed out.  That confuses me as well, because I just installed ignite for the first time today, have run and update, and have freshly ignited 4 project.  They all install with older dependencies that what is in `https://github.com/inf

[2017-02-12 06:04] skellock opened #676 "Node 7 Requirement?"
### Problem

Will Node 7 be too much of a barrier?  I want to say no, but I'm not sure.  It's trivial to install `npm i -g n && n 7.5`.

Will people be wanting all the babel-provided JS features they're used to in RN?

### Ignite vs Gluegun

In gluegun, we don't necessarily run in a babel environment.  Use node 7 --harmony.  The end.  Bye!

However,

An `ignite-*` plugin lives in the `node_modules

[2017-02-12 06:24] GantMan commented on #676
my thought on this, let's do node 7 and see what happens

[2017-02-12 18:14] RWOverdijk commented on #676
Is this related to the error I'm getting?

[2017-02-12 18:29] skellock commented on #676
Are you on the `next` branch?

[2017-02-12 20:45] nikkollaz commented on #642
it's working now, i make my script to install new apps using Ignite because when i tried always crash when it is installing dependencies, but with this i fix it.

sudo ignite new <project name>
cd <project name>
npm install reduxsauce --save
npm install
react-native link react-native -device-info
react-native run-ios

[2017-02-13 09:44] RWOverdijk commented on #676
@skellock I am not, no. I just installed globally so the latest release. Should I use next for node 7?

[2017-02-13 11:08] skellock commented on #676
We are using Node 7 for Ignite 2. It isn't ready yet, so I'd say hang tight on Ignite 1 for now.

[2017-02-13 17:51] kevinvangelder commented on #672
Technically we've only done 1 & 2.

[2017-02-13 17:53] kevinvangelder commented on #642
I'm glad you were able to get it working, but I would still strongly advise you fix your NPM environment so that you are no longer running commands via sudo. There are many unintended consequences this cause so it's likely that as long as you are using sudo you'll have issues using Ignite.

[2017-02-13 18:39] nikkollaz commented on #642
yeah i think is the best kevin, i will fix my npm environment, one day i could repent not having listened you ;)

[2017-02-13 19:26] skellock commented on #672
Oops.  I did it again.

[2017-02-13 20:33] jamonholmgren commented on #621
Ref #675

[2017-02-13 21:57] robinheinze opened #677 "[2.0] Document Creation Process for Ignite Plugins"
We will be using https://github.com/ArnaudRinquin/react-native-radio-buttons as an example to document how to create a new ignite plugin from an existing library.

[2017-02-14 09:27] bhushanjawle commented on #217
Installing the module as `npm i generator-react-native-ignite -g` solved it for me. Thanks you @GantMan

[2017-02-14 19:30] jamonholmgren opened #680 "Add more fields to generated plugins"
Generated plugins should also include `description`, `license`, `devDependencies` in their generated `package.json`.

[2017-02-14 19:40] skellock commented on #680
Heads up; `devDependencies` are optional. I could be convinced of peer dependencies, but we decided not to for now.

[2017-02-14 19:55] jamonholmgren commented on #680
We should also add `author`, `url`, and also add a sample README.md file.

[2017-02-14 23:16] GantMan commented on #680
also the generated file has blah.js instead of blah.js.ejs for examples

[2017-02-14 23:53] jamonholmgren commented on #680
@robinheinze Could you fix these things in Ignite?

[2017-02-15 04:20] sanketsahusoft commented on #447
Woah! I didn't know it was so much like our idea of ReazyFramework.io 😲

[2017-02-15 17:35] robinheinze commented on #680
Working on this now.

[2017-02-15 19:37] codeithuman opened #685 "Generate appears to do nothing"
When using Ignite 2 Alpha, I can run `ignite generate MyIgniteProject`. When running this command, the Ignite "header" displays in the terminal, but no new project is created or error displayed.

![screen shot 2017-02-15 at 11 30 59 am](https://cloud.githubusercontent.com/assets/3494509/22991935/e41859b0-f372-11e6-93f6-c21d7a648e07.png)

I would recommend displaying a message asking if the develop

[2017-02-15 19:42] kevinvangelder commented on #685
Generate is a namespace, so it will actually probably list the available sub-commands.

[2017-02-15 19:43] skellock commented on #685
Let's put a message in that says, "No generators installed.  Check out https://github.... for more info"?  Or something?

[2017-02-15 19:45] codeithuman commented on #685
Oh I see. Maybe `ignite generate` can detect if there is an ignite project is the current directory and display something similar to git?

[code]

Or something like Steve mentioned about not having generators installed.

[2017-02-15 19:46] kevinvangelder commented on #685
Yeah, those are good suggestions. We had an "is an ignite project" check built-in, but it got disabled.

[2017-02-15 20:23] skellock commented on #685
Ya it was broken, I couldn't run anything so i had to turn it off.

So let's detect if there's no generators and display an error message.

We could put it [just before this line](https://github.com/infinitered/ignite/blob/next/packages/ignite/src/commands/generate.js#L107) by checking `length(userRegistry) === 0` where `import { length } from 'ramda'`... or however you want to do it.

[2017-02-15 20:23] skellock commented on #621
Closing, we have tests.

[2017-02-15 20:23] #621 closed

[2017-02-15 20:32] skellock commented on #643
So, let's bring it back like this:

#### Are we in an ignited project?

Criteria:
* presence of a `./ignite/ignite.json` file
* presence of a `./node_modules/react-native/package.json` file.

(We expect people to be in their root project directory. Maybe in the future we can support running commands from a sub directory)

Triggered By Running:
* `generate`, `add`, `remove`, or `spork`

Action:
* p

[2017-02-15 20:34] skellock commented on #685
Thanks for having these discussions guys.  This stuff matters.

Sorry that I clobbered your code @kevinvangelder.  Added more details to #643 about checking if we're in an ignite project if you wanna bring 'er back?

[2017-02-15 21:33] skellock opened #686 "Setup lerna for publish"
We'll be publishing with lerna, so let's make sure that's firing on all cylinders.

* Switch to independent version numbers (which means we may not be able to use github releases).
* Tag `react-native-ignite` on npm as @alpha so we can practice a bit.  The other repos are new, so they don't need a tag just yet.

[2017-02-15 21:38] skellock commented on #686
Deploy from Travis.  I want this to be a thing.  But I don't know if it's a thing.  Can someone tell me if it's a thing?

[2017-02-16 08:25] jamonholmgren commented on #686
@skellock It's a thing: https://docs.travis-ci.com/user/deployment/script/

[2017-02-16 12:44] skellock commented on #447
Didn't we talked with you late last year about Ignite 2 and you wanted to build a plugin? :rofl:

I think @jevakallio was building GetPepperoni at the same as we were building Ignite 1.0.  The idea isn't unique.  We all share this problem as soon as you start firing up project number 2. Snowflake was the first, and now there's about 30 boilerplates.  Even React Native is doing it now.

But as @jev

[2017-02-16 16:26] skellock opened #688 "Convert toml to json for ignite plugin authors"
We did this recently for the `ignite/ignite.toml` for apps, but now let's finish this up for `ignite.toml` for plugin authors.

Currently we only use this for defining generators, so it's only present in `ignite-basic-generators`.

The game plan is to call this `ignite.json`.  It'll be optional to have this.  #681 has that fix, so I'd like to get that merged before I do this one.

[2017-02-16 16:31] skellock opened #689 "Seperate ignite extensions into individual files"
https://github.com/infinitered/ignite/blob/next/packages/ignite/src/extensions/ignite.js grew up way too fast.

Time to chop it up into multiple files:

* findIgnitePlugins
* appConfig (flashbacks to my days as a .NET dev... shudder)
* addModule
* removeModule
* copyBatch
* addComponentExample
* removeComponentExample
* igniteConfig
* debugConfig
* generate

(see if we're still using this patchInF

[2017-02-16 17:48] skellock opened #690 "Prevent addComponentExample from magically appending .ejs"
This is the wrong level of magic:

~https://github.com/infinitered/ignite/blob/next/packages/ignite/src/extensions/ignite.js#L201~
https://github.com/infinitered/ignite/blob/master/packages/ignite-cli/src/extensions/ignite/addPluginComponentExample.js#L23

Not all component examples are templates, and there's no harm in running all files through the generator, but let's not have the user type `add

[2017-02-16 17:56] skellock opened #691 "Latest AVA failing because of Test/Setup.js"
This line:

https://github.com/infinitered/ignite/blob/master/ignite-base/Tests/Setup.js#L46

is causing us grief in the latest version of AVA.  It's conflicting with something within `react-native-vector-icons`.

The work around is to stub React Native Vector Icons or as @javiercr recommends:

![image](https://cloud.githubusercontent.com/assets/68273/23033731/3fda4ac2-f447-11e6-81cf-75101e5b0726.

[2017-02-16 18:03] javiercr commented on #691
Just to clarify. I didn't get this problem until I created my custom icon font using `createIconSet`. When using the icon sets that come bundled with `react-native-vector-icons` it seems to be enough to mock them as done here:

https://github.com/infinitered/ignite/blob/master/ignite-base/Tests/Setup.js#L23

[2017-02-16 18:26] #677 closed

[2017-02-16 18:27] robinheinze commented on #677
Done with https://github.com/infinitered/ignite/pull/692

[2017-02-16 19:21] GantMan commented on #690
agreed

[2017-02-16 21:10] skellock opened #693 "Console output missing from a few generators"
We're not seeing console output anymore in `component` and `container`.

![image](https://cloud.githubusercontent.com/assets/68273/23041298/73777eca-f462-11e6-82de-6b60237e6cb2.png)

[2017-02-17 12:05] sanketsahusoft commented on #447
@skellock First of all thanks a lot for explaining the problem with the community so well.

And I didn't know we were talking about Ignite 2.0 back then. Better late than never though. Gant gave us a demo in the meet up and it's AMAZING!

And also, we believe in the same idea of "mechanics & opinions need to be separated".

I have joined the Slack community. We can definitely talk and collaborate

[2017-02-18 18:33] RWOverdijk commented on #45
👍

[2017-02-19 18:57] GantMan opened #696 "[2.0] Just `cd` into the damn folder"
![image](https://cloud.githubusercontent.com/assets/997157/23105300/ccad7ed0-f6a2-11e6-87e8-49ac3bec5cff.png)
3 commands spit out, all 3 have the same first step.   Let's just cd into the folder when we're done.

[2017-02-19 18:59] GantMan opened #697 "ignite add windows"
There are 3 or so steps to add windows to a project.  Wrap them up into `ignite add windows` plugin.

[2017-02-20 00:36] molerat619 commented on #382
I also have that problem with the generator. I am afraid of removing the current `yo` because I use it for other web projects at work. Will that break if I follow the described methodology?

[2017-02-20 01:00] GantMan opened #699 "Plugin Generator Example"
2 small nits for you @jamonholmgren

First off, I'd like to change the question to:
"Will your plugin have an example component?"

Because "Would you like to generate an example component" sounds like I might have a generator that makes components, which is not clear.

Second, I said "NO"
![image](https://cloud.githubusercontent.com/assets/997157/23108596/4627c9fa-f6d5-11e6-8134-e1da52fdeb43.png)

[2017-02-20 02:03] jamonholmgren commented on #699
👍 ty @GantMan , will look next week.

[2017-02-20 02:11] jamonholmgren commented on #382
@molerat619 You might want to wait for Ignite 2, which does not use Yeoman.

[2017-02-20 08:08] giangqaz opened #700 "Any recommend about library for redux reusable complex components."
Now, I face with some complex listview component that reusable.
does any recommend for that?

[2017-02-20 12:45] molerat619 commented on #382
Ok, thanks for the info. Is there a release date yet?

[2017-02-20 14:34] skellock commented on #382
We're hoping for the end of February*.

<sub>(* This year February has 40 days though.)</sub>

[2017-02-20 15:02] GantMan opened #701 "[2.0] - Incorrect error message"
When you run add and you'r plugin is valid, but the current project you're in is not, the error message is wrong.
![image](https://cloud.githubusercontent.com/assets/997157/23130208/301d45e2-f74b-11e6-89dd-dc997fe04216.png)

Developing a 3rd party plugin I had 3 terminals open.  I ran this in the wrong one and for 5 minutes I was absolutely confused due to the error message.

[2017-02-20 15:04] skellock commented on #701
https://github.com/infinitered/ignite/pull/681 makes this optional.

[2017-02-20 15:04] skellock commented on #701
Drop an `ignite.toml` with my apologies for a short-term fix.

[2017-02-20 15:07] GantMan commented on #701
Nope, the error itself is misleading.  So much so, it confused you too :)

[2017-02-20 15:08] GantMan commented on #701
The plugin from add was valid.   The current directory I was in was not.

[2017-02-20 15:08] skellock commented on #701
HAHA!  Owned.

Ugh.  Ugly.  Thx dude.

[2017-02-20 15:37] GantMan opened #702 "Remove doesn't work like add can with paths"
It should check if it's a path before just checking package.json for the name.

![image](https://cloud.githubusercontent.com/assets/997157/23131561/13b3a40a-f750-11e6-90b2-3bc31d42cbee.png)

[2017-02-21 12:46] skellock commented on #28
I recently worked with a client and they had this component in their app.  It was a constant source of grief unfortunately.

[2017-02-21 12:46] #28 closed

[2017-02-21 12:47] #55 closed

[2017-02-21 12:47] #61 closed

[2017-02-21 12:48] skellock commented on #66
We have integration tests now in v2.  They were working.  Then not working.  And dammit I will make them work again.  Having issues with npm.

[2017-02-21 12:48] #66 closed

[2017-02-21 12:50] skellock commented on #109
I'd love to see a good form generator. With Ignite 2.0, this could be a great plugin someone could make.

[2017-02-21 12:50] #109 closed

[2017-02-21 12:51] skellock commented on #119
I'd say this lands squarely in plugin territory nowadays!  I've got a project starting today and running 4 weeks where they want this.

[2017-02-21 12:51] #119 closed

[2017-02-21 12:52] skellock commented on #133
As soon as someone uses a interpolated string, this becomes an impossible task unfortunately.

[2017-02-21 12:52] skellock commented on #145
Perhaps someone can wrap the library @ahmed1490 mentioned into a plugin.

[2017-02-21 12:52] #145 closed

[2017-02-21 12:53] skellock commented on #153
With the new app-templates and plugins in 2.0, redux is now optional.

[2017-02-21 12:53] #153 closed

[2017-02-21 12:54] skellock commented on #162
This becomes very possible with plugins in 2.0.  You can make a generator plugin now.

[2017-02-21 12:54] #162 closed

[2017-02-21 12:55] skellock commented on #170
We're overhauling 2.0 of ignite including the navigation.  Once `react-navigation` is ready to go, it'll be optional to use their drawer.  🎉

[2017-02-21 12:55] #170 closed

[2017-02-21 12:56] skellock commented on #156
This is possible to do now in 2.0 with plugins.  I'd love to see a relay or an apollo plugin!

[2017-02-21 12:56] #156 closed

[2017-02-21 12:57] skellock commented on #150
`ignite new MyApp --min` or `ignite new MyApp --empty` or you can even create your own app templates in 2.0.

[2017-02-21 12:57] #150 closed

[2017-02-21 12:58] skellock commented on #163
This looks great.  Plugins are a new feature in 2.0 and these types of components fit right in there.

[2017-02-21 12:58] #163 closed

[2017-02-21 12:59] skellock commented on #191
We now have `ignite spork` if you want to tweak the templates just a bit.  We also have plugins where you can make your own generators!  All in 2.0.  Coming soon!

[2017-02-21 12:59] #191 closed

[2017-02-21 13:00] #196 closed

[2017-02-21 13:01] skellock commented on #205
In Ignite 2, we support plugins.  It'd be awesome for someone to create a plugin for Firebase!

[2017-02-21 13:01] #205 closed

[2017-02-21 13:03] skellock commented on #391
Hot reloading sagas is app-dependant.   Sagas maintain their state and interrupting them may or may not make sense for all apps.  Have a look at task cancellation in sagas for more details.

Reducers on the other hand can be reloaded!

[2017-02-21 13:03] #391 closed

[2017-02-21 13:03] skellock commented on #280
In Ignite 2, we're hoping to launch with `react-navigation`.  This becomes much easier to do with their stacks.

[2017-02-21 13:03] #280 closed

[2017-02-21 13:04] skellock commented on #248
In Ignite 2.0, plugins are a thing. They allow you to plugin to Ignite as if you were writing into core!

[2017-02-21 13:04] #248 closed

[2017-02-21 13:05] skellock commented on #288
Ignite 2.0 is looking to ship with `react-navigation` which uses this feature out-of-the-box.

[2017-02-21 13:05] #288 closed

[2017-02-21 13:05] skellock commented on #358
This is now gone.  But could rise from the ashes as a plugin!

[2017-02-21 13:05] #358 closed

[2017-02-21 13:07] skellock commented on #429
I'd love to see something like this come through.  It's probably a better fit as a plugin or generators.

It blows my mind how compatible `react-native` and `react-native-web` are.

[2017-02-21 13:07] #429 closed

[2017-02-21 13:08] skellock commented on #365
This is a great suggestion.

[2017-02-21 13:10] skellock commented on #287
@GantMan, @kevinvangelder and @leonskim have been knee deep in Windows + React Native.  It's very possible.  We're going to be shipping 2.0 with Windows support as a target as well.

[2017-02-21 13:10] #287 closed

[2017-02-21 13:10] skellock commented on #239
We're going with lerna now that this is a monorepo.

I still use xyz for my small projects.  I like it.  It's no frills.  :)

[2017-02-21 13:10] #239 closed

[2017-02-21 13:11] #275 closed

[2017-02-21 13:11] skellock commented on #426
Someone in #170 had mentioned that they had to remove the drawer for this to work.

[2017-02-21 13:11] #426 closed

[2017-02-21 13:12] skellock commented on #440
In ignite 2, we detect yarn and install using it (where we can -- sometimes it's just broken!)

[2017-02-21 13:12] #440 closed

[2017-02-21 13:13] #371 closed

[2017-02-21 13:14] skellock commented on #451
The good news is that selectors can be written by "sporking" the redux template in Ignite 2.0.  Also you can write your own generators now.

[2017-02-21 13:14] #451 closed

[2017-02-21 13:15] skellock commented on #442
We can now do early detection ourselves by `ignite new FutureBreakage --react-native 0.42-rc.2`.

[2017-02-21 13:15] #442 closed

[2017-02-21 13:16] skellock commented on #455
Thanks for the heads up!

[2017-02-21 13:16] #455 closed

[2017-02-21 13:18] #369 closed

[2017-02-21 13:19] #133 closed

[2017-02-21 13:20] skellock commented on #67
yarn significantly speeds up the re-install time.

[2017-02-21 13:20] #67 closed

[2017-02-21 13:21] skellock commented on #67
Also tracking in #652.

[2017-02-21 13:22] skellock commented on #416
There's a couple issues around ReduxPersist timing.  We're going to have a closer look at this when it comes time to fix it up for Ignite 2.0.  Thank you.

[2017-02-21 13:22] #416 closed

[2017-02-21 13:26] semiautomatix commented on #287
@skellock do with have a 2.0 date yet? Very excited!

[2017-02-21 13:34] skellock opened #709 "Debug Switch"
Let's a `--debug` option to `ignite new NewApp` that shows the contents of each sub process.

[2017-02-21 13:39] skellock commented on #709
Places [like this](https://github.com/infinitered/ignite/blob/master/packages/ignite-cli/src/commands/new.js#L90) would be awesome if were were to echo out the command before executing.

And places [like this](https://github.com/infinitered/ignite/blob/master/packages/ignite-cli/src/extensions/reactNative.js#L58) would be nice if they piped through their output to our output.

[2017-02-21 13:45] skellock opened #710 "Add current directory ignite doctor."
When folks run `ignite doctor` let's display the current directory too.  It'll help with the conversations for debugging.

[Right around here](https://github.com/infinitered/ignite/blob/master/packages/ignite-cli/src/commands/doctor.js#L34) should do the trick.

[2017-02-21 13:49] skellock commented on #697
Should this be a plugin?  Or do we want this to be an app template?  or a command line switch we send to unholy?

I ask because I really don't know what's involved.

[2017-02-21 13:50] skellock commented on #287
Hopefully before March 1st.  We're going beta this week.  🎉

[2017-02-21 13:51] skellock commented on #688
This is unblocked and ready to go.

[2017-02-21 17:08] #709 closed

[2017-02-21 17:27] skellock opened #712 "React Native Version Bugs"
Since introducing app templates, the `react-native` version inside `package.json` is blank.

We also lost the ability to pass through `--react-native-version`.

[2017-02-21 19:52] GantMan commented on #697
It's like "add this platform" which I would like as a command.  That's kinda how it is now.  You get iOS and Android for free, and then you say "gimme X too!"

[2017-02-21 21:32] juddey opened #715 "Startup Saga called twice when starting up an app"
The startup saga is being called twice when starting up an app.

![image](https://cloud.githubusercontent.com/assets/7445602/23185943/1b5aea6a-f8ea-11e6-9666-1052271834c7.png)

![image](https://cloud.githubusercontent.com/assets/7445602/23185802/9332c3e2-f8e9-11e6-9503-16b109b6a5a3.png)

[2017-02-21 21:37] skellock commented on #715
If you're using `redux-persist`, then let it handle startup timing.   Since the state could take a while to render, only `redux-persist` knows when it is ready to dispatch `startup()`.

Firing it twice in our sample app doesn't do any damage, but a real app might have unintended consequences.

Good catch guys.

[2017-02-21 23:18] GantMan opened #717 "nothing happening in install in some spots"
I only caught a second of it.  But there are long pauses of nothing

![nothing](https://cloud.githubusercontent.com/assets/997157/23189684/bdb69d5e-f859-11e6-8bb8-fc8beb414e84.gif)

[2017-02-21 23:40] skellock commented on #717
gotcha.  You have to turn off the spinner before printing, so in the weaving I missed something.  Thx for reporting.

[2017-02-22 16:38] skellock commented on #696
Problem with this is, you have to wrap our cli in a shell script.  This will make it have issues with windows out of the box.

I can't think of good way to do this.  Would love to hear some ideas.

[2017-02-22 16:39] skellock opened #723 "Unholy is missing the Tests Folder"
We somehow forgot to bring over the Tests that we had in the Ignite base app.

Let's bring that over, upgrade `ava`,  ensure they're all passing and linting.

[2017-02-22 16:40] skellock opened #724 "Fix --skip-jest in the Unholy App"
This was working.  Then I unfixed it.

[2017-02-22 16:46] skellock commented on #724
Ok, it's still working.  Jest isn't being installed.  The `__tests__` directory comes from `react-native init`.  I'll just remove those for the `unholy-app-template`.

[2017-02-22 17:00] skellock commented on #723
There's a few issues with the tests unfortunately.  I'll add these files, get it running, but remove any tests whose techniques have gone stale.

[2017-02-22 17:23] skellock commented on #700
ListView's data is given to it externally via a datasource.  Which makes it very reusable.

Here's some details on that:  https://facebook.github.io/react-native/docs/listview.html

For the data part, it sound like you might be interested in a few tutorials to get started:

https://github.com/markerikson/react-redux-links/blob/master/basic-concepts.md

[2017-02-22 17:23] #700 closed

[2017-02-22 17:29] #723 closed

[2017-02-22 17:31] GantMan commented on #696
o yeah... we can't `cd` because we're a separate process from shell.

No way to cat/pipe a cd in there eh?

[2017-02-22 17:31] skellock commented on #696
Nope.  Not without sorcery™.

[2017-02-22 17:36] #724 closed

[2017-02-22 17:36] codeithuman commented on #537
Thanks for this 👍

Was able to fix the issue on my project with:

[code]

[code]

[2017-02-22 17:46] #696 closed

[2017-02-22 17:50] designorant commented on #696
I think this is perfectly fine. `react-native init` requires `cd` afterwards too.

 I wouldn't like to see anything jump folders for me anyway.

[2017-02-22 19:21] Danm72 commented on #483
Bump, just installed it with $ANDROID_HOME in my path and still got the Missing android error.

[2017-02-23 00:08] skellock commented on #712
Fixed in #718

[2017-02-23 00:08] #712 closed

[2017-02-23 00:50] #680 closed

[2017-02-23 04:38] jamonholmgren commented on #637
So I'd like to solicit more feedback, from @GantMan in particular, about this issue. @derekgreenberg too. My recommendation is that we build a very specific guide upgrading from Ignite 1.x to 2.0, but don't spend the time on a script. What we should be able to do is hand this guide off to someone new to Ignite, like @codeithuman or @robinheinze , and they can do the following:

[code]

...then fol

[2017-02-23 06:18] jamonholmgren commented on #614
#665 adds the generator and #728 adds `list`, `search`, and `info`.

[2017-02-23 06:18] #614 closed

[2017-02-23 06:19] jamonholmgren commented on #475
FYI: https://github.com/dabit3/ignite-elements

Close?

[2017-02-23 07:56] iamrutvik opened #729 "SYSTEM_ALERT_WINDOW permission on Marshmallow and above"
App is getting crashed before showing splash screen in Marshmallow and above throwing an exception that permission is denied for this window type.

The reason is, due to the change in Android permission model, user have to allow this permission explicitly.

I found this [solution on stackoverflow](http://stackoverflow.com/questions/32061934/permission-from-manifest-doesnt-work-in-android-6/3206568

[2017-02-23 14:15] codeithuman commented on #637
Yes, I bet a lot of people would find that helpful. Since Ignite give so much flexibility, we may just need to compare and contrast what the differences between 1.x and 2.0 are. This would then allow devs to walk through the sections of their specific app to upgrade.

[2017-02-23 14:15] codeithuman commented on #637
Also, what's `ignite-cli`? Doesn't `ignite-cli` ship with `react-native-ignite`?

[2017-02-23 14:17] codeithuman commented on #637
We should also list the library versions we're upgrading. For example, "You will need at least React Native 41 to use Ignite 2.0", etc.

[2017-02-23 14:23] skellock commented on #637
In Ignite 1, `react-native-ignite` was the way you would run `ignite`.  It was the CLI part.  It relied on another `generator-ignite` package to fetch and bootstrap your ignite app from our repo (specifically on master and the `ignite-base` directory).

In Ignite 2, this has been replaced with `ignite-cli` which is your new `ignite` cli.  By default this will download the ignite boilerplate from `

[2017-02-23 15:37] GantMan commented on #637
What kevin suggested would be gold plating it.  I would LOVE to have a command simply do the work, but I think that's too much.   Let's let the tickets come in first to make sure it's needed.

I think a doc on upgrading and updating would both be very valuable.

[2017-02-23 16:07] skellock commented on #729
Ya, that's the new permission system in Android 6 (api 23). React Native's red/yellow box uses an overlay.

You can add that code above which will do the trick.

Or you can fallback your build target to 22 like Facebook does now.

In `android/app/build.gradle` change the section `android -> defaultConfig -> targetSdkVersion` from 23 to 22.

[2017-02-23 16:07] #729 closed

[2017-02-23 16:43] skellock opened #730 "Support for React Native Templates"
React Native is now shipping with their own templating system.  Let's support that as a 1st class citizen.

Step 1 would be to make sure we can pass a react native template name to `react-native init`.

Step 2 would be integrate at a deeper level.  Possibly even remove our app templates entirely and replace our bootstrapping process with a detection of `ignite.js` within the template to run it!

I

[2017-02-23 18:04] derekgreenberg commented on #637
I'm working on a project built from Ignite 1 for an IR client (kipmobile). I can test the upgrade path to Ignite 2.0 with this project if it is helpful and offer feedback. I'd do this in a separate repo, so it would have no impact on the project as far as the client is concerned.

[2017-02-23 23:26] DanielMSchmidt commented on #156
Great idea, I wish I had more time for things Like this :/

[2017-02-23 23:29] skellock commented on #156
There's so much awesome going on in the React Native world right now.  I can't keep up anymore.

[2017-02-24 07:05] jamonholmgren commented on #710
@robinheinze Can you take this on?

[2017-02-24 07:05] #699 closed

[2017-02-24 07:05] jamonholmgren commented on #697
So there will be an `ignite-windows` plugin, officially supported?

[2017-02-24 07:08] skellock commented on #697
Can you have a codebase with both mobile and windows?

[2017-02-24 07:10] #730 closed

[2017-02-24 07:10] jamonholmgren commented on #676
Since 7.6 now doesn't require the `--harmony` flag, we're good, right?

[2017-02-24 07:10] #634 closed

[2017-02-24 07:11] jamonholmgren commented on #636
@robinheinze Add a pleasant error for those using `addComponentExample` so they know to switch to `addPluginComponentExample`.

[2017-02-24 07:11] skellock commented on #676
Yup!

[2017-02-24 07:11] #676 closed

[2017-02-24 07:12] jamonholmgren commented on #637
@derekgreenberg That would be fantastic.

[2017-02-24 07:13] jamonholmgren commented on #645
where my image go GitHub

[2017-02-24 07:13] jamonholmgren commented on #652
Could we call it `nuke` ?

[2017-02-24 07:14] skellock commented on #636
🚨 SCOPE CREEP ALERT 🚨

Can you update `addScreenExample` to become `addPluginScreenExample` as well?  ❤️

[2017-02-24 07:14] #664 closed

[2017-02-24 07:16] skellock commented on #645
I don't think anyone has tried Android yet.  😅

[2017-02-24 14:10] skellock commented on #643
One part of this is done.  You cannot run `new` with the target directory already existing.

[2017-02-24 15:42] GantMan commented on #652
:(

[2017-02-24 15:58] GantMan commented on #697
yes.   Just like iOS/Android it will only break on native usage.

[2017-02-24 16:27] robinheinze commented on #636
Yup, will do

[2017-02-24 16:28] robinheinze commented on #710
Yup, will do

[2017-02-24 21:49] juddey commented on #475
Done.

[2017-02-24 21:49] #475 closed

[2017-02-25 06:56] waqas19921 commented on #638
@valinaga update following npm packages and then run everything will be alright.
[code]

[2017-02-25 09:32] valinaga commented on #638
@waqas19921 I started a new ignite project. The I edited the package.json as above.
I also changed "react-native": "0.41.0".
I deleted node_modules and run npm install
Then I run react-native run-ios and got lot of errors about headers not found.
Is it something I'm missing?
Thanks!

[2017-02-25 12:56] skellock commented on #638
You need to update your headers to the new <React/RCTView.h> (etc.) import method. Also update your scheme to remove parallelization and add the React library first in the build order.

Then you need to make sure your third party libs are up to date ( or using non public releases in the case of react-native-maps 0.13.0).

This was a frustrating upgrade.

[2017-02-25 15:15] GantMan opened #736 "This morning on my laptop - Bug"
![image](https://cloud.githubusercontent.com/assets/997157/23332172/f70486a0-fb3a-11e6-96cb-71ec99a2075f.png)

I have a fresh bootstrap

[2017-02-25 15:20] GantMan commented on #736
I guess I'm missing something.  Shouldn't bootstrap register these components locally?   It has in the past, right?

[2017-02-25 15:22] GantMan commented on #736
bonus, I just did an npm link manually and it didn't work.  Guess something is super wonky on my laptop?

[2017-02-25 16:16] valinaga commented on #638
@skellock is there anywhere a step by step instruction on how exactly to do it? Upgrading headers and the rest? Thanks.

[2017-02-25 17:51] skellock commented on #736
`npm run bootstrap` runs `lerna bootstrap`, which ensures each `package/*` packages has their modules installed.  The packages that depend on each other (in our repo, that's a grand total of 0) will then be symlinked.

How ignite finds its plugins though is by "directory".

Check out [this line here](https://github.com/infinitered/ignite/blob/master/packages/ignite-cli/src/commands/new.js#L82).

W

[2017-02-25 19:11] skellock commented on #638
Not really a guide, but here's some more info:  https://twitter.com/skellock/status/818813810781908992/photo/1

[2017-02-25 19:39] GantMan commented on #736
So my only error I get is the one you see above.  Where it can't find `ignite-unholy-app-template`

When I npm link it is successful :(  So no errors.  Just no way to ignite a new project right now bc the above error.

If this is cache I can't bust it.

[2017-02-25 19:41] GantMan commented on #736
Any other reason I might be hitting this line?
https://github.com/infinitered/ignite/blob/c304fe21aeadcb5a7ad2d6d3efc066b7a5da3612/packages/ignite-cli/src/commands/add.js#L125

[2017-02-25 19:46] skellock commented on #736
Ya that comes from running [this function](https://github.com/infinitered/ignite/blob/c304fe21aeadcb5a7ad2d6d3efc066b7a5da3612/packages/ignite-cli/src/commands/add.js#L36) and something goes wrong.

We don't emit the exception (we should in --debug mode), but could log you it and see what's up?

If you ran `npm link` and it didn't give you an error, that means it worked.

I wonder if what you're e

[2017-02-25 22:34] GantMan commented on #736
![image](https://cloud.githubusercontent.com/assets/997157/23335278/af51c5b0-fb77-11e6-8d45-672426f8acea.png)

[code]

looks like whatever version of ignite that this computer remembers does not have the correct submodules being copied in?

[2017-02-25 22:39] franzejr commented on #528
This is good, @GantMan. I think it might be very good have options: Sagas, Thunk, Loop, others. Cool!

[2017-02-25 22:42] skellock commented on #736
Maybe it's dying on the [yarn cache dir](https://github.com/infinitered/ignite/blob/master/packages/ignite-cli/src/commands/add.js#L47)?

What happens when you type `yarn cache dir` on your command line?  What version of yarn are you running?

[2017-02-25 23:24] GantMan commented on #736
[code]

[2017-02-25 23:38] skellock commented on #736
[code]

I wonder if it's dying on the fact yours is displaying a header?

Can you upgrade to the latest version of yarn?  `npm i -g yarn`

[2017-02-26 00:58] GantMan commented on #736
@skellock - you were right.   It was the version of yarn.  We'll have to make sure we're using 20+

[2017-02-26 08:16] valinaga commented on #638
Well, it finally worked! Such an pain, though. Hope the upgrade from 1 to 2 not to be so bad. Thanks @skellock and @waqas19921 !

[2017-02-26 11:17] Xurma2 opened #738 "Debugging won't work"
Cannot GET /json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi9Vc2Vycy9WaWN0b3IvaWduaXRlL015QXBwbGljYXRpb24vbm9kZV9tb2R1bGVzL3JlYWN0LW5hdGl2ZS9wYWNrYWdlci9yZWFjdC1wYWNrYWdlci9zcmMvUmVzb2x2ZXIvcG9seWZpbGxzL3ByZWx1ZGVfZGV2LmpzIl0sIm5hbWVzIjpbImdsb2JhbCIsIl9fREVWX18iLCJfX0JVTkRMRV9TVEFSVF9USU1FX18iLCJEYXRlIiwibm93Il0sIm1hcHBpbmdzIjoiO0FBQ0FBLE9BQU9DLE9BQVAsQ0FBaUIsSUFBakI7O0FBRUFELE9BQU9FLH

[2017-02-26 12:36] skellock commented on #738
I've never used intellij before. I'm afraid I won't be of any help.

[2017-02-26 12:39] skellock commented on #638
We use React Native, so unfortunately it will be complicated for some people because we have to do these steps. 💩🙈

[2017-02-26 13:26] Xurma2 commented on #738
@skellock
As far as I find an error occurred in other IDE
The most common cause is a bug in the code in the assembly
Perhaps there are some logs?

[2017-02-26 13:27] Xurma2 commented on #738
http://localhost:8081/index.android.bundle?platform=android&dev=true&hot=true&minify=false
Realy I can not see this bundle

[2017-02-26 13:27] skellock commented on #738
Best bet would be to run it from the command line.  Does anything come up there?

[2017-02-26 13:29] Xurma2 commented on #738
Project start and work. But it is not working in debugging mode.
How can I start debugging from the command line?

[2017-02-26 13:32] skellock commented on #738
If you're talking about chrome debugging, that's something you turn on when the app is running.  As far as intellij debugging, i really don't know.

So the app builds and runs fine?  You can see your app and it has the latest changes?

[2017-02-26 13:33] skellock commented on #738
Here's how to debug. From the react native docs.  https://facebook.github.io/react-native/docs/debugging.html

[2017-02-26 13:37] #736 closed

[2017-02-26 13:38] skellock commented on #672
Are we ok to close this issue now?  I feel like we are.

[2017-02-26 13:40] skellock commented on #645
Looks like vector icons shouldn't be opt-outable.  Or we should remove it's use completely from our `unholy` template.

[2017-02-26 13:41] skellock commented on #513
If you're interested, this would make a mighty fine Ignite 2 plugin!

[2017-02-26 13:41] #513 closed

[2017-02-26 13:42] skellock commented on #480
With Ignite 2, we have the concept of app templates.  Basically you can make your own architecture and still use the plugin system from Ignite.  =)

[2017-02-26 13:42] #480 closed

[2017-02-26 13:43] skellock commented on #470
Ignite 2 is in much better shape thanks to @codeithuman, @mlaco, and @robinheinze.

[2017-02-26 13:43] #470 closed

[2017-02-26 13:45] skellock commented on #494
This will be a thing once the navigation landscape is in a better place.  Right now we're halfway between rnrf and react-navigation.  Once `react-navigation` is ready for primetime, we'll be using that.  Then we can build this on top.

[2017-02-26 13:45] #494 closed

[2017-02-26 13:45] skellock commented on #474
Haven't heard anything back here.  Please feel free to re-open if this is still happening.

[2017-02-26 13:45] #474 closed

[2017-02-26 13:46] skellock commented on #462
CodePush and Electrode sound like might fine Ignite 2 plugins.

[2017-02-26 13:46] #462 closed

[2017-02-26 13:47] skellock commented on #447
Closing as we're wrapping this up.  Cheers all!

[2017-02-26 13:47] #447 closed

[2017-02-26 13:47] skellock commented on #435
![image](https://cloud.githubusercontent.com/assets/68273/23340200/3955154a-fc00-11e6-9410-0fd3b904cd6b.png)

@derekgreenberg will be putting together a post/guide for us!

[2017-02-26 13:47] #435 closed

[2017-02-26 13:49] skellock commented on #467
Haven't heard back.  Please reopen if you're still having probs.

[2017-02-26 13:49] #467 closed

[2017-02-26 13:49] skellock commented on #428
I think would make a great plugin for Ignite 2.

[2017-02-26 13:49] #428 closed

[2017-02-26 13:50] skellock commented on #45
Ya, this would be awesome.  I could have used this on every project.  Anyone want to tackle this as an Ignite 2 plugin?

[2017-02-26 13:51] skellock commented on #487
ghooks is now gone.

[2017-02-26 13:51] #487 closed

[2017-02-26 13:52] skellock commented on #521
see #582 and #715 .

[2017-02-26 13:52] #521 closed

[2017-02-26 13:52] #502 closed

[2017-02-26 13:55] skellock commented on #457
I'm not entirely use what you're saying here.  If you're stuck, please don't hesitate to reopen.

I think there are some issues with our code connecting to the temperature service (tokens).  We're going to be changing the example to use github or something a little less hostile.

[2017-02-26 13:55] #457 closed

[2017-02-26 13:56] skellock commented on #492
When the `ignite-maps` plugin is created for Ignite 2, that should most definitely have this an option if it's supported out of the box with `react-native-maps`.

[2017-02-26 13:56] #492 closed

[2017-02-26 13:56] skellock commented on #515
In Ignite 2, yarn is supported.

[2017-02-26 13:56] #515 closed

[2017-02-26 13:57] skellock commented on #526
Ignite 2 supports yarn.  Shipping soon to an Internet near you.

[2017-02-26 13:57] #526 closed

[2017-02-26 13:57] skellock commented on #226
Many of these permission issues are now resolved.  In Ignite 2 we are not attempting to write into a protected directory.

[2017-02-26 13:57] #226 closed

[2017-02-26 13:59] skellock commented on #277
This will be address once we commit to a router.  We've started this journey now with Ignite and `react-navigation`.  Once they're production ready, we'll be looking to hook this up.

[2017-02-26 13:59] #277 closed

[2017-02-26 14:01] skellock commented on #497
A file uploading example would be great over in https://github.com/skellock/apisauce.

[2017-02-26 14:01] #497 closed

[2017-02-26 14:01] skellock commented on #519
There is now in Ignite 2.0.  `ignite g`.

[2017-02-26 14:01] #519 closed

[2017-02-26 14:02] skellock commented on #459
@hchoong has the work around for now.  Also `react-native-device-info` and `react-native-maps` does this too.  We'll look at overriding this in the plugins we create for these.

[2017-02-26 14:02] #459 closed

[2017-02-26 14:09] skellock opened #739 "Make ignite-core a dev dependency of the project."
We should really consider sooner rather than later to split the CLI and core functionality apart.

Currently all ignite plugins are a dependency of the end-user's project, but ignite isn't.  Delivering updates in plugins might be incompatible with core.

This is solved by using npm dependencies.  (Specifically devDependencies in our case).

We'd have to bust apart the cli into two parts and make t

[2017-02-26 14:09] skellock commented on #488
The original issue has been resolved, but a bunch of other things came up in this ticket.

@sourcesoft has a really good point.  Tracking that in #739

[2017-02-26 14:09] #488 closed

[2017-02-26 14:10] skellock commented on #628
Many of the permissions issues have been resolved in Ignite 2 because the only directory we write to is the one you're making for your React Native app.

[2017-02-26 14:10] #628 closed

[2017-02-26 14:15] skellock commented on #552
Pick can't change the name, but evolve can.  Really it depends on what you're trying to do.  It really depends on the app.

I'd say in our boilerplate, we need a little less clever things though.  I even think we've gone too far with reduxsauce.  I keep hearing this complaint over & over again.

I'm going to close this up, but you should use this technique in your app if it makes sense for you.  I

[2017-02-26 14:15] #552 closed

[2017-02-26 14:17] skellock commented on #534
It's up to your app to decide if it makes sense to reset parts of the tree.

It's also possible to do this by installing a reducer at the top level which looks for an action  type of "CTRL_ALT_DELETE" to reset all state under it.  I've used this technique on Reactotron to both reset & inject new state externally.  =)

[2017-02-26 14:17] #534 closed

[2017-02-26 14:23] skellock commented on #536
We're up to 252 errors.  And we're not keeping the `.flowconfig` in sync either.  I recommend we not ship a .flowconfig override with our boilerplate.

[2017-02-26 14:24] skellock commented on #553
Come find us in http://community.infinite.red to chat more about this.

[2017-02-26 14:24] #553 closed

[2017-02-26 14:25] skellock commented on #546
Ignite 2 requires Node 7.6 now.

[2017-02-26 14:25] #546 closed

[2017-02-26 14:25] #562 closed

[2017-02-26 14:25] #549 closed

[2017-02-26 14:25] skellock commented on #549
Complete.

[2017-02-26 14:25] skellock commented on #567
Done.

[2017-02-26 14:25] #567 closed

[2017-02-26 14:26] skellock commented on #568
Done.  `--min` is in place for 2.0.   And to 1-up ourselves, `--empty` is now a thing.

[2017-02-26 14:26] #568 closed

[2017-02-26 14:28] skellock commented on #593
I think `react-navigation` should be our exit path here.  If others want to use different navigation libs, we allow them by them making their own app templates.

Supporting 1 router is hard enough.  Supporting them all is impossible.

Please feel free to re-open this if you think I'm drinking too much crunk juice.

[2017-02-26 14:28] #593 closed

[2017-02-26 14:29] skellock commented on #528
The `--empty` or `--min` app templates both support DIY state management.  Creating your own generators in Ignite 2.0 is really straight forward.  We have some docs now in place for this, but I think a few videos would go a long way!

Thanks all!

[2017-02-26 14:29] #528 closed

[2017-02-26 14:31] skellock commented on #535
We now have docs in place.  I'm not sure putting that in the CLI is the best course of action though.  Links move & change.

The new docs are shaping up nice.  I think they answer some more questions.  Certainly better than the "no docs" we had before!

[2017-02-26 14:31] #535 closed

[2017-02-26 14:32] skellock opened #740 "Switch to Github for examples"
The weather service thing isn't working out.

I've used Github as an API example on Reactotron and it's really nice.

Let's switch the default examples over to that.

[2017-02-26 14:32] skellock commented on #633
Tracking on #740.

[2017-02-26 14:32] #633 closed

[2017-02-26 14:33] skellock commented on #566
@GantMan has this in place now when we reworked the examples using `react-navigation`.

[2017-02-26 14:33] #566 closed

[2017-02-26 14:34] skellock commented on #11
Cheers all.  Closing this with a warm & fuzzy feeling.

[2017-02-26 14:35] skellock commented on #640
Please feel free to re-open if you're still stuck.   React Native Maps is tricksy.

[2017-02-26 14:35] #640 closed

[2017-02-26 14:36] skellock commented on #666
Feel free to re-open if you're still stuck.  Our windows support is still less than perfect.

[2017-02-26 14:36] #666 closed

[2017-02-26 14:39] skellock commented on #701
Tracking in #643.

[2017-02-26 14:39] #701 closed

[2017-02-26 14:40] skellock commented on #702
When you remove a plugin, you should type `ignite remove redux-logger`.  You shouldn't have to type the full path from where it came from.

[2017-02-26 15:04] #625 closed

[2017-02-26 15:05] #624 closed

[2017-02-26 15:07] skellock commented on #620
Done.

[2017-02-26 15:07] #620 closed

[2017-02-26 15:08] skellock commented on #613
Tracking in #689.

[2017-02-26 15:08] #613 closed

[2017-02-26 15:09] skellock commented on #583
This is in place.

[2017-02-26 15:09] #583 closed

[2017-02-26 15:24] skellock commented on #715
We should comment out the dispatching to `startup()` inside the `RootComponent.js` and replace it with:  'UNCOMMENT THIS IF YOU ARE NOT USING REDUX PERSIST' or something ominous.

[2017-02-26 15:27] skellock commented on #647
This is fixed and pending a release.

[2017-02-26 15:29] skellock commented on #639
also tsconfig as well.  Let's put this up in the .gitignore at the root as well.

Once we branch 1.2, we can remove `ignite-base` and the others.

[2017-02-26 18:04] DanielMSchmidt commented on #277
@skellock Sounds nice 👍

[2017-02-26 18:16] #740 closed

[2017-02-26 19:14] skellock commented on #686
We need to have a discussion about the version numbers.

I'd like to switch to shared version numbers.  I originally thought I wanted independent mode, but that will screw up github releases.  Github only allows us to have 1 name.  So if we bump 3 components in 1 release, and they have 3 different version numbers, we're cooked.

So let's say we start all components in here at `2.0.0`.

When we bum

[2017-02-26 19:28] jamonholmgren commented on #598
BTW I already have a version of this implemented, see the ignite-i18n package index.js.

[2017-02-26 19:48] skellock commented on #598
Great, i hadn't realized it's already in production.

[2017-02-26 19:48] #598 closed

[2017-02-27 00:01] jamonholmgren commented on #738
@Xurma2 The IR Community Slack is probably a better place to get help on this.

http://community.infinite.red

Jump in the #ignite channel there and someone might be able to help you. :)

[2017-02-27 00:03] jamonholmgren commented on #536
@skellock This appears to be an Ignite 1 issue. What are you looking for in Ignite 2 with this?

[2017-02-27 00:05] jamonholmgren commented on #570
This will be part of the `ignite-mapview` plugin, which I don't think has been started yet.

[2017-02-27 00:32] jamonholmgren opened #745 "Rename "Unholy" template to "Infinite Red""
Up until now, the "Unholy" template has been sort of a kitchen sink approach, where we put sample code of the decisions we've made so far.

In reality, "Unholy" is the stack that Infinite Red currently thinks is the best way to build React Native projects. Given that we have a lot of experience spinning up greenfield apps, our decisions are pretty informed, but they are of course opinions.

I'd li

[2017-02-27 00:36] skellock commented on #536
I ran:

[code]

We should be error free and happy out of the box.

[2017-02-27 00:40] #612 closed

[2017-02-27 00:46] skellock commented on #745
Yep.

I'd like `ignite-basic-generators` to be named `ignite-infinite-red-generators` (or whatever we end up calling `ignite-infinite-red-app`).

[2017-02-27 01:06] skellock commented on #715
I hadn't realized that [this was already in place](https://github.com//infinitered/ignite/blame/master/ignite-base/App/Containers/RootContainer.js#L16).

@juddey can you confirm you didn't have that line of code?  I feel like that's exactly what we need and it's already there.

Thx

[2017-02-27 01:29] skellock opened #747 "Fix tests and linting in unholy app"
Since switching over the api to github, a fresh `ignite new Max --max` no longer passes linting or tests.

[2017-02-27 01:35] jamonholmgren commented on #717
So we have a problem here that I worked on for about an hour and don't see a particularly elegant solution to. Every time we spawn a new process like `ignite add i18n` there's a pause before the `ignite-i18n` package starts displaying its own output.

The solution I attempted was to try displaying our own output in the template while these packages were installing. That way we could kick off a spi

[2017-02-27 01:37] GantMan commented on #747
das my bad, I'll fix it.

[2017-02-27 01:47] jamonholmgren commented on #717
This isn't too bad. I think we can live with this. If someone has a faster machine than me or for whatever reason `ignite add` runs much faster, we'll need to tweak the temporary spinner timeout from its current 8 seconds.

![ignite-new2](https://cloud.githubusercontent.com/assets/1479215/23346044/8e0f36d8-fc4b-11e6-8364-56796cbe77f0.gif)

[2017-02-27 02:00] jamonholmgren commented on #536
Got it. When do you think it would be best to take that dive? I have this feeling that our app template is still in major flux. But maybe it's okay to jump into it? I'm happy to tackle this if so.

[2017-02-27 02:07] #689 closed

[2017-02-27 02:14] jamonholmgren commented on #686
@skellock I'm on board with `marketing.breaking.nonbreaking`. Question, though: since Ignite 2+ is a CLI with no runtime, what is considered a "breaking" change? API/behavior changes when you run `ignite x` and `ignite x` now means something different? Perhaps machine-gun incrementing the major version isn't a big deal since there's no runtime API.

[2017-02-27 02:17] jamonholmgren commented on #570
Fixed in #741 I think?

[2017-02-27 02:17] jamonholmgren commented on #570
Okay, never mind -- this is maps, that was weather service.

[2017-02-27 02:20] #643 closed

[2017-02-27 02:31] jamonholmgren commented on #702
I'd recommend showing an error:

[code]

[2017-02-27 02:54] GantMan commented on #745
agreed

[2017-02-27 03:11] #747 closed

[2017-02-27 03:27] #717 closed

[2017-02-27 03:28] #702 closed

[2017-02-27 03:34] jamonholmgren commented on #745
I'd like to point out the irony of me wanting to call the "unholy" template the "IR blessed" template now.

[2017-02-27 03:35] #688 closed

[2017-02-27 03:43] skellock commented on #686
The advantage of going hard on the major version is, we don't have to explain anything to anyone.  It's semver.  The end.  If you're ok with 2.x.x turning into 3.x.x and then 4.x.x, let's just do it like that.

The breaking change I'm worried about is the interface between a plugin and the cli.  Let's say we introduce a new feature inside an extension. And some plugins start using it.  How do we m

[2017-02-27 03:52] jamonholmgren opened #752 "CLI output - remove header after first usage on a project?"
When you jump into a project and type in `ignite`, you'll get this:

![screen shot 2017-02-26 at 7 43 45 pm](https://cloud.githubusercontent.com/assets/1479215/23348082/f8d20d3c-fc5b-11e6-87f6-c158fb3f2506.png)

This is cool looking. However, on subsequent `ignite` calls, I'd like to discuss suppressing the header output.  That way it looks more like this:

![screen shot 2017-02-26 at 7 45 20 pm](

[2017-02-27 03:54] skellock commented on #536
Our template is about to go through some changes ya.  But not tomorrow.

We don't need to go full crazy flow, but we should at least not have any errors.  Or perhaps we remove it because we're not ready?

I'll defer to @GantMan on this.  I'll agree with whatever he says.

[2017-02-27 03:56] skellock commented on #752
Yay!  I agree!!!

I thought it was just me.  When you guys started making fun of me for being "not a fan of branding", I was just going to keep my mouth shut.  Haha.

[2017-02-27 03:57] jamonholmgren commented on #752
An easier way to do this is only output the header if we are not in an Ignite project.

[2017-02-27 04:05] jamonholmgren commented on #536
I'll agree with whatever @GantMan says too.

[2017-02-27 04:24] jamonholmgren opened #754 "Beyond Ignite 2.0"
Now that we're into the final week for Ignite 2.0 (beta), I'd like to turn a little of the focus on Ignite 2.1. The most important thing in my opinion has to be getting the app templates fully integrated with React Native's templating system _and_ discussing and refining the new `infinite-red-app-template` (formerly known as "Unholy"). Emphasis on the latter.

The decisions made in `infinite-red-a

[2017-02-27 04:58] jamonholmgren commented on #739
I agree, this makes a lot of sense. I'm not sure I'd be the best one to tackle this Steve but I'm happy to help.

[2017-02-27 05:00] jamonholmgren commented on #686
That makes sense, the plugin interface is critical for sure. Another idea is to enforce a version within a plugin with something like:

[code]

However, I agree that splitting the CLI and core apart makes more sense, and rely on NPM to keep things in sync.

[2017-02-27 06:15] rheilgm opened #755 "how do you install ignite 2?"
i uninstalled the old ignite and run `npm install ignite-cli -g` but ignite is not recognized now

[2017-02-27 06:19] dinghua commented on #755
+1

[2017-02-27 06:28] tk1cntt commented on #755
+1

[2017-02-27 07:59] skellock commented on #755
I'd say hang tight till this week.  Beta 1 incoming.

[2017-02-27 07:59] #755 closed

[2017-02-27 09:17] hrishikeshsoman opened #756 "Getting ":CFBundleIdentifier", Does Not Exist error while trying to run in iOS."
Hi,

 I have successfully created a new project using the ignite CLI. But when I am trying to run the project using the command `react-native run-ios` I am getting the following error even if my build returns a success message.

Please find the version details  here:

[code]

Any suggestions will be appreciated.

[2017-02-27 11:58] #745 closed

[2017-02-27 15:54] GantMan commented on #755
We're finishing up the docs and what needs to be in 2.0 - so soon!!!

[2017-02-27 16:00] GantMan opened #758 "Yarn version check (0.20+?)"
![image](https://cloud.githubusercontent.com/assets/997157/23368428/6f825352-fcd3-11e6-9829-f3aa7c667d60.png)

### Upgrade
![image](https://cloud.githubusercontent.com/assets/997157/23368466/8e5cd66c-fcd3-11e6-999a-8b8fa3cc9b59.png)

[2017-02-27 16:03] skellock commented on #758
i think i saw somewhere (create-react-app source code?) where they redirect stderr to /dev/null.. i wonder if thats where the `npm cache dir` version number line comes from?  I dunno... the easier way is to just say `yarn@>=0.20` or whatever.

[2017-02-27 16:20] GantMan opened #759 "2.0 out of box Navigation"
It's essential we don't ship 2.0 with the RNRF navigator enforced.

I think it would be a great idea to tackle `react-navigation` as either the primary, or alternative option for 2.0

[2017-02-27 17:37] skellock commented on #759
I'd love for it to be `react-navigation`, but it's not production ready just yet.

[2017-02-27 18:46] GantMan commented on #754
review @jamonholmgren  and @skellock and @kevinvangelder

### Proposed Roadmap of 2.0

**Ignite 2.0:**
* React Native Maps (generator/plugin)
* `ignite.addAndroidPermission` function (needed for maps)
* significant testing end to end
* some framework of permutation testing
* Video
* Testing
* Blog post (I have this half written)
* website copy

**Ignite 2.1:**
* Early detection testing against FB

[2017-02-27 19:29] skellock opened #762 "React Native Maps plugin"
Create a plugin for `react-native-maps` with a generator for creating map components.

[2017-02-27 20:15] #710 closed

[2017-02-27 20:46] juddey commented on #715
Yep, I didn't have that line of code. Was probably b/c I came from a much earlier version of  ignite.

Closing now.

[2017-02-27 20:46] #715 closed

[2017-02-27 21:31] skellock opened #765 "Make it easier for plugin devs to install plugins"
Let's add an environment variable called IGNITE_PLUGIN_PATH that you can set to a semi-colon separated list of directories.

In that directory (or directories) you could place symlinks to plugins you're working on.  It could be new plugins or app templates.

When we type `ignite add viewshot` (for example), ignite will attempt to pick it up from these locations first before going out to npm or git

[2017-02-28 03:40] skellock opened #773 "Ignite 2 Beta - Intro Video"
@GantMan has offered to put together a intro video to Ignite 2 beta.  Nothing fancy or glittery, just the facts ma'am.

[2017-02-28 03:43] skellock opened #774 "Plugin Author Testing Overview"
It'll be a good idea to provide some techniques (possibly some tools????) to help plugin authors test their plugins.

It'd be super cool if we could expose our testing tools via a package they could use.

Having a good solid document would also be A+.

[2017-02-28 03:44] skellock opened #775 "Ignite 2 Blog Post"
@GantMan has already started this.  Classic Gant.

[2017-02-28 03:48] skellock opened #776 "Website Copy Wanted"
We need some material to help round out the new web site.

@mlaco - Let us know what we can do to help.

If you want to post some screenshots with big angry arrows pointing at blocks say, "INSERT 3 NEW FEATURES HERE", that would really help.

[2017-02-28 03:52] skellock opened #777 "React Native Prelease Builds and CI"
React Native often has breaking changes.  It'd be cool to stay on top of this by trying out their preleases (or even nightly builds).

We have the ability now to say `ignite new OmgYisss --react-native-version 0.42.0-rc.3 --max`.

It'd be great to hook this + our integration tests up to a robot to run these for us.

@GantMan has more info on Travis if we go with that.

[2017-02-28 03:54] skellock opened #778 "Fancy Promo Video"
WELCOME BACK FRIENDS!!!!

@fvonhoven and @GantMan productions return for a sequel.  Co-Staring Wilfred Brimley as, "The Legacy Coder".

A polished 5 min video outlining wtf Ignite 2 can do for folks.

[2017-02-28 03:56] skellock opened #779 "Reactotron Plugin"
Let's make Reactotron a plugin and optional.

[2017-02-28 03:56] vesper8 commented on #759
so react-navigation is not going to be the de-facto navigation when 2.0 releases?

i'm just looking into getting into ignite and react-navigation was one of the big reasons.. searching through the issues it looked like it was going to be included in 2.0 (in the beta I mean, scheduled to be released eminently)

btw i just stumbled here a few days ago so take what i say with a grain of salt

RN is c

[2017-02-28 03:56] skellock opened #780 "Redux Persist plugin"
Let's make redux-persist a plugin.

[2017-02-28 03:59] skellock opened #781 "Jest Support"
Jest looks to be the chosen one now.  It ships with React Native.

My ❤️ is still with AVA, but out-of-the-box is a pretty friggin compelling argument.

Is this a plugin?  An option?  Does this belong in the `infinite-red` stack?  How to we get ignite plugin authors to support both?  Way too many questions.

At the sound of the tone... please leave your opinion below.

beep.

[2017-02-28 04:03] skellock commented on #759
Everyone here (and I'm convinced everyone on the internet) is cheering for `react-navigation`.

I know airbnb is about to land their new navlib soon.  As is react router 4 (2fast2native).

`react-native-router-flux` has been an amazing stop gap, but we're ready to eject as well.  And we've got several client apps built with it.  It really was good enough.

But `react-navigation` is great!

We've a

[2017-02-28 04:04] GantMan commented on #759
@vesper8  I'd lobby for `react-navigation` over RNRF.

I think we currently leaning towards, release 2.0 as the tooling that can support options.

Then quickly iterate towards 2.1 with an option to use RNRF or react-navigation as 2 plugins

[2017-02-28 04:06] skellock opened #782 "Apisauce Plugin"
Fetch is out of the box.  Apisauce requires axios.  Even though I'm big fan of it (and think the author is very handsome), we should provide this as a plugin.

[2017-02-28 04:08] skellock opened #783 "Styled Components Plugin"
I've [seen just enough](https://github.com/styled-components/styled-components) of this plugin to know it's pretty hot 💩 .  I'd love to use this.

I'm using it on a web-based side project, and it feels great.  The support React Native and the concept is pretty solid.

It addresses the top problem I have with how we do our styles.  Portability.

[2017-02-28 04:12] skellock opened #784 "Statement Management Pluggability in infinite-red-app-template"
We're team Redux.  Nothing wrong with that.

Mobx, rxjs, cycle, redux-loop.  I can't keep em all straight.

Question I have here is... do we want to support pluggability into `ignite-infinite-red-app-template`?  or do we encourage people to make their own boilerplates?

I vote the latter.  But what does everyone think?

[2017-02-28 04:21] GantMan commented on #784
So your idea is keep that problem at the boilerplate level?   I kinda like this solution.  It slides the scale in the other direction for simplicity.

Let's discuss and put our resulting convo here on github.

[2017-02-28 04:22] skellock commented on #754
Thanks for the giant list!

I think we should only plan for 2 steps ahead.

We all are pretty clear about what the next goal is.  And usually that means we can put things off to the goal after that.... but more than 2 out gets a bit fuzzy.

I think the tests are in a good spot.  @jamonholmgren and @robinheinze are running a bit more with that angle.

Marketing stuff is all you @GantMan.  I spun up

[2017-02-28 04:22] #754 closed

[2017-02-28 04:42] skellock commented on #784
The current landscape of react-native boilerplates is zero-sum.  Everyone has their strong opinions and they start their own starter kit and we fragment more & more.

Ignite is now offering an end to that churn.  And it's not our opinions.  It'll be our plugins.

See, I think its sound advice to "create your own boilerplate".  You pick the right state management for you.  You pick the right stylin

[2017-02-28 05:47] jamonholmgren opened #785 "Generators show no useful output"
When running any generator, I just get the Ignite header:

![screen shot 2017-02-27 at 9 42 52 pm](https://cloud.githubusercontent.com/assets/1479215/23393183/f4e1c4c6-fd35-11e6-85f9-31e5fc406b2b.png)

I should see a progress bar and completion like `ignite add`.

Question: is this the plugin's responsibility? I'd think this would be provided by ignite-cli's generator.js.

[2017-02-28 05:47] jamonholmgren commented on #785
Note that the generator in question worked fine. I ran it twice though because I didn't think it worked.

[2017-02-28 06:25] GantMan opened #786 "--verbose should be a thing"
we have `--debug`; let's make an alias called `--verbose` for those of us who accidentally forget what to type here.

[2017-02-28 07:19] jamonholmgren commented on #786
Also `-v`.

[2017-02-28 07:22] jamonholmgren commented on #784
I'm fully on board with this. Let's make `infinite-red-app-template` the gold shining star of Redux React Native boilerplates, and encourage team MobX to make their own gold shining star Ignite boilerplate. (Almost certainly someone watching this thread is on that team -- we want you to make a boilerplate, so please [join us](http://community.infinite.red) and let's make this happen.)

[2017-02-28 07:48] jamonholmgren commented on #759
We'll definitely integrate `react-navigation` as soon as we feel like it's stable enough for prime time (this is regardless of Ignite 2.0). Currently it's still not quite there, but we'll be right on it as soon as it is.

[2017-02-28 07:49] jamonholmgren commented on #781
I think we should switch to Jest purely because it's out-of-the-box and a pretty good system, even if Ava is better overall. Standard is better than better in this case.

[2017-02-28 07:50] jamonholmgren commented on #777
And, in my humble opinion, the React Native core team could keep an eye on our CI to see what they're breaking. ¯\_(ツ)_/¯

[2017-02-28 07:51] jamonholmgren commented on #774
I'm game to help with this.

[2017-02-28 07:54] jamonholmgren commented on #762
[Done.](https://github.com/infinitered/ignite-maps)

[2017-02-28 07:54] #762 closed

[2017-02-28 07:54] jamonholmgren commented on #762
Ref #789 too.

[2017-02-28 08:01] jamonholmgren commented on #11
So I hate to re-open issues, but I think this one will never be resolved. So this issue is henceforth permanently open.

[2017-02-28 08:04] jamonholmgren commented on #549
I'd like to see this split out into its own repo, btw.

[2017-02-28 08:06] jamonholmgren opened #791 "Split ignite-i18n into its own repo"
Per #759, I would like to split this plugin into its own repo. We can host it on our infinitered Github org, just need someone to make the necessary changes. @robinheinze, want to do this one? (lower priority though)

[2017-02-28 13:13] skellock commented on #786
And lets remove --debug.  I agree with you guys.

[2017-02-28 13:29] skellock commented on #777
Mr Shruggy!  Your arm!!?

React Native is amazingly tested. The breaks are more by design. They're doing the right thing.

[2017-02-28 13:41] skellock commented on #549
#791

[2017-02-28 13:55] #738 closed

[2017-02-28 14:20] skellock opened #792 "Move ignite-vector-icons to new repo"
Let's promote this package to its repo.

[2017-02-28 14:21] skellock opened #793 "Move ignite-animatable to new repo"
Let's promote this package to its repo.

[2017-02-28 14:22] skellock commented on #793
Also, lets make sure we release it on npm before removing it from the ignite repo.

[2017-02-28 14:23] skellock commented on #792
Also, lets make sure we release it on npm before removing it from the ignite repo.

[2017-02-28 15:16] lalmachado opened #794 "OS X 10.12: "env: node: No such file or directory" on git commit"
Hi

My Environment:
[code]

i try to change **#!/usr/bin/env node** on .git/hooks/pre-commit to **#!/usr/local/bin/node**
but then i got this error on commit:
"fatal: cannot exec '.git/hooks/pre-commit': Permission denied"

thanks

[2017-02-28 15:20] skellock commented on #794
* Is this with Ignite 1 or Ignite 2?
* Do you use `nvm`, `n`,`brew`, or something else to manage your node installs?
* Can you run `ignite doctor` please and paste the output?

Let's see if we can get this straightened out.

[2017-02-28 15:33] lalmachado commented on #794
@skellock I use `brew`

`ignite doctor ` output:

[code]

[2017-02-28 15:44] GantMan commented on #786
-v is for version though :(

[2017-02-28 15:46] GantMan commented on #786
@skellock - not so sure I agree on removing `--debug`.  but only advertising that one exists.  You can keep `--debug` as functional should someone try it instead of verbose.

[2017-02-28 15:46] skellock commented on #794
How did you install your react native application?  with `ignite new Luis`?

Can you check your permissions with `ls -la .git/hooks | pbcopy`.

Does that line up with `whoami` as well?

[2017-02-28 15:48] skellock commented on #786
I forgot about `-v`, good point.  Shouldn't remove that.

I'm ok with keeping the crouching verbose hidden debug.

[2017-02-28 16:03] lalmachado commented on #794
@skellock yes, I instal my app with ignite new <project>

ls -la .git/hooks :
[code]

my `whoami` is lmachado

[2017-02-28 16:05] skellock commented on #794
Hmm.. everyone looks great so far.  Is this using husky or ghooks?  (correct answer is husky).  You can double check by verifying your `package.json` devDependencies.

Also, while you're in there, do you have the right scripts installed too?

![image](https://cloud.githubusercontent.com/assets/68273/23413137/cd730894-fda5-11e6-92aa-040499c736b2.png)

[2017-02-28 16:12] lalmachado commented on #794
it is using ghooks and i don't have any of that scripts instaled
[code]

[2017-02-28 16:17] skellock commented on #794
Gotcha.  `ghooks` recently deprecated itself in favour of husky.

If you're not using this stuff right now, you can

[code]

And remove that both the `config` key and the `scripts/precommit`,`scripts/prepush`, `scripts/postrewrite`, and `git-hook` keys from `package.json`.

Was this a fresh `ignite new Luis` project?

If so, we've got something wrong with our templates. Probably missed it because

[2017-02-28 16:56] lalmachado commented on #794
it is working, i removed all references to git-hook and there is no problem anymore at git commit.

it has a fresh `ignite new <project>`

Any prevision for the release of Ignite 2? I'm very excited about that ;)

[2017-02-28 17:09] #793 closed

[2017-02-28 17:09] #792 closed

[2017-02-28 17:11] skellock commented on #794
Glad it's working now.

We're going beta this week.  🎉

See ya on the other side.

[2017-02-28 17:11] #794 closed

[2017-02-28 17:19] skellock opened #798 "Rename a few projects"
Since these generators rely on `ignite-infinite-red-app-template`, anyone object to me renaming this to `ignite-infinite-red-generators`?

/cc @GantMan + @jamonholmgren

[2017-02-28 18:25] jamonholmgren commented on #798
I thought this over this morning. I think I'd rather keep the current name in this case. While the IR-AT is definitely all Infinite Red opinions, these generated components and whatnot are less opinionated. And Ignite needs some basic generators as something to default to. I'd vote to keep as-is.

[2017-02-28 19:42] #791 closed

[2017-02-28 19:43] jamonholmgren commented on #791
@skellock Looks like you did: https://www.npmjs.com/package/ignite-i18n

[2017-03-01 00:51] jamonholmgren commented on #792
The repo getting lighter and lighter, Steve. This is a good sign.

[2017-03-01 00:55] jamonholmgren commented on #786
you guys are getting really verbose on this tiny issue

I won't try to debug you though

[2017-03-01 00:57] skellock commented on #786
Daaaadddd.... you're embarrassing me in front of my friends.

[2017-03-01 01:03] skellock commented on #660
This is now in.

[2017-03-01 01:03] #660 closed

[2017-03-01 01:04] #672 closed

[2017-03-01 01:11] skellock commented on #686
Just an update.  We're switching back to shared-version mode.

So we've kicked out the plugins from this repo.

I'd like to kick out the app templates next.  They're plugins as well.  I can see us wanting to bump majors on `ignite-infinite-red-app-template` very soon (next few months).

/cc @jamonholmgren and @GantMan

[2017-03-01 01:17] skellock commented on #774
I think we're in a really good spot with this now @jamonholmgren ?  Feel like clicking the close button? ---------------------------------------
                                                                              |
                                                                              V

[2017-03-01 01:17] skellock commented on #774
fail.

[2017-03-01 01:19] skellock commented on #765
Fixed by #772

[2017-03-01 01:19] #765 closed

[2017-03-01 01:35] skellock commented on #798
`ListView` and `Component` are almost opinion free.  The other are full-on Infinite Red.

Split 'em up?

I like the idea of creating `ignite-infinite-red-generators` because people who create their own boilerplates will be doing the same.  It'd be nice to show folks an example of where and why.

If we have some core generators, we'll get people contributing more.  That way we can build up a librar

[2017-03-01 04:12] skellock commented on #785
#805 fixes this.  CopyBatch wasn't printing anything.  It will now.

[2017-03-01 04:12] #785 closed

[2017-03-01 10:10] junbinku opened #806 "launch stimulator but application open and close"
The stimulator was launched on an IOS but when I click the application it opened and just closed automatically.

[2017-03-01 17:59] jamonholmgren opened #807 "Ignite Plugin TestBench™"
I have an idea to provide a package that allows plugin authors to easily test their plugins against the latest version of Ignite, end-to-end.

The package would allow plugin authors to spin up a fresh Ignite project, install their plugin, run their generators, and check the changes that were made to verify that they are as expected.

I have a proof of concept in [a WIP branch](https://github.com/i

[2017-03-01 18:08] jamonholmgren commented on #806
Hey @junbinku ! Thanks for using Ignite. It's totally fine to open an Ignite issue, but we usually need more information before we can determine whether it's an issue with Ignite or your app code.

For general help questions like this, I'd recommend you join our Slack community over at [community.infinite.red](http://community.infinite.red). You will find a friendly group of people over there that

[2017-03-01 18:08] #806 closed

[2017-03-02 07:55] #639 closed

[2017-03-02 07:56] #693 closed

[2017-03-02 07:56] #685 closed

[2017-03-02 07:57] jamonholmgren commented on #686
This is on the docket to discuss tomorrow morning.

[2017-03-02 08:53] junbinku opened #809 "MyApplication doesn't run"
Hi there,
I ran the react-native run-ios and the stimulator shows up of an iphone screen.
I tried opening the MyApplication icon then it appears to open and just closed in just a few seconds.
I did every step of the instructions but this happens, not sure why is this happening.
This error appears.

ERROR  Error watching file for changes: EMFILE
{"code":"EMFILE","errno":"EMFILE","syscall":"Error wa

[2017-03-02 10:37] Cmdv opened #810 "Remove navbar bottom border"
### Hello I've been searching for some time to adjust the border line that sits bellow the top navigational bar 😟

Could you let me know where this can be adjusted? ideally I'm looking at removing it 😄

- [ ] Issue does not already exist
- Identify exactly what aspect your issue is about
  - [ ] ignite base application
  - [ ] ignite the cli
  - [x] ignite generated code

[2017-03-02 13:05] skellock commented on #810
Open up `App/Navigation/Styles/NavigationContainerStyle.js` and in the `navBar` object, add `borderBottomWidth: 0`.

Nice to see some PureScript people around these parts.

[2017-03-02 13:05] #810 closed

[2017-03-02 13:07] skellock commented on #809
Sounds like it might be a watchman issue.  Do you have watchman installed?  `brew install watchman`.

[2017-03-02 17:27] Cmdv commented on #810
@skellock thanks a lot, was having a nightmare just couldn't find it 😂

Us PS people still have to hold a day job hehe

[2017-03-02 18:40] #758 closed

[2017-03-02 19:25] skellock commented on #686
Fixed by #798 .  Lerna will work out of the box now.

[2017-03-02 19:25] #686 closed

[2017-03-02 21:47] skellock opened #814 "Print better errors when dying"
Currently all unhandled exceptions just cause a promise failure and a useless error:

[code]

Let's capture and display the stack trace.

Sorry @robinheinze

[2017-03-02 22:21] skellock commented on #798
That last message was very cryptic.  I was typing it mid-meeting.

Here's what we decided:

* `ignite-minimal-app-template` will disappear.  i've just rolled that into `ignite-infinite-red-app-template`.
* `ignite-infinite-red-app-template` is now called `ignite-ir-app`.
* we're recommending people call these things `ignite-{boilerplate-name}-app`.
* `ignite-empty-app-template` is going to be dism

[2017-03-02 22:23] jamonholmgren commented on #691
Going to see if @javiercr can help me replicate this issue (I reached out on our community Slack, Javier).

[2017-03-02 22:23] #752 closed

[2017-03-02 22:24] skellock opened #815 "Relocate ignite-infinite-red-app-template"
This needs to move out of this repo into its own.  It will also be renamed to `ignite-ir-app`.

[2017-03-02 22:27] jamonholmgren commented on #814
Is this only a glue gun thing or do we need fixes in `ignite` too?

[2017-03-02 22:27] skellock opened #817 "Relocate ignite-empty-app-template"
But instead of moving it to a repo, move the functionality into the `new.js` command inline.  It really just calls `context.reactNative.install()` and creates a blank `ignite/ignite.json`.

We'll still access it via `--empty`.

[2017-03-02 22:29] skellock opened #818 "Bring ignite-basic-generators into ignite-ir-app"
These generators are very opinionated (well most are), but they belong to the Infinite Red stack.  Let's move these inside `ignite-ir-app`.

What makes this a bit funky is that the `ignite-ir-app` will now have to include itself as a dependency within it's `index.js`.  Not a huge deal, but we can optimize this later.

[2017-03-02 22:32] skellock opened #819 "Remove Infinite Red opinions from ignite-dev-screens"
We should have no expectations that the `App/` folder exists.  This should be "standalone" plugin.

Now, we do have to hook into the user's app, but maybe we can detect that we've got `ignite-ir-app` install and do what we do now.  If it's not installed, we can print out instructions on what they can do to integrate?

[2017-03-02 22:35] skellock commented on #814
We should catch this up in Ignite, but ya, gluegun should not be letting this slip through.

For here,

It'd be nice to catch wrap this for setup errors:

https://github.com/infinitered/ignite/blob/master/packages/ignite-cli/src/cli/cli.js#L24

And this for runtime errors.

https://github.com/infinitered/ignite/blob/master/packages/ignite-cli/src/cli/cli.js#L44

Even if we just trap the exception,

[2017-03-02 22:37] skellock commented on #814
@jamonholmgren bonus points for using this:  https://github.com/AriaMinaei/pretty-error or something like it if we're printing stack traces.

[2017-03-02 23:31] jamonholmgren opened #820 "IGNITE_PLUGINS_PATH shouldn't be required"
#772 introduced IGNITE_PLUGIN_PATH and required it. However, I don't really think this should be required -- we should infer the path if not found. This results in a bad DX (IMO) when first spinning up an Ignite app.

<img width="618" alt="screen shot 2017-03-02 at 3 28 51 pm" src="https://cloud.githubusercontent.com/assets/1479215/23531808/2a8ef192-ff5d-11e6-92b4-0cb77b8b62fa.png">

[2017-03-02 23:35] skellock commented on #820
It was only in place so we can make everything work while in dev mode.  The packages will all live on npm.

[2017-03-02 23:39] #636 closed

[2017-03-02 23:41] skellock commented on #820
Just a heads up, this message only appears when the package isn't found on `npm`.

The resolution order for `ignite add something` goes like this:

* look for a directory called `something` (can be relative or absolute)
* look for a directory called `something` in any path found on `IGNITE_PLUGIN_PATH`
* look on npm

If all these fail you see that message.

Once we publish `ignite-ir-app`, we won'

[2017-03-02 23:41] #820 closed

[2017-03-02 23:43] jamonholmgren commented on #820
I knew that.

![headdesk](https://media.giphy.com/media/E2USislQIlsfm/giphy.gif)

[2017-03-03 01:05] #817 closed

[2017-03-03 01:39] skellock opened #823 "Problem with Node 7.7.1 and fs-mock"
Currently tracking an issue with `fs-mock` and 7.7.1 not working.

Work around is to install node 7.6 for now.

More details here:

https://github.com/tschaub/mock-fs/pull/198

[2017-03-03 03:09] jamonholmgren commented on #798
Update: `ignite-ir-app` will be renamed to `ignite-ir-boilerplate` and we will have a slightly different model for boilerplate plugins.

[2017-03-03 03:15] jamonholmgren opened #824 "Refactor boilerplate plugins"
Per @skellock and my discussion, the new boilerplate structure will be something like the below:

[code]

In addition, the `index.js` for a boilerplate plugin will export three functions:

[code]

There will be a hidden CLI command that triggers this `install` function, called `ignite install-boilerplate <AppName>`. The `install` function will be called and will be tasked with spinning up the Reac

[2017-03-03 03:17] jamonholmgren commented on #815
This is waiting for #824.

[2017-03-03 03:20] #814 closed

[2017-03-03 03:33] jamonholmgren commented on #536
I'm going to remove Flow.

[2017-03-03 04:45] skellock commented on #536
Ya I agree. Just for now while we're renovating.

[2017-03-03 08:39] jamonholmgren opened #826 "Screen generator has some issues"
When I generate a screen using `ignite g screen HomeScreen`, a few issues:

1. It makes `HomeScreenScreen` -- it should detect there's already *Screen and don't duplicate
2. It's using the wrong template interpolation `{{ props.name }}` instead of `<%= props.name %>`
3. It has an I18n line even though my app doesn't have I18n

[2017-03-03 12:40] junbinku commented on #756
have your try re-running the stimulator?

[2017-03-03 18:26] mlaco commented on #776
Currently adding some copy on staging

[2017-03-03 18:34] mlaco commented on #776
Here's that screenshot with big angry arrows. I can pick out some features to promote here, but I would also appreciate input!
<img width="1130" alt="ignite_2_0_has_landed__and_timesheet_ _infinite_red__inc__ _harvest" src="https://cloud.githubusercontent.com/assets/4466642/23563649/8b363e16-0015-11e7-8380-a047690f97a4.png">

[2017-03-03 19:31] skellock commented on #776
oh man... that IS angry!

[2017-03-03 19:36] skellock commented on #776
One feature I like is:  It's a boilerplate maker.  There's like 30 React Native boilerplates out there, and we're all blending together.  Ignite allows you to make your own boilerplate and still pick the best plugins that work for you.

Another feature is: spork!  With it, no generators are locked in.  At a project level, you can use a 3rd party generator, and then change small things you didn't l

[2017-03-03 21:30] jamonholmgren opened #828 "Update CI to run new tests"
Update our CI to run Ignite 2 tests.

* [ ] ~Remove Travis~ Actually, we'll keep Travis I think -- if it works
* [ ] Add `./bin/testRelease` that runs all tests and checks generated output
* [ ] Update Semaphore to run `./bin/testRelease`

[2017-03-03 21:39] #536 closed

[2017-03-04 02:41] #818 closed

[2017-03-04 02:42] #824 closed

[2017-03-04 02:44] jamonholmgren opened #829 "Refactor the plugin generator to allow for generating boilerplate plugins easily"
Per #824 and #827, we now need to update the plugin generator to generate boilerplate plugins.

On `ignite plugin new mything`, we'll ask if the plugin will be a boilerplate plugin. Answering Yes will generate a `boilerplate.js` file and `boilerplate` template folder.

[2017-03-04 03:09] jamonholmgren commented on #823
We're on their timetable. Bumping to 2.0.

[2017-03-04 03:09] #815 closed

[2017-03-04 03:11] jamonholmgren commented on #819
Not _entirely_ fixed in #830 as requested @skellock so feel free to re-open if you'd like to do more on this.

[2017-03-04 06:19] #829 closed

[2017-03-04 14:10] mlaco commented on #776
Your descriptions are great, I'm using them.

[2017-03-04 14:27] skellock commented on #828
Snagging this from ya @jamonholmgren

[2017-03-04 14:42] mlaco commented on #776
I've made a pass at copy on https://infinite-red-staging.herokuapp.com/ignite. Feedback very welcome!

[2017-03-04 15:49] skellock commented on #828
We don't need any custom scripts or global installs for this repo.

![image](https://cloud.githubusercontent.com/assets/68273/23580037/e2541d3c-00c7-11e7-8a5b-2d82b015d84e.png)

We may want to consider something like this for `ignite-ir-boilerplate-2016` once we promote that package to a repo.

[2017-03-04 15:50] #828 closed

[2017-03-04 15:51] skellock commented on #823
#838 changes this to a temp git dependency.

[2017-03-04 15:51] #823 closed

[2017-03-04 17:56] #784 closed

[2017-03-04 19:23] jamonholmgren commented on #776
Really good @mlaco , I'll revise a bit soon.

[2017-03-04 19:29] jamonholmgren commented on #756
Also, feel free to join us in our community Slack [community.infinite.red](http://community.infinite.red) to chat with other friendly React Native engineers!

[2017-03-04 19:29] #756 closed

[2017-03-04 19:54] #774 closed

[2017-03-04 19:55] jamonholmgren commented on #774
I tend to go through all my Github notifications like once a week. heh

[2017-03-04 20:11] jamonholmgren opened #842 "Remove legacy folders `ignite-base` etc"
We should discuss when we can remove the legacy folders:

[code]

We'd push these into a `legacy` branch and leave them there.

I know that one issue is that Ignite 1 reaches out to `master`. So we'd probably need to release one more version of Ignite 1 that uses the `legacy` branch.

Filing an issue for discussion.

[2017-03-04 20:14] jamonholmgren commented on #456
@fvonhoven Still planning to knock this out?

[2017-03-04 21:24] jamonholmgren commented on #570
Moving to `ignite-maps`.

[2017-03-04 21:24] #570 closed

[2017-03-04 21:31] jamonholmgren commented on #645
Appears to be working fine in latest release. ¯\\\_(ツ)_/¯

[2017-03-04 21:31] #645 closed

[2017-03-04 21:34] jamonholmgren commented on #645
Look @skellock my guy's arm is working. I had to put three backslashes

[2017-03-04 21:41] jamonholmgren commented on #691
Replication steps:

## 1 - Create a test project

[code]

## 2- Create a new file to generate a custom icon set:

[code]

## 3- Create a new component that includs the custom icon set

[code]

## 4- reproduce the error by running the test suite

[code]

[2017-03-04 22:05] sibelius commented on #166
it could be related to https://github.com/facebook/react-native/issues/12223 on RN42

[2017-03-04 22:21] skellock commented on #166
@sibelius - this issue predates 0.42 by a bit.  But I didn't know that was an issue.  Thanks for pointing that out.  Appreciate that.

[2017-03-04 22:39] jamonholmgren commented on #759
Now that we've renamed our app boilerplate to `ignite-ir-app-boilerplate-2016` in #827, my preference is that we do a big discussion around where we're going to go in 2017+, and then create a new WIP boilerplate that is intended to be a successor to IR-AB-2016. I _do not_ think we should change IR-AB-2016 to include react-navigation.

While we're working on that, developers will be able to use our

[2017-03-04 22:44] skellock commented on #759
[I agree 100%](https://github.com/infinitered/ignite/issues/784#issuecomment-282940686).

[2017-03-04 22:51] jamonholmgren commented on #759
I learn from you and then forget where it came from and take credit. That's what makes me a good leader.

[2017-03-04 23:16] #483 closed

[2017-03-04 23:48] GantMan opened #845 "Pare down the ignite commands to what is feasible."
Currently I can be in any folder and type `ignite` and I'll see every option.
![image](https://cloud.githubusercontent.com/assets/997157/23583129/1c77557c-0101-11e7-8752-3ac8ad93cd21.png)

Technically some of these are not proper for a user, but they must be typed find that out.
![image](https://cloud.githubusercontent.com/assets/997157/23583143/5f560028-0101-11e7-9c90-bf053c64e47b.png)

^ see?  T

[2017-03-04 23:53] GantMan opened #846 "Early failing `ignite new` should have rollback"
There's nothing useful in an early failing `ignite new`
![image](https://cloud.githubusercontent.com/assets/997157/23583226/4d55769a-0103-11e7-8c99-ce6591251257.png)

The TestProj folder has an `npm-debug.log` which is useless.  We should have just cleaned up after ourselves.

[2017-03-04 23:53] skellock commented on #845
This is a great idea.

[2017-03-05 00:17] jamonholmgren commented on #809
@junbinku Feel free to continue this conversation over in [our community slack](http://community.infinite.red) ... thanks!

[2017-03-05 00:17] #809 closed

[2017-03-05 00:18] jamonholmgren commented on #798
I re-opened #819 to track the final thing that remains here. Closing this.

[2017-03-05 00:18] #798 closed

[2017-03-05 00:22] jamonholmgren commented on #819
Tracking this here until we're [fully satisfied](https://www.youtube.com/watch?v=nrIPxlFzDi0).

[2017-03-05 11:57] #842 closed

[2017-03-05 12:05] skellock commented on #781
My case is really simple and superficial.

I used jest before it got rewritten.  It was horrible.  And I wasted days on it.  Now that it's better, I still cringe despite it not being the same codebase.

AVA has never stopped being awesome.  And simple.  It was awesome day 1 and with 18 is even better.  The assertions are simple.  And I don't think about tests when when I'm writing with it.  I'm th

[2017-03-05 12:10] skellock commented on #846
This won't fail anymore because we've published `ignite-ir-boilerplate-2016` on npm.

[2017-03-05 12:10] #846 closed

[2017-03-05 12:21] skellock commented on #759
I'm going to close this.  Here's the outcome.  `rnrf` stays in our 2016 stack.  `react-navigation` will be in our new stack.

[2017-03-05 12:21] #759 closed

[2017-03-05 12:22] skellock commented on #647
We missed this goal by 4 days.  Pretty close!

The bug is now corrected in Ignite 2.

[2017-03-05 12:22] #647 closed

[2017-03-05 13:40] skellock opened #861 "Enable project-level plugins"
We have a spot for project-level ignite plugins, but we haven't enabled them.

To do this, add another [line like this](https://github.com/infinitered/ignite/blob/master/packages/ignite-cli/src/cli/cli.js#L12) right after here.

[code]

This makes for a great staging ground to make some plugins.  Test it out & perfect it, then graduate it to a 3rd party plugin.

Plugins look like this:

[code]

Th

[2017-03-05 15:07] johntom opened #862 "Nothing is generated on Windows 10"
Hi
Installed version 2 on win10 pro and checked all dependecies. With exception of maps I had ignite 1 sample running using genymotion. When I run ignite new PizzaApp nothing is generated in folder. Note: I also posted on slack,
Thanks
John

[2017-03-05 15:41] skellock commented on #862
Thanks for the report John.  We'll take a look at running from Windows.  Probably something small I overlooked.

[2017-03-05 16:02] johntom commented on #862
I'm looking to move and app from Native Starter Pro(4.0) and already find the support community (slack and github) a notch above. Also I just found out about the following  and tracking now.

C:\React\ignite2>ignite doctor
System
  platform           win32
  arch               x64
  cpu                4 cores            Intel(R) Core(TM) i5-4460  CPU @ 3.20GHz
  directory          C:\React\ignite2

[2017-03-05 16:08] skellock commented on #862
Oh that's interesting.  That error looks like it's triggered by running `ignite doctor`.  Do you get the same error if you just type `java` from the command line?

What do you see if you run `ignite new HelloJohn --debug`?

[2017-03-05 16:14] johntom commented on #862
C:\React\ignite2>ignite new PizzaApp --debug
-----------------------------------------------

-----------------------------------------------

An unfair headstart for your React Native apps.
https://infinite.red/ignite

-----------------------------------------------

:fire:  igniting app PizzaApp
16:09:24 [ignite] making directory PizzaApp
16:09:24 [ignite] switched directory to C:\React\ignite2\

[2017-03-05 16:23] johntom commented on #862
Odd thing is that 1.7 is no longer available. ReInstalling with jdk-8u121-windows-x64.exe

[2017-03-05 16:23] skellock commented on #862
Looks like there's 2 issues here.

Issue 1 is the boilerplate isn't getting run properly.  I was able to reproduce that here.  We'll patch that up.

Issue 2 looks like java isn't setup properly to run from the command line.  Maybe consider re-installing Java?  Are you able to run `react-native android` ok from normal apps?

[2017-03-05 16:23] skellock commented on #862
Oops.. haha.  I posted at the same time as you.  Ok.  Sounds good.

[2017-03-05 16:24] johntom commented on #862
yes I've had no major problems with react-native android

[2017-03-05 17:40] GantMan opened #864 "Git config difference causes infinite spinner"
![image](https://cloud.githubusercontent.com/assets/997157/23589728/f6693c5a-0197-11e7-9260-692d979bcb8f.png)

Igniting a new project, I get this ^

My EOL crlf config is set to force unix style in git.   I don't know when/how I set this, but man!  this is some helluva experience if you have this set.

I can turn it off, [as shown here](http://stackoverflow.com/questions/20168639/git-commit-get-fa

[2017-03-05 17:49] johntom commented on #862
I finally followed this https://www3.ntu.edu.sg/home/ehchua/programming/howto/JDK_Howto.html
Seems like java is fixed

C:\React\ignite2>ignite doctor
System
  platform           win32
  arch               x64
  cpu                4 cores            Intel(R) Core(TM) i5-4460  CPU @ 3.20GHz
  directory          C:\React\ignite2

JavaScript
  node               7.7.1        C:\PROGRAM FILES\NODEJS\NO

[2017-03-05 18:37] skellock commented on #862
Sweet!

Still working on the other issue.  It's happening when shelling out to run `react-native link` on Windows.  Not quite sure why some react-native commands work and some don't.

[2017-03-05 18:40] mwarger commented on #862
I'm getting this issue as well.  Thanks for looking into it!

[2017-03-05 19:03] GantMan opened #866 "FAQ screen - add feature - EXIST"
![simulator screen shot mar 5 2017 1 02 49 pm](https://cloud.githubusercontent.com/assets/997157/23590374/2e1e8ae0-01a4-11e7-92f2-215f266975c5.png)

[2017-03-05 19:32] skellock commented on #862
No, unfortunately that log files doesn't exist.  We're tracking that issue here #623.  Logging is something I believe should be added to gluegun as well.

[This line](https://github.com/infinitered/ignite-ir-boilerplate-2016/blob/master/boilerplate.js#L185) is causing the grief.  Seems to not want to execute in a grandchild process.  Been trying a bunch of things, but no luck so far.

[2017-03-05 19:36] nonotest commented on #826
Just tried this generator and ended up with :
[code]
in my `ScreenStyle` , not sure if I should make a separate issue or if it's linked to the interpolation problem,

thanks guys,

[2017-03-05 19:39] nonotest commented on #826
Just noticed that it added `Animatable` as well when I didn't add it to the project.
Looks like it's not taking into account any of the initial settings.

[2017-03-05 21:19] GantMan opened #868 "Detect `Screen` in title of generator"
![image](https://cloud.githubusercontent.com/assets/997157/23591501/ddaba8a0-01b6-11e7-9d17-f8149fe1915c.png)

In general, we should detect XY + Y and => XY instead of XYY for all generators.

[2017-03-05 21:29] GantMan opened #869 "Newly generated screen does not have EJS pass through"
![image](https://cloud.githubusercontent.com/assets/997157/23591580/f9a12066-01b7-11e7-8c33-c916a69376fb.png)

### Steps to recreate:
Generate a screen, see it fail to properly handle EJS injection.
`ignite g screen Taco`

---
### Suggested Strategy for Testing:
This will also fail linting.  A decent test should be to generate a screen and lint it.  This would protect against failed EJS as well as

[2017-03-05 22:13] juddey commented on #781
I was thinking about making a `jestthing` for this with 2.0. Idea being you could choose to nuke ava and replace it with jest if you wanted. The plugin (??) would also convert the default tests to jest format.

We have had a few people come in to the channel and ask 'what about jest?'... Then I launch into this explanation about how jest can be used and installed with ignite and its really just a

[2017-03-05 23:30] GantMan commented on #869
fyi, I'm writing this test.

[2017-03-06 00:05] GantMan commented on #781
I will happily write a JEST plugin at some point.  Hold me to that.

First I'll have to move AVA to a plugin... I would LOVE for anyone to do that before me.

[2017-03-06 01:43] giangqaz commented on #862
running ignite 2.0 on windows, and I got same error.

[2017-03-06 02:43] juddey opened #870 "What to do with dirty files after running ignite remove plugin"
I'm writing `ignite-keychain`, to add `react-native-keychain` to ignite. I run `ignite add /home/justin/projects/react-native/ignite-keychain`, then `ignite remove ignite-keychain`

I get this status:
![image](https://cloud.githubusercontent.com/assets/7445602/23594811/d38c0542-0281-11e7-9f8d-afbec05057c7.png)

All seems to be added and removed as expected but I am wondering what to do with these

[2017-03-06 04:34] GantMan commented on #866
should look like this:
![image](https://cloud.githubusercontent.com/assets/997157/23596832/c8c97d3a-01f3-11e7-8e5c-0a5ab15a89ea.png)

[2017-03-06 08:04] vutiendat88 opened #872 "How to rename project"
### Hello Ignite
I have created projects using Ignite A. Now I want to rename it to B. But do not know how. Please help me!
Thankyou!

[2017-03-06 09:08] alopezinkt commented on #862
Same issue here and now when I run "ignite generate component Mycomponent" on a folder with an app generated with v1.9..6 it says that the command has to be run on a ignite-compatible directory.

I tryed to downgrade to version 1.9.6, but I get the same error about non ignite-compatible directory.

[2017-03-06 12:06] skellock commented on #862
I'm working on a fix for Windows for beta 2.

[2017-03-06 12:08] #866 closed

[2017-03-06 15:41] fvonhoven commented on #456
@jamonholmgren I've got a full workload atm...feel free to tackle this one! 👍

[2017-03-06 16:11] skellock opened #874 "Add sanity checks before running new"
We have `ignite doctor` yay!

But...

We need to run environmental checks before allowing people to run `new`.

So far I've seen people have issues with `react-native-cli`, `yarn` and `xcode 7`.

Let's check these things silently before allowing them to spit out an app.

* [ ] Check presence of react-native & error if it's installed
* [ ] Check presence of npm 2, upgrade to npm 4 after installing

[2017-03-06 19:32] juddey commented on #872
Hello @vutiendat88!  I've used react-native-rename for just this case: https://github.com/JuneDomingo/react-native-rename

[2017-03-06 19:48] skellock opened #876 "Upload coverage report to coveralls"
Let's hook our coverage report up to codecov so we can get a fancy badge.

@mlaco has the badge part ready in #875.

It'd be great to run `npm run coverage:upload` from the root `package.json` to do this.  Then hook that up to semaphore somehow whenever we merge into master.

[2017-03-07 01:13] skellock commented on #862
Alrighty crew.  Please grab the latest version.  Beta 3.  `npm i -g ignite-cli`.  This fixes a few issues outstanding on Windows.

Please let me know if you have any issues with it.

[2017-03-07 01:13] #862 closed

[2017-03-07 03:10] giangqaz commented on #862
thanks, it worked

[2017-03-07 03:12] juddey commented on #637
I'm upgrading from 1 to 2 RIGHT NOW. ('scuse the shouting). I'll doc anything else I find here on this issue.

eg. if you want generator goodness restored, install the `ignite-ir-boilerplate-2016` module from npm and import the ignite.json and ignite folder from a fresh 2.0 project, and you're good to go with generators.

[2017-03-07 03:18] johntom opened #879 "Windows 10"
HI Steve,
Just tested and did it twice to verify error.

🔥 igniting app PizzaApp2
√ using the Infinite Red boilerplate
√ added React Native 0.42.0
? Would you like Ignite Development Screens? No
? What vector icon library will you use? react-native-vector-icons
? What internationalization library will you use? none
? What animation library will you use? none
√ added ignite-ir-boilerplate-2016
√ ad

[2017-03-07 03:34] giangqaz opened #880 "Windows 10, ignite generate screen style"
ignite generate screen NewsScreen
generate style file, but it's content is saga content

[2017-03-07 06:36] zbtang commented on #880
I have the same issue on MacbookPro.

[2017-03-07 06:47] orozcojair commented on #880
what Beta version are you running? I am currently running beta 3 on a Mac and when I generate a new screen I get an almost proper screen.

There is still a little issue that has been resolved here:
https://github.com/infinitered/ignite-ir-boilerplate-2016/pull/2/commits/1955971ad6e55c41738be8632493cc578abc13b4
 which is going to be pushed tomorrow based with my conversation with Jamon

[2017-03-07 07:16] mwarger commented on #880
I'm pretty sure he's talking about this.  I'm working on a PR to fix over at https://github.com/infinitered/ignite-ir-boilerplate-2016

https://github.com/mwarger/ignite-ir-boilerplate-2016/blob/master/commands/screen.js#L24

[2017-03-07 08:06] zbtang commented on #880
My ignite version is `2.0.0-beta.3`. But still failed. Is there need to reinitialize my project?

[2017-03-07 09:21] evelan opened #881 "No bundle URL present"
What's going on?

![screen shot 2017-03-07 at 10 16 26](https://cloud.githubusercontent.com/assets/1548104/23649681/95c9a540-031f-11e7-8cd4-8f228e2b37e8.jpg)

---
Steps to reproduce

[code]
---
`ignite doctor` results:

[code]

[2017-03-07 11:14] skellock commented on #881
Are you running your packager?  Are there errors when you run that?

[2017-03-07 11:16] skellock commented on #880
Thanks @mwarger .  He has a fix incoming shortly.

@zbtang You'll only need to update `ignite-ir-boilerplate-2016` in your devDependencies in your project to pick up the fix when it arrives.

[2017-03-07 11:16] #880 closed

[2017-03-07 13:30] chapati23 opened #882 "`ignite init` fails for dashed-project-names"
**What's going on?**
The failure itself happens during `react-native init`, i suppose. When you try `react-native init demo-app` you'll get an error message telling you that project names can only have alphanumeric characters.

---
**Steps to reproduce**
* Try running `ignite new demo-app`
* Watch it fail with no idea what's wrong

---
**Proposed solution**
* Forward the error message from `react-

[2017-03-07 13:32] skellock commented on #882
Agreed!  Thanks for opening this.

[2017-03-07 13:33] skellock commented on #882
Related to #874

[2017-03-07 16:26] skellock commented on #874
Another thing to add to the list.  The presence of `react-native` installed globally will trip up some steps but not others.  :(

[2017-03-07 16:28] skellock commented on #879
Try updating your `android/app/build.gradle` file to bump google play services base & maps up to `10.2.0`, then do a `./gradlew clean` and try again.

[2017-03-07 18:33] johntom commented on #879
I followed your post and appliend the following. Still getting errors.
dependencies {
    compile(project(':react-native-maps')) {
        exclude group: 'com.google.android.gms', module: 'play-services-base'
        exclude group: 'com.google.android.gms', module: 'play-services-maps'
    }
    compile 'com.google.android.gms:play-services-base:9.6.1'
    compile 'com.google.android.gms:play-serv

[2017-03-07 18:35] skellock commented on #879
Something has gone bonkers with the react native packager.  It's colliding with itself.  When this happens, i usually shut down the packager, delete node_modules, `npm i` and grab a coffee.

[2017-03-07 19:11] johntom commented on #879
I think I need to replace the coffee with some booze

[2017-03-08 03:57] johntom commented on #879
same package error but now error raised on device.
![image](https://cloud.githubusercontent.com/assets/1877376/23689556/7cadaa10-0389-11e7-95bb-f4fe62ad44f3.png)

Loading dependency graph...
React packager ready.

Loading dependency graph...
Bundling `index.android.js`
  Analysing...Failed to build DependencyGraph: @providesModule naming collision:
  Duplicate module name: Platform
  Paths: C:\Rea

[2017-03-08 03:58] johntom commented on #879
does not like maps

[2017-03-08 04:04] kevinvangelder commented on #879
For some reason `Utilities\PixelRatio.js` and `Text\TextStylePropTypes.js` are both trying to provide the module called `Platform`. I'd say try `npm uninstall react-native && npm I react-native && npm dedup` but I have my doubts that it will fix anything. Worth a shot anyway.

[2017-03-08 04:45] johntom commented on #879
amazing it worked! 5x says it doesnt support maps testing on another genymotion device.
Thanks

[2017-03-08 04:54] johntom commented on #879
tried a few devices. the build works on all but get following
![image](https://cloud.githubusercontent.com/assets/1877376/23690643/5ab8ef70-0391-11e7-9f87-6bac960794a6.png)

[2017-03-08 06:41] jamonholmgren commented on #781
@GantMan This merits a larger discussion, but generally speaking, I don't think larger, cross-cutting things like testing should be in plugins. Too many separate things will generate tests, and writing all of them to generate the right kind of tests will get problematic to both build and test adequately. If you use a Jest-powered boilerplate, use Jest. If you use an Ava-powered boilerplate, use Av

[2017-03-08 11:35] skellock commented on #879
You will need to install Google Play Services on your emulator.

[2017-03-08 11:36] skellock commented on #879
I think we got to bottom of this maps error though. Thanks for filing this! 🥇

[2017-03-08 11:36] #879 closed

[2017-03-09 04:33] johntom commented on #879
Found this http://www.techbae.com/download-install-arm-translation-v1-1-zip-genymotion/ and followed directions but still no map

[2017-03-09 04:41] kevinvangelder commented on #879
Once you've installed Google Play Services you'll need to create a new emulator.

[2017-03-09 12:36] skellock commented on #879
@johntom if it says the same message, it didn't work.  The emulators that come with Android Studio have the option to use Google Play Services built in.

[2017-03-09 13:04] skellock commented on #874
Also, people who have npm 2 installed, then upgrade to npm 4 after installing ignite will have issues.  We can detect this by looking for the `gluegun` dependency underneath the `node_modules` in the `ignite-cli` directory.

[2017-03-09 13:06] skellock commented on #874
Come to think of it, that's exactly what [should be happening](https://github.com/infinitered/ignite/blob/master/packages/ignite-cli/package.json#L52).  Investigate why this isn't working?

[2017-03-09 13:39] skellock opened #883 "Windows Powershell issues"
I just dealt with someone who had some problems running under Windows Powershell.

It was worked around by running ignite through good ol' `cmd.exe`.

The error they were experiencing was:

![image](https://cloud.githubusercontent.com/assets/68273/23752552/c991221a-04a3-11e7-8aad-42c62580507b.png)

Could have been a rogue globally installed package, Windows Powershell, or perhaps the Illuminati.

[2017-03-09 13:40] skellock commented on #874
Might want to consider #883 detection as well if it turns out to be an issue.

[2017-03-09 13:40] skellock commented on #874
Bumping up to higher priority as this is devouring lots of hours.

[2017-03-09 20:03] pavankat opened #884 "ignite new PizzaApp broken from documentation"
What's going on?

[code]

---
Steps to reproduce

[code]
---
`ignite doctor` results:

[code]

[2017-03-09 22:12] skellock commented on #884
I reckon you're running Node 4?  Type `node -v`.

[2017-03-10 04:45] robinvk6 commented on #884
I have the same issue. I am running node version 5.7.1

[2017-03-10 04:49] skellock commented on #884
You'll need Node 7.6.  That's when they released the new `await`/`async` features.

[2017-03-10 15:35] anantha322 opened #885 "Not able to create new plugin"
local:Sample xyz$ ignite plugin new radio-buttons
? Is this an app boilerplate plugin? Yes
? Will your plugin have an example component? No
? Will your plugin have a generator command? (e.g. ignite generate <mygenerator>
 <name>) Yes
Creating new plugin: ignite-radio-buttons
vvv -----[ DEBUG ]----- vvv
Error: template not found /usr/local/lib/node_modules/ignite-cli/src/cli/../templates/plugin/.gi

[2017-03-10 17:33] GantMan commented on #776
![image](https://cloud.githubusercontent.com/assets/997157/23805389/47a270ca-0583-11e7-8dd9-5af8a9dfd896.png)
**^ should be launch screen graphic**

![image](https://cloud.githubusercontent.com/assets/997157/23805293/ecef522e-0582-11e7-86ca-3e54c1c8de59.png)
suggested:
**Ignite 2 is a CLI and generator for React Native with boilerplates, plugins, and more. Choose from many boilerplates, or start y

[2017-03-10 19:50] pavankat commented on #884
yeah I have v5.10.1

upgrading now to see if this fixes it :)

[2017-03-10 19:53] skellock commented on #884
You may need to `npm i -g ignite-cli` right after you install the new tools.

[2017-03-10 20:46] #884 closed

[2017-03-10 23:51] robinheinze commented on #776
Added Gant's copy (tweaked a couple of words) and got the images put in.

[2017-03-11 03:09] skellock opened #888 "Add Ctrl+C to Cancel"
There are some edge cases where when we spawn subcommands, control+c doesn't work anymore.

Let's look into something like https://github.com/jprichardson/node-death for trapping and exiting.

We should never lock up the user's shell.

First step would be to reproduce.  I think I remember experiencing this myself when a subcommand tried to prompt for input, but we weren't showing it.

[2017-03-11 06:05] pospi opened #889 "Doesn't support node 6.x"
Given that `react-native-cli` doesn't support node >= `7.0` at the moment, this is somewhat painful. I dislike having to switch node versions constantly!

[2017-03-11 06:11] GantMan commented on #889
are you sure about that?  I think we're using it just fine. hrmmm

[2017-03-11 06:47] #861 closed

[2017-03-11 07:33] skellock commented on #889
The `react-native-cli` works great on node 7.6+.  Make sure you're running the latest version of that cli.

[2017-03-11 07:33] #889 closed

[2017-03-12 07:59] nelsieborja commented on #756
Hi,

Also getting same error, below is the detail. Android works fine except for iOS

`An error was encountered processing the command (domain=NSPOSIXErrorDomain, code=2):
Failed to install the requested application
An application bundle was not found at the provided path.
Provide a valid path to the desired application bundle.
Print: Entry, ":CFBundleIdentifier", Does Not Exist`

[2017-03-12 10:06] anant-singh commented on #656
I need help with this

[2017-03-12 12:50] nelsieborja commented on #756
Hi, came across with the same issue a while ago and after digging some solutions, upgrading Xcode with the latest version did the trick for me. Bec after finding out there's an incompatibility in the code so I thought Xcode might need to be upgraded for it to support the new code - a change which made by react developers recently. Sharing it and hope it helps.

[2017-03-13 10:35] marionorato77 commented on #885
I am getting exactly the same error when I try to create a new plugin. Does anyone else have the same problem?

[2017-03-13 16:31] Spacelapp opened #893 "Restart a request?"
Hello,

I'm trying to implement OAuth2.0 draft22. And I want to check after a request is done, if the request succeeded. If not (access token expired), I want to recall the request with a new fetched access token.
Is it possible to restart a request from a response?

Best regards,
Lukas

[2017-03-13 18:09] lacmax opened #894 "Ignite 2 "New Command" doesn't work"
Ignite 2 "New Command" doesn't work,
When I run the ignite new command only the initial folder is created without any content
---
What's going on?
Ignite 2 "New Command" doesn't work
---
Steps to reproduce
ignite new PizzaApp
---
`ignite doctor` results:
System
  platform           darwin
  arch               x64
  cpu                8 cores                                       Intel(R) Core(TM)

[2017-03-13 18:25] skellock commented on #894
do you accidently have `react-native` installed globally?  it should only be `react-native-cli`.  I've seen this environment cause this error.

Try `npm rm -g react-native` and try again.

[2017-03-13 19:23] lacmax commented on #894
Same problem :( , Last week it was working, I do not know if it was after the last beta version.

[2017-03-13 19:26] lacmax commented on #894
<img width="646" alt="captura de tela 2017-03-13 as 16 20 34" src="https://cloud.githubusercontent.com/assets/18317823/23871563/b8303a88-0809-11e7-9860-2cd341f3ed15.png">

[2017-03-14 10:00] skellock opened #895 "Remove es6-ism from check.js"
Let's go straight up vanilla es3 in our check.js script.

People still installing with Node 4 will experience this, instead of the nice error message hiding this gate.

[code]

[2017-03-14 10:32] nonotest commented on #894
yep same here, worked with beta2.

[code]

[2017-03-14 10:41] nonotest commented on #894
@lacmax  this was related to the project name for me. make sure your project name would be valid if you were using `react-native init` instead

[2017-03-14 11:17] javiercr commented on #691
Note that this issue is not related to `react-native-vector-icons` but any library that doesn't expose already transpiled files. For instance I'm getting the same problem with [tcomb-form-native](https://github.com/gcanti/tcomb-form-native):

[code]

I'm really not sure what's the best approach to handle these dependencies while testing. Should we try to mock them or make sure babel compiles them?

[2017-03-14 11:38] vesper8 commented on #759
is there already a stack or boilerplate available today that i can use with ignite 2.0 beta that has react-navigation baked in? if not.. is there any eta? thanks!

[2017-03-14 12:17] skellock commented on #691
We should configure AVA to read the `.babelrc` so the environment is the same.  In `package.json` we'll end up with something like this:

[code]

I can take a closer look shortly.  You're welcome to beat me to it though.  =)

[2017-03-14 12:40] javiercr commented on #691
@skellock ignite (and our project) already sets AVA to inherit the from `.babelrc`.:

https://github.com/infinitered/ignite-ir-boilerplate-2016/blob/master/boilerplate/package.json.ejs#L69

However the problem still remains.

The other issue I'm having is with libraries that use the platform dependant require's. For instance:
https://github.com/gcanti/tcomb-form-native/blob/master/lib/templates/bo

[2017-03-14 13:04] skellock commented on #691
Oh I gotcha now.  I'm sorry.  I'm not sure how that will go down in AVA.  Good question.

[2017-03-14 13:08] skellock commented on #691
Looks like maybe we should be mocking that file?   Since we're not running in the packager, we're using normal require rules and not node-haste's.

[2017-03-14 14:56] javiercr commented on #691
On one hand I think that making Ignite responsible for these kind of problems is out of the scope of Ignite (as this has to do more with testing RN apps with AVA than with Ignite itself).

On the other hand, Ignite is the kind of project that attract many newcomers to React Native, and they will probably run into issues like these if they take testing seriously and their projects are big enough (m

[2017-03-14 16:28] johntom opened #897 "Warnings on init"
`ignite doctor` results:

[code]
![screenshot-2017-03-14_12 05 17 181](https://cloud.githubusercontent.com/assets/1877376/23910953/aa74422e-08b1-11e7-9cdd-cc19c9609657.png)
![screenshot-2017-03-14_12 05 49 898](https://cloud.githubusercontent.com/assets/1877376/23910955/aa792550-08b1-11e7-9247-62ccf872b76b.png)
![screenshot-2017-03-14_12 06 30 146](https://cloud.githubusercontent.com/assets/187737

[2017-03-14 17:17] javiercr commented on #691
NVM I just found the discussion on #781. If you guys decide to move away from AVA we can close this issue.

[2017-03-14 17:23] javiercr commented on #781
Because of the problems described in #691 with AVA, I'm giving a try to Jest and so far I'm loving it. Mainly for two reasons: speed and better integration & docs for RN.

The main problem I had when using AVA is that many RN packages do not pre-compile code before publishing. To make it work I had to do some hacking with babel-register.

This problem does exist in Jest too. However when I went to

[2017-03-14 17:38] skellock commented on #897
The `onRequestClose` warning has [this PR](https://github.com/infinitered/ignite/pull/892) fixing it.  I haven't reviewed it.

The Navigation issue [was fixed] in `react-navigation`, but we haven't updated the dependencies in the dev screens yet.  You should be able to update the `react-navigation` library in your project it might go away if they've released the fix.

Thanks!

[2017-03-14 17:38] #897 closed

[2017-03-14 18:52] GantMan commented on #759
Keep on me to add it.  I just need to find time.

On Tue, Mar 14, 2017 at 4:38 AM, vesper8 <notifications@github.com> wrote:

[2017-03-14 18:57] naaness opened #899 "Failed prop type onRequestClose in Modal"
The component Modal in DevscreensButton needs the prop onRequestClose, it goes a warning message

[2017-03-14 19:14] skellock opened #900 "json-server plugin"
![image](https://cloud.githubusercontent.com/assets/68273/23918324/ea414b88-08c8-11e7-9a39-2a0a24240679.png)

[2017-03-14 19:16] GantMan commented on #900
![mind blown](https://cloud.githubusercontent.com/assets/997157/23918407/0dc6a738-08b0-11e7-9d86-ee90b0bd9075.gif)

[2017-03-14 19:33] skellock commented on #899
This is a dupe of https://github.com/infinitered/ignite/pull/892.  Thanks for filing.  I haven't gotten around to reviewing it yet.  =)

[2017-03-14 19:33] #899 closed

[2017-03-14 22:19] naaness opened #901 "ignite generate screen"
When I generate a screen the component's name is {{ props.name }}, is normal?

![image](https://cloud.githubusercontent.com/assets/5529918/23924738/f1411254-08d9-11e7-9ecd-56b541d7afb5.png)

[2017-03-14 22:28] skellock commented on #901
No, that's a bug.  We've got PR accepted and merged, just pushing out a build shortly.  Standby.

[2017-03-14 22:28] #901 closed

[2017-03-14 22:30] naaness commented on #901
@skellock thanks man

[2017-03-14 22:59] Un3qual commented on #826
Is anyone working on this? It seems like a pretty high priority issue.

[2017-03-14 23:09] skellock commented on #826
We track boilerplate issues [over here](https://github.com/infinitered/ignite-ir-boilerplate-2016).

And yes, I'm working on this.

[2017-03-15 03:40] jeveloper commented on #826
Thanks Skellock , was about to fix it :)

[2017-03-15 09:05] pospi commented on #889
My bad- I had some interoperability issues between Yarn and NVM.. complicated to explain and not relevant to this project!

[2017-03-15 11:18] skellock commented on #889
No problem. Yarn has been awesome and frustrating at the same time.

[2017-03-15 11:19] skellock commented on #900
@derekgreenberg any interest in doing this? I know you had some great opinions about fixtures and mock objects from our channel yesterday.

[2017-03-15 11:23] skellock commented on #893
You could handle that check in a saga and retry it.  But its nit built into axios or apisauce or fetch.

[2017-03-15 11:23] #893 closed

[2017-03-15 11:25] skellock commented on #870
Casualty of war unfortunately.  😆

[2017-03-15 11:25] #870 closed

[2017-03-15 11:26] #864 closed

[2017-03-15 11:27] #776 closed

[2017-03-15 11:30] #773 closed

[2017-03-15 11:57] pospi commented on #889
Yeah. So the more detailed version is basically that Yarn installs global
modules to its own folder, and you end up with conflicting modules when you
run multiple nodes with NVM. In addition it uses a `package.json` to manage
that folder, so if you switch node versions and attempt another global
module install you might find some of your previously installed globals
complaining about unsupported n

[2017-03-15 14:25] vesper8 commented on #759
@GantMan Sounds good! What's the best way to "keep on you" ? I'll be happy to send you daily reminders :) In all seriousness.. can I add you on some other messaging platform?

I'm only waiting on this to start tackling a migration of a current codebase to a "best practices" boilerplate powered by ignite and react-navigation. I'm ok with it being in beta. But I just don't want to spend a week migra

[2017-03-15 19:43] juddey commented on #870
:boom:

[2017-03-15 19:52] fvonhoven commented on #888
@skellock Additionally, you cannot ctrl+c out once Ignite is cooking...
![screen shot 2017-03-15 at 2 51 59 pm](https://cloud.githubusercontent.com/assets/10098988/23967983/090b0c9a-098f-11e7-883c-def34bb81fa0.png)

[2017-03-15 20:02] fvonhoven commented on #894
@lacmax Did you get it working?
@skellock seems to be related to #882 ? Perhaps we can close this if lacmax is 👍

[2017-03-15 20:18] skellock commented on #894
another thing to try is with `--npm`.  this forces yarn to turn off.  I've seen a few cases now of conflicts between nvm vs yarn as well as yarn vs yarn.  It's hard to keep this straight haha.

[2017-03-15 20:58] choisel commented on #895
Hello, I ran into this issue while trying to test your tool.
Do you have any workaround until it's fixed?

Thanks.
Choisel.

[2017-03-16 00:27] guarilha commented on #883
I had the same problem with Powershell

[code]

Using `cmd.exe` solved for me as well.

[2017-03-16 00:39] derekgreenberg commented on #900
@skellock This sounds like a good task for me. I could work on it this Saturday, but I will need your help to get started.

[2017-03-16 00:43] skellock commented on #900
I'm doing a session with @carlinisaacson and @fvonhoven tomorrow at 2pm PST for 1 hour.  Covering the basics on how to get started with contributing & developing plugins.  Love to have you.

[2017-03-16 00:48] #895 closed

[2017-03-16 15:20] derekgreenberg commented on #900
I'll attend today's training session at 2PM PST.

[2017-03-16 17:09] carlinisaacson commented on #900
@skellock @derekgreenberg I believe that session is actually 11AM PDT and 2PM EDT.

[2017-03-16 17:14] skellock commented on #900
lol!  thank you.. i'm sorry.  timezones are hard.

[2017-03-16 17:36] israelws opened #905 "Error: ENOENT: no such file or directory, uv_chdir"
### Hey there! Ignite seems to be having a problem, eh?
I've install the CLI and all dependencies (react native is working OK).
Yet, when I try to create new PizzaApp I'm getting this error:
Error: ENOENT: no such file or directory, uv_chdir
I removed NVM, updated NODE, drank green tea...., but nothing worked

Here is my ignite doctor output:

[code]

[2017-03-16 17:50] jamonholmgren opened #906 "Integration tests broken"
Running this:

[code]

Results in:

[code]

Doctor:

[code]

[2017-03-16 18:12] jamonholmgren opened #907 "Update react-native-ignite to helpfully point to ignite-cli"
If someone installs `react-native-ignite` by mistake, it would be good to give them a heads-up about Ignite 2 (`ignite-cli`). Maybe we could add an info log that tells them to uninstall this one and install `ignite-cli`.

Something like:

[code]

[2017-03-16 18:30] jamonholmgren commented on #905
Hey @israelws, when are you getting this error? Can you give more context from your terminal?

[2017-03-16 19:18] israelws commented on #905
Here is the terminal output:

🔥 igniting app PizzaApp
✔ using the Infinite Red boilerplate
✔ added React Native 0.42.0
an error occured while installing ignite-ir-boilerplate-2016 boilerplate.
Error: ENOENT: no such file or directory, uv_chdir

[2017-03-16 19:49] skellock commented on #905
What happens when you type  `react-native init PizzaApp2`?  does it work?

[2017-03-16 19:49] skellock commented on #907
Great idea!

[2017-03-16 19:51] israelws commented on #905
Yes
On Thu, 16 Mar 2017 at 21:49 Steve Kellock <notifications@github.com> wrote:

--
Regards,

Israel Weisman

Mobile: +972-52-4528844
Skype:  israelws

This email and any files transmitted with it are confidential and intended
solely for the use of the individual or entity to whom they are addressed.
If you have received this email in error please notify Israel Weisman. This
message may contains

[2017-03-16 20:15] israelws commented on #905
Yes
I tried react-native init and it is working for me

[2017-03-17 03:27] wjnxiang commented on #905
I have the same problem

[2017-03-17 09:52] elieteyssedou opened #908 "Screen generation is generating saga instead of style"
Hi,

I just began a project with Ignite, but when I came to generate a screen called 'Home', ignite created me a saga in the HomeScreenStyle instead of a style.

<img width="1052" alt="capture d ecran 2017-03-17 a 10 41 44" src="https://cloud.githubusercontent.com/assets/8143621/24037801/36093e30-0aff-11e7-96eb-da5db002e905.png">

By the way, in the screen generation I had some `{{ props.name }}`

[2017-03-17 19:38] jamonholmgren commented on #905
Related to https://github.com/infinitered/ignite-ir-boilerplate-2016/issues/11

[2017-03-18 12:47] nonameolsson commented on #905
I also have the same problem.

[code]

[2017-03-18 14:42] GantMan commented on #908
Hey Elie!  It looks like we fixed this a while ago, but there wasn't a new/released version of the boilerplate!   We're gonna circle up to make sure this doesn't happen again.  Thanks so much for bringing this to our attention!   Sorry for the silly issue.

[2017-03-18 15:26] GantMan opened #909 "Add ignite-debug.log for logging failed commands"
If a user is on *NIX we should have ignite doctor print out `$?` since there's a chance that the error code we emit could be captured there.

BETTER yet, is we make an ignite-debug.log in the ignite folder on failed commands.   It gets timestamped, and when you ignite doctor, it can say "last error was BLAH, 5m ago"   That would make all ignite doctor commands wayyyy better.

[2017-03-18 23:56] Slapbox commented on #883
Fails in babun, works in cmd.exe for me as well.

[2017-03-19 04:09] anujshah108 opened #911 "Error when trying to push to new repository on GitHub"
Hey guys thanks for the awesome boilerplate.

Working on a project right now and created a new repository on my GitHub. I tried to set the origin URL to that repository and push up but I am getting a bunch of errors on the command line.

[code]

I am not using l18n so not sure why thats coming up.

Is there something I am missing?

Appreciate any help!

Thanks again!

[2017-03-20 05:32] valinaga commented on #911
I had the same issue. I removed the precommit from scripts in package.json. I know it's not ideal, but it's annoying to not being able to commit.

[2017-03-20 05:34] valinaga commented on #908
@GantMan when can we get the fix for above? Copy/pasting screens and styles is annoying. Thanks

[2017-03-20 07:07] zjhiphop opened #912 "failed to add React Native 0.42.0"
---
What's going on?
When i try to create new project with cmd `ignite new xxx`, it always saying `failed to add React Native 0.42.0`

---
Steps to reproduce
[code]
---
`ignite doctor` results:

[code]

[2017-03-20 14:07] GantMan commented on #912
it might be the name of the project.   Can you give it a name without a hyphen?   Sorry for no friendly error message.
Should be easy to fix if this is the problem.

[2017-03-20 14:11] GantMan commented on #911
looks like it might be an issue with `husky`.

Yeah, the precommit does some checks to make sure you're lint free.   Can you verify?

[2017-03-20 14:16] valinaga commented on #911
yes, the precommit has `npm run lint` in it.

[2017-03-20 14:21] GantMan commented on #911
yup.   @valinaga - hit me on chat maybe we can ascertain the source and fix for everyone.

[2017-03-20 14:31] GantMan commented on #908
should be fixed in latest boilerplate.  Please test

`ignite add ir-boilerplate-2016`
let me know if that works.

[2017-03-20 14:32] GantMan commented on #908
We try to fix issues ASAP, but weekends always slow us down.   🎉  🎈

[2017-03-20 14:37] ruddell commented on #911
I think the problem here is that [boilerplate/Tests/Setup.js](https://github.com/infinitered/ignite-ir-boilerplate-2016/blob/master/boilerplate/Tests/Setup.js) depends on options the user chooses - it currently expects react-native-vector-icons, react-native-animatable, and react-native-i18n.

I solved this in a new boilerplate by moving the prompts to before generation and passing the prompt resu

[2017-03-20 14:51] skellock commented on #912
Beta 7 will ship with this fix #902.  React Native doesn't let you create apps with a dash, but we didn't prevent that.

[2017-03-20 14:51] #912 closed

[2017-03-20 15:13] skellock commented on #911
Ya, this is right @ruddell .  When we removed `i18n` and friends from the boilerplate into plugins, we didn't remove it all.  This will get fixed up.

I added `--skip-git` as an option when running `ignite new` however if you don't choose those options in the wizard (or select `--min`), it's a problem.

[2017-03-20 15:15] skellock commented on #909
I like the logging feature.  And the doctor tie-in.  The `$?` would be too late to capture the `ignite new` problems, but the logging would fix that.

I have [a logging issue](https://github.com/infinitered/gluegun/issues/161) open on gluegun for support like this.

[2017-03-20 20:03] anujshah108 commented on #911
I have removed the precommit and prepush scripts for now and it is letting me push (I know not ideal).

[2017-03-20 22:09] skellock opened #913 "Installation error when node_modules/react-native exists"
With @derekgreenberg's help, we were able to reproduce a strange error that some people may have been getting on their machines during the install process.

### Steps to reproduce

[code]

### How to prevent

We should detect if the user is in a directory with `node_modules` and has `react-native` in it.  We should prevent people from getting into this situation.

Sadly, I think it may be cause by

[2017-03-20 22:13] skellock opened #914 "Allow installing into an existing directory"
@derekgreenberg pointed out a good use case where you would have a directory already created and would like to install ignite into it.

This will happen when people create the repo first on github.

`react-native init` will prompt you first and then install it.  We should do the same.

[2017-03-20 22:15] skellock commented on #885
Yes.  This is an issue.  I've just encountered this today.  The work around until we get the fix in place is to

[code]
(or whever the first line of the error message is tell you to point.

We seem to be missing that file from the plugin generator.

[2017-03-20 22:27] skellock commented on #885
Turns out... `.gitignore` is ignored by `npm`!   https://github.com/npm/npm/issues/7252

I'll do a work around to get this in place.

Sheesh.

[2017-03-21 00:02] skellock opened #916 "Command for creating project plugins"
The `ignite plugin new thing` will create a npm-based plugin.  Project plugins are a lot more simple.

Let's create a plugin version that will create these.

Anyone have a preference?  I'm leaning towards 2.

### 1. A new command
[code]

### 2. Prompt for it
[code]

### 3. Add a switch
[code]

Project plugins are the same as normal plugins, except:

* they don't install node_modules
* they don't h

[2017-03-21 12:35] #885 closed

[2017-03-21 12:51] #913 closed

[2017-03-21 13:26] skellock opened #919 "Older react-native-cli causing ENOENT issues"
Older versions of `react-native-cli` are causing issues with `nvm`-based installs.

This seems to be resolved in the more recent versions of `react-native-cli`.  Let's make `react-native-cli>=2.0.0` a requirement.

### Steps to Reproduce

[code]

### Fixed By

[code]

[2017-03-21 13:27] skellock commented on #919
Related:

* https://github.com/infinitered/ignite-ir-boilerplate-2016/issues/11
* #905
* #894
* #874

[2017-03-21 21:14] valinaga commented on #908
I got `'import RoundedButton' was not found in file.` while running `ignite add ir-boilerplate-2016`. Was it completed? What was it suppose to return on success?

[2017-03-21 22:25] #919 closed

[2017-03-21 23:07] skellock opened #924 "What's with Codacy?"
I noticed that our codacy badge dropped from an A to B.

I don't even know what codacy is... so i clicked it.

It proceeded to tell me a bunch of problems which:

* were in conflict with `standard` js
* couldn't understand the backtick strings in javascript
* and had issues with the es3 code we wrote for to be compatible with node 4
* compatibility warnings against browsers (we're a CLI)
* we scor

[2017-03-22 02:46] #882 closed

[2017-03-22 05:37] zbtang opened #926 "How to import images files in ignite 2.0"

[2017-03-22 18:09] skellock opened #930 "Typing `ignite new` blows up."
### Steps to reproduce

[code]

### Expectation

We should show the instructions for running a `new` project.

### What's happening

[code]

### Why?

https://github.com/infinitered/ignite/blob/master/packages/ignite-cli/src/commands/new.js#L25

We shouldn't be feeding `null` into match.

[2017-03-23 05:23] jamonholmgren commented on #924
@skellock I'd recommend we remove Codacy. We're in a pretty good spot with our linter already. I understand wanting to keep an eye on code complexity but we can do that as we review pull requests.

[2017-03-23 05:27] jamonholmgren commented on #926
Hey there @zbtang ! I assume you're using the https://github.com/infinitered/ignite-ir-boilerplate-2016 boilerplate. Just drop your image files into `App/Images`, add it to `App/Themes/Images.js`, and then use it like this:

[code]

Hope this helps!

[2017-03-23 05:33] jamonholmgren commented on #916
I like number 3, the switch, which kind of surprises me, since I'm usually kind of anti-switch on CLIs. But of the options you put forth, that makes the most sense.

Other options:

[code]

I'd be okay with number 3, another option when generating. If we do that, I'd probably say something like:

[code]

Just thinking out loud here.

[2017-03-23 05:35] jamonholmgren commented on #911
We should definitely fix this. I've run into it myself.

[2017-03-23 05:44] jamonholmgren commented on #908
Just tested generating a screen and it looks like this has been fixed.

![screen shot 2017-03-22 at 10 42 49 pm](https://cloud.githubusercontent.com/assets/1479215/24233666/f21f3df4-0f50-11e7-88b7-bdcf38694967.png)

@valinaga Could you file a new issue over at https://github.com/infinitered/ignite-ir-boilerplate-2016 if you're still having this issue?

[2017-03-23 05:44] #908 closed

[2017-03-23 05:48] jamonholmgren commented on #905
@israelws @wjnxiang Does [this](https://github.com/infinitered/ignite-ir-boilerplate-2016/issues/11#issuecomment-288076176) solve your problem? If so, we'll close this issue.

[2017-03-23 05:49] jamonholmgren commented on #894
@skellock This is labeled "bug" and "help wanted" but I'm not seeing anything actionable here. Good to close?

[2017-03-23 05:50] jamonholmgren commented on #781
@GantMan Do you still intend to write this plugin? I think you and Steve convinced me this was a good idea offline.

[2017-03-23 05:56] jamonholmgren opened #932 "ignite doctor --bug should work"
In [the docs](https://github.com/infinitered/ignite/blob/1c677e1e53b6de27a4c9386e5aa2c6a980fe8071/docs/quick-start/ignite-commands.md#doctor), we mention `ignite doctor --bug` which ostensibly should open a browser with an Ignite issue ready to go and the results of `ignite doctor` pre-filled.

I'm not sure where this idea came from, but it's a good one. We should implement it.

[2017-03-23 06:01] aemdy opened #933 "How to properly access user access token from redux store and send it as a header?"
I am using a boilerplate generated by Ignite to start my React Native app. Right now I'm facing the following situation and not sure how to properly solve it.

Flow:
1. user logins through facebook
2. gains access token
3. I'm sending it though API to backend to gain backend access token
4. token is saved to redux store.

From now on, that token needs to be sent with every subsequent user request.

[2017-03-23 06:03] jamonholmgren commented on #786
@skellock I'm not actually seeing a way to do this in Ignite. Is this a gluegun thing?

[2017-03-23 06:04] #826 closed

[2017-03-23 06:06] zbtang commented on #926
Hi, thanks ! But what I really mean is how to import images  automatic . Because in Ignite 1.x there is a command `ignite import imagesfile` to import all image files into Images.js file. Is there any command on version 2.0 to automatic import all image files?
Thanks !

[2017-03-23 06:08] jamonholmgren commented on #868
Moved to https://github.com/infinitered/ignite-ir-next/issues/2.

[2017-03-23 06:08] #868 closed

[2017-03-23 06:50] jamonholmgren commented on #874
PR on the way for checking presence of `react-native`.

[2017-03-23 06:52] jamonholmgren commented on #926
Ah ... I'm not sure! Maybe @fvonhoven knows?

[2017-03-23 06:54] jamonholmgren commented on #933
Hey @aemdy, thanks for using Ignite! Join us in http://community.infinite.red in the #ignite channel and ask there, if you don't mind. If it makes sense to make a change to the boilerplate, file an issue over at https://github.com/infinitered/ignite-ir-boilerplate-2016, and we'll make it happen -- or better yet, push a PR over to us there!

[2017-03-23 06:55] #933 closed

[2017-03-23 07:18] orozcojair opened #935 "Upgrading from beta.2 to beta.7 fails"
This afternoon I tried to upgrade from ignite beta.2 to beta.7 by running both methods

`npm i -g ignite-cli@2.0.0-beta.7` and `ignite add ignite-ir-2016`

after processes were complete, running `ignite doctor` would fail and present me with this

![2017-03-22_2227](https://cloud.githubusercontent.com/assets/983866/24236006/328095b2-0f5d-11e7-842e-30eb5bc55530.png)

just for reference I then insta

[2017-03-23 10:29] skellock commented on #874
I did a check for `react-native` already.  We still need a few others still.

[2017-03-23 10:32] pra85 commented on #883
I faced a similar issue when using Git Bash. Works when using in `cmd.exe`

[2017-03-23 10:40] skellock commented on #883
Anyone have insights into why this is happening?  Some light googling turn up no answers for me.

[2017-03-23 10:54] skellock commented on #786
https://github.com/infinitered/ignite/blob/master/packages/ignite-cli/src/extensions/ignite/log.js#L12

[2017-03-23 10:55] skellock commented on #932
I mentioned it in passing to @codeithuman and the bastard wrote it down!

[2017-03-23 11:02] skellock commented on #781
I think this is a boilerplate issue. Jest is installed by default. Our boilerplate skips jest during the react native install. If someone makes their own boilerplate, they get jest for free.

Im onboard with us switching to jest even though my preference is for ava. It is the path of least resistance and certainly the popular choice these days.

[2017-03-23 11:05] skellock commented on #894
@lacmax @nonotest can you try this again with the latest? `npm i -g ignite-cli`.

[2017-03-23 11:07] skellock commented on #911
Thers is a PR in with this fix from @ruddell 💪

[2017-03-23 11:14] skellock commented on #916
We could do both 2 and 3. Just need to figure out the wording. Maybe it could be a yes/no question?

Will this plugin be installed on npm?

[2017-03-23 11:20] skellock commented on #935
`yarn` should be optional.  we broke something.  as a work around for now, `npm i -g yarn`.

[2017-03-23 12:37] FruitieX opened #936 "Using custom boilerplate fails depending on CWD"
Hi! Great job on Ignite 2. :)

I'm developing a custom boilerplate, and found some strange behavior when testing the boilerplate out:

[code]

But this works:
[code]

This also fails:
[code]

Really mysterious how it doesn't work if I'm in a subdirectory under home. Any ideas and are you able to reproduce?

[2017-03-23 13:51] Slapbox commented on #883
No idea why it doesn't work, but is there a reason you can't use `cmd.exe`?

[2017-03-23 14:58] skellock commented on #883
Me personally?  Ya, I can use `cmd.exe`.  But it should run on powershell & git bash too.  Because people use that as well.

[2017-03-23 15:18] skellock commented on #936
Woah.  That's weird.  It's like it's not picking up the right path.  But even that doesn't make sense with your 3rd scenario.

One thing you can do is type `--debug` and it'll spit out a bit more info.

Let's say your making your new boilerplate in `~/src/ignite-fruitiex-boilerplate`.  You would `export IGNITE_PLUGIN_PATH=/Users/fruitiex/src`.  I'd wouldn't rely on the the `~` expansion (just to r

[2017-03-23 18:48] #906 closed

[2017-03-24 07:21] orozcojair commented on #935
confirmed that installing yarn is a legitimate work-around

[2017-03-24 12:48] FruitieX commented on #936
Using `export IGNITE_PLUGIN_PATH=/Users/fruitiex/src` works. Odd, I was sure I had tried that as well. Closing issue.

[2017-03-24 12:48] #936 closed

[2017-03-24 13:49] skellock commented on #936
Yay!  If you ever experience that again, please lemme know.

[2017-03-25 04:42] rahmanadianto commented on #448
I got this error when run "ignite new <App>". I am sure I have installed android sdk 23, is it because Android have removed command line tool?

I got this when try "android list"
The android command is no longer available.
For manual SDK and AVD management, please use Android Studio.
For command-line tools, use tools/bin/sdkmanager and tools/bin/avdmanager

[2017-03-25 14:22] nonotest commented on #894
It worked the first time after updating ignite-cli.. but then it started not working again.
Looks like it reverted back to the old behaviour although I still have
[code]

Will try to re-install ignite later and see what happens.
Cheers,

[2017-03-25 18:54] israelws commented on #905
yesss, it is working correctly. Thank You :)

[2017-03-26 19:03] SteveOscar opened #940 "react-native-cli version not detected correctly"
---
What's going on?
I've already used Ignite 1, now trying to create a new Ignite 2 app and getting an error about react-native-cli not being up to date, but it is. I've tried uninstalling the Ignite 1 packages and reinstalling react-native-cli.  `ignite doctor` shows the correct version of react-native-cli.

![image](https://cloud.githubusercontent.com/assets/12125888/24334220/1f32f10c-1224-11e7

[2017-03-27 11:02] kayazinc opened #941 "Could not expand ZIP - react-native-device-info-release.aar"
---
What's going on?
Build failed with an exception after adding a plugin - https://github.com/dabit3/ignite-elements
---
Steps to reproduce
1. Follow the basic setup and add the plugin:
[code]
2.  Build failed error message will be generated.
[code]
---
`ignite doctor` results:
[code]

[2017-03-27 11:16] kayazinc commented on #941
Thanks to Bela Berentes @Slack,
To fix the issue, do a ```gradlew clean``` after installation of the plugin.

[2017-03-27 11:16] #941 closed

[2017-03-27 15:45] #905 closed

[2017-03-28 12:40] tudinger opened #943 "where to find boilerplates?"
Please just tell me where to find boilerplates list......

[2017-03-28 13:31] GantMan commented on #943
Right now there are only 2.

The one for our tech stack from 2016, and the new one.

We'll continue to modify `ignite-ir-next` and stamp "stable versions" of it in the readme.

https://github.com/infinitered/ignite-ir-next

We should probably add this to the the ignite readme.

[2017-03-28 14:14] evert-smit commented on #940
Hi Steve, I had the same issue while trying out Ignite. I haven't looked into the exact workings of the Ignite source, but it seems to be looking for the react-native-cli package locally instead of globally. If you install react-native-cli locally:

`npm install --save react-native-cli`

Ignite will pick it up and work - perhaps not the nicest solution, but if it helps you continue your project un

[2017-03-28 15:13] Den368 opened #944 "The screen generator not work well"
**What's going on?**
`ignite generate screen something` create the files `somethingScreen` in Containers and `somethingScreenStyle`, however, the import of the style by default is:
`// Styles
import styles from './Styles/somethingStyle'` as you can see the file name is different.
I know it's not a big deal to rename the file or the import but this thing not happened to me in Ignite 1

---
**Steps

[2017-03-28 18:09] GantMan commented on #944
hiya, your ignite doctor results aren't showing.  Please re-run and post those.

[2017-03-28 18:09] GantMan commented on #944
Also, I think this might be fixed in `ir-next`, would you like to give that a try?

`igntie add ir-next` and then try that screen generator.

[2017-03-29 00:27] MyTotoro opened #945 "Unrecognized 'run-android', can't install basic example"
System
  platform           darwin
  arch               x64
  cpu                4 cores                                  Intel(R) Core(TM) i5-4250U CPU @ 1.30GHz
  directory          /Users/Kevin/Documents/MyIgniteProject

JavaScript
  node               7.7.4        /usr/local/bin/node
  npm                4.1.2        /usr/local/bin/npm
  yarn               0.21.3       /usr/local/bin/yarn

Rea

[2017-03-29 06:21] Den368 commented on #944
Thank you for the great advice, this fixed the problem.
However, this option should be by default as it is in Ignite 1.

[2017-03-29 06:22] #944 closed

[2017-03-29 13:37] GantMan commented on #944
We will fix.   Just awaiting our next stable release.

[2017-03-30 02:53] amitava82 opened #946 "ignite-ir-boilerplate-2016 is not available on npm"
Just trying to get started by following the quick example steps and it throws error. Please update the guide with correct steps.

[2017-03-30 10:46] amitava82 commented on #946
Closing this. Seems like brew screwed some something.

[2017-03-30 10:46] #946 closed

[2017-03-30 11:15] skellock commented on #946
Oops!  Thanks for letting us know.

[2017-03-30 14:12] SteveOscar commented on #940
@evert-smit yeah I had it installed globally, thanks for the tip!

[2017-03-31 09:36] stormpat commented on #881
I just tried ignite 2.0 out, and i have the same issue.

[2017-03-31 18:44] derekgreenberg opened #948 "Ignite.removeDebugConfig leaves a blank space in DebugConfig.js"
## ignite.removeDebugConfig('useJsonServer') leaves a blank space in DebugConfig.js where it should have removed the key/value pair.

Reviewed this issue with @jamonholmgren.

---
Steps to reproduce

Generate a new Ignite Plugin

In the const add = async function (context) function, invoke:

`ignite.setDebugConfig('useJsonServer', '__DEV__ && true', true)`

### Look at the modified DebugConfig.js

[2017-03-31 19:01] jamonholmgren commented on #948
When I build out https://github.com/infinitered/gluegun/issues/155 we can switch to the new patching extension and it should fix this.

[2017-03-31 21:17] GiacomoK opened #949 "Error: not found: yarn"
Hello,
On Win7 I followed the guide to install ignite, and I did it, but when I try to create a new project I get this error:

Error: not found: yarn

and

(node:5520) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): Error: not found: yarn

Should I install yarn? It does not say anywhere.

[2017-03-31 23:53] chlela opened #950 "ignite generate component shouldn't override already created component"
What's going on?
Generating a component shouldn't override an already existing component with same name.  You can potentially warn the user or ask for confirmation
---
Steps to reproduce
* issue command: ignite generate component testComponent
* Make changes to testComponent
* re-issue command: ignite generate component testComponent

Changes are overwritten