[2021-12-03 12:57] #1778 closed

[2021-12-03 14:34] selindoga commented on #1675
where did you change it ? I cannot find `com.android.tools.build:gradle:4.1.0`

[2021-12-04 06:28] subodha opened #1845 "Stuck on "Installing React Native Colo Loco" when generating a new app using both npx and yarn"
**What's going on?**
When I tried to create a new mobile app using ignite it keeps Installing React Native Colo Loco. Nothing proceed further.
I tried using both NPX and YARN but the same issue occur.
Any idea ?

---

**Steps to reproduce**

1. `npx ignite-cli new MyApp `or `yarn ignite-cli new MyApp --debug`
2. Wait until your patience runs out (in my case around 45 minutes).

**Result**

[code]

[2021-12-04 06:46] subodha commented on #1845
Since keep Installing React Native Colo Loco for hours I stop the process by Ctrl + C
Then open the project directory in the terminal

Installed **react-native-colo-loco** manually in to project by running `yarn add react-native-colo-loco`

Then I could run my application successfully.

[2021-12-04 06:57] jamonholmgren commented on #1845
@subodha Can you provide `npx ignite-cli doctor` pls?

[2021-12-04 06:59] jamonholmgren commented on #1845
Oops, never mind, you did provide that.

[2021-12-04 07:00] jamonholmgren commented on #1845
So I'm able to spin up an app successfully. Hm.

![image](https://user-images.githubusercontent.com/1479215/144700870-7b5eb4a5-2952-4474-95dc-ece225e61cda.png)

My ignite doctor:

[code]

[2021-12-04 07:02] jamonholmgren commented on #1845
It's weird that yours stalls like that. I'm not entirely sure why.

[2021-12-04 07:16] subodha commented on #1845
It happens when the react-native-colo-loco install ignites itself. But when I installed the react-native-colo-loco manually it works. May be it can a permission issue

[2021-12-04 22:26] jamonholmgren commented on #1845
Yeah, very strange! It would be nice to get more insight into what it's doing here.

[2021-12-06 19:52] #1699 closed

[2021-12-10 00:27] leonskim commented on #1845
@subodha Pinging you because just want to make sure if that still happens to you.

I've tried a couple things but sorry, I haven't been able to recreate it. I've tried different versions [yarn || npm, node, Cocoapods] to make sure it's not the package issue, but no dice. I've tried on 3 different machines, and asked my coworkers to try, but none of them reported the same issue as you're facing unf

[2021-12-10 00:27] leonskim commented on #1841
Fixed by https://github.com/infinitered/ignite/pull/1844, let us know if it still occurs. Thanks!

[2021-12-10 00:27] #1841 closed

[2021-12-10 00:30] jamonholmgren commented on #1841
:tada: This issue is fixed in version 7.8.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.8.2)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.8.2)

[2021-12-10 12:09] subodha commented on #1845
Hi @leonskim Thank you for attending to this issue. I will investigate further and update you If I find something.

However I love ignite since it is really cool to use. I recomand any one to use this if they are starting react native app.

Thanks  again for jumping in to this.

[2021-12-14 23:58] jvgeee opened #1848 "isNonScrolling() method in screen.presets doesn't behave correctly"
I may be reading it completely wrong, but the current way the Screen component decides whether to use a scrollview or not is to check `isNonScrolling(preset)`

The code:

[code]

The comment "Any of these things will make you scroll" is incorrect - it implies that if you have no preset prop, it will make scroll. It should be the other way around.

If you're like me and want your pages to scroll by

[2021-12-18 17:23] aymkin commented on #1845
In my case, something breaks on RN Colo Loco.

![image](https://user-images.githubusercontent.com/10321850/146648683-d79e9c93-4ae6-43ac-9619-c96c62169774.png)

[code]

If I ignore it and go to the app directory - iOS builds just fine. Tha android fails to be built.

To ignite the app I did use the `npx ignite-cli new easyms --bundle=co.easyms.my`, but if I do instead `npx ignite-cli new easyms` th

[2021-12-19 17:57] JonNode28 opened #1852 "Could not resolve dependency peer react@"^16.0" from @react-native-community/masked-view@0.1.10"
What's going on?
I'm receiving the following error when running `npx ignite-cli new PizzaApp`

[code]

This is using LTS version of node `v16.13.1`

---

Steps to reproduce

1. run `npx ignite-cli new PizzaApp`

---

`npx ignite-cli doctor` results:
[code]

[2021-12-19 21:32] JonNode28 commented on #1852
The problem was VSCode auto attach. Disabling resolves the issue.

[2021-12-19 21:32] #1852 closed

[2021-12-20 17:31] bendoerr commented on #1840
Hey, I just gave this a try. After a bit of trial and error, turns out you really need `expo-cli@5.0.3` at least.

[2021-12-24 00:02] niieani commented on #1777
Duplicate of #1661

[2021-12-24 12:56] shirshak55 commented on #1777
This is not a duplicate of 1661 if you look at the error closely. Closing this

[2021-12-27 08:34] niieani commented on #1777
Wait, I'm confused. 😕  If you think it's not a duplicate, why was it closed? This issue is still occurring to me, that's why I'm here in the first place.

[2021-12-27 09:48] shirshak55 commented on #1777
@niieani the project doesn't seem to be active and it's already been more than 4 months so I don't want to pressure the maintainer.

[2021-12-27 10:06] niieani commented on #1705
I'm having the same issue with `@nhost/hasura-auth-js` crashing.
Removing `<ToggleStorybook />` as a workaround also did the trick.

[2021-12-27 15:45] osamamukhtarvd commented on #1845
Same thing is happening to me. Was working a few days ago. Installed ignite cli again and this started happening

[2021-12-27 19:39] jamonholmgren commented on #1777
@shirshak55 While I understand your frustration with an issue that hasn't been resolved in four months, I do take issue with the idea that the project isn't active. We've been working on it as time allows, and I have a PR in-progress that addresses both the NPM issue and also supports PNPM as well as Yarn and NPM.

https://github.com/infinitered/ignite/pull/1847

[2021-12-27 19:44] jamonholmgren commented on #1777
Taking a step back, my philosophy on open source is that I will try to review and merge/release PRs in a timely manner. But issues (especially problems with tools that I don't use myself) are generally on the community to figure out and solve. If you have a PR that solves your issue and it's been a while, I never mind you pinging me on Twitter and asking me to review it, etc.

[2021-12-27 19:50] shirshak55 commented on #1777
i am not frustrated but delighted to hear the project is active. When i saw there are workarounds I closed it. As it is an open source it doesn't impact me if its not maintained due to various cirmstance s. I made spurious assumption so i take my words back regarding maintenance

Sent from ProtonMail mobile

\-------- Original Message --------
On Dec 28, 2021, 1:24 AM, Jamon Holmgren < ***@***.***

[2021-12-27 20:06] jamonholmgren commented on #1777
I should have updated this thread, to be fair!

[2021-12-27 21:09] niieani commented on #1777
As an OSS maintainer myself, I know the struggle.
Thank you is the word we don't hear enough, so: thank you!

![cat-cute](https://user-images.githubusercontent.com/563469/147507403-79840c36-5a17-4eca-9f5c-78c229863621.gif)

[2021-12-29 09:43] simon-lund opened #1854 "Navigator Naming Convention"
What's going on?

When generating a navigator (e.g. "test") the generated file will be named test-navigator.tsx.
However, the generated component's name is Test and not TestNavigator, which would be consistent with the AppNavigator component.

 I wonder why this is the default case and if there is a reason why generated, custom navigators should not be called navigators.

---

Steps to reproduce

[2021-12-29 20:19] jamonholmgren commented on #1854
@simon-lund Good question!

I think you're right. It should be `TestNavigator`. Want to submit a PR?

[2021-12-30 13:45] lvlrSajjad opened #1856 "Issue in generating app with custom bundle"
What's going on?

When I use the command below to generate app with custom bundle it throws an error in installing Colo loco and eventually fails.

---

Steps to reproduce

1.  Run this command:
[code]

And after a while it shows following results:
[code]

---

`npx ignite-cli doctor` results:

[code]

[2021-12-30 16:43] lvlrSajjad opened #1857 "TS Issue on generating new screens"
What's going on?

When I generate a new screen using command below, it generates screen without NavigatorParamList more info in following paragraphs.

This is the demo screen:
![image](https://user-images.githubusercontent.com/42815758/147771254-440a3acf-76b5-468c-9f9c-4b00361708cb.png)

This is my generated screen:
![image](https://user-images.githubusercontent.com/42815758/147771306-a10f2038-aee

[2021-12-30 19:09] #1854 closed

[2021-12-30 19:18] infinitered-circleci commented on #1854
:tada: This issue has been resolved in version 7.8.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.8.4)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.8.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-31 12:47] linusdm commented on #1845
I've stubled on this bug today too. Looking at the process list I could figure out that the following process was hanging:

[code]
Running it in the shell gave some insights:

[code]
Sure enough, I was running the ignite CLI in an existing git folder (I wanted to add it as another sub-project of a mono-repo). Running it in a pristine folder did not result in any problems.

**Is there any chance yo

[2022-01-04 12:11] dragonmaster784 commented on #1856
I am also facing the same error ⚠️

I am just did a fresh OS boot with a clean install of everything on my M1 MacBook.
Node v16.13.1 (lts)
iTerm2 (Running off Rosetta) **- I have tried running on a normal terminal too (_sans Rosetta_)**

You'll notice the same report as OP here 👇
[ignite_cli-crash-report.log](https://github.com/infinitered/ignite/files/7807452/ignite_cli-crash-report.log)

If I tr

[2022-01-04 12:33] dragonmaster784 commented on #1856
So I thought about not installing the **React Native Colo Loco** module, I found an option flag called _--no-colo-loco_ (in the commands/new.ts of the repo) that you can append to _ignite-cli new exampleName_ script.
It got rid of the previous error with Colo Loco, but the Gluegun error still persists 👇
[gluegun_warning.log](https://github.com/infinitered/ignite/files/7807586/gluegun_warning.log)

[2022-01-08 16:30] rashd640 commented on #1750
بتاريخ الاثنين، 2 أغسطس 2021، جاء من Jamon Holmgren <
***@***.***>:

--
راشد

[2022-01-08 18:20] ardasatata commented on #1769
I can confirm, this issue persists in my project with ignite, first I thought it's because of the MST problem then I changed to Mobx, the problem is still there. 😞

all of my api call getting stuck because of this problem, hopefully, soon someone could find the solution

Thanks for the removing `ToggleStorybook` solution I'll do this instead whenever I'm not going to use storybook
[code]

[2022-01-10 01:26] SirDavenport opened #1859 "Generate screen doesn't work and infinite prints gibberish"
What's going on?
I do the command npx ignite-cli g screen question and this is what I get
![image](https://user-images.githubusercontent.com/35716952/148709113-ebbaa93a-54cc-4405-b0d0-ded9866421f7.png)

---

Steps to reproduce

1. create ignite project using the --expo option
2. npx ignite-cli g screen question
3. watch

---

`npx ignite-cli doctor` results:

[2022-01-10 05:48] lovelycbm commented on #1859
Same with Mac :(

<img width="3120" alt="스크린샷 2022-01-10 오후 2 46 06" src="https://user-images.githubusercontent.com/46586390/148723025-3cf4f1cd-ae5a-4fc9-a64e-00c5763f18f6.png">

[2022-01-10 06:49] JohnLamHK commented on #1859
Same here!

[2022-01-10 06:51] jensiepoo commented on #1859
Same here. Been looking into it all day 😔

![Screen Shot 2022-01-09 at 10 50 03 PM](https://user-images.githubusercontent.com/4207571/148727582-aa247cfa-93bc-4526-824d-84c9d5730ba3.png)

[2022-01-10 14:21] tqyellow commented on #1859
I believe this issue is related to the Marak Zalgo Liberty 2 bug.
https://snyk.io/blog/open-source-maintainer-pulls-the-plug-on-npm-packages-colors-and-faker-now-what/
Marak/colors.js#285

[2022-01-10 14:31] dragonmaster784 commented on #1859
Can confirm this is part of the color.js LIBERTY bug.

[2022-01-11 00:20] SirDavenport commented on #1859
Looks like npm reverted the bad updates, so I reinstalled ignite-cli, and now its working 👍

[2022-01-11 03:19] cresencio commented on #1828
Thank you @M1chaelTran, I followed the instructions as you suggested and the build step worked.

Side note:

This solution is useful to anyone following the tutorial [Create trivia app](https://shift.infinite.red/creating-a-trivia-app-with-ignite-bowser-part-1-1987cc6e93a1) and struggling to get the "run-ios" step to work.

[2022-01-12 06:41] inoxxe commented on #1859
how to reinstall the ignite-cli completely? i try using npm uninstall but it doesnt work

[2022-01-12 17:16] ibrahimelaradi opened #1860 "App stops executing next lines of code after network requests"
## What's going on?

I'm waiting for network requests to finish before change the state of the app using mobx actions, I'm using generator functions as described in [here](https://mobx-state-tree.js.org/concepts/async-actions)

Here's a screenshot of logs from Reactotron, there should be a log after the API response that shows the state change
![reactotron](https://user-images.githubusercontent.co

[2022-01-12 17:21] markrickert commented on #1860
Hey @ibrahimelaradi, sorry youre experiencing this. Is your component that is observing the mobx properties wrapped in the `observer()` function from `mobx-react-lite`?

For example, this won't update:

[code]

...but this WILL:

[code]

[2022-01-12 18:39] ibrahimelaradi commented on #1860
Hey @markrickert, all the files I'm using are generated using the CLI and they are by default wrapped inside of `observer()`, also it is worth mentioning that I've tried looking at the state tab of Reactotron and no state change has been recorded after receiving the network response

[2022-01-14 04:02] carlosa54 commented on #1860
Hi @ibrahimelaradi out of curiosity can you remove/comment out the `<ToggleStorybook>` component in app.tsx and see if it works?

https://github.com/infinitered/ignite/blob/10efc3878567926e9466c028c648ddb9e65f6b8d/boilerplate/app/app.tsx#L58-L69

Just in case I had a similar issue and I ended up fixing it by refactoring the file below to use ES6 import instead

https://github.com/infinitered/ignit

[2022-01-14 09:20] ibrahimelaradi commented on #1860
Hello @carlosa54, I commented out the wrapper and it worked fine, I'll refactor `toggle-storybook.tsx` to use ES6 import
Thank you!

[2022-01-14 09:20] #1860 closed

[2022-01-14 22:23] Norfeldt commented on #1594
@jamonholmgren

[code]

It opens the simulator, installs the app, tries to open it and fails.

[2022-01-16 23:52] dragonmaster784 commented on #1859
It seems this has been patched since, so you can close it. 👍

[2022-01-17 16:37] #1859 closed

[2022-01-24 02:22] ddaeschler commented on #1769
I had a similar issue with another async/await call never returning. Removing ToggleStorybook also worked for me in a completely different context. I don't claim to understand why, just giving feedback here.

[2022-01-24 09:38] nirre7 commented on #1845
This also happens for https://github.com/nirre7/ignite-diff-purge since it creates and app in a existing git repo..

[2022-01-26 18:19] hubConnect opened #1870 "Regex for i18n.test.ts misses a large amount of translations in the base boilerplate."
What's going on?
---
i18n tests only looks for components in the formats of: `Tx=""` and `tx=""`, but many of the components in the base boilerplate use `tx={""}`

Steps to reproduce

1. Create new boilerplate
2. Run i18n tests.
3. Observe output of "stdout".

Recommended fix:
[code]

Add optional values for brackets.

Before:
[code]

After:
[code]

I'll submit a PR soon to cover this.
---

[2022-01-27 09:24] terceser opened #1872 "React native getting started link redirects to a Not Found page"
using ignite cli new command

[code]

print out
<pre>
   To get started:
     cd dummy
     pnpm run android

   To run in Android, make sure you've followed the latest react-native setup
   instructions at <b>https://facebook.github.io/react-native/docs/getting-started.html</b>
   before using ignite. You won't be able to run Android successfully until you have.

   Need additional help?

   Join

[2022-01-27 09:36] terceser commented on #1872
#1873

[2022-01-27 21:25] robinheinze commented on #1857
Hey @lvlrSajjad, taking a look at this!

[2022-01-28 17:59] robinheinze commented on #1848
Hey @jvgeee! Thanks for the report!

In our case, we more commonly use fixed screens because a lot of the time, the screen will contain other scrolling elements, like FlatList, so we generally want the base screen to be fixed to avoid nested scrolls. But if scrolling is the more common pattern in your app, the beauty of Ignite is you can use it as a starting point and tweak the resulting app to me

[2022-01-28 23:37] mlynchdev commented on #1735
Reading through this and having had my own issues I'm going to venture a guess.  I think it may have something to do with the workaround in #1776  & #1781. (since .gitignore was changed)
I'm basing this on your report that Git disk usage is off the charts, and when I open VSCode I'm seeing 4K+ changes.  Possibly the git init for HEAD needs to be reordered if --expo flag is in place?  Otherwise it

[2022-01-29 12:09] BattleOfPlassey commented on #1735
Having the same problem with --expo flag on Windows 10. Please fix this.

[2022-01-30 23:32] jvgeee commented on #1848
@robinheinze I think you misunderstand my point - I'm saying the comment at line 64 of `app/components/screen/screen.presets.ts` that says:

` // any of these things will make you scroll`

should be changed to

`// any of these things will make the screen fixed`

e.g. if there's no preset, or if the preset is fixed, your screen will be `fixed`. I'm not arguing with the choice to make the view fixe

[2022-01-31 20:33] robinheinze commented on #1848
@jvgeee Oh! I'm so sorry, I did misunderstand! Thank you for clarifying! I'll re-open and hopefully get this fixed soon :)

[2022-02-01 17:10] #1857 closed

[2022-02-01 17:14] robinheinze commented on #1872
PR merged. Closing!

[2022-02-01 17:14] #1872 closed

[2022-02-03 09:14] zamplyy opened #1875 "Colors.js infinite loop when trying to initialize new app."
What's going on?
---
I can't see any other issues regarding this, but i think ignite-cli has been affected by Malaks recent changes to Colors.js (https://github.com/Marak/colors.js). When i use npx ignite-cli new PizzaApp all i see is the loop from Colors.js and therefore can't use the cli.
Steps to reproduce

1. Either use npx ignite-cli new PizzaApp or npx ignite-cli doctor

---

`npx ignite-cli

[2022-02-03 18:44] jamonholmgren commented on #1875
Duplicate #1859 -- make sure you are using the latest (`npx ignite-cli@latest new PizzaApp`). <3

[2022-02-03 18:44] #1875 closed

[2022-02-05 03:14] #1870 closed

[2022-02-07 09:37] vanenshi opened #1877 "Upgrade to React Native 0.67"
React native announced their new version `0.67`
can we upgrade the boilerplate react native version?

https://reactnative.dev/blog/2022/01/19/version-067

[2022-02-07 19:05] jamonholmgren commented on #1877
Working on it now @vanenshi -- thanks!

[2022-02-07 19:10] jamonholmgren commented on #1877
@vanenshi I'm working on it on stream if you're interested!

YouTube: [https://youtube.infinite.red](https://youtube.infinite.red)
Twitch: [https://twitch.tv/jamonholmgren](https://twitch.tv/jamonholmgren)

[2022-02-07 19:18] #1877 closed

[2022-02-07 19:27] infinitered-circleci commented on #1870
:tada: This issue has been resolved in version 7.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.10.0)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-07 19:27] infinitered-circleci commented on #1877
:tada: This issue has been resolved in version 7.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.10.0)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-08 16:24] sergioisidoro opened #1879 "[Request] Isolate theme and colours to a react hook, allowing for light/dark theming"
I'm working on an app with a dark and light theme. It's, I believe, a fairly common pattern nowadays.
I've found that having a react Hook to be a good approach.

[code]

However, if we do that, we lose many of the advantages of the generators, which import directly from the constants.

I'm wondering if there would be a way to implement variable theming with the ignite templates, without losing the

[2022-02-08 17:20] sergioisidoro opened #1880 "Component auto-image story book dependency on Screen asset (bowser image)"
If we delete the `welcome` screen, while keeping the component `auto-image` we get an error from the strorybook, as it is importing an asset from the screen.

I feel that a component being dependent on a screen is a bit of a problematic pattern.
Of course the easy solution would be to also delete the auto-image component story book for the component.

Steps to reproduce

1. Start a clean project
2

[2022-02-08 22:54] robinheinze commented on #1880
Yep, you're right. The image should be stored in /assets/images, rather than inside the welcome screen since it's used by something other than the screen component. I'll get a PR up shortly.

[2022-02-09 16:12] #1880 closed

[2022-02-09 16:21] infinitered-circleci commented on #1880
:tada: This issue has been resolved in version 7.10.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.10.1)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-10 11:15] sergioisidoro commented on #1880
Thanks a lot for taking the time to address this ☺️ This project is fantastic, and you all made an awesome work :)

[2022-02-10 16:40] martincpt opened #1884 "Unable to resolve module ./rick.png"
Repo contains _rick.jpg_ instead of **rick.png**

[code]

Error: Unable to resolve module ./rick.png

The problem is that _./app/components/auto-image/_ contains _rick.jpg_ instead of **rick.png**

![rick](https://user-images.githubusercontent.com/4718103/153452574-4edc526c-2bd0-4d26-aba7-3dee831b07d6.jpg)

His face tells everything.

[2022-02-10 16:41] jamonholmgren commented on #1884
Indeed. 😆

PR pretty pls? 😇

[2022-02-10 17:04] martincpt commented on #1884
Ok, sure. This is my first PR. I've submitted it. 😅

[2022-02-10 18:43] #1884 closed, assigned to nobody

[2022-02-10 22:12] infinitered-circleci commented on #1884
:tada: This issue has been resolved in version 7.10.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.10.2)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.10.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-11 20:01] cabelitos commented on #1661
Hey guys. I can confirm that this is running fine on Apple M1.

[2022-02-11 20:14] JPedroAmorim commented on #1661
Same, working fine on my M1.

[2022-02-11 21:19] Asheboy opened #1887 "`yarn android` fails on new app"
`yarn android` fails after creating a branch new 'app'.

---

Steps to reproduce

1. `npx ignite-cli new PizzaApp`
2. `cd PizzaApp/`
3. `yarn android`

Output from `yarn android`:

[code]

---

`npx ignite-cli doctor` results:

[code]

[2022-02-12 13:47] maqeelqureshi commented on #1887
Facing the same issue

[2022-02-12 14:15] maqeelqureshi commented on #1887
Source code before 5th Feb commit ("Upgrade to React Native 0.67.2) working fine

[2022-02-12 15:46] pyurkin commented on #1845
Thanks @linusdm!

I've changed the directory to one without git and installation starts to work

[2022-02-12 19:14] Asheboy commented on #1887
I should say it looked to me like the upgrade to Gradle 7.2 (from 6.9) which did it.

[2022-02-14 19:02] jamonholmgren commented on #1845
FYI we will be removing RN Colo Loco by default from new projects with #1890.

[2022-02-14 20:06] jamonholmgren commented on #1887
Looks like we need to update anything expo-related in our dependencies.

[code]

It should work after that.

I'll do a PR to Ignite to fix this goign forward.

[2022-02-15 02:49] #1845 closed

[2022-02-15 02:50] #1887 closed

[2022-02-15 03:01] infinitered-circleci commented on #1845
:tada: This issue has been resolved in version 7.10.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.10.3)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.10.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-15 03:01] infinitered-circleci commented on #1887
:tada: This issue has been resolved in version 7.10.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.10.3)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.10.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-15 06:02] patevs opened #1893 "Error installing `ignite-cli` version `7.10.3`"
Attempting to install `ignite-cli` version `7.10.3` throws the following error:

[code]

---

Steps to reproduce

1. Run: `npm i -g ignite-cli`

---

The error indicates that `solidarity` is not installed but note that even if `solidarity` is installed, `ignite-cli` is still unable to be installed as the following error is thrown:

[code]

[2022-02-15 08:04] takameyer commented on #1893
I'm getting this same issue on MacOS.  First I tried with `npx`, which failed silently.
Then I installed globally and got the following error:
[code]

I have also tried installing `solidarity` globally.  With that I get the following:
[code]

I've tried with npm 6/7 and node 14/15/16/17.

[2022-02-15 10:57] Lektrion commented on #1893
It seems to be a postinstall problem witch means ignite-cli still install itself correctly.

I ran `npm i -g solidarity`
then `npm i -g ignite-cli --force` (to overwrite existing content)

then when running `npx ignite-cli new igniteRealm --expo`

[code]

ignite-cli version = 7.10.3 ... i dont know if the solidarity error will be a problem further in the process.

[2022-02-15 14:10] Ppang0405 commented on #1893
I have same issues.

[2022-02-15 17:13] chadwpry commented on #1893
I've run into this same issue on both a macOS and Windows 10 WSL environment while using npx. It seems to be an issue solely related to 7.10.3, although I've not been able to identify the culprit. Running npx ignite-cli@7.10.2 is working alternative at the moment.

[2022-02-16 00:39] allaniftrue commented on #1893
`npx ignite-cli@7.10.2 new PizzaApp`

works!

[2022-02-16 03:58] jamonholmgren commented on #1893
I'm getting this same error -- will look into it tonight!

[2022-02-16 04:11] jamonholmgren commented on #1893
Looks like it was introduced in #1882.

[2022-02-16 04:17] #1893 closed

[2022-02-16 04:25] infinitered-circleci commented on #1893
:tada: This issue has been resolved in version 7.10.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.10.4)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.10.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-16 04:27] jamonholmgren commented on #1893
It appears to be working with 7.10.4. Please give it a go and let me know!

<img width="922" alt="image" src="https://user-images.githubusercontent.com/1479215/154196163-58f602da-4da8-4fb0-aa60-e2d3917fe8ae.png">

[2022-02-16 06:30] patevs commented on #1893
Version `7.10.4` installs and works as expected, thank you!

[2022-02-16 07:56] HAFDIAHMED commented on #1698
it is not working

[2022-02-16 19:47] chadwpry commented on #1893
I've been able to successfully execute in a Windows WSL and macOS environment using version 7.10.4 using npx ignite-cli 👍

[2022-02-17 05:06] silencer07 opened #1896 "Anyone was able to make flipper work?"
Basically I followed this steps on freshly-generated PizzaApp with `--expo` flag.

https://blog.expo.dev/developing-react-native-with-expo-and-flipper-8c426bdf995a

Having "No Application Detected" error in Flipper.

Tried upgrading latest expo via `expo upgrade`. tried matching the flipper version to flipper desktop app.

No Bueno.

Anyone?

[2022-02-17 10:56] ccnklc opened #1897 "Rick jpeg is still failing, react-native version is not defined properly"
What's going on?
Rick jpeg is still failing as it is saved in .jpg format,
Getting error related to reach-native version
---

Steps to reproduce

1. create a new app try to run it will see something similar to this
<img width="1522" alt="Screenshot 2022-02-17 at 10 53 37" src="https://user-images.githubusercontent.com/31257397/154463027-95ff6b16-e8f3-48b3-837b-8cb2ace4ce4f.png">

On top of that yo

[2022-02-17 10:59] ccnklc commented on #1897
If you can give me contributors permission, I can get the jpeg issue fixed asap, so at least people can get back to building new apps with ignite without facing any immediate error on the first run.

[2022-02-17 22:19] robinheinze commented on #1897
Ugh, sorry about that. Expo must be finicky about `.jpg` types. It works fine for a standalone app, but I did reproduce for an expo app. CI didn't catch it because it doesn't actually run the app. I will open a PR.

Yes, Expo manages the RN version manually. We are just generating an Expo app, so we have no control there.

[2022-02-18 12:40] ccnklc commented on #1769
I have spent days until I find this issue through discussions. Deleting toggle storybook also resulted in resolving all my problems that I thought coming from MST, or MST-QGL and now everything works, waaaaaah!

I believe it is better to configure the base app without toggle story book until this issue is resolved, just to give people a nice setup without any issues to start developing their apps.

[2022-02-18 18:53] infinitered-circleci commented on #1897
:tada: This issue has been resolved in version 7.10.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.10.5)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.10.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-19 10:47] sergioisidoro commented on #1620
It doesn't seem like the easiest thing to implement:
https://docs.expo.dev/development/extending-the-dev-menu/

[2022-02-20 07:05] pycraft114 opened #1899 "Latest expo powered project is unable to build ios and android"
What's going on?

--- Latest expo powered project is unable to build ios and android

error The resource `/Users/chanwoopark/projects/PizzaApp/index.js` was not found.
Error: The resource `/Users/chanwoopark/projects/PizzaApp/index.js` was not found.
    at /Users/chanwoopark/projects/PizzaApp/node_modules/metro/src/IncrementalBundler.js:457:26
    at gotStat (fs.js:1936:21)
    at FSReqCallback.o

[2022-02-22 17:13] robinheinze commented on #1899
@pycraft114 What happens when you run `yarn start` instead of `yarn build-ios`?

[2022-02-22 17:32] robinheinze opened #1901 "Don't include `build-ios` and `build-android` commands in Expo project package.json"
What's going on?

`yarn build-ios` and `yarn build-android` are not intended to work for Expo generated projects, so we shouldn't be putting them in package.json for projects with `--expo`.

This was brought to light by #1899
---

Steps to reproduce

1. `npx ignite-cli new PizzaApp --expo`
2.  Note `build-ios` and `build-android` commands in package.json.

[2022-02-22 17:45] andrewdang17 opened #1902 "npx ignite-cli without --expo installs expo. Is that expected?"
I'm new to this boilerplate so I ran the vanilla React Native command `npx ignite-cli new PizzaApp` without passing in `--expo`, but I see a bunch of expo packages in package.json and config files referencing expo. Is that suppose to be there?

[2022-02-22 18:07] robinheinze commented on #1902
@andrewdang17 Yep! Ignite uses [Expo Modules](https://blog.expo.dev/whats-new-in-expo-modules-infrastructure-7a7cdda81ebc) (formerly react-native-unimodules) so that we can utilize the fantastic selection of Expo libraries even in non-expo apps.

See https://github.com/infinitered/ignite/pull/1830/files

[2022-02-23 18:23] sergioisidoro commented on #1899
I just spent a few hours trying to figure out why I was getting these errors for iOS, but things were working in web:

[code]

Deleting metro config solved it. Maybe it's related?
https://github.com/infinitered/ignite/pull/1847

[2022-02-25 09:22] AlexanderLindkjaer opened #1904 "Expo publish fails on fresh install"
On a brand new ignite expo project, running `expo publish` results in the following error
[code]

This is an old [expo-cli issue](https://github.com/expo/expo-cli/issues/179) but one that should not happen in newer sdk's.
Non of the solutions from the original issue works.

in app.json you can change `assetBundlePatterns` from `**/*` to `assets/*` to make it run without error, but none of the asse

[2022-02-25 10:44] AlexanderLindkjaer commented on #1904
Found the culprit after hours of poking at files. It's the `metro.config.js` file.  I took the advice from the comments in that file and deleted the file and the dependencies it used. Now Expo published assets fine.

So thats a workaround to get i working 🙂 Will leave the issue open, as the default boilerplate should work with `expo publish` out-of-the-box.

[2022-02-25 18:50] sergioisidoro commented on #1620
I tried to make Reactotron work with storybook toggle, since making custom menus is difficult.

Enabling Storybook with a reactotron custom command is easy, but because Storybook renders instead of the RootStore (i think), reactotron doesn't work inside storybook (?) At least I'm getting:
[code]

Any help appreciated

[2022-02-28 16:56] robinheinze commented on #1904
Hey @AlexanderLindkjaer, thanks for solving that! Do you have any idea which part of that config was the issue?

[2022-02-28 18:19] AlexanderLindkjaer commented on #1904
@robinheinze

The whole makeMetroConfig() call makes it not publish
[code]

If you do it a more traditional way of just exporting an object, instead of a async function returning  makeMetroConfig(...)
it publishes fine. the `const defaultAssetExts` is i bit dirty, but skips the async await.

[code]

Disclaimer: I dont use pnpm or any monorepo stuff, so i dont know if the provided solution still gi

[2022-02-28 19:21] dannyhw commented on #1620
Well I guess in this case detecting expo and changing the text might be the solution. Since the issue itself is because of how the dev-menu can't be changed easily on expo (only possible with eas dev clients).

The solution is to use reactotron to toggle storybook or other similar solutions stated in this issue. I find the easiest way is to have a json config file with a showStorybook value which

[2022-02-28 19:59] jamonholmgren commented on #1899
@sergioisidoro Probably related to #1904 -- fix incoming in #1905.

[2022-02-28 20:00] jamonholmgren commented on #1899
For this specific issue, you should use `yarn start`, not `yarn build-ios`. We should remove those commands for Expo projects.

[2022-03-01 03:02] rohitnishad613 commented on #435
+1 JWT auth

[2022-03-01 17:04] infinitered-circleci commented on #1860
:tada: This issue has been resolved in version 7.10.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.10.6)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.10.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-02 08:24] yudistiraAshadi opened #1907 "react-native/cli.js not found on new project"
What's going on?
failed to run `./gradlew assembleRelease` on `android` folder on a new project.
---

Steps to reproduce

1. `npx ignite-cli new test` (create new project)
2. `cd android && ./gradlew assembleRelease`

---

`npx ignite-cli doctor` results:
![image](https://user-images.githubusercontent.com/18660006/156323279-f9586d64-2426-4613-a657-1eabd24b53b1.png)
![image](https://user-images.git

[2022-03-03 17:08] nithinvarghese-naico opened #1908 "Release build issue"
Release build with Ignite - React Native boilerplate showing blank screen, it is working in debug mode. Did anyone get this issue?

[2022-03-04 01:45] jiyuan12354 opened #1912 "npx ignite-cli new MyApp failed"
What's going on?
ignite-cli cannot init/new project
---

Steps to reproduce

1.  just run `npx ignite-cli new MyApp`
`

 dengjianyuan@Jerrys-MacBook-Pro ~ npx ignite-cli new MyApp
   · · · · · · · · · · · · · · · · · · 🔥 Ignite 🔥 · · · · · · · · · · · · · · · · · ·

    █ Creating MyApp using Ignite 7.10.6
    █ Powered by Infinite Red - https://infinite.red
    █ Using ignite-cli with yarn
    █

[2022-03-04 11:31] nishantsilversky commented on #1907
Same issue.

[2022-03-04 11:31] nishantsilversky commented on #1908
yes

[2022-03-04 19:36] byteasc commented on #1912
Using same node/npm version, i am not seeing this issue :/

Maybe a conflict with you having ignite-cli globally installed too, and as such is an old version. Otherwise everything does seem to be building as expected

`
[03/04/22  1:32PM] ➜  test npx ignite-cli new MyApp

   · · · · · · · · · · · · · · · · · · 🔥 Ignite 🔥 · · · · · · · · · · · · · · · · · ·

    █ Creating MyApp using Ignite 7.10.6

[2022-03-04 21:41] robinheinze commented on #1912
Yeah, I see `ignite-cli 3.5.2` in your global packages. Can you run `yarn global remove ignite-cli` and then try again?

[2022-03-04 21:50] robinheinze commented on #1908
Hi @nithinvarghese-naico Can you please provide the information
- Steps to reproduce. What commands did you run?
- What is your `ignite doctor` output.

[2022-03-04 22:13] robinheinze commented on #1907
Looks like this issue https://github.com/expo/expo/issues/16266#issuecomment-1039993702. There's a fix in the comments. I can open a PR.

[2022-03-05 00:25] jiyuan12354 commented on #1912
 ✔  10065  08:12:16
Thanks. follow your guide, but still throw error

 dengjianyuan@Jerrys-MacBook-Pro  ~  npx ignite-cli new MyApp

   · · · · · · · · · · · · · · · · · · 🔥 Ignite 🔥 · · · · · · · · · · · · · · · · · ·

    █ Creating MyApp using Ignite 7.10.6
    █ Powered by Infinite Red - https://infinite.red
    █ Using ignite-cli with yarn
    █ Bundle identifier: com.MyApp
    ───────────

[2022-03-05 01:07] jiyuan12354 commented on #1912
I am trying to use LTS node, but still throw error

dengjianyuan@Jerrys-MacBook-Pro  ~  nvm use 16.14.0
Now using node v16.14.0 (npm v8.3.1)
 dengjianyuan@Jerrys-MacBook-Pro  ~  npx ignite-cli doctor
Need to install the following packages:
  ignite-cli
Ok to proceed? (y) y
System
  platform           darwin
  arch               x64
  cpu                12 cores       Intel(R) Core(TM) i7-9750H CPU

[2022-03-05 02:24] byteasc commented on #1912
@jiyuan12354 The last one there shows a Socket Timeout, so thats typically an internet issue or connection problem.

[2022-03-06 17:53] gwguillen opened #1917 "New ignite project with expo error on Android QR code scan"
What's going on?
New project with ignite-cli for expo errors on Android QR with "Cannot delete property 'resolveRequest' of Object.
This does not occur with a new expo-cli project.
These unrecognized events occur regardless. The TypeError occurs upon scanning the QR code with Android device.
---

Steps to reproduce

1. npx ignite-cli new IgniteApp --expo
2. npm run start
3. Scan QR code with Andro

[2022-03-07 03:20] yudistiraAshadi commented on #1907
Hi! Sorry I just get back. I fixed it with this in `android/app/build.gradle`
[code]

Basically I commented those 2 lines and added `apply from: "../../node_modules/react-native/react.gradle"`. This line I got from `npx react-native init`. I'm not sure if I need to comment both lines, but it works fine now. N.B. Sorry for my bad English.

[2022-03-07 18:50] infinitered-circleci commented on #1907
:tada: This issue has been resolved in version 7.10.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.10.7)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.10.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-07 18:53] #1901 closed

[2022-03-07 18:53] #1899 closed

[2022-03-07 18:53] #1904 closed

[2022-03-07 19:02] infinitered-circleci commented on #1904
:tada: This issue has been resolved in version 7.10.8 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.10.8)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.10.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-07 19:02] infinitered-circleci commented on #1899
:tada: This issue has been resolved in version 7.10.8 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.10.8)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.10.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-08 22:41] dannyhw commented on #1826
@maqeelqureshi it would be worth checking this on the latest version of ignite since the change in #1906 would probably fix this issue.

[2022-03-08 23:45] dannyhw commented on #1766
I think this can be closed since it looks like this is already handled by react-native-rename here: https://github.com/infinitered/ignite/blob/c561e6afead1470abe1bb6f4925df11a689efc2f/src/commands/new.ts#L257

[2022-03-10 01:42] #1826 closed

[2022-03-10 12:28] CryptoGolden commented on #195
I solved
-my script
"scripts": {
    "analyze": "source-map-explorer 'build/static/js/*.js'",
    "start": "react-scripts start",
    "build": "CI=node && GENERATE_SOURCEMAP=true react-scripts build",
    "test": "react-scripts test --testPathIgnorePatterns=/src/__tests__/config/",
    "test:config": "react-scripts test --testPathPattern=/src/__tests__/config/",

-update
"scripts": {
    "analyze"

[2022-03-13 09:17] MusabBasheer opened #1918 "app-navigator should be observer component to detect MST"
What's going on?
app-navigator does not listen to MST changes
---

Steps to reproduce
1. use any store inside app-navigator
2. inside app-navigator UI use store prop to show UI based on conditions like
 {authenticationStore.isAuthenticated ?
                `<AppStack/>`
                :
               ` <AuthStack />`
            }
3- observe no change happened when store prop value changed.

[2022-03-14 15:18] chancesmith commented on #1311
For those using expo, there are settings to help with android and splash image resizing: https://docs.expo.dev/guides/splash-screens/

[2022-03-16 21:31] jamonholmgren commented on #1908
Would love more info, or better yet, a PR!

[2022-03-17 18:53] dannyhw commented on #1705
@jamonholmgren I think maybe this issue could be closed since it looks like its fixed by #1906

[2022-03-22 18:36] #1917 closed

[2022-03-25 08:24] jiyuan12354 commented on #1912
dengjianyuan@Jerrys-MacBook-Pro  ~/tmp  npx ignite-cli new MyApp                                                                                                                                   ✔  10977  16:16:17

   · · · · · · · · · · · · · · · · · · 🔥 Ignite 🔥 · · · · · · · · · · · · · · · · · ·

    █ Creating MyApp using Ignite 7.10.8
    █ Powered by Infinite Red - https://infinite.red

[2022-03-25 12:46] finnmerlett commented on #1896
Whilst I appreciate the link, with no timestamp, no video comments and basically no description it's kinda useless - I can't search through over an hour of video just to find the right 30 seconds I need :worried:

[2022-03-25 15:20] finnmerlett commented on #1896
Okay I found it, it's around the 40 minute mark. However it's clear they're using a non-expo project, so the setup is different and not directly transferable to an expo project. Still haven't got Flipper working with my ignite expo setup...

[2022-04-01 22:36] thecryptocowboy commented on #1912
Hello -- I am getting the same issue when trying to install.

![image](https://user-images.githubusercontent.com/84143736/161350631-fcc7d4d4-54cb-4c4a-bc51-0f6989b6e1da.png)

<img width="239" alt="Screen Shot 2022-04-01 at 6 32 54 PM" src="https://user-images.githubusercontent.com/84143736/161350474-37eea393-36a4-4a50-b63d-605fccd97724.png">

Please help.

[2022-04-04 22:12] b-r-s commented on #1887
I'm on v. 7.10.8 (```
PS E:\dev\Ignite-React\Ignite-Base-Install\boilerplate> npx ignite-cli --version
7.10.8)
[code]

[2022-04-04 22:18] elirangoshen commented on #1912
same to me..

[2022-04-05 04:53] amorain2 opened #1921 "No Generators Detected"
I am unable to use the ignite generate commands, whenever I attempt to, I get the error dialog shown in the attached image.
![image](https://user-images.githubusercontent.com/38302038/161681096-56d750e7-9bf6-4860-b2d2-d4ed44ac4927.png)

---

Steps to reproduce

1. Install a new ignite app using npx ignite-cli new PizzaApp --expo
2. Run ignite generate

---

`npx ignite-cli doctor` results:
![image

[2022-04-06 07:52] terryatgithub opened #1922 "[Security] update transitive dependency ejs to latest version"
please consider to update gluegun to latest version to fix the following security issue:
https://github.com/mde/ejs/pull/573

[2022-04-06 15:08] jamonholmgren commented on #1887
@b-r-s Can you file a new issue? You can reference this one (#1887) if you feel it is related.

[2022-04-07 14:46] myfoostrong opened #1923 "`yarn ios` failing on fresh ignite build, works in XCode"
What's going on?

Trying to build ios client from a fresh using `yarn ios` fails with the below message. The same app builds successfully using the XCode UI.

[code]

This may have something to do with my versions of software, but so far all my testing has the same result.

---

Steps to reproduce

1. `npx ignite new iosBuild`
2. `cd iosBuild`
3. `yarn`
4. `yarn ios`

---

`npx ignite-cli doctor`

[2022-04-07 21:11] robinheinze commented on #1921
@amorain2 Based on your ignite doctor, it looks like you have an old global version (3.5.3) of ignite-cli installed. Can you remove that and try again?

[2022-04-07 21:13] robinheinze commented on #1923
@myfoostrong Looks like you have a yarn global install of ignite-cli. Can you run `yarn global remove ignite-cli` and try again?
<img width="511" alt="Screen Shot 2022-04-07 at 2 11 55 PM" src="https://user-images.githubusercontent.com/6894653/162312023-42947828-cf6f-4366-a1af-e005c6679ac9.png">

[2022-04-07 21:22] robinheinze commented on #1912
I'm not able to reproduce in my environment, so it's difficult to debug. @thecryptocowboy @elirangoshen @jiyuan12354 Can you try running `npx ignite-cli new MyApp --debug` to see if we can get more of a stacktrace for the error?

[2022-04-07 22:04] robinheinze opened #1924 "Improve troubleshooting experience"
Some troubleshooting improvements:

- In https://github.com/infinitered/ignite#troubleshooting, mention the need to uninstall global versions of ignite CLI
- Link to https://github.com/infinitered/ignite#troubleshooting from the GH issue template
- In troubleshooting docs, suggest running with `--debug`, and running `yarn solidarity`

[2022-04-08 01:59] jiyuan12354 commented on #1912
~/tmp/2022  npx ignite-cli new MyApp --debug                                                                                                                       

   · · · · · · · · · · · · · · · · · · 🔥 Ignite 🔥 · · · · · · · · · · · · · · · · · ·

    █ Creating MyApp using Ignite 7.10.8
    █ Powered by Infinite Red - https://infinite.red
    █ Using ignite-cli with yarn
    █ Bundle identi

[2022-04-08 02:02] jiyuan12354 commented on #1912
If you don't care the ignite's version too much, you can try `npx ignite-cli@7.10.2 new MyApp`

[2022-04-08 02:04] jiyuan12354 commented on #1912
try try `npx ignite-cli@7.10.2 new MyApp`

[2022-04-10 22:46] myfoostrong commented on #1923
Yup that fixed it, should have just followed up the doctor output instead of cutting the ticket, thanks for helping out!

Now to go fix the other projects!

[2022-04-10 22:46] #1923 closed

[2022-04-11 14:07] khatbahusain commented on #1714
Yes I am facing this error too.

[2022-04-11 16:21] robinheinze commented on #1912
@jiyuan12354 Thank you! So from that output, it looks like Solidarity is failing and Gluegun is not properly forwarding the error. Can you upgrade Cocoapods to 1.11.2 or higher and try again?

These are the versions it's looking for:
[code]

[2022-04-12 04:46] amorain2 commented on #1921
Updating solved the problem! Thanks for the suggestion! Not sure how that happened

[2022-04-12 04:46] #1921 closed

[2022-04-13 15:52] boldwade opened #1925 "patch-package doesn't work with pnpm"
What's going on?

patch-package doesn't work with pnpm.

---

Steps to reproduce

1. ignite a new project
2. patch a node_module
3. run patch-package

Result:
[code]

---

`npx ignite-cli doctor` results:
[code]

[2022-04-14 04:03] jiyuan12354 commented on #1912
still throw error

[code]

[2022-04-14 20:01] robinheinze commented on #1912
@jamonholmgren is there a way to get Gluegun to tell us more about the error stacktrace?

[2022-04-15 15:39] jamonholmgren commented on #1912
@robinheinze Hm, I'll have to dig into this at some point. I don't know offhand what's causing it to get swallowed.

[2022-04-15 16:30] robinheinze opened #1927 "Solidarity failures cause confusing error on Ignite new"
While debugging #1912, I noticed that any solidarity failures (like incorrect cocoapods version for example) cause Ignite new to fail very vaguely.

Steps to reproduce

1. Set cocoapods version to 1.10
2. Run `npx ignite-cli new Pizza App`

[2022-04-15 16:38] GantMan commented on #1927
You can loosen the solidarity rules, or even remove solidarity completely imo.

[2022-04-18 16:23] robinheinze commented on #1927
It's still nice to have to ensure folks have the right environment, I just need to figure out why the actual error isn't bubbling up through Gluegun.

[2022-04-19 01:56] vankhoa01 commented on #1912
Hi, Is there any update for this issue ?
I also got same problem
<img width="732" alt="Screen Shot 2022-04-19 at 08 55 53" src="https://user-images.githubusercontent.com/8953129/163904727-e8d0893f-c75d-42b2-8dbf-d580dfdc6a5c.png">

[2022-04-19 15:59] jamonholmgren opened #1928 "Ignite Doctor new feature: show Expo version"
It would be useful to add the current Expo version to the `ignite-cli doctor` output.

Relatively straightforward update, if anyone wants to take this on.

<img width="517" alt="image" src="https://user-images.githubusercontent.com/1479215/164046242-609c2d1a-44cf-49db-9e53-e3b4b456255e.png">

[2022-04-19 16:57] robinheinze commented on #1928
@jamonholmgren `expo-cli` version is in there already. Are you talking about a different Expo version?

[2022-04-20 18:43] lcundiff commented on #1912
Using MacOS if that matters, but even  npx ignite-cli@7.10.2 new MyApp --expo does not work:

`    🔥 Igniting app
    🎫 Cleaning up Expo install
    ⠏ Unboxing npm dependencies
/Users/lcundiff/.npm/_npx/21977/lib/node_modules/ignite-cli/node_modules/gluegun/build/index.js:13
    throw up;
    ^
npm WARN deprecated svgo@1.3.2: This SVGO version is no longer supported. Upgrade to v2.x.x.
npm WARN de

[2022-04-23 21:40] kevinvangelder commented on #1912
I was getting this error but after running `yarn global remove ignite-cli` and switching to cocoapods `1.11.3` I was successfully able to generate a new ignite project.

[2022-04-23 21:52] kevinvangelder opened #1931 "Missing dependency: metro-config"
What's going on?

`metro-config` dependency is missing. Manually installing it resolves this issue.

---

Steps to reproduce

1. Generate a new project
2. Attempt to run the project with `react-native start` or `npm run start`
3. Observe error:
[code]

---

`npx ignite-cli doctor` results:

[code]

[2022-04-25 08:09] tranduy1401384 commented on #1931
someone help me.
<img width="1120" alt="image" src="https://user-images.githubusercontent.com/34645003/165047174-da5f8fe0-295e-4df7-9ad8-904ab730634f.png">

[2022-04-25 14:38] tranduy1401384 opened #1932 "Cannot find module ...node_modules/react-native/cli.js'"
I was init project via ignite
then i build it. i have problem
someone help me fix it. please

<img width="1429" alt="image" src="https://user-images.githubusercontent.com/34645003/165111652-e8e2f199-7f36-4066-9b69-d41068718be4.png">

My package.json:

[code]

[2022-04-25 17:43] jamonholmgren opened #1933 "Explore merging Expo and vanilla templates"
With [Expo Prebuild](https://docs.expo.dev/workflow/expo-cli/#expo-prebuild), you can now run your app as Expo *and* from the RN CLI.

Right now, we use different CLI depending on whether you pass in `--expo` or not. It makes several changes based on that decision, and some packages (like react-native-mmkv) can't be included in the Expo version because of Expo managed app limitations.

@yulolimum'

[2022-04-26 18:01] aqjw commented on #1917
any solutions?

[2022-04-27 11:56] crazycoder-io commented on #1778
Hello, could you find the solution for second scenario on your comment? I have the same issue and I still could not find out what's wrong!

[2022-04-28 01:31] frankcalise commented on #1928
I think he's referring to the Expo SDK version here. Similar to what you would get in the output of `npx expo-env-info` from a project directory, ie: `expo: 42.0.0`

[2022-04-30 15:18] vfa-khuongdv opened #1934 "Performance stack navigation when use enableScreens()"
Performance stack navigation when use enableScreens()

By default enableScreens() turn on, the animation when I navigate to other screen it will make app slow than I turn off enableScreens(false).

[2022-05-05 08:29] HidePoSy opened #1936 "yarn iOS fail on ignite-cli v7.10.9, node lts v16.15.0"
What's going on?

Could not run sample project created with "npx ignite-cli new PizzaApp" command.
I just clean install back my mac to Big Sur, due to there is a need to use Xcode version 12.4, but after I reinstall everything (homebrew, cocoapod, node, etc.), issue occurs.
I can no longer even run a simple sample project with "yarn iOS" now.

From what I can see from the terminal description, see

[2022-05-05 19:15] kevinvangelder commented on #1931
Manually installing `metro-config` resolved my issue. Give that a shot if you haven't already.

[2022-05-08 07:18] bkamrani commented on #1840
expo-dev-client will add react-native.config.js, but if you have that already, then it can't. Here is how I added it.

module.exports = {
  dependencies: {
    ...require('expo-dev-client/dependencies'), // to remove
    // ...
  },
};

[2022-05-09 10:27] vankhoa01 opened #1939 "Problem with aws-amplify"
**What's going on?**

After add AWS amplify (like here https://docs.amplify.aws/start/getting-started/setup/q/integration/react-native/#create-a-new-react-native-app) and call function Amplify.configure(config), I got error below:
<img width="946" alt="Screen Shot 2022-05-09 at 17 18 29" src="https://user-images.githubusercontent.com/8953129/167391146-59cddfd6-d327-4c8a-8ef4-bbb2d70c4bfc.png">

**

[2022-05-09 11:08] vankhoa01 commented on #1799
Hi @jasiek-net @jamonholmgren,
I had other issue with aws-amplify here https://github.com/infinitered/ignite/issues/1939
Do you have any ideas to resolve this?
Thank you so much

[2022-05-10 08:43] HidePoSy commented on #1936
I manage to overcome this issue by avoiding ignite-cli 7, and directly creating a new project with a stable version of ignite-cli 6 instead like this:

`npx ignite-cli@6.12.2 new PizzaApp`

I also have to make sure to remove any other version of ignite-cli from my mac, so that my mac will automatically only use ignite-cli 6.12.2.

`npm uninstall ignite-cli -g`
`npm install ignite-cli@6.12.2 -g`

I

[2022-05-11 12:55] ebouJ commented on #1912
I am facing the same issue on mac as well.

[2022-05-12 17:00] myfoostrong commented on #1936
I'm experiencing what I believe is the same issue. I just reformatted my Macbook, so fresh setup via: https://reactnative.dev/docs/environment-setup
Using NVM for Node

Repro
`
npx ignite-cli new test
cd ./test
npm run ios
`

Last lines of build output:
`
The following build commands failed:
	CompileSwift normal x86_64 (in target 'ExpoLinearGradient' from project 'Pods')
	CompileSwiftSources norma

[2022-05-12 18:32] myfoostrong commented on #1936
So, I was able to get a fresh build running on `ignite-cli@7.10.2`

`npx ignite-cli@7.10.2 new test10.2`

7.10.3 npm reported a breaking issue, and bails
7.10.4-9 all result in the same error above when building

[2022-05-13 10:01] awgrass commented on #1939
I got the same problem. I solved it by extending the resolver object inside my metro.config.js to recognize the .mjs filetype among others like so:

module.exports = (async () => {
  const defaultConfig = await getDefaultConfig()
  return makeMetroConfig({
    projectRoot: __dirname,
    resolver: {
      resolveRequest: MetroSymlinksResolver(),
      assetExts: [...defaultConfig.resolver.assetExt

[2022-05-13 10:05] awgrass commented on #1939
As soon as the problem is solved with the fix I described above, the next problem pops up in the metro console:

[code]
It works with a fresh create-react-native-app setup, but not with Ignite. Is there maybe some tempering with global variables that overwrites behavior in amplify configure?

[2022-05-13 16:13] jamonholmgren opened #1942 "Brand new app - Can't perform a React state update on an unmounted component"
### Discussed in https://github.com/infinitered/ignite/discussions/1941

<div type='discussions-op-text'>

<sup>Originally posted by **papadi** May 12, 2022</sup>
When I'm creating a new app (npx ignite-cli new MyTestApp --expo) and run it on the browser without any modification of my own (yarn web) then I get this error in my browser console.

"Warning: Can't perform a React state update on an un

[2022-05-13 16:42] jamonholmgren commented on #1942
@papadi FYI ^^

[2022-05-14 00:55] emanual4real commented on #1942
Did you still need help?

[2022-05-16 01:35] vankhoa01 commented on #1939
Hi @awgrass : Thank you very much for your supporting

I tried with your solution and it's working well know

[2022-05-16 07:25] muratti32 opened #1944 "type error when creating new project"
What's going on?

I am getting these linter errors in the project I just created with ignite cli, what could be the reason.

`No overload matches this call.
  Overload 1 of 2, '(props: ViewProps | Readonly<ViewProps>): View', gave the following error.
    Type '{ children: Element[]; testID: string; style: ViewStyle; }' is not assignable to type 'IntrinsicAttributes & IntrinsicClassAttributes<View

[2022-05-16 10:15] vankhoa01 commented on #1939
Hi @awgrass : Did you get this issue https://github.com/aws-amplify/amplify-js/issues/5539 when you are working with aws-amplify ?

[2022-05-16 16:33] jamonholmgren opened #1945 "Boilerplate Enhancement: Crash Reporting"
Crash reporting is one of the first things we add to new Ignite projects. It would be great to have a defined place to add this.

My current idea is to add a `crash-reporting.ts` file to the boilerplate with some comments:

[code]

We could potentially add a generic interface that works with all three of those systems, so it's easier to swap them in and out:

[code]

Open to additional feedback on

[2022-05-16 22:12] AlexanderLindkjaer opened #1946 "Expo EAS build fails on fresh project"
Both Android and IOS EAS builds fails with default expo ignite boilerplate.
---
The reason is these two command in [postInstall](https://github.com/infinitered/ignite/blob/master/boilerplate/bin/postInstall)

[code]

EAS build environment fails the solidarity check, and on IOS it tries to run pod install even though there is no Podfile. Not sure how their builds works under the hood.
Quick fix for

[2022-05-17 18:19] Prabhat-git-99 opened #1947 "Basic ignite apk size is exceeding 45mb without expo"
Am generating apk for ignite app with just one screen to test, not using expo just working with native cli. The apk size after build came out to 48mb. Is there any way to reduce this big size?

Also getting  `Deprecated Gradle features were used in this build, making it incompatible with Gradle 8.0.`

Steps to reproduce

1. `npx react-native bundle --platform android --dev false --entry-file index

[2022-05-17 21:34] everbliss7 commented on #1917
Getting the same error.

[2022-05-17 21:35] everbliss7 commented on #1917
@aqjw can you let us know why you closed this issue, please?

[2022-05-18 01:21] vankhoa01 commented on #1939
Hi, my aws amplify issues came from *custom metro config* with *@rnx-kit*
Currently, I removed *@rnx-kit* to resolve my issue

Thank all for supporting :)

[2022-05-18 01:24] #1939 closed

[2022-05-18 03:28] nesjett opened #1948 "Issues with ExpoLinearGradient in Windows and MacOS M1"
What's going on?

Ive been trying to run emulator for Android on a Windows 11 and for IOS on a Mac M1 using ignite-cli 7.10.9 -> Both systems show errors with the "ExpoLinearGradient" stopping the process.

The project was created as native cli (without --expo)

For M1, everything was installed clean, no preset on the system.

Using ignite-cli 7.0.6 (on an old project) in windows is working as exp

[2022-05-18 03:28] nesjett commented on #1936
Can confirm It's not workig for me to run on windows (Android) and M1 (IOS) in version 7.10.9, but It works on ignite-cli 7.10.2.

Different error but also related with Expo modules (linearGradient)
Opening a new issue because its not the exact same error https://github.com/infinitered/ignite/issues/1948

[2022-05-18 03:30] nesjett commented on #1948
Somehow seems related to https://github.com/infinitered/ignite/issues/1936

[2022-05-18 08:10] aqjw commented on #1917
@everbliss7 Hi!
it's not me who closed this issue, but I had the same problem.

The problem is in one of the packages you installed recently!
In my case, the problem was because I installed two packages that did the same thing.
`react-native-date-picker` and `@react-native-community/datetimepicker`.
after removing `react-native-date-picker` everything worked.

Try rolling back a few commits, then

[2022-05-18 09:03] everbliss7 commented on #1917
@gwguillen ?

[2022-05-20 03:10] josevelaz commented on #1948
I am also having this exact issue

[2022-05-21 04:15] bharathmsd7 commented on #1948
Having this issue on creating ignite app for vanilla React Native.
`npx ignite-cli doctor` results (Windows 11 results):

[code]

[2022-05-23 02:44] je2ryw commented on #1948
locked down "expo-linear-gradient" to version "11.0.3", works for me.

in the package.json:

[code]

[2022-05-23 20:27] jamonholmgren opened #1951 "Add license-checker to scripts"
`npx license-checker` can output any changes to licenses that are contained in dependencies. This is particularly useful for agencies (like Infinite Red) who do work for clients who have a vested interest in vetting dependency licenses.

license-checker can be configured to either output (passively) to a file, or actively stop commits.

This issue is for discussing adding this feature to the Ignit

[2022-05-30 01:04] danilodorgam opened #1954 "Project installs but does not run"
What's going on?
Error when trying to start a newly created project.
I've tried it on both Linux Mint and Windows 10 following the suggested course
---

Steps to reproduce

1. npx ignite-cli new PizzaApp
2. cd PizzaApp/
3. yarn android

---

`npx ignite-cli doctor` results:
System
  platform           linux
  arch               x64
  cpu                16 cores     Intel(R) Core(TM) i7-10700K CPU

[2022-05-30 12:08] bharathmsd7 commented on #1948
This works for me.

[2022-05-30 13:29] nesjett commented on #1948
Thank you,

Couldn't test it yet but looks like a good fix. Closing.

[2022-05-30 13:29] #1948 closed

[2022-06-01 10:07] thaingo opened #1955 "Warning of invalid react native sdk version"
What's going on?

When launching a generated app, the following message shown:
`Warning: https://github.com/expo/react-native/archive/sdk-43.0.0.tar.gz is not a valid version. Version must be in the form of sdk-x.y.z. Please update your package.json file.`

---

Steps to reproduce

1. npx ignite-cli new Sample --expo --bundle=com.sample
2. cd Sample
5. yarn start
6. open iOS Simulator using `i`

-

[2022-06-03 21:05] donfour commented on #1912
bump, same issue on mac

[2022-06-06 10:59] HAFDIAHMED commented on #1954
@jamonholmgren

please help us many projects are generated by ignite these days but they cannot be runned using ignite ???

[2022-06-07 19:21] conoremclaughlin commented on #1918
We bumped into this issue as well with swapping stacks. AppNavigator currently does not re-render. Likely related:
https://stackoverflow.com/questions/71257766/rerender-appnavigator-on-state-change

[2022-06-08 02:16] nesjett commented on #1705
Just some info if someone needs storybook and still facing issues: If I remove < ToggleStorybook > as proposed, it works, but thats just a workaround, the real issue is caused because I'm executing my code "too early" in a useEffect() just at the app startup and that has some conflict with storybook initialization (I guess).

If I delay that useEffect() action (in my case I'm launching a mobx acti

[2022-06-08 22:53] ahdidou-mohamed commented on #1954
Same problem,
Running the project doesn't work out of the box.
To make it work I had to set node version globally to v16.14.2
I also had to remove expo-linear-gradient package to make it compile for Android

I think requirements section should be updated

❯ npx ignite-cli doctor
System
  platform           darwin
  arch               x64
  cpu                16 cores     Intel(R) Core(TM) i9-9880H

[2022-06-15 17:35] jamonholmgren opened #1960 "Expo CLI v5 issue"
I'd like to upgrade Ignite CLI to use expo-cli version 5.x, but I ran into an issue with Expo and using a local template. This is to track that issue.

https://github.com/expo/expo-cli/issues/4423

[2022-06-17 16:59] jamonholmgren commented on #1704
Hi @cuongnv-dev, good question.

One way to approach this is to use [react-native-toast-message](https://github.com/calintamas/react-native-toast-message), which is a solid library for this sort of thing.

![toast-gif](https://raw.githubusercontent.com/calintamas/react-native-toast-message/main/docs/toast.gif)

In your code, you can detect if the response isn't correct and kick off a toast message

[2022-06-17 16:59] #1704 closed

[2022-06-17 19:38] mazenchami commented on #1661
Thank you @cabelitos & @JPedroAmorim for confirming Ignite is working well on Apple M1 machines. I just tested on a M1 and can confirm also. Closing this issue. Please feel free to open a new one if this issue still persists.

[2022-06-17 19:38] #1661 closed

[2022-06-20 15:19] mazenchami commented on #1944
@muratti32, thank you very much for logging this error. Per your `npx ignite-cli doctor` report, it looks like you're on ignite v6.12.2. Ignite is currently on v7.12.0, and I can confirm I'm not running into that issue with a newly ignited app (using TS v4.7.3).

Can you try with the latest version of ignite and let us know if you're still running into this issue?

[2022-06-20 15:41] myfoostrong commented on #1936
I will give this a try later.

My tests were done on an Intel Macbook. And similar errors for Android on Mac and Windows with ExpoLinearGradient.

[2022-06-20 16:32] Kirk-Str opened #1963 "Error after cloning fresh boilerplate. Unable to run."
What's going on?

Unable to run a fresh project after cloning the repo. Fighting with it for the last one week. What's going on?

I used to remove `expo-linear-gradient` fix the issue last week. But this new release throws entirely different issue now.

Steps to reproduce

1.  npx ignite-cli new PizzaApp --bundle=com.infinitered.pizzaapp
2. npx react-native run-android
3. getting the following err

[2022-06-22 12:17] Balhut commented on #1963
I kind of resolved that problem by finding all of "com.helloworld" occurrences and then replaced them with "com.infinitered.pizzaapp". The next step was to change "HelloWorld" in Java files to "com.infinitered.pizzaapp" and go to the main index.js file, there in AppRegistry.registerComponent I had to change "PizzaApp" for "com.infinitered.pizzaapp" and it started to work for me. Probably not the b

[2022-06-23 15:47] ahdidou-mohamed commented on #1954
@mazenchami Thanks for pointing us to the solution
FYI by the time I've done the tests, the version was :  7.10.10
Cheers

[2022-06-23 16:36] mazenchami commented on #1954
@ahdidou-mohamed thanks for pointing that out. I'll go ahead and close this issue since its resolved in the latest build. Please re-open a new issue if you notice anything going on.

Also, my preferred `node` version is `v16.15.1`

[2022-06-23 16:36] #1954 closed

[2022-06-23 16:45] mazenchami commented on #1963
@Kirk-Str & @Balhut, thank you for surfacing this issue. @yulolimum and I just released a new version of Ignite (v7.13.1), that solves this issue. Please give it a try and open up a new issue if this still persists. Thanks again!

[2022-06-27 02:49] MuhtasimTanmoy commented on #1714
Same error.

[2022-06-27 14:55] mazenchami commented on #1925
@boldwade thank you very much for logging this issue. This seems to be an issue with `patch-package` rather than Ignite. Please keep an eye out on their repo for the fix (I found [this](https://github.com/ds300/patch-package/issues/399) issue logged recently) and we will be sure to have Ignite updated to support it. Thanks again!

[2022-06-27 14:55] #1925 closed

[2022-06-27 15:24] #1928 closed

[2022-06-27 15:53] mazenchami commented on #1825
@ericklombardo can you please paste your `npx ignite-cli doctor` and your `tsconfig.json` in the project directory? That would be very helpful in providing us more information to better troubleshoot this issue.

I'm on Ignite v7.13.1 and just the same command and didn't have an issue (no changes were done to my `tsconfig` file since "igniting" the project).

My thought is this is using an older ve

[2022-06-27 16:22] mazenchami commented on #1766
@derekgreenberg thanks for logging this issue. Currently in Ignite v7.13.1, this issue is fixed, see attached image. Closing this issue.

![Simulator Screen Shot - iPhone 13 - 2022-06-27 at 12 14 38](https://user-images.githubusercontent.com/9324607/175988179-cd26abbc-ea2b-4ef9-9695-4179041ceb07.png)

@himanshu007-creator thank you very much for offering to work on this issue. Its currently resolv

[2022-06-27 16:22] #1766 closed

[2022-06-28 16:33] mazenchami commented on #1825
@ericklombardo Thanks for that information. A couple follow up questions:
1. Your initial message pointed out you were using Ignite v7.5.0 from what I assume is a global package you installed (probably `yarn global add ignite-cli`. Can you confirm you've since deleted it and are using `npx ignite-cli *`? That error seems to be from our older versions that we've solved since.
2. Did my answer in re

[2022-06-29 20:10] ericklombardo commented on #1825
Hi, i just update to the latest version for ignite-cli, but i am still having the issue:
<img width="982" alt="issue ignite" src="https://user-images.githubusercontent.com/2140276/176535786-3e0ec823-e86c-4ab4-ba68-cd54d33e4276.png">

[2022-06-30 17:09] jeremyspritelyco commented on #1933
Does anyone work on this issue?

[2022-07-07 21:33] frankcalise commented on #1960
For what it's worth, if you use expo-cli@5.0.0 via npx definied in `new.ts` AND uninstall any globally installed expo-cli, a project does get created properly. For example:

[code]

along with these dependencies in the package.expo.json boilerplate:

[code]

But then after `cd myproject`, `yarn start` you obviously get prompted to install expo-cli since it isn't available. Installing the latest th

[2022-07-08 11:53] d-e-a-n-f opened #1972 "ignite-cli@7.14.0 broken for expo app creation"
What's going on?
When using ignite-cli 7.14.0 on OSX it fails to create a new expo app when the --expo flag is passed. Looks to create the package.json for the standard react native template and leaves the old package.expo.json in place.

`warning detox-expo-helpers > xdl > analytics-node > superagent > formidable@1.2.6: Please upgrade to latest, formidable@v2 or formidable@v3! Check these notes:

[2022-07-08 20:01] jamonholmgren opened #1974 "Remove withRootStore, switch to getRootStore"
@mazenchami and I ran into a problem with strict TypeScript where using withRootStore on substores will result in the error:

[code]

I am not really a fan of hanging the `rootStore` reference as a view off of every store anyway, so I'm proposing we replace the `withRootStore` extension with a very similar `getRootStore` helper function.

[code]

The implementation should be very similar (actually

[2022-07-08 20:33] #1972 closed

[2022-07-08 20:41] infinitered-circleci commented on #1972
:tada: This issue has been resolved in version 7.14.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.14.1)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.14.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-08 22:50] NoMoreTickets opened #1975 "ignite cli crashes when creating a new project"
What's going on?

* platform: mac OS Monterey 12.3
* Node version: v16.16.0
* npm version: 8.11.0

When I try running

```npx ignite-cli new Pizza --expo```

I get an an error with the following stack trace:

   · · · · · · · · · · · · · · · · · · 🔥 Ignite 🔥 · · · · · · · · · · · · · · · · · ·

    █ Creating Pizza using Ignite 7.14.1
    █ Powered by Infinite Red - https://infinite.red
    █ Usin

[2022-07-10 18:31] isaaclyman commented on #1955
I'm getting the warning as well. It's preventing JavaScript debugging from working in the iOS simulator.

[2022-07-11 14:30] #1975 closed

[2022-07-11 14:31] NoMoreTickets commented on #1975
Could not repeat after deleting caches and performing other troubleshooting actions.

[2022-07-11 14:56] stevebutler2210 commented on #1912
Same issue here, debug output as follows
[code]

Same results running `@7.10.2`

[2022-07-11 18:20] FlanaganSe commented on #1974
In some situations I still get the error for `Type 'RootStore' recursively references itself as a base type. ts(2310)` when using a getRootStore() helper function.

It occurs when trying to return a value that was dependent on a value pulled from another store. I think mobx-state-tree only wants actions to update values in the store and to not return them.

So an example where this occurs is if yo

[2022-07-13 12:11] jeremyspritelyco opened #1978 "Jetifier is deprecated. Future versions of react-native CLI may not run it by default."
What's going on?
<br>
init project fails with
[code]

---

Steps to reproduce

1. npx ignite-cli new PizzaApp --bundle=com.infinitered.pizzaapp

---

`npx ignite-cli doctor` results:
[code]

[2022-07-14 19:06] mkcode opened #1979 "React Native 0.69 / React 18"
Hi, Quick question. I am starting a new react-native project and am noticing that the ignite-cli is a little behind the current react-native version.

I'd love to start my new project using both the ignite-cli and React 18 / React-Native 0.69: https://reactnative.dev/docs/react-18-and-react-native

Are there any blocking issues preventing this update? Any clues as to the release schedule for this?

[2022-07-14 19:47] jamonholmgren commented on #1979
Hey @mkcode! We just haven't started on the migration yet, no major issues I'm aware of yet.

One of the things we do with Ignite is make sure that we've done client migrations before we move Ignite over. This ensures that we know all the pitfalls of the newest versions. That's in-progress on a few projects, so stay tuned.

Once we do migrate Ignite, if you've used the _current_ version of Ignite

[2022-07-14 21:18] mkcode commented on #1979
Thanks so much for the quick reply @jamonholmgren!

For what it is worth, I attempted to do a naive upgrade to 0.69.1 starting by running `npx react-native upgrade 0.69.1`

It went fairly smoothly until compiling the expo sdk, which appears to be blocker: https://docs.expo.dev/versions/latest/. It looks they are working on this as we speak: https://github.com/expo/expo/tree/sdk-46. Should be updat

[2022-07-21 00:55] yulolimum commented on #1927
@jamonholmgren since Solidarity is removed, this issue could be closed?

[2022-07-21 01:11] yulolimum commented on #1769
@kateinkim can you verify that #1906 resolved the issue and close it if has?

[2022-07-21 01:21] yulolimum commented on #1673
@mazenchami we will be adding TabNavigator examples for milestone "Maverick". Does this issue need to be addressed still?

[2022-07-21 01:22] yulolimum commented on #1652
@silasjmatson since you're working on documentation, can I assign you to this issue?

[2022-07-21 13:05] mazenchami commented on #1673
@br1anchen sorry for the delay in getting back to you! I'm not quite sure what the difference was but if you go to this [link](https://github.com/infinitered/ignite/compare/v6.6.0...v7.0.0), you can see the difference between your version `v6.6.0` and `v7.0.0` (and any combo you want)

[2022-07-21 13:05] mazenchami commented on #1673
@yulolimum nope, this issue can be closed since it's resolved and you're handling it in the newer version.

[2022-07-21 13:05] #1673 closed

[2022-07-21 16:55] kateinkim commented on #1769
Just tested this again and it seems like it is resolved by #1906. Closing this.

[2022-07-21 20:45] jepolo commented on #1978
I was getting a similar error.

Downgraded pnpm to 6.33.1 (It was at 7.5.2) and the error went away.

[2022-07-22 00:19] jamonholmgren opened #1981 "Docs: Monorepo setup guide"
I'd like to add a monorepo setup guide to Ignite's docs. It's a common request these days, and is not a straightforward process (took us a week recently on one client's project).

It would live in `./docs/Monorepo-Setup-Guide.md` most likely.

cc @kevinvangelder @leonskim

[2022-07-22 16:54] jamonholmgren opened #1982 "New Ignite walkthrough"
I’ve been rethinking the whole “Ignite CLI runs without asking any questions” thing we have going on. There are some benefits to it, but there’s also some benefit of asking the questions in a walkthrough where it can feel exciting / inspire more confidence.

[code]

Note that we give them the command for skipping the questions next time, if they want.

Primarily, this surfaces the Expo and bundle

[2022-07-22 18:13] #1765 closed

[2022-07-22 18:29] jamonholmgren opened #1983 "Expo/Vanilla Unification"
Related: #1960

I'd like to unify the Ignite boilerplate so it can run with Expo Go _and_ vanilla with the same boilerplate.

This has the following benefits:

* No need to pass `--expo` when you generate a project
* Simpler/faster `npx ignite-cli new` command
* Much easier maintenance of the boilerplate
* You don't have to choose between Expo and non-Expo anymore

Tasks:

- [ ] Update the scripts

[2022-07-22 18:30] jamonholmgren commented on #1960
Let's work on Expo / Vanilla unification (#1983), which should solve this issue.

[2022-07-22 18:35] jamonholmgren commented on #1979
This will be a part of our Ignite v8: Maverick efforts.

[2022-07-22 18:37] jamonholmgren commented on #1955
This will be fixed with Ignite v8 (code-named Maverick). Sorry about the delay, we're working hard on it!

[2022-07-22 20:18] jamonholmgren commented on #1983
FYI, you can detect if something is running in Expo Go at runtime with this:

https://github.com/expo/fyi/blob/main/expo-extension-migration.md#after-1

[2022-07-23 20:21] frankcalise commented on #1983
Hmm.. Expo doesn't love the `.expo.*` file extensions because they have deprecated it, so it displays a warning like this when starting the project up:

<img width="757" alt="Screen Shot 2022-07-23 at 3 56 58 PM" src="https://user-images.githubusercontent.com/374022/180621436-c1a51838-439b-4548-b85c-bbe13c21bae3.png">

Not sure we want to precede the start commands `EXPO_LEGACY_IMPORTS=1` set as t

[2022-07-24 04:26] jeremyspritelyco commented on #1912
I got the same issue.

[2022-07-27 14:33] kevingo710 commented on #1675
/android/build.gradle

[code]

[2022-07-28 23:06] ryskin commented on #1978
same

[2022-07-31 23:10] hiteshdua1 commented on #1912
Try using

```sudo gem install cocoapods```

and then doing

```pod repo update```

and running yarn again in the repo.

Worked for me.

[2022-08-01 17:19] lindboe opened #1988 "TabNavigator and component demo"
Add a [TabNavigator](https://reactnavigation.org/docs/tab-based-navigation/). The first screen should be a "Components" demo.

Experiment with:
* Making the "Components" screen contain the cases shown in storybook (and compare with using storybook)
* Making the "Components" screen a long single screen (see if we can/want to showcase any performance optimizations) and using a drawer menu (https://d

[2022-08-04 06:25] yulolimum commented on #1809
This should be resolved with PR #1965 and later #1987

[2022-08-04 06:25] #1809 closed

[2022-08-04 23:51] joshuayoes opened #1993 ""npx ignite-cli doctor" throws error if there is warn output before "npm list" command"
**What's going on?**
When running `npx ignite-cli doctor`, if the npm logs a warning message in the packager.list output, it will throw an error.

**Steps to reproduce**
1. Run `npx ignite-cli doctor` command on Windows. Some Windows users will have the following warn on `npx` or `npm --global` command, [see StackOverflow article related to this](https://stackoverflow.com/questions/72401421/messag

[2022-08-04 23:53] joshuayoes commented on #1993
I was able to log the value of the output passed to [`packager.list`](https://github.com/infinitered/ignite/blob/master/src/tools/packager.ts#L167) on my machine, it appears the warn is getting prepended to the JSON output, causing it throw:

[code]

[2022-08-06 19:41] dharmin opened #1995 "Unable to resolve module react-hook-form"
What's going on?
react-hook-form giving error after importing and using it
[code]
---

Steps to reproduce

1. Run `pnpm install react-hook-form`
2. Imported react-form-hook on demo-screen.tsx: `import { useForm, Controller } from "react-hook-form"`
3. Used `useForm` hook in DemoScreen function: `  const { register, setValue, handleSubmit, formState: { errors } } = useForm<FormData>()`
4. Got the f

[2022-08-07 00:31] kenjishiromajp commented on #1995
Hey, I don't know if it is the same error but I think I could solve it here by changing the `metro.config.js`.
I',m not quite sure but I think you need to add the `mjs` as an extension to the `sourceExts`, maybe cjs is not there. I hope it works for u too!

[code]

[2022-08-07 06:06] dharmin commented on #1995
@kenjishiromajp Thanks, It worked! :+1:

[2022-08-07 09:51] #1995 closed

[2022-08-08 17:34] silasjmatson commented on #1652
@yulolimum I'll take a look.

[2022-08-09 23:59] jamonholmgren commented on #1993
Per zoom discussion, let's put this on hold and do the simpler version we chatted about (with the regression tests), and talk about the rest of the implementation post-Maverick.

[2022-08-10 13:50] frankcalise commented on #1974
@FlanaganSe Have you tried explicitly adding a return type to the view?

You can also try reordering `views` above `actions` to see if that will auto type it.

[2022-08-10 13:55] frankcalise commented on #1933
@jeremyspritelyco it is being tracked here https://github.com/infinitered/ignite/issues/1983

@jamonholmgren should we close this?

[2022-08-10 13:56] frankcalise commented on #1931
@kevinvangelder Is this still an issue in the current version of ignite?

[2022-08-10 17:32] #1993 closed

[2022-08-10 17:39] #1305 closed

[2022-08-10 17:40] infinitered-circleci commented on #1993
:tada: This issue has been resolved in version 7.14.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.14.2)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.14.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-10 22:50] joshuayoes commented on #1982
I was thinking of running a similar behavior of `npm init`, where you have a few options:
- By default, all `npm init` will prompt you to go through all the options, with yes or no, and give a text field if the option requires input
- If you pass in `npm init -y`, you are saying "yes" to all the question prompts

For `npx ignite-cli new`, we should have the following behavior

| Command  | Questio

[2022-08-10 23:06] frankcalise commented on #1982
Nice write up, I like this idea!

Also for clarity if you want to edit the Issue and your comment:
- `--expo` flag gets removed once I merge my unification PR (happening shortly)
- `--overwrite` is a flag to make note of here

[2022-08-10 23:13] jamonholmgren commented on #1982
Thanks @joshuayoes! Good write-up.

I'm thinking over the "If only partial options are passed, assume existing defaults for not included flag options". My initial reaction is that's not super intuitive to me. I do like the `-y` option though, to assume defaults for the others.

What do the rest of you think?

[2022-08-10 23:17] frankcalise commented on #1933
Closed by https://github.com/infinitered/ignite/pull/1985

[2022-08-10 23:17] #1933 closed

[2022-08-10 23:17] frankcalise commented on #1983
Implemented in PR https://github.com/infinitered/ignite/pull/1985

[2022-08-10 23:35] joshuayoes commented on #1982
[code]

These are the options as they exist on `maverick` currently

[2022-08-11 00:09] joshuayoes commented on #1982
These are the options that I am planning on implementing. All options will be available in `parameters.options` passed via a flag in the command like `--install-deps`, but the debug and deprecated options will not be prompted for in the questions prompt workflow

[code]

[2022-08-11 00:42] jamonholmgren commented on #1982
One note: bundle is used on iOS and Android, despite the note. (This is why comments are a two-edged sword....)

[2022-08-11 01:26] jamonholmgren commented on #1652
<img width="178" alt="image" src="https://user-images.githubusercontent.com/1479215/184049558-7b4ec443-2137-4abe-89da-01006a7adcb5.png">

@silasjmatson it's in the README ... we removed plugins and the ignite.json file in [Ignite v6: Flame](https://github.com/infinitered/ignite/releases/tag/v6.0.0)

[2022-08-11 13:49] flexbox commented on #1981
In the last few months, I think I have explored all the possible solutions to create a monorepo with react native.

My 2 cents on this:

1. https://github.com/flexbox/react-native-nextjs-monorepo `expo` + `nextjs`
used https://solito.dev
It's a powerful solution for small/medium teams working on a new project.

_Problems I faced:_
- opinionated solution —which is good! but in my case, I needed to

[2022-08-11 14:56] frankcalise commented on #1960
This is resolved with the unification of the boilerplate.

PR #1985

Will be released in [Ignite v8: Maverick](https://github.com/infinitered/ignite/milestone/19)

[2022-08-11 14:56] #1960 closed

[2022-08-11 17:23] joshuayoes commented on #1982
I spent last night thinking about it, and I feel like there are two types of consumers of any CLI:
- a user who is at the keyboard
- a scripting environment like a cloud CI server or a bash script

In the user case, it's okay the prompt the interactive prompt, because they can hit the keys to walk through it.

But if it is a CI / bash consumer, an interactive prompt will break the functionality. I

[2022-08-11 17:24] joshuayoes commented on #1982
That is a good catch! I'll update that comment

[2022-08-11 17:37] joshuayoes commented on #1982
Here is a sample of what I imagined for the question prompts

[code]

[2022-08-11 17:44] jamonholmgren opened #2001 "[discussion] Migrate to FlashList?"
[FlashList](https://shopify.github.io/flash-list/) has been [integrated into Expo SDK 46](https://twitter.com/expo/status/1554482970215473154), so clearly Expo thinks it's stable enough for production.

Should we integrate FlashList into Maverick? Any potential objections?

[2022-08-11 18:14] frankcalise commented on #1979
@mkcode Hey - were you looking to contribute this change or just raising it to our attention? Let me know so we can assign it properly. Thanks!

[2022-08-11 18:33] jamonholmgren commented on #1982
I think @joshuayoes that I'd just say "For CI, use `-y` to bypass any non-provided options and use defaults." The more I think about it, the less I like the behavior of skipping options if any are provided.

With the list you did, I like it, but I'd remove the "where do you want to start your project" and only prompt the overwrite _if_ the folder exists (it's not necessary to even show it if the f

[2022-08-11 19:04] joshuayoes commented on #1982
Currently, our package manager behavior is to prefer the following order:
- Vanilla: pnpm -> yarn -> npm
- Expo: yarn -> npm

Previously, we didn't let people use pnpm use expo, but it looks like that [Expo now supports it](https://github.com/pnpm/pnpm/issues/3010)?

[Expo in their docs](https://docs.expo.dev/get-started/installation/#recommended-tools) seems to prefer `yarn` as their recommended

[2022-08-11 19:09] joshuayoes commented on #1982
Here is an updated table of the behavior I'm planning on implementing based on @jamonholmgren's feedback

| Command  | Question Prompts? | Description
| ------------ | --------------------- | -------------
| `npx ignite-cli new`  | Yes | Go through each option as a question prompt, with a command outputted with flags for selected options. Example: `npx ignite-cli new PizzaApp --bundle=com.infinite

[2022-08-12 00:19] jamonholmgren commented on #2001
Note we are using this on two projects right now. It does have [some gotchas](https://github.com/Shopify/flash-list/tree/main/documentation/docs/fundamentals). I tend not to think of those as too big of a deal since I'm used to native listview recycling, but it could be more tricky for JS devs.

[2022-08-12 03:54] frankcalise commented on #1982
Should we be dropping the `yarn.lock` file from the boilerplate since essentially `npx ignite-cli new` copies the boilerplate directory  into the named project directory and then runs `[packager of choice] install`?

If using `npm`, it'll create it's `package-lock.json`, etc

[2022-08-12 19:21] joshuayoes commented on #1982
I think for now, I would prefer to remove adding a lock file because that would introduce a lot more maintenance overhead (adding one for yarn, npm, and pnpm every time we make a change).

However, adding a lock file would also make boilerplates more stable because we'd have the dependencies pinned.

I'm going to remove the lock file from the boilerplate, and then we can add the extra complexity o

[2022-08-13 01:05] kentond18 commented on #1912
Bump. Same issue on Mac.

[2022-08-13 12:57] frankcalise commented on #1979
Hi @JosephDunivan - the difference here is that if you build a vanilla react-native application, Expo v46 is included. Due to an issue with `expo-cli`, we haven't been able to update initializing a new Expo only app to v46. So currently when igniting an app project with `--expo`, the SDK is only at v43.

However, we've been reworking the `ignite-cli new` command to fix this issue and in this lates

[2022-08-13 20:24] #1927 closed

[2022-08-13 20:26] frankcalise commented on #1912
@kentond18 @jiyuan12354 @jeremyspritelyco Have you all tried the latest version of ignite? Solidarity has been removed - see #1968

[2022-08-13 21:04] frankcalise commented on #1896
@finnmerlett have you managed to get Flipper working on your Expo project? Keep in mind you'll probably have to build your own expo-dev-client to get this working. Here are some walk throughts:

https://blog.expo.dev/developing-react-native-with-expo-and-flipper-8c426bdf995a
https://github.com/jakobo/expo-community-flipper

[2022-08-13 21:56] frankcalise commented on #1908
Closing this due to no activity for quite some time. If you're still experiencing this on the latest version of ignite, please open a new issue with output from `npx ignite-cli doctor` output

[2022-08-13 21:56] #1908 closed

[2022-08-13 22:30] frankcalise commented on #1955
@isaaclyman @jir-f @thaingo

For now, you can easily upgrade the Expo version via:

`expo-cli upgrade` and follow the prompts to version 46
then
`yarn start` or `yarn expo start`

Let me know if you have any issues, I just tested this with that latest version of ignite, 7.14.2

[2022-08-14 16:09] frankcalise commented on #1945
Implemented in #1996

Will be included in Ignite v8: Maverick #1987

[2022-08-14 16:09] #1945 closed

[2022-08-15 19:22] frankcalise commented on #1924
Added in #2006

[2022-08-15 19:22] #1924 closed

[2022-08-15 21:12] frankcalise commented on #1840
@razor2022 have you tried updating to Expo 46 and making a custom dev client according to the Expo docs?

I just did it yesterday successfully, let me know if you have tried the new version.

Expo 46 will be baked into the next version of ignite, but for now you can upgrade like @bendoerr mentions in step 3.

[2022-08-15 23:11] #1652 closed

[2022-08-16 00:17] frankcalise commented on #1979
Resolved in #2003 - will be released in [Ignite v8: Maverick](https://github.com/infinitered/ignite/milestone/19)

[2022-08-16 00:17] #1979 closed

[2022-08-16 00:21] frankcalise commented on #1613
`react-native-keychain` removed in #2003 - will be released in [Ignite v8: Maverick](https://github.com/infinitered/ignite/milestone/19)

Another recommendation for anyone looking for similar functionality would be to check out [Expo's SecureStore](https://docs.expo.dev/versions/latest/sdk/securestore/)

[2022-08-16 00:21] #1613 closed

[2022-08-16 00:27] yulolimum commented on #1918
Fixed! will be released in [Ignite v8: Maverick](https://github.com/infinitered/ignite/milestone/19)

[2022-08-16 00:27] #1918 closed

[2022-08-16 00:33] yulolimum commented on #1848
With the removal of many inline comments for  [Ignite v8: Maverick](https://github.com/infinitered/ignite/milestone/19), I removed this one as well since the name of the function implies what it does (the comment did indeed contradict that) :)

[2022-08-16 00:33] #1848 closed

[2022-08-16 00:35] yulolimum commented on #1721
Storybook is removed for  [Ignite v8: Maverick](https://github.com/infinitered/ignite/milestone/19).

[2022-08-16 00:35] #1721 closed

[2022-08-16 00:36] yulolimum commented on #1677
Fixed! will be released in [Ignite v8: Maverick](https://github.com/infinitered/ignite/milestone/19)

[2022-08-16 00:36] #1677 closed

[2022-08-16 00:44] yulolimum commented on #1705
Our team has decided to move away from Storybook altogether. We will be removing it in [Ignite v8: Maverick](https://github.com/infinitered/ignite/milestone/19). Meanwhile, the reported issue should be resolved with #1906 (thank you!); and for users that prefer not to patch, removing the `<ToggleStorybook>` wrapper and mounting Storybook inside a navigation screen should achieve similar results.

[2022-08-16 00:44] #1705 closed

[2022-08-16 00:54] yulolimum commented on #1620
Our team has decided to move away from Storybook altogether. We will be removing it in [Ignite v8: Maverick](https://github.com/infinitered/ignite/milestone/19). Meanwhile, if reliability is still an issue, the simplest "cross-platform"/"cross-framework" solution is to mount `<StorybookUIRoot/>` directly as part of a navigation screen (this should work in vanilla/expo, mobile/web) as @tyler-jewell

[2022-08-16 00:54] #1620 closed

[2022-08-16 01:19] frankcalise commented on #1955
Resolved in #2003, will be released in [Ignite v8: Maverick](https://github.com/infinitered/ignite/milestone/19)

[2022-08-16 01:22] frankcalise commented on #2001
This currently isn't supported in Expo via Expo Go - you'd have to move to a custom expo-dev-client build.

https://shopify.github.io/flash-list/docs/

[2022-08-16 01:34] frankcalise commented on #1856
Hello @lvlrSajjad and @dragonmaster784, thanks for the report! Have you tried this with the latest version if Ignite CLI? 7.14.2. I'm unable to produce the issue shown here.

[2022-08-16 01:37] #1974 closed

[2022-08-16 01:39] frankcalise commented on #1828
Hello @giuseppeTrovato20! Do you still receive this issue on the latest Ignite CLI, version 7.14.2?

[2022-08-16 22:26] kateinkim commented on #1988
Done here https://github.com/infinitered/ignite/pull/2018 and merged to maverick

[2022-08-16 22:26] #1988 closed

[2022-08-17 19:22] frankcalise commented on #1936
@myfoostrong @HidePoSy @nesjett Have you been able to check out the latest version of Ignite 7.14.2 and see if this is still an issue for you?

[2022-08-17 19:45] frankcalise commented on #1946
@AlexanderLindkjaer Thank you for the write up! Could you provide us with a little more information so we can tackle this correctly? Please run `npx ignite-cli doctor` and provide the output.

Also if you have any screenshots as to what step the EAS build failed from Expo's dashboard that would be helpful also, for example:

<img width="428" alt="image" src="https://user-images.githubusercontent.c

[2022-08-17 19:52] frankcalise commented on #1946
I've tested an `eas build -p android --profile preview` for example in our `maverick` branch and it worked successfully (solidarity is removed). However one thing to note is that the prebuild step did not run (and this is due to our merge of vanilla RN and Expo in the boilerplate).

[code]

[2022-08-17 19:58] #1955 closed

[2022-08-17 20:00] #1800 closed

[2022-08-17 20:28] jamonholmgren opened #2021 "Create an Ignite Github Action formula"
For Ignite, we've traditionally [used CircleCI](https://github.com/infinitered/open-source/blob/master/Continuous-Deployment-Setup-React-Native.md) for our React Native CI needs.

However, it would be a good idea to include some templates *or* some sort of easily installable Github Marketplace Action that is targeted specifically at Ignite apps.

Current Github Actions aimed at React Native apps:

[2022-08-17 20:30] frankcalise commented on #2021
There are some cool Expo ones that deploy to a preview release channel on PR too

https://github.com/expo/expo-github-action

[2022-08-18 14:56] mazenchami opened #2025 "i18n requires double load for iOS when toggling to/from RTL language"
What's going on?

When toggling to/from RTL language, some native aspects on iOS don't render correctly unless there is a double reload.

---

Steps to reproduce:

1. start up ignite in any LTR language (English)
2. close the app, "swipe away"
3. change the language to a RTL language (Arabic) through settings app
4. open app and observe _some_ aspects (non text, e.g. drawer related items) look cor

[2022-08-18 16:11] frankcalise commented on #2001
As our our 8/17 Ignite Sync discussion, sounds like this will get moved to being a recipe for the cookbook.

[2022-08-18 23:33] jvgeee opened #2028 "Gluegun error when initialising with Expo"
Trying to ignite a new project using Expo. I've tried using NPX as well as installing ignite-cli locally (7.14.2) and the same error occurs.

/Users/jvg/.nvm/versions/node/v16.17.0/lib/node_modules/ignite-cli/node_modules/gluegun/build/index.js:13
    throw up;
    ^
[09:30:55] Invalid or unexpected token
[09:30:55] /Users/jvg/.npm/_npx/b9bfc565999cbe87/node_modules/make-fetch-happen/lib/cache/ent

[2022-08-18 23:55] jvgeee commented on #2028
Update: Did the following to fix it:

1. Cleaned out my global node modules with `npm ls -gp --depth=0 | awk -F/ '/node_modules/ && !/\/npm$/ {print $NF}' | xargs npm -g rm`
2. Clean out NPX cache with `npx clear-npx-cache`
3. Clean out NPM cache with `npm cache clean --force`

After doing this it started working.

[2022-08-18 23:55] #2028 closed

[2022-08-22 04:52] ishdeep-sidhu-kidsloop opened #2034 "New app gets created but does not start (windows + android)"
What's going on?
When I start a new app using the template, it creates the app successfully but when I run `pnpm run android` it gives the error in the screenshot. I even tried deleting the node modules and doing a normal `npm install` but that too gives a similar error. My android env is fine as other react-native apps work fine.
![err2](https://user-images.githubusercontent.com/102518164/1858416

[2022-08-22 12:52] frankcalise commented on #1896
I'm going to close this issue due to inactivity. However, if you have any issue in the future with the latest version of Ignite, please open a new issue stating the problem and the output of `npx ignite-cli doctor`.

Also, you can check out https://community.infinite.red to get help with us (and a bunch of other RN devs!) directly in Slack.

[2022-08-22 12:52] #1896 closed

[2022-08-22 12:54] frankcalise commented on #1828
I'm going to close this issue due to inactivity. However, if this problem still persists and you have updated to the latest version of ignite, please open a new issue stating the problem and the output of `npx ignite-cli doctor`.

Also, you can check out https://community.infinite.red to get help with us (and a bunch of other RN devs!) directly in Slack.

[2022-08-22 12:54] #1828 closed

[2022-08-22 12:55] frankcalise commented on #1840
I'm going to close this issue due to inactivity. However, if this problem still persists and you have updated to the latest version of ignite, please open a new issue stating the problem and the output of `npx ignite-cli doctor`.

Also, you can check out https://community.infinite.red to get help with us (and a bunch of other RN devs!) directly in Slack.

[2022-08-22 12:55] #1840 closed

[2022-08-22 12:56] frankcalise commented on #1856
I'm going to close this issue due to inactivity. However, if this problem still persists and you have updated to the latest version of ignite, please open a new issue stating the problem and the output of `npx ignite-cli doctor`.

Also, you can check out https://community.infinite.red to get help with us (and a bunch of other RN devs!) directly in Slack.

[2022-08-22 12:56] #1856 closed

[2022-08-22 16:44] joshuayoes opened #2035 "Use command to strip out demo code"
**What's going on?**
Whenever users generate a boilerplate, the first thing that most users do is delete most of the demo code out to start their project.

Jamon had the idea of having a command that allows us to programmatically delete all the demo code out of an ignite project, using comments to signify the delete markers, like so:

[code]

Then, npx ignite-cli remove-demo will scan through ./ap

[2022-08-22 16:48] joshuayoes commented on #1982
Resolved by https://github.com/infinitered/ignite/pull/1999

[2022-08-22 16:48] #1982 closed

[2022-08-22 20:41] robinheinze opened #2037 "Update spacing scale and documentation"
Spacing scale should be more user-friendly with named properties and proper TS hints.

Re-vamp documentation and move to it's own markdown file.

[2022-08-23 04:57] yulolimum opened #2044 "Update remaining "legacy" components to new patterns / design: Checkbox, Switch, Card"
Most components have been migrated (and new ones built) to feature the new Ignite design.  There are a few left. Creating this issue to track progress. I'll self-assign. Will need to revamp those:

- [x] Checkbox
- [x] Switch
- [ ] Card

[2022-08-23 12:15] frankcalise commented on #1947
Hey @Prabhat-git-99, thanks for your interest in ignite!

While we understand the need for smaller bundle sizes, please keep in mind you are choosing to start with a boilerplate that may include more libraries/features than you need. If you're not intending to use each of them, feel free to remove them to trim the size of your application.

You may be also interested in the following:
- The APK al

[2022-08-23 16:57] kentond18 commented on #1912
@frankcalise Yes, I have now, and all is working. Thank you!

[2022-08-23 17:10] infinitered-circleci commented on #1652
:tada: This issue has been resolved in version 7.15.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.15.0)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.15.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-23 17:10] #1912 closed

[2022-08-23 21:39] frankcalise commented on #1944
Going to close this issue due to no activity. @muratti32 please try the newest version of the ignite and if you still encounter this problem feel free to open a new issue. Thank you.

[2022-08-23 21:39] #1944 closed

[2022-08-23 21:40] frankcalise commented on #1715
Hi @daniel - is this still an issue for you when using the latest version of ignite?

[2022-08-24 00:10] jvgeee opened #2049 "Boilerplate Android build fails on Appcenter with "Could not read script '/' as it is a directory.""
**What's going on?**

When using the default boilerplate, building locally works fine but an Appcenter (and potentially other cloud build tools, not sure), you get this error:

[code]

This is caused by lines like this:

[code]

The suggested method from Expo is to do use `.execute(null, rootDir).text.trim()` instead,  like this:

[code]

A similar change has to be made on /app/build.gradle at thi

[2022-08-24 22:09] robinheinze commented on #2044
@yulolimum FYI I'm using Switch in the DemoPodcast screen, so that may need to be updated after the component is updated. I won't worry to much about it looking great since I know you're updating it.

[2022-08-24 22:45] robinheinze opened #2055 "Add accessibility features throughout Maverick"
# Accessibility in Maverick
- We should do a screenreader pass and make sure everything works
- Add accessibility labels, hints, actions etc. both to ensure compliance with a11y standards and to serve as an example to users

Will update this ticket with specifics as I find then.

[2022-08-24 22:48] robinheinze commented on #2055
Just realized there's an issue with the touch events on the main card and the like button. Stay tuned...

[2022-08-25 01:50] #1810 closed

[2022-08-25 01:50] jamonholmgren commented on #1810
Included in v8 Maverick

[2022-08-25 02:16] frankcalise opened #2056 "New project walkthrough fails when project names differs from project dir"
### Describe the bug

During the `new` command walkthrough, I tried to name my project different from the directory it would be located in and saw the following error:

`node ignite/bin/ignite new KristieLengel`

[code]

### Ignite version

Maverick 7a20616be0d5c33e79cec4894d3100d2d7111e49

### Additional info

<img width="712" alt="image" src="https://user-images.githubusercontent.com/374022/1865

[2022-08-25 11:37] AlexanderLindkjaer commented on #1946
@frankcalise I've just created a brand new project to test out. Both Android and IOS eas build fails, but due to other reasons than the original issues. The postinstall script does not seem to cause trouble anymore.

The only thing i've done is
[code]
In the eas build command, I build for both platforms and did the first-time default options.
----------
`npx ignite-cli doctor`
![screenshot 26](htt

[2022-08-25 11:37] AlexanderLindkjaer commented on #1946
@frankcalise I've just created a brand new project to test out. Both Android and IOS eas build fails, but due to other reasons than the original issues. The postinstall script does not seem to cause trouble anymore.

The only thing i've done is
[code]
In the eas build command, I build for both platforms and did the first-time default options.
----------
`npx ignite-cli doctor`
![screenshot 26](htt

[2022-08-25 17:12] joshuayoes commented on #2035
Main command is finished.

I'm going to leave this issue open until Maverick is mostly stabilized, and we can mark up all the demo files with the new comments and make sure that it builds correctly

[2022-08-25 17:13] joshuayoes commented on #2056
I'll take a look at this today

[2022-08-25 18:57] cdanwards opened #2060 "DemoScreen SectionList errors when navigating to an un-rendered Items"
### Describe the bug

When initially opening the app, if you open the Drawer on the Component screen and try to navigate to an item at the end of the list that isn't rendered, there is an error:

<img width="401" alt="Screen Shot 2022-08-25 at 2 36 41 PM" src="https://user-images.githubusercontent.com/8878532/186742706-e326d722-ef24-4d11-9eb3-e6559cf5d288.png">

### Ignite version

Maverick 43e05a

[2022-08-25 22:27] joshuayoes commented on #2056
I've put together a PR to resolve this. If you could take a look at it @frankcalise and make sure that it works on your end, I would appreciate it

[2022-08-25 23:41] jamonholmgren commented on #2044
@JosephDunivan Really appreciate the offer! @yulolimum already has some WIP on this so he’ll take it to the finish line. But I really appreciate any help and feedback you have on the changes we are making. Manually testing especially

[2022-08-26 15:57] kateinkim opened #2068 "Updating spacing scale in demo screens per new update"
### What's going on?

Per PR https://github.com/infinitered/ignite/pull/2061, the spacing scale names have been updated. Planning on updating demo screens accordingly.

[2022-08-26 20:09] joshuayoes opened #2071 "Circle CI should run all tests, not just tests in `test/vanilla` directory"
<img width="520" alt="Screen Shot 2022-08-26 at 1 04 55 PM" src="https://user-images.githubusercontent.com/37849890/186983315-f514778a-e50d-4cc8-bdf8-adceb087e54b.png">

[2022-08-27 11:46] frankcalise opened #2074 "New command walkthrough errors when opting out of deps install"
### Describe the bug

When answering `n` to `Want us to install dependencies for you? (adds 50-100 seconds) (Y/n)`, the command errors out:

[code]

Also, when passing `y` to this, deps install but warnings get displayed from the yarn output and the command to copy in the future gets committed due to large output I'm thinking.

### Ignite version

maverick e955f53af8b6bda2573a363bacaa4f5f644d62cc

[2022-08-28 06:33] #2056 closed

[2022-08-29 14:59] #2060 closed

[2022-08-29 16:23] joshuayoes commented on #2074
Huh, the prettier must be getting run even if it doesn't get installed locally. I'll take a look at this today

[2022-08-29 16:32] kateinkim opened #2075 "When spinning up a new app `DemoPodcastListScreen` doesn't render list right away"
### Describe the bug

When spinning up a new app `DemoPodcastListScreen` is empty unless:
1. You tab to other screens and come back
2. Reload since waiting a few seconds for the list to render didn't work

|Issue|Swith to different screen|Wait and reload|
|-|-|-|
|<img width="334" alt="CleanShot 2022-08-29 at 09 48 06@2x" src="https://user-images.githubusercontent.com/53795920/187241931-98eda634-a

[2022-08-29 16:42] kateinkim commented on #2075
Also toggling `Switch` would work. Seems like just need a little trigger?

![CleanShot 2022-08-29 at 10 37 58](https://user-images.githubusercontent.com/53795920/187251285-fa060907-1bc7-462d-aa07-3bf44888e279.gif)

[2022-08-29 20:37] robinheinze opened #2079 "Empty State component for podcast list"
Would be nice to have a little empty state component so it's not a blank list.

[2022-08-29 20:43] #2075 closed

[2022-08-29 22:38] jamonholmgren commented on #2044
Awesome @JosephDunivan ! We're pretty excited about these changes as well!

[2022-08-30 20:16] cdanwards opened #2084 "New command hangs after process complete"
### Describe the bug

When spinning up a new app through cli, after all of the processes run the node instance will continue to run, hanging the terminal.

<img width="672" alt="Screen Shot 2022-08-30 at 4 11 35 PM" src="https://user-images.githubusercontent.com/8878532/187534209-6025f46c-1625-41ab-8e63-a2971ee4d5c6.png">

### Ignite version

maverick `713919b6`

### Additional info

<img width="6

[2022-08-30 21:46] #2037 closed

[2022-08-31 00:50] #2068 closed

[2022-08-31 16:13] joshuayoes commented on #2084
It seems related to the usage of `prompt.ask`, if it ever gets called, it sometimes doesn't resolve.

[2022-08-31 16:13] joshuayoes commented on #2084
This wasn't the case in earlier commits, so I may try to do a git-bisect to see when it go introduced

[2022-08-31 16:17] robinheinze opened #2087 "[Docs] Folder Structure doc needs to be updated"
https://github.com/infinitered/ignite/blob/master/docs/Folder-Structure.md

It still references Storybook and some other relics like `withEnvironment` and deeply nested folderstructure. It should be updated to reflect the new boilerplate structure and highlight key features like the Showroom screen.

[2022-08-31 16:18] #2087 closed

[2022-08-31 16:19] robinheinze commented on #2087
🤦‍♀️ Moment... was looking on `master`, not `maverick` LOL

[2022-08-31 16:30] robinheinze opened #2088 "Update screenshot in main Ignite README"
Screenshot is still Bowser. Should update to:

<img src="https://user-images.githubusercontent.com/6894653/187730700-03154989-8910-4107-b0e7-6b74413e6e64.png" alt="logo" width="414px">

I think we'll need to add it to the IR S3 bucket in order to link it in the README.

[2022-08-31 16:51] frankcalise commented on #2074
[code]

[2022-08-31 16:53] joshuayoes commented on #2071
A pattern that was nice for the CI at a previous company, was using [paralellism](https://circleci.com/docs/concurrency#fan-out-fan-in-workflow-example) to run all the test like jobs together, like:
- `test`
- `format`
- `lint`
- `build`

Currently we do not check / throw an error on prettier formatting

[2022-08-31 17:18] joshuayoes commented on #2074
- Frank on slack

[2022-08-31 17:19] joshuayoes commented on #2074
Resolved by https://github.com/infinitered/ignite/pull/2076

[2022-08-31 17:19] #2074 closed

[2022-08-31 18:34] #2088 closed

[2022-08-31 22:04] robinheinze commented on #2079
Hey @kateinkim how's the progress on this? Do you need anything design-wise?

[2022-08-31 22:13] jamonholmgren opened #2091 "[Maverick] Generators should not nest files by default"
### Describe the bug

Currently, generators nest models, components, etc in named folders in `./app/models/<folder>/<file>`. Remove the `<folder>` by default and use frontmatter to customize this.

### Ignite version

Maverick

### Additional info

No

[2022-08-31 22:19] kateinkim commented on #2079
I have a temporary design and Jenna will have something for me after this Friday. The empty state component is all added but I haven’t pushed yet. I have one question for you though. I will ping you tomorrow if that’s ok @robinheinze

[2022-08-31 22:25] joshuayoes commented on #2084
Apparently this has been around since the initial commit in maverick

[2022-08-31 22:29] #2071 closed

[2022-08-31 22:32] joshuayoes commented on #2084
Dan found this using [`npx why-is-node-running`](https://github.com/mafintosh/why-is-node-running#cli)

<img width="1197" alt="Screen Shot 2022-08-31 at 12 07 54 PM" src="https://user-images.githubusercontent.com/37849890/187796330-21a1786c-257c-4296-8dc0-a9f246dfbca2.png">

It seems that either the `prompt` tool or `crossSpawn` tool is never resolving out of the event loop

[2022-09-01 00:19] silasjmatson opened #2093 "Document updated ErrorBoundary"

[2022-09-01 00:20] silasjmatson opened #2094 "Update docs/Readme.md components section"

[2022-09-01 00:20] silasjmatson opened #2095 "Document adding custom fonts"

[2022-09-01 00:21] silasjmatson opened #2096 "Document updated screen component"

[2022-09-01 00:22] silasjmatson opened #2097 "Update Folder-Structure.md components documentation"
Explain frontmatter support and options for structuring components.

[2022-09-01 00:23] silasjmatson opened #2098 "Update styling workflow section in docs/Styling.md"

[2022-09-01 00:23] silasjmatson opened #2099 "Document new Toggle component"

[2022-09-01 00:24] silasjmatson opened #2100 "Document new card component"

[2022-09-01 00:24] silasjmatson opened #2101 "Update navigation documentation"

[2022-09-01 00:25] silasjmatson opened #2102 "Update testing documentation"

[2022-09-01 01:49] jamonholmgren opened #2103 "[Maverick] Command CompileSwiftSources failed with a nonzero exit code"
### Describe the bug

Running the boilerplate with Xcode Version 13.4.1 (13F100) produces these two errors:

<img width="313" alt="image" src="https://user-images.githubusercontent.com/1479215/187816660-b7e063b5-7fbf-4ee0-88ce-998a609d6bc5.png">

[code]

[code]

### Ignite version

Maverick

### Additional info

No

[2022-09-01 01:50] jamonholmgren commented on #2103
Tried:

[code]

Xcode -> Product menu -> Clean Build Folder

Re-run in Xcode

No dice, same issue

[2022-09-01 01:51] jamonholmgren commented on #2103
Tried:

[code]

Didn't help

[2022-09-01 01:51] jamonholmgren commented on #2103
Tried this, didn't help:

https://stackoverflow.com/a/69384358/204044

(Adding to POdfile)

[code]

[2022-09-01 02:01] jamonholmgren commented on #2103
I'll try `pod update` and see if that helps.

...

... it didn't

[2022-09-01 02:12] jamonholmgren commented on #2103
There's some node error here too. Not sure what's going on with that.

Online, people are saying do this, but...

[code]

... it doesn't help. Same error.

[2022-09-01 02:19] jamonholmgren commented on #2103
It's weird that it's picking up some Yarn version of node that doesn't exist.

Someone online said to reinstall yarn, so I did that, but no dice.

[2022-09-01 02:23] jamonholmgren commented on #2103
Okay, the weird `yarn` node output was because there's a `.xcode.env.local` file in my `ios` folder. Deleting that now.

<img width="1136" alt="image" src="https://user-images.githubusercontent.com/1479215/187818724-7e3b0f60-95be-49b6-b41e-6cd7c6e8ad52.png">

[2022-09-01 02:28] jamonholmgren commented on #2103
And ... now it's working. I guess!

<img width="564" alt="image" src="https://user-images.githubusercontent.com/1479215/187819296-e4499522-78f4-4b66-9d74-c1d854c6b0cf.png">

[2022-09-01 02:32] jamonholmgren commented on #2103
Yeah, that seems to have been the issue.

I believe that file is used for customizing your local node path. If you delete it, it'll use `.xcode.env` instead, which has these contents:

[code]

I'll close this, as it seems to have been the issue.

[2022-09-01 02:32] #2103 closed

[2022-09-01 02:35] jamonholmgren commented on #2103
By the way, running `yarn` will output this:

[code]

But then it runs fine.

So, I guess this means that sometimes you'll just need to remove that file and re-yarn.

[code]

[2022-09-01 02:40] jamonholmgren commented on #2103
Somewhat related: https://github.com/expo/eas-cli/issues/1264

[2022-09-01 07:45] sync commented on #2103
Fixed in expo 46 (latest) see https://github.com/expo/expo/pull/18727

[2022-09-01 17:16] silasjmatson opened #2109 "Add documentation describing how Expo is used with ignite"

[2022-09-01 17:19] robinheinze opened #2110 "[Maverick] Update generator templates to match new patterns"
Component, Navigator, Screen templates will all need to be updated to match the patterns we use on Maverick.

[2022-09-02 14:14] cdanwards commented on #2084
I think we can close this issue with #2092 being merged.

[2022-09-02 14:14] #2084 closed

[2022-09-02 17:30] andrewdang17 opened #2112 "NPM package builds on a regular RN CLI app but not the ignite RN CLI app"
### Describe the bug

I'm trying to install this [package](https://github.com/honeybadger-io/honeybadger-react-native) but it does seem to be compatible with a vanilla RN app using ignite (`npx ignite-cli new PizzaApp`). If I build a RN CLI app without ignite (`npx react-native init PizzaApp`) I can install and build with no problems. I've used ignite before and have never had a package that worke

[2022-09-02 18:04] robinheinze opened #2113 "[Maverick] Update generated file names to be CamelCase instead of kebab-case"
model.ts ---> Model.ts
component.tsx ---> Component.tsx
name-screen.tsx ---> NameScreen.tsx

[2022-09-02 18:36] joshuayoes opened #2114 "Beautify `ignite new` command"

[2022-09-02 18:37] jamonholmgren commented on #2114
Currently:

<img width="1285" alt="image" src="https://user-images.githubusercontent.com/1479215/188217052-9ab6a641-0dea-46a9-b75c-a2b1718d1215.png">

It's not bad, but I'd love to continue to make it shine

[2022-09-02 18:39] joshuayoes commented on #2114
This article has some nice notes, although we mostly already have most of these principles: https://blog.developer.atlassian.com/10-design-principles-for-delightful-clis/

[2022-09-02 18:40] joshuayoes commented on #2114
Enquirer, which is what gluegun uses for prompts, has a lot of nice customization options: https://github.com/enquirer/enquirer

[2022-09-02 19:10] andrewdang17 commented on #2112
nvm

[2022-09-02 19:10] #2112 closed

[2022-09-02 20:29] robinheinze commented on #2113
Fixed by #2115

[2022-09-02 20:29] #2113 closed

[2022-09-02 20:29] robinheinze commented on #2091
Fixed by #2111

[2022-09-02 20:29] #2091 closed

[2022-09-02 21:13] jamonholmgren opened #2117 "Add `--dry-run` to remove-demo command"
This doesn't need to be done before v8, but it could be good to add a `--dry-run` flag to the `ignite-cli remove-demo` command, where we just print out what would be modified and deleted.

[2022-09-03 03:13] jamonholmgren commented on #2109
I'll take this one.

[2022-09-04 09:47] yulolimum commented on #2044
Hi @JosephDunivan!

Just wanted to add some details here to address your use-case before closing this issue.

I agree with you there! The switch (and other components) could have used some love some time ago, but I don't think it was completely unusable. The purpose of the components shipped with Ignite is for them to be good starters, rather than ones with advanced functionality that would rarely

[2022-09-04 09:47] #2044 closed

[2022-09-05 02:36] tbehunin opened #2122 "Latest ignite builds for Expo 43 and Expo Go only supports 44+"
### Describe the bug

Followed the readme steps:

1. npx ignite-cli new PizzaApp --expo
2. cd PizzaApp
3. npm run start

Everything built and started fine. Scanned the QR code on my iPhone 13 and got the following:

![IMG_8DB369D5DFBA-1](https://user-images.githubusercontent.com/796147/188349868-07aab0cf-91fe-4a77-9c24-19f3e588ce2c.jpeg)

The ignite starter project seems to be DOA.

### Ignite ver

[2022-09-05 02:49] tbehunin commented on #2122
Changing `"expo": "43.0.0",` to `"expo": "44.0.0",` in `package.json` fixes it, although someone should probably raise a PR for the real fix.

[2022-09-05 20:27] jamonholmgren commented on #2114
I like the output in this command:

https://twitter.com/samselikoff/status/1566842918941360128

[2022-09-06 15:49] jamonholmgren commented on #2122
We're currently working on a big upgrade to Ignite (in the`maverick` branch) that has RN and Expo at latest versions. Hopefully should have a beta this Friday!

[2022-09-06 23:56] joshuayoes commented on #2114
I also really liked the gatsby-cli, it had a lot of style: https://www.gatsbyjs.com/docs/reference/gatsby-cli/
![0_jAK-XXvfqorbpKcv](https://user-images.githubusercontent.com/37849890/188759858-d1d18a0f-98b4-43a4-9ae9-f0674e821fb8.png)

[2022-09-07 06:00] jvgeee opened #2125 "When using Hermes in release build variants, Android crashes with java.lang.UnsatisfiedLinkError: couldn't find DSO to load: libjscexecutor.so"
### Describe the bug

As the title says, I'm using a build variant called `development`, which uses our release signing config and generally replicates a release build.

When I build the app locally in debug mode, it works fine. When I build the development build the app crashes immediately, and in Android Studio I see:

   --------- beginning of crash
E/AndroidRuntime: FATAL EXCEPTION: main
    P

[2022-09-07 17:40] jamonholmgren commented on #2125
Thanks for the issue, @jvgeee! Do you know if this is an Ignite-specific issue? If not, you'll probably want to ask in the #react-native channel in [the IR Community Slack](https://community.infinite.red).

[2022-09-07 22:53] carlosa54 commented on #2125
Hey @jvgeee I recently had this issue with my Android build, it has to do with having multiple build variants.

You need to add the following:

[code]

This way the android build references the correct hermes files for your custom build type

[2022-09-08 03:48] jvgeee commented on #2125
@carlosa54 unfortunately I'm already doing that

[code]

@jamonholmgren Not sure if it's Ignite or vanilla RN related tbh, I'm using your build templates and I can't find any matching bugs with generic RN builds so I'm assuming there is something funky going on with using build variants (potentially ones that use a release build profile?) + hermes

[2022-09-08 19:33] joshuayoes commented on #2114
Gant Ideas:
- **Create an emoji loading bar, where a fuse lights towards a stick of dynamite, that explodes when it is done**
- Add `--party` as a flag to add rainbows
- Add `--america` as a flag to add america
- Add `--nyan` to use nyan cat as a loading bar
- Add `--rocket` to use a rocket ship as a loading bar
- Show loading messages based on holidays or day of the week

[2022-09-08 20:02] #2079 closed

[2022-09-09 00:13] #1942 closed

[2022-09-09 01:52] jamonholmgren commented on #2103
Again bitten by this -- definitely check for the `.xcode.env.local` if you run into this. Not sure why Yarn is adding it.

[2022-09-09 01:54] jamonholmgren opened #2128 "[Maverick] error app/utils/set-dev.js Property left of AssignmentExpression expected node to be of a type ["LVal"] but instead got "BooleanLiteral""
### Describe the bug

When running `yarn build-ios` on Maverick, I'm getting this error:

[code]

### Ignite version

Maverick alpha

### Additional info

[code]

[2022-09-09 02:05] #2128 closed

[2022-09-09 02:08] jamonholmgren opened #2130 "[Maverick] yarn build-android failing with "no such file or directory""
### Describe the bug

Running `yarn build-android` and getting this:

[code]

### Ignite version

Maverick

### Additional info

no

[2022-09-09 02:54] sync commented on #2103
because expo will read add it every time you run their scripts

[2022-09-09 03:45] #2130 closed

[2022-09-09 16:10] jamonholmgren opened #2134 "[Maverick] Better first experience with Detox"
### Describe the bug

Detox has some implicit dependencies -- `python` and `applesimutils`. When you run Detox tests and don't have those installed, it fails with semi-obscure errors. Let's make that experience better.

### Ignite version

Maverick

### Additional info

no

[2022-09-09 16:13] jamonholmgren opened #2135 "[Maverick] Better setup script"
### Describe the bug

The setup script (in `./bin/setup`) is out of date. Let's take another look at it, and probably tell people it's there after spinning up a new app if they're on Mac? That way they can look at it and then run it.

### Ignite version

Maverick

### Additional info

NO

[2022-09-09 17:07] joshuayoes opened #2136 "Improve Android Studio detection"
Currently in `npx ignite new`, we have a section that warns the user if it is detected that Android Studio is not set up properly

1. The warning message is not super clear that it is a warning
![image](https://user-images.githubusercontent.com/37849890/189405154-21daa461-c478-408e-9930-a999019700b5.png)

2. The actual check is outdated, and may be getting shown unnecessarily
<img width="804" alt=

[2022-09-09 17:10] joshuayoes opened #2137 "Add fatal error handling to `ignite-cli new`"
Currently, when an error gets thrown on `npx ignite-cli new`, it will throw the fatal error.

It would be nice to display the error to the user, along with the following information
- A CLI command with the options they used
- A link to the Ignite github issues template
- A suggestion to run `npx ignite-cli doctor`

[2022-09-09 18:05] jamonholmgren commented on #2137
🤔 I wonder if there's a way to detect similar issues based on the errors generated and suggest issues to look at. (Just TOL, for future)

[2022-09-09 19:46] joshuayoes commented on #2114
Closed by https://github.com/infinitered/ignite/pull/2119

[2022-09-09 19:46] #2114 closed

[2022-09-09 22:23] silasjmatson commented on #2096
Closed by #2118

[2022-09-09 22:23] #2096 closed

[2022-09-10 00:52] jamonholmgren opened #2141 "[Maverick] Relative target-path throws an error"
### Describe the bug

Specifying a relative target-path on the CLI throws an error.

[code]

I get this error (note the double PizzaApp in the path):

[code]

### Ignite version

Maverick

### Additional info

no

[2022-09-10 00:53] jamonholmgren commented on #2141
Note this also happens if you specify from home (`~`), like `~/Code/PizzaApp`.

Probably just need to run `filesystem.path` on it to normalize the path.

[2022-09-10 01:35] jamonholmgren opened #2143 "[Maverick] Favorites toggle is out of sync"
### Describe the bug

Both of these are favorites, but only one has the right color for the heart.

![CleanShot 2022-09-09 at 18 34 07@2x](https://user-images.githubusercontent.com/1479215/189463844-d3f1ab59-a96a-43d0-9321-3c1635654d8f.png)

### Ignite version

Maverick beta 2

### Additional info

NO

[2022-09-10 01:36] jamonholmgren commented on #2143
I think it has something to do with the animation, but I could be wrong.

[2022-09-10 01:37] jamonholmgren commented on #2143
Also only seems to happen when you favorite an episode other than the first two, like it's reusing the animated values from those two cards.

[2022-09-10 01:46] jamonholmgren commented on #2122
Beta out, so I'm going to close this. Thanks!

[2022-09-10 01:46] #2122 closed

[2022-09-10 08:14] edjw opened #2145 "Catch non-camelCase project name, reformat to camelCase as default project name"
I started with a kebab case project name. I got the error that it needed to be camel case and it showed what my title would be in camel case. I think it'd be nicer if the cli would not quit completely at that point. And instead it would go again to the project title question with the camel case version of the user's first attempt at a project name as the default answer

Here's a screenshot of what

[2022-09-12 13:58] rblakesley opened #2148 "[Maverick] DrawerIconButton doesn't work when drawer is open"
### Describe the bug

The DrawerIconButton works nicely to open the drawer, but nothing happens when you tap it again to close the drawer.

(On iOS you can swipe left to close the drawer, but on Android it can't be closed without tapping on one of the menu options.)

### Ignite version

Mavericks beta 2

### Additional info

[code]

[2022-09-13 16:28] cdanwards opened #2152 "Error when opening Maverick in simulators / Expo Go"
### Describe the bug

When transitioning from the `Login` screen to the `Welcome` screen, the app throws an error:

`Error: A navigator can only contain 'Screen', 'Group' or 'React.Fragment' as its direct children (found ' '). To render this component in the navigator, pass it in the 'component' prop to 'Screen'.`

<img width="1467" alt="Screen Shot 2022-09-13 at 12 25 58 PM" src="https://user-ima

[2022-09-13 16:31] joshuayoes commented on #2035
Resolved by https://github.com/infinitered/ignite/pull/2140

[2022-09-13 16:31] #2035 closed

[2022-09-13 22:11] joshuayoes commented on #2152
Resolved by https://github.com/infinitered/ignite/pull/2156

[2022-09-13 22:11] #2152 closed

[2022-09-13 22:11] joshuayoes commented on #2143
Resolved by https://github.com/infinitered/ignite/pull/2156

[2022-09-13 22:11] #2143 closed

[2022-09-14 20:13] joshuayoes commented on #2141
Resolved by https://github.com/infinitered/ignite/pull/2154

[2022-09-14 20:13] #2141 closed

[2022-09-14 21:11] joshuayoes commented on #2145
I've created a PR to update the prompt to show the error message, but give the opportunity to fix it before exiting the process

https://user-images.githubusercontent.com/37849890/190263094-aa8a6a8e-3bfa-41e1-9662-0f902bcd3940.mov

[2022-09-14 21:57] #2100 closed

[2022-09-14 22:09] joshuayoes commented on #2145
Resolved now by https://github.com/infinitered/ignite/pull/2161

[2022-09-14 22:09] #2145 closed

[2022-09-15 02:36] juddey opened #2163 "Install failure on Maverick 8.0.0 beta-3"
### Describe the bug

With beta 3 installed, on linux. run following command:
[code]

Same commands work successfully on beta 2 ie:
npx ignite-cli@8.0.0-beta.2 new appname

### Ignite version

8.0.0-beta-3

### Additional info

System
  platform           linux
  arch               x64
  cpu                16 cores       AMD Ryzen 7 2700 Eight-Core Processor << this is it NEED MOAR CORES
  directo

[2022-09-15 03:17] juddey commented on #2163
Also occurs on macos.

[2022-09-15 17:21] joshuayoes commented on #2148
Would you mind adding a screen recording of the issue?

[2022-09-15 17:24] joshuayoes commented on #2148
I might be misunderstanding the issue, but I don't see DrawerIconButton when the drawer is already open. We have a back button, and you can press the gray area as well

https://user-images.githubusercontent.com/37849890/190470119-cb651520-dd91-4cf3-9423-0215f003bd70.mov

[2022-09-15 17:35] joshuayoes commented on #2148
I'm also able to do it on Android

https://user-images.githubusercontent.com/37849890/190472434-88a8e440-7079-45f9-b3f0-1d0e640b8e14.mov

[2022-09-15 17:40] joshuayoes commented on #2163
I was able to recreate this using `npx ignite-cli@8.0.0-beta.3 new appname`

<img width="851" alt="Screen Shot 2022-09-15 at 10 38 34 AM" src="https://user-images.githubusercontent.com/37849890/190473037-ff20e1e8-c70e-45d6-bba6-8ad882943ac6.png">

---

`npx ignite-cli@8.0.0-beta.3 doctor`
[code]

[2022-09-15 17:41] joshuayoes commented on #2163
Seems like I may have introduced a new regression.

<img width="899" alt="Screen Shot 2022-09-15 at 10 41 18 AM" src="https://user-images.githubusercontent.com/37849890/190473509-6908b908-8ab3-4ac9-a107-ea6e9fb27138.png">

I will attempt to recreate this locally before fixing it

[2022-09-15 22:33] rblakesley commented on #2148
Ah, I hadn't tried it on a simulator – only on real devices.  I just checked and it works OK for me on the simulators too.

The DrawerIconButton component animates its shape from the three-line "hamburger button" to the back arrow when the drawer is open, but I think it's still the same component.  The grey area works for dismissing the drawer on iOS devices, but not on the Android devices that I

[2022-09-15 22:49] joshuayoes commented on #2163
This has now been resolved as of 8.0.0-beta.5

<img width="617" alt="Screen Shot 2022-09-15 at 3 49 05 PM" src="https://user-images.githubusercontent.com/37849890/190521964-d9e11fe1-dea4-4f20-bdfc-bb9e274b2157.png">

[2022-09-15 22:49] #2163 closed

[2022-09-15 22:49] joshuayoes commented on #2163
If you are still having issues with this, please let me know and re-open the issue

[2022-09-15 23:35] rblakesley commented on #2148
I think the issue is that the `<Pressable>` component in DrawerIconButton.tsx isn't being translated left along with the visible bars that make up the icon – adding a backgroundColor to the `<Pressable>` makes the problem easy to see.  Removing the outer `<Animated.View>` container and instead translating the `<Pressable>` fixes the problems for me:

[code]

[2022-09-15 23:54] rblakesley commented on #2148
We could do that with an `<Animated.View>` container wrapping _outside_ the `<Pressible>` (instead of being inside it, like it was before) – like this (with the backgroundColor added just to make it clearer):

[code]

[2022-09-15 23:58] joshuayoes commented on #2148
I've open a PR where I made the `Pressible` component animatable! https://github.com/infinitered/ignite/pull/2167

[2022-09-15 23:58] joshuayoes commented on #2148
I will have someone else review this, and get merged into Maverick tomorrow

[2022-09-16 00:01] rblakesley commented on #2148
Thanks!  Yes, I just tried your PR code and it works very nicely (and is much neater than my suggestion above!)

[2022-09-16 00:02] joshuayoes commented on #2148
Thank you for your help on this! I'm glad it's working on your end

[2022-09-16 00:04] joshuayoes commented on #2148
@rblakesley something I figured out while working on this: apparently you can enable a "touchables" toggle in the element inspector to highlight all touchables

https://user-images.githubusercontent.com/37849890/190529142-a43a9c00-a40b-4eb1-b261-55725ee035ad.mp4

[2022-09-16 00:07] rblakesley commented on #2148
Ah, I didn't know about that – looks very useful – thank you!

[2022-09-16 01:42] juddey opened #2168 "[Maverick] Red Screen of Death: Reactotron unable to resolve react"
### Describe the bug

Run `npx ignite-cli@next new PizzaApp`

Boot the app as per the instructions

Get the following screen:
![ignite-reactotron-error](https://user-images.githubusercontent.com/7445602/190538183-c52f7c39-9cf8-4c3e-889a-81b3165337ea.png)

npm cache clean and all the usuals done - do you get the same?

### Ignite version

8.0.0-beta-5

### Additional info

Same as https://github.co

[2022-09-16 01:43] juddey commented on #2168
I'm going to try to rip out reactotron to move forward, logging this fyi.

[2022-09-16 04:07] juddey commented on #2168
removed reactron and app boots successfully.

[2022-09-16 16:36] joshuayoes opened #2169 "Add `--active-arch-only` to react-native run-android"
To get ready for the new Architecture, we should add the `--active-arch-only` to `react-native run-android` yarn script

https://reactnative.dev/docs/build-speed#build-only-one-abi-during-development-android-only

[2022-09-16 17:48] jamonholmgren opened #2170 "[Maverick] No simulator found with name "iPhone 13""
### Describe the bug

When trying to run a new Maverick project with Xcode 14, I get this:

<img width="879" alt="CleanShot 2022-09-16 at 10 47 00@2x" src="https://user-images.githubusercontent.com/1479215/190701200-9f4e831e-713f-408a-a24c-6d2adde8a6db.png">

[code]

### Ignite version

Maverick

### Additional info

no

[2022-09-16 17:50] jamonholmgren commented on #2170
Workaround is to run:

[code]

[2022-09-16 17:59] jamonholmgren commented on #2168
@juddey I'm not able to reproduce, but I'm on macOS. Are you on Linux?
![CleanShot 2022-09-16 at 10 58 44@2x](https://user-images.githubusercontent.com/1479215/190702946-a5b137e0-4f59-4b33-83f4-d1abd8df1cc1.png)

[2022-09-16 18:48] joshuayoes commented on #2170
Is it possible this has to do with Xcode using an old workspace from a previous PizzaApp?

[2022-09-16 19:03] joshuayoes commented on #2148
Resolved by https://github.com/infinitered/ignite/pull/2167

[2022-09-16 19:03] #2148 closed

[2022-09-16 20:36] juddey commented on #2168
@jamonholmgren Thanks for checking it out. On MacOS.(under duress haha!) What node version are you running? And how are you running it? (nvm, n, direct install)

I'm running node 18, for reference.

[2022-09-16 21:48] cdanwards opened #2172 "Button component weird behavior with LeftAccessory and RightAccessory"
### Describe the bug

This was a specific use case but in the new design for the DemoPodcastListScreen, I was originally passing the animated icon views to the `LeftAccessory`. When I did this and clicked on a button, _all_ of the buttons icons would flicker.

I ended up moving the animated view to be a child and no longer had the issue.

https://user-images.githubusercontent.com/8878532/190799491

[2022-09-16 22:04] yulolimum commented on #2172
@cdanwards It's happening because the Left/Right Accessories are a React Component and probably should be memoized where they're defined (similar to the TextField accessories on the LoginScreen). The children are React Element.

[2022-09-16 22:16] jamonholmgren commented on #2168
@juddey Doctor here ... running node via `brew` direct install:

[code]

[2022-09-16 22:28] joshuayoes opened #2173 "Convert boilerplate into yarn workspace"
# Problem
Currently, in order to work on the boilerplate, you either need to:

[code]

Or you need to:
[code]

This is a pretty clunky workflow.

# Potential Solution
Convert ignite into a monorepo, where we have two workspaces: `cli` and `boilerplate`

That way, we can treat `boilerplate` as a real app, and get tooling with typescript intelisense, prettier, etc. out of the box.

[2022-09-17 05:08] juddey commented on #2168
Dropped from  node@18 to node@14 @jamonholmgren, and thats resolved the issue.

[2022-09-17 05:08] #2168 closed

[2022-09-17 05:46] juddey opened #2174 "[Maverick] Missing .gitignore?"
### Describe the bug

When running ignite-new PizzaApp and choosing to create git repoisitory, theres no .gitignore present in the created directories.

this means everything is committed to source control, including `node_modules`....

Is this expected behaviour?

![Screen Shot 2022-09-17 at 5 33 02 PM](https://user-images.githubusercontent.com/7445602/190842444-eecbb46b-f654-432e-aab4-537d084866

[2022-09-17 15:02] frankcalise commented on #2174
Hi @juddey thanks for reporting this issue! Can you please confirm that this is just an issue when using `npm` as the package manager? Also if you don't mind, paste the command that gets output in the terminal for the options you used:

<img width="461" alt="image" src="https://user-images.githubusercontent.com/374022/190863468-797413c4-87f4-4f58-a8dc-c4854c3ad319.png">

[2022-09-17 15:41] frankcalise commented on #2170
This is baked into RN it seems?

https://reactnative.dev/docs/running-on-simulator-ios#specifying-a-device

https://stackoverflow.com/questions/68933467/npx-react-native-run-ios-is-picking-non-existing-simulator

[2022-09-17 15:51] frankcalise commented on #2170
1. Open Xcode workspace for existing project and select the device at the top
<img width="379" alt="image" src="https://user-images.githubusercontent.com/374022/190865095-22810475-179b-4f47-9bde-28b946ff44fd.png">

2. Select `Add Additional Simulators...` from the menu
<img width="353" alt="image" src="https://user-images.githubusercontent.com/374022/190865133-6074e336-8f51-48e3-b6c1-998c63d3ad19.

[2022-09-18 22:44] juddey commented on #2174
Hi Frank,

Here's what I'm running:

[code]

I select npm, and I noticed I also install deps:

<img width="384" alt="Screen Shot 2022-09-19 at 10 39 46 AM" src="https://user-images.githubusercontent.com/7445602/190931255-a3e38369-7492-4a00-84b0-b06d36b9d6fe.png">

To eliminate the deps difference I created a repo and did not install deps:

<img width="519" alt="Screen Shot 2022-09-19 at 10 43 27 A

[2022-09-19 16:19] frankcalise commented on #2172
Utilizing @yulolimum's memo method he mentioned, things work properly. See this commit for details: https://github.com/infinitered/ignite/pull/2138/commits/0055d813c3f42cc2f902d250e06daa4c7ffb0073

[2022-09-19 19:26] frankcalise commented on #2174
@juddey I can't seem to reproduce this, can you run `npx ignite-cli@next doctor` from the project directory for some extra info and paste it here?

[2022-09-19 20:28] joshuayoes commented on #2170
@jamonholmgren do we want to leave this issue open? This seems like an upstream issue to me

[2022-09-19 20:31] robinheinze opened #2175 "Come up with a "mark" logo version for the app icon"
On Android, the full "Ignite" name-based logo is very close to the edges due to the [adaptive icon](https://developer.android.com/develop/ui/views/launch/icon_design_adaptive) cropping, and doesn't really match the style of typical app icons which generally have a non-text image centered within the area.

So that we can set an example for best practices, I'm proposing we develop (with @JenFucci's

[2022-09-19 21:15] joshuayoes commented on #2109
Resolved by https://github.com/infinitered/ignite/pull/2124

[2022-09-19 21:15] #2109 closed

[2022-09-19 21:16] yulolimum commented on #2172
I'm going to see if memoizing the left/right accessories inside the actual component makes more sense (so you don't have to do that every time).

[2022-09-19 21:54] juddey commented on #2174
Sure!

[code]

If this doesn't help and you can't replicate easily then don't worry too much about it

Sometimes strange things happen in the world of computer voodoo 👍

[2022-09-19 22:24] robinheinze opened #2176 "Change file-name casing on services"
We are embracing `camelCase` over `kebab-case` in Maverick, so we should update the files under `services` to be `camelCase`, including:

- `api-problem.ts` and `api-problem.test.ts`
- `reactotron-client`, `reactotron-client`, `reactotron-config`, `reactotron-fake`

[2022-09-20 02:00] jamonholmgren opened #2178 "Add "Remove Demo Code?" to CLI walkthrough"
Now that we have the `npx ignite-cli remove-demo` command, we can add it to the walkthrough, so you can spin up a barebones Ignite app *or* have the demo code included.

If you choose to have it removed (barebones), then it just runs `remove-demo` at the end, before committing.

[2022-09-20 02:02] jamonholmgren commented on #2178
This doesn't _have_ to be in Maverick, btw.

[2022-09-20 03:04] jamonholmgren commented on #2174
This just happened to me too. I think it's because we removed the `.gitignore.template` file for some reason. cc @joshuayoes.

[2022-09-20 03:26] jamonholmgren commented on #2173
![monorepo](https://c.tenor.com/uBhzzXtirz4AAAAd/angry-chewing.gif)

Me when @joshuayoes suggests going back to a monorepo on Ignite

[2022-09-20 03:28] jamonholmgren commented on #2173
I'm not really understanding why a yarn workspace would make it better. The first option seems pretty straightforward, no?

[2022-09-20 03:45] yulolimum commented on #2174
For context: https://github.com/infinitered/ignite/pull/1781

[2022-09-20 07:42] yulolimum opened #2180 "Update Toggle with new design updates."
The Toggle designs have been updated to include extended examples of different states. @cdanwards did most of these updates but some very specific state combo styles are still missing.

- [x] Add `helper` props similar to TextField.
![yulolimum-capture-2022-09-20--00-36-34](https://user-images.githubusercontent.com/1775841/191196039-5f2ce429-b203-4105-a4c6-d94df15f14ee.jpg)
- [x] Add tint to the `

[2022-09-20 14:49] frankcalise commented on #2134
Also it's real annoying to get Python2.7 installed these days, I was going to upgrade the download script to work for that or Python3.

[2022-09-20 17:28] joshuayoes commented on #2173
Why did we move away from monorepos?

---

Here is the main pros I see is for CI/CD stuff:
- we could run `prettier`, `lint`, `typecheck`, `format`, etc in the CI if it were a yarn workspace, and better parallelize those tests. This would mean less manual testing and review from external contributors.
- Making `boilerplate` a workspace means that things like [this `.gitignore` issue](https://githu

[2022-09-20 17:37] MuhammadAbdullah54321 opened #2183 "Getting all files names as Hello World after creating new app"
### Describe the bug

I have created new app using this command `npx ignite-cli new MyAwesomeApp`.
Main folder is named correctly but files inside android and ios folders have HelloWorld in it. I don't know where this is coming from as all these files should be named on my project name.

I am expecting all files to be named with real project name and not like HelloWold

Here I have attached screen

[2022-09-20 17:39] joshuayoes commented on #2183
Thank for submitting this @MuhammadAbdullah54321

The Ignite team is working towards a new major release we are calling Ignite Maverick. The beta is live now, and I suspect it will solve your issue.

You can try it today with
[code]

[2022-09-20 17:45] MuhammadAbdullah54321 commented on #2183
Thanks for prompt response

Also I just want to mention that when I run this command `npx ignite-cli new MyAwesomeApp` to create a new project .... It's very slow and takes hours and hours stuck on this screen. I have attached screenshot below

<img width="1049" alt="Screenshot 2022-09-20 at 10 26 54 PM" src="https://user-images.githubusercontent.com/34376568/191327891-fcf3b46a-884b-41fc-8777-bfee

[2022-09-20 17:48] MuhammadAbdullah54321 commented on #2183
Thanks for prompt response

Also I just want to mention that when I run this command npx ignite-cli new MyAwesomeApp to create a new project .... It's very slow and takes hours and hours stuck on this screen.
I have attached screenshot below

<img width="724" alt="Screenshot 2022-09-20 at 10 42 56 PM" src="https://user-images.githubusercontent.com/34376568/191328465-eee06b46-6cdf-48c9-a06f-142ad2d

[2022-09-20 18:00] joshuayoes commented on #2183
Yes, unfortunately react-native projects like Ignite have a lot of `node_modules` dependencies, and it is quite heavy. How is your internet connection? I have issues with the unboxing npm dependencies step when I am on slow or unreliable connections.

I would also recommend trying to run the command without installing dependencies. Ignite Maverick will allow you to do so with the following flag

[

[2022-09-20 18:02] joshuayoes commented on #2174
I ran
[code]

Then unzipped the tarball and opened it up, it appears that `.gitignore` and `.gitignore.template` are getting copied into the tarball

<img width="286" alt="Screen Shot 2022-09-20 at 11 01 12 AM" src="https://user-images.githubusercontent.com/37849890/191331041-a26f2e61-34bc-42ad-9f92-f897a0273f95.png">

[2022-09-20 18:05] joshuayoes commented on #2174
However, I am getting the described behavior in the issue with
[code]

[2022-09-20 18:09] MuhammadAbdullah54321 commented on #2183
My internet connection is fair enough ... not very slow.
if I use this flag `--install-deps=false`, will I be able to later install them using `yarn` command ?

[2022-09-20 18:12] joshuayoes commented on #2174
<img width="569" alt="Screen Shot 2022-09-20 at 11 11 42 AM" src="https://user-images.githubusercontent.com/37849890/191332909-86f015b9-12de-473d-ae0c-0e8bc9a1184a.png">

`.gitignore.template` is getting copied, so for some reason it's not getting copied after `npx ignite-cli@next new`

[2022-09-20 18:46] joshuayoes commented on #2183
Yes, absolutely!

[2022-09-20 20:27] #2172 closed

[2022-09-20 21:03] frankcalise commented on #2097
Closed by #2185 2185

[2022-09-20 21:03] #2097 closed

[2022-09-20 21:04] frankcalise commented on #2095
Closed by #2186

[2022-09-20 21:04] #2095 closed

[2022-09-20 21:11] joshuayoes commented on #2117
Resolved by https://github.com/infinitered/ignite/pull/2144

[2022-09-20 21:11] #2117 closed

[2022-09-21 00:41] MuhammadAbdullah54321 commented on #2183
I tried the new command `npx ignite-cli@next new `you mentioned above

Here is the terminal output:

`/Users/cheetah/.npm/_npx/2351a7c35afcf833/node_modules/gluegun/build/index.js:15
    throw up;
    ^
warning @expo/webpack-config > webpack-dev-server > chokidar@2.1.8: Chokidar 2 does not receive security updates since 2019. Upgrade to chokidar 3 with 15x fewer dependencies
warning @expo/webpack-

[2022-09-21 01:55] MuhammadAbdullah54321 commented on #2183
So I tried this ...

I ran this command `npx ignite-cli@next new MyAwesomeProject` and choose the option to NOT install the dependencies.
Now not only new project setup was completed much earlier but also this time my issue is solved. Now all my files inside iOS and Android folders are named on MyAwesomeProject and now on Hello World

Later I installed my deps using `yarn` and everything now works

[2022-09-21 06:00] #2180 closed

[2022-09-21 13:23] vijjusri14 opened #2188 "[Maverick] ignite-cli is not initializing git repository"
### Describe the bug

CLI is not initializing git repository even after answering the below prompt as Yes

Tried with inline command, yet git was not initialized.

`npx ignite-cli@next new PizzaApp --bundle=com.pizzaapp --git --install-deps --packager=yarn`

### Ignite version

8.0.0-beta.6

### Additional info

[code]

[2022-09-21 19:40] frankcalise opened #2191 "Add remove demo, snackify commands to help output"
Currently the help command output does not mention two new ignite-cli commands
- Remove Demo
- Snackify

We should add these to the output so users can utilize these new pieces of functionality

[code]

[2022-09-21 19:55] frankcalise commented on #2176
@robinheinze Should we look to update all of these?

[code]

[2022-09-21 22:46] joshuayoes commented on #2183
I'm going to close this issue for now, since we have found a workflow that is working for you. Feel free to re-open this if you are running into more issues with it

[2022-09-21 22:46] #2183 closed

[2022-09-21 23:20] joshuayoes commented on #2174
@juddey 8.0.0-beta.7 is out now with a PR that should resolve this. Can you try again with `npx ignite-cli@next new`?

[2022-09-21 23:20] joshuayoes commented on #2188
@vijjusri14  8.0.0-beta.7 is out now with a PR that should resolve this. Can you try again with `npx ignite-cli@next new`?

[2022-09-21 23:28] frankcalise commented on #2094
Closed by #2193

[2022-09-21 23:28] #2094 closed

[2022-09-21 23:30] #2188 closed

[2022-09-21 23:30] #2169 closed

[2022-09-21 23:30] joshuayoes commented on #2174
I'm going to close this issue for now. But if you are still having issues with it on the latest version, feel free to re-open it

[2022-09-21 23:30] #2174 closed

[2022-09-22 03:49] joshuayoes commented on #2170
I did just run into this trying to do Detox tests. Perhaps there is a way we could detect in Ignite whether the default simulator is available and print a warning?

[2022-09-22 03:52] frankcalise commented on #2170
@joshuayoes perhaps we can pipe the output from `applesimutils --list` and see if it matches the detox config?

[2022-09-22 04:47] vijjusri14 commented on #2188
@joshuayoes This is working, git is initialized properly now.

As Maverick now initializes git and depends on locally installed git, can we have the installed git version displayed when we run `npx ignite-cli@next doctor` just for sanity.

Should I create a new issue for this?

[2022-09-22 11:16] frankcalise commented on #2188
Hey @vijjusri14 that's a great idea. Yes, please create a new issue.

[2022-09-22 11:55] rblakesley opened #2197 "[Maverick] Podcast screen "Only Show Favorites" toggle label missing"
### Describe the bug

The "Only Show Favorites" toggle label at the top of the Podcast screen no longer appears on Mavericks beta 7.  It looks like the enclosing `<View style={[$rowLayout, $toggle]}>` is preventing the text from showing.

Android:
![Screenshot_20220922-121322](https://user-images.githubusercontent.com/17591275/191738550-3d3c7185-d3ef-47fd-9efb-3f873bd83176.png)

iOS:
![IMG_5143](h

[2022-09-22 12:08] vijjusri14 opened #2198 "[Maverick] `npx ignite-cli@next doctor` to display locally installed version of git"
As Maverick now initializes git and depends on locally installed git, can we have the installed git version displayed when we run
`npx ignite-cli@next doctor`.

[2022-09-22 12:09] frankcalise commented on #2198
Thanks for the issue, we're on it!

[2022-09-22 12:13] vijjusri14 commented on #2188
@frankcalise created #2198 to track it

[2022-09-22 17:09] #2191 closed

[2022-09-22 18:15] sondogF123 opened #2201 "error in npx ignite-cli@next new PizzaAppNew"
### Describe the bug

following failure when executing npx ignite-cli@next new PizzaAppNew. Please note npx ignite-cli new PizzaApp (ie 7.15 version) works correctly .. Command output follows.

/Users/carrollfulkerson/.npm/_npx/2351a7c35afcf833/node_modules/gluegun/build/index.js:15
    throw up;
    ^
warning ../package.json: No license field
warning @expo/webpack-config > webpack-dev-server > ch

[2022-09-22 18:47] joshuayoes commented on #2201
Can you try the following commands?

[code]

And post your ruby version?

I see that you have an M1 Mac, I had some issues with Cocopods previously with my M1 and that seems to be what is happening here

[2022-09-22 18:53] joshuayoes commented on #2201
This guide may be helpful for checking your Cocopods as well: https://dev.to/staceypyee/installing-cocoapods-on-m1-macbook-air-big-sur-h0l

[2022-09-22 19:26] #2198 closed

[2022-09-22 19:37] frankcalise commented on #2197
@rblakesley thanks for the report! We'll get that fixed up.

[2022-09-23 10:14] yulolimum commented on #2197
Fixed with #2202

[2022-09-23 10:14] #2197 closed

[2022-09-23 12:22] yulolimum opened #2204 "Document new EmptyState component"
I added a new component called EmptyState. This one should be fairly easy to document since it shares a lot of similar props with Card.

[2022-09-23 12:59] frontendwizard opened #2206 "New app ends up in a blank screen"
### Describe the bug

Step to reproduce:
1. `pnpm dlx ignite-cli@next new PizzaApp --install-deps=false`
2. `cd PizzaApp && pnpm i`
3. `pnpm dlx pod-install`
4. `pnpm start`
5. `pnpm run ios`

The app loads, but after the splash screen, you get a blank screen. That happens because `areFontsLoaded` remains on `false`. If you destructure the second argument of `useFonts`, which is the error message,

[2022-09-23 14:06] frontendwizard commented on #2206
I managed to fix this issue by adding `expo-file-system` as dependency. I can open a PR for it if y'all would like to add this fix to the boilerplate. :)

[2022-09-23 14:19] sondogF123 commented on #2201
thx again - sorry for delay in getting to this. I am looking into my cocoapods install/config. Not finding anything obvious at the moment (caveat: new to front end).

Ruby version: ruby 2.7.6p219 (2022-04-12 revision c9c2245c0a) [arm64-darwin21]

commands:
npx ignite-cli@next new PizzaAppNext --install-deps=false
cd PizzaAppNext
cd ios && pod install

output from pod install
node:internal/modules/

[2022-09-23 15:07] sondogF123 commented on #2201
FYI.. I proceeded to run yarn install after the suggestion to run command below. Errored out trying to install flipper. Ran 'Pod Repo Update' and seems to be making further progress on yarn install. Will update.

[2022-09-23 15:29] sondogF123 commented on #2201
after running the 'Pod Repo Update' - 'npx ignite-cli@next new PizzaApp' now works. Apologies for the false alarm. Thank you very much for your assistance in debugging my error. Would you like me to close this issue ? btw: like the new app/content - well done.

[2022-09-23 16:08] vijjusri14 opened #2208 "[Maverick] Automated builds for CI/CD fails in App Center due to deprecated Jetifier warnings"
### Describe the bug

Automated CI builds are failing in App Center due to jetifier logging the warnings to console.

![image](https://user-images.githubusercontent.com/6272770/192000530-23f740c0-014d-4f5b-aaae-6cfef26d1028.png)

[Here](https://github.com/microsoft/appcenter/issues/887) is the issue in appcenter repo

The [workaround](https://github.com/microsoft/appcenter/issues/887#issuecomment-

[2022-09-23 16:27] vijjusri14 commented on #2208
This will also fail for projects created with ignite-cli v7.11.0 as per the [git blame](https://github.com/infinitered/ignite/commit/9297f1c5fed5a5428ed9b699db2033ee5a384519#diff-594f75b3ec0c76210a39b8c7ce238eea438454a93d830bd968a282f89e30a8b0R92)

[2022-09-23 17:15] joshuayoes commented on #2201
I can close the issue, thank you for following up. I'm glad you are liking the new app/content!

[2022-09-23 17:15] #2201 closed

[2022-09-23 17:23] Gurminder-Kaler commented on #2170
add this
    `"iphone13": "npx react-native run-ios --simulator=\"iPhone 13 Pro\"",` in your script and then run "npm run iphone13"

[2022-09-23 18:20] joshuayoes commented on #2206
Your PR works like a charm! Thanks for filing the issue and PR. I was able to follow along all your steps without a hitch

[2022-09-23 18:20] #2206 closed

[2022-09-23 18:30] joshuayoes commented on #2170
@frankcalise I like that solution, it appears we may be able to install simulators for Xcode.

So perhaps the following logic may be good to add somewhere in the `new` command:
1. Check if `iPhone 13` is in `applesimutils --list` or `xcrun simctl list devices` output
2. Warn user that default iOS simulator is not installed
3. Give sample output of workaround (`yarn ios --simulator="iPhone 14"`)
4.

[2022-09-23 18:35] joshuayoes commented on #2170
"iphone13": "npx react-native run-ios --simulator=\"iPhone 13 Pro\"", in your script in package.json file and then run "npm run iphone13"

@Gurminder-Kaler I'm not sure that will solve what we want. I'm trying to use your command with iPhone 7, which is not a simulator on my machine, and my xcode just resolves to the first one that isn't that version

[2022-09-23 18:47] joshuayoes commented on #2135
Related to https://github.com/infinitered/ignite/issues/2208

[2022-09-23 18:55] joshuayoes commented on #2135
It appears we could remove `jetifier` from postInstall.js, as `react-native run-android` calls it automatically as of React Native 0.60

<img width="751" alt="Screen Shot 2022-09-23 at 11 55 14 AM" src="https://user-images.githubusercontent.com/37849890/192037754-4ba58f65-c601-4a93-b463-e6ab61caef86.png">

https://github.com/mikehardy/jetifier#do-you-need-this

---

I've run through both
[code]

a

[2022-09-23 19:24] vijjusri14 opened #2210 "[Maverick] Remove unnecessary type definitions package from package.json"
Remove unnecessary type definition package from dev dependencies:

[code]

ignite-cli does not include `react-test-renderer` package, so why do we need it's type definitions?

[2022-09-23 19:31] jamonholmgren commented on #2210
Probably an oversight; feel free to PR!

[2022-09-23 19:32] jamonholmgren commented on #2208
I like the idea of skipping jetifier. @vijjusri14 would you want to PR that? cc @frankcalise @joshuayoes

[2022-09-23 19:33] jamonholmgren commented on #2178
Idea could be:

[code]

[2022-09-23 19:43] vijjusri14 commented on #2208
Sure I'll take it up

[2022-09-23 20:58] #2102 closed

[2022-09-23 20:58] joshuayoes commented on #2093
Resolved by https://github.com/infinitered/ignite/pull/2194

[2022-09-23 20:58] #2093 closed

[2022-09-23 21:04] #2135 closed

[2022-09-23 21:48] #2210 closed

[2022-09-23 21:49] joshuayoes commented on #2176
Resolved by https://github.com/infinitered/ignite/pull/2192

[2022-09-23 21:49] #2176 closed

[2022-09-23 22:10] joshuayoes commented on #2208
Ignite `8.0.0-beta.8` has been release with this PR https://github.com/infinitered/ignite/pull/2209

I'm going to close this issue for now, but if you are still having issues with it, feel free to re-open it

[2022-09-23 22:10] #2208 closed

[2022-09-23 22:14] #2101 closed

[2022-09-26 16:26] jamonholmgren commented on #1923
#2214 may address this as well, in the future.

[2022-09-26 16:27] jamonholmgren commented on #1653
#2214 may fix this as well.

[2022-09-26 17:49] robinheinze opened #2215 "Add a way to logout after the welcome screen"
Currently there's on a logout button on the welcome screen, but once you move into the tab navigator, there's no obvious way to get back to that screen, only swiping.

We can add logout to the debug screen or to the dashboard, or something similar. Open to thoughts.

We should also move the Debug tab to the the furthest right.

[2022-09-26 17:56] frankcalise opened #2216 "Add app.json bundleIdentifiers from new command"
Currently, the `new` command calls the `renameReactNativeApp` function, which changes the bundle identifier in the native projects. However, when using managed Expo, these would be referenced via the app.json file. We should have the new command populate this file properly so the Expo solution has the same info.

[code]

[2022-09-26 18:21] jamonholmgren commented on #2170
Closing as "not our bug"

[2022-09-26 18:21] #2170 closed

[2022-09-26 18:30] robinheinze opened #2218 "Add withSetPropAction helper to model generataor"
`.action(withSetPropAction)` to model generator template

[2022-09-26 18:37] #2110 closed

[2022-09-26 18:51] infinitered-circleci commented on #1942
:tada: This issue has been resolved in version 7.15.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/7.15.1)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v7.15.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-26 18:54] #2216 closed

[2022-09-26 19:07] infinitered-circleci commented on #1942
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.0.0)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-27 02:41] HamoBoker opened #2220 "[Maverick] Reactotron unable to resolve react"
### Describe the bug

## Error
[code]
## Reproduce
[code]

### Ignite version

8.0.0

### Additional info

[code]

[2022-09-27 06:08] Scr3nt commented on #2220
Same here

[2022-09-27 06:32] AshwinDeTaeye commented on #2220
Same bug here, with v8.0.0 from the boilerplate

[2022-09-27 14:08] sondogF123 commented on #2220
same here

[2022-09-27 16:45] jamonholmgren opened #2223 "Ensure that password isn't stored in AsyncStorage by default"
In the AuthenticationStore, the password prop is a normal text type:

https://github.com/infinitered/ignite/blob/01c2a11957b37303441fd4abbc4350d9e5d6159a/boilerplate/app/models/AuthenticationStore.ts#L8

Which means it's persisted into AsyncStorage as plain text:

https://github.com/infinitered/ignite/blob/7832f96b0dbb973d15d68f213dfe4b67d66381d7/boilerplate/app/models/helpers/setupRootStore.ts#L4

[2022-09-27 16:46] jamonholmgren commented on #2223
While we're in there, any `types.optional(types.string, "")` could be shortened to just an empty string, which is the same thing.

[code]

[2022-09-27 17:30] frankcalise opened #2225 "Remove demo command does not remove DemoShowroomScreen directory"
### Describe the bug

Running the remove demo command via

`npx ignite-cli remove-demo`

Although the demo code is successfully removed, there is an empty directory left in `./app/screens/DemoShowroomScreen`. At the time of execution, there are other files and directories under this one, so it isn't detected as an empty folder during clean up.

### Ignite version

8.0.0

### Additional info

[code

[2022-09-27 17:47] joshuayoes commented on #2223
I know that on the web, there isn't really a way to store passwords or secure tokens client side. The only way to do so is through a cookie, but that is because client side javascript cannot access a cookie.

The alternative is storing a refresh token, which can be used to make a request to the server to get an access token and make auth requests.

Is AsyncStorage accessible by other apps?

[2022-09-27 18:06] jamonholmgren opened #2226 "Error: Asset not found"
### Describe the bug

When opening on iOS using `yarn expo:ios`, I'm getting this error:

[code]

It doesn't appear to prevent the app from starting.

### Ignite version

8.0.0

### Additional info

[code]

[2022-09-27 18:32] frankcalise opened #2227 "Look into `new` command pod install"
When igniting a new app, if the user chooses to install dependencies we run the following:

[code]

Is it possible this action is then duplicated via our `./boilerplate/bin/postInstall` script during `yarn install`? This script also goes through the necessary MacOS and ios folder checks to then run `pod install`.

[2022-09-27 19:03] frankcalise commented on #2226
Possibly related?

https://github.com/expo/expo-cli/issues/4248

[2022-09-27 22:18] jamonholmgren opened #2228 "Add `ignite remove-demo-markup` command"
Add a new command, `npx ignite-cli remove-demo-markup`, which strips all the `@demo remove-line` style comments.

This is probably not going to be super simple as we'd need to recognize different types of comments (`//`, `#`, `/* */`, `{ /* */ }`, etc). Might be tough to do, actually? But worth noting as an idea.

[2022-09-27 23:22] equationalapplications commented on #2220
Same here with v8.0.0-beta.8 after I ran npx expo-cli doctor --fix-dependencies

[2022-09-28 07:20] vijjusri14 opened #2230 "Remove demo does not remove unused assets"
### Describe the bug

Running `npx ignite-cli remove-demo` does not remove unused assets like icons and images

### Ignite version

8.0.0

### Additional info

[code]

[2022-09-28 14:25] frankcalise commented on #1978
Jetifier has been removed in v8, I'm closing this issue but feel free to reopen if still having issues after upgrading to the latest version.

[2022-09-28 14:25] #1978 closed

[2022-09-28 14:26] frankcalise commented on #1936
Closing this issue due to stale activity.

Also, v8 has been released! So please try the new version and feel free to open another issue should you still be experiencing trouble.

[2022-09-28 14:26] #1936 closed

[2022-09-28 14:49] jamonholmgren commented on #2230
Thanks @vijjusri14!

@joshuayoes we’ll have to think through how to approach this. I suppose for now we could just have a demo folder that could be manually removed?

[2022-09-28 15:21] vijjusri14 commented on #2230
@jamonholmgren I like that, it would be a cleaner approach and way easier to clean up.

PS: There is an empty dangling index.tx in assets/icons that can be removed.

[2022-09-28 15:29] frankcalise commented on #1946
@AlexanderLindkjaer I will close this due to the original issue being solved.

FYI, the latest Ignite has been released and you can try running EAS builds with that.

I just ran the EAS builds locally for a simulator build without issue, but first deleting the android/ios directories.

[2022-09-28 15:29] #1946 closed

[2022-09-28 16:14] frankcalise commented on #1947
Closing this issue, let's continue this via [Discussions](https://github.com/infinitered/ignite/discussions) if you want to further continue exploring app size reduction.

[2022-09-28 16:14] #1947 closed

[2022-09-28 19:19] #2204 closed

[2022-09-28 19:48] infinitered-circleci commented on #2204
:tada: This issue has been resolved in version 8.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.0.1)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-28 22:54] ahmedbodi opened #2233 "Fix various issues launching new template"
### Describe the bug

Platform: web
Ignite-cli: next

Bugs experienced:
process is not defined.

Fix:
[code]

No such asset assets/images/rnr-image-1.png

Fix:
atm i just copied rmr-image@2.png to the path

### Ignite version

8.0.0-beta.8

### Additional info

[code]

[2022-09-29 09:01] hodani commented on #2220
Run `npm i --legacy-peer-deps` in the project folder.

[2022-09-29 11:42] #2178 closed

[2022-09-29 11:45] infinitered-circleci commented on #2178
:tada: This issue has been resolved in version 8.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.1.0)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-29 12:12] rblakesley opened #2234 "[Maverick] Demo screens glitch on first render"
### Describe the bug

When switching between demo screens using the bottom tab navigator, the first render of each screen glitches briefly – the content is rendered too high then jumps down to the correct position after a frame or two.  Subsequent renders of the screens are fine.

It's not noticeable on the simulator but is on both Android and iOS devices – below is a screen recording from a Pixel

[2022-09-29 13:02] sondogF123 commented on #2220
npm I --legacy-peer-deps appears to have cleared the issue for me. thank you @hodani

[2022-09-29 20:31] carlinisaacson commented on #2220
Hey everyone. I've been exploring this one. It was caused by a change in the reactotron-react-native library. I have a PR open over there that should fix it.

[2022-09-29 23:47] carlinisaacson commented on #2220
#2236 will fix this for new ignite apps. For already ignited apps you can update reactotron-react-native to 5.0.3.

[2022-09-30 00:42] jamonholmgren commented on #2233
@ahmedbodi Could you submit a PR for this?

[2022-09-30 00:43] ahmedbodi commented on #2233
Will do when I've got a spare moment

[2022-09-30 13:12] #2220 closed

[2022-09-30 18:25] carlinisaacson commented on #2233
I believe the missing image is because it's named wrong. There are images named rnr-image-2 and rnr-image-3, and rnr-image. I believe just renaming rnr-image to rnr-image-1 will fix this.

[2022-09-30 19:40] #2228 closed

[2022-09-30 19:50] infinitered-circleci commented on #2228
:tada: This issue has been resolved in version 8.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.2.0)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-30 23:49] joshuayoes opened #2239 "Add environmental variable support"
We provide a `config` utility in Ignite: https://github.com/infinitered/ignite/blob/master/boilerplate/app/config/config.prod.ts

This is useful. However, most project at some point need to support passing in environmental variables, such as through an `.env` file.

There are a lot of libraries that support this:
- https://github.com/luggit/react-native-config
- https://www.npmjs.com/package/react

[2022-10-01 12:37] maqeelqureshi opened #2240 "[Maverick] Debug apk size:168 mb, release apk size: 63 mb."
I have generated a fresh app and its size is 168 mb for debug and 63 mb for a release apk. It was 45-60mb in older versions.

Please suggest any solution to reduce it.

[2022-10-01 19:13] frankcalise commented on #2240
Hi @maqeelqureshi! Thanks for the interest in Ignite :)

You can check out some tips on reducing bundle size here in a previous issue: https://github.com/infinitered/ignite/issues/1947#issuecomment-1223985929

[2022-10-01 19:20] frankcalise opened #2241 "`npx ignite-cli remove-demo-markup` unable to run prettier if no deps installed"
The way `npx ignite-cli remove-demo-markup` works is removing some comment blocks related to marking demo code and then runs prettier over the codebase to correct any formatting that is needed.

However, if the user decided not to install dependencies yet and decides to run this command, the prettier formatting will fail.

We'll need to improve the regex to get the spacing right during string repl

[2022-10-01 20:37] xforcarlos opened #2242 "Generator create new file without wrapper folder"
### Describe the bug

hello all
when try to generate new [ screen, model , component  ] or
the generator create new file with out the wrapper folder
& import index.ts file not work anymore

!Hint  create date Fri Sep 16 01:30:31 2022 +0200
 npx ignite-cli new

``` npx ignite-cli g component cart-item ```
out put
[code]
<img width="344" alt="Screen Shot 2022-10-01 at 10 34 52 PM" src="https://user-

[2022-10-02 07:59] AmjadOmari opened #2243 "ignit-cli generator failed"
### Describe the bug

generating components, models, navigators, or screens is not working

steps to reproduce:

1. `npx ignite-cli@next new PizzaApp --yes`
2. `cd PizzaApp`
3. `yarn install`
4. `npx ignite generate component spinner`

expect: create the component spinner
actual: command failed

[code]

### Ignite version

8.2.0

### Additional info

[code]

[2022-10-02 10:25] maqeelqureshi commented on #2240
I have already checked it. I need to distribute apk (microsoft appcenter). Aab is not working on appcenter.

**Debug apk size = 168 mb**
lib size = 156 mb

arm64-v8a = 41.9 mb
armeabi-v7a = 27.3 mb
x86 = 44 mb
x86_64 = 42.8 mb

**Release apk size = 63 mb**
lib size = 54.2 mb

arm64-v8a = 14mb
armeabi-v7a = 10.1 mb
x86 = 14.6 mb
x86_64 = 15.3 mb

[2022-10-02 18:11] jamonholmgren commented on #2243
@AmjadOmari  Can you try without the `@next` tag? Version 8 is now released.

[2022-10-03 07:45] AmjadOmari commented on #2243
I already have a built project that has a lot of changes, so how can I change it on my project?

[2022-10-03 07:51] AmjadOmari commented on #2243
I have changed the command as the following, and this is fixed the issue
from:
`npx ignite-cli generate navigator userSettings`
to:
`npx ignite-cli@next generate navigator userSettings`

[2022-10-03 11:44] Piemontez commented on #2049
Same for me.

But in my case, the solution "null, rootDir" not working.

[2022-10-03 13:37] frankcalise commented on #2240
Hi @maqeelqureshi - unfortunately we cannot control that AppCenter does not allow the app bundle (aab). However, I would look to remove any other unused code and/or libraries that are not necessary to your project and go from there. Have you done this as well?

[2022-10-03 13:37] frankcalise commented on #2239
@mazenchami just did this for Chain React App, perhaps we can have a team discussion on which method we use most often and implement that?

[2022-10-03 13:45] frankcalise commented on #2243
Hi @AmjadOmari - yes in your original reproducible steps, step 4 indicated you used `npx ignite` and not `npx ignite-cli`. I got an error as well when doing this, however with the correct command it works!

Unlucky that ignite is a different package entirely that has nothing to do with our react native boilerplate. So double check your commands point to `ignite-cli`.

Closing this issue, please re

[2022-10-03 13:45] #2243 closed

[2022-10-03 14:13] kateinkim commented on #2242
Hi @xforcarlos! Since our new v8 update on Ignite, we restructured the generated files to be added without the folder. Also, I noticed that your generator still adds a story file which shouldn't be the case with the new update either.

Will you please confirm that you have updated the generator templates? If you haven't, please replace your component template file with [this](https://github.com/in

[2022-10-03 15:52] maqeelqureshi commented on #2240
@frankcalise I have recently created an app using legacy ignite. Its size is 39 MB for release and 56 MB for debug apk.

I am worried about new apk size, if my app is migrated to ignite 8 as there are many project specific libraries. I am expecting it would reach to 80-90 mb if migrated.

Following is the comparsion of dependencies of both ignite8 PizzaApp and my full featured app.

New libraries

[2022-10-03 16:01] frankcalise commented on #2240
@maqeelqureshi Ignite's set of libraries are often for what we most commonly use here at Infinite Red for client projects. There is absolutely no obligation to keep things just because it was listed in the latest version if you don't have any use for it, so you are free to trim it down as you see fit! This is a boilerplate which is to be used as a guide, not necessarily something you must follow o

[2022-10-03 16:53] kateinkim commented on #2233
https://github.com/infinitered/ignite/pull/2237

[2022-10-03 17:47] joshuayoes commented on #2233
@ahmedbodi could you verify that renaming the image would fix instead of overriding a dependency? We are a little hesitant to override a lower dependency like this without a lot more testing on our part.

[2022-10-03 18:43] frankcalise commented on #2240
Going to close this, feel free to drop by in our [community slack](https://community.infinite.red/) if you want to discuss best practices for bundle reduction with the team and other Ignite developers, I'm sure they have some great ideas as well!

[2022-10-03 18:43] #2240 closed

[2022-10-03 22:12] robinheinze opened #2247 "Inconsistent typings on demo and generated screens"
### Describe the bug

- Demo Screens have inconsistent typings

<img width="797" alt="Screen Shot 2022-10-03 at 3 09 28 PM" src="https://user-images.githubusercontent.com/6894653/193694989-4131fb3b-7504-4c18-aa2d-2635baa84868.png">
<img width="750" alt="Screen Shot 2022-10-03 at 3 09 36 PM" src="https://user-images.githubusercontent.com/6894653/193694992-cb7860a2-d90d-49d1-a737-9f2dffbca9b0.png">

[2022-10-04 10:44] xforcarlos commented on #2242
@kateinkim
thanks for help
i use older version of ignite not maverick
how can i use old version of cli to generate files with old structure

[2022-10-04 10:53] xforcarlos commented on #2242
@kateinkim
thanks  i used the old version in g by
``` npx ignite-cli@7.15.0 ```

[2022-10-04 10:53] #2242 closed

[2022-10-04 11:40] frankcalise commented on #2233
Hi @ahmedbodi can you please describe the steps you needed to take to run Expo web more clearly? I'm having trouble getting to the spot where you're stuck.

Please form them like so for example:
1. npx ignite-cli new PizzaApp --yes
2. cd PizzaApp
3. (anything else here? dependencies, config changes)
4. yarn expo:web

[2022-10-04 12:15] ahmedbodi commented on #2233
just the above exactly as that. no changes. then when going to the homepage if u look in the browser console there is an error about process is not defined

[2022-10-04 12:26] frankcalise opened #2249 "Yarn unable to launch expo:web, missing package "webpack-dev-server""
### Describe the bug

1. `npx ignite-cli new IgniteExpoWebTest --bundle=com.igniteexpowebtest --git --install-deps --overwrite=false --packager=yarn --target-path=/Users/fcalise/code/IgniteExpoWebTest --remove-demo=false`
2. `cd IgniteExpoWebTest`
3. `yarn expo:web`

Observe the following in the terminal (can ignore the bit about the port in use):
[code]

If you use the `npm` package manager, the

[2022-10-04 13:00] frankcalise commented on #2233
Related to the issues documented here within Expo - https://github.com/expo/expo/issues/17547

When throwing an error as is, the screen goes blank or just remains at our rendered screen (LoginScreen for example). After making this override change (or perhaps we'll opt for resolutions like mentioned in the above issue), web errors would then react like this:

![image](https://user-images.githubuser

[2022-10-04 14:38] sergioisidoro commented on #2249
+1

[2022-10-04 16:40] #2099 closed

[2022-10-04 16:50] infinitered-circleci commented on #2099
:tada: This issue has been resolved in version 8.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.2.1)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-04 16:57] joshuayoes commented on #2233
Thank you for adding all this context @frankcalise!

These issues are pretty old. A fix has not been implemented, which is disappointing because Webpack 5 has been around for a while. But that also suggests to me that a upstream fix is likely not going to be happening in the next year or so, so it would be worth adding this.

[2022-10-04 17:00] carlosa54 commented on #2249
Doing `yarn add webpack-dev-server@^3 -D` and adding it to the repo fixed it for me. It looks like expo webpack-config uses the webpack-dev-server version 3 configuration [here](https://github.com/expo/expo-cli/blob/main/packages/webpack-config/package.json#L70) in the expo cli [webpack.config](https://github.com/expo/expo-cli/blob/208354c051037a92c9d837bde425396244ca77c9/packages/webpack-config/s

[2022-10-04 17:01] #2234 closed

[2022-10-04 17:04] infinitered-circleci commented on #2234
:tada: This issue has been resolved in version 8.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.2.2)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-04 17:10] #2215 closed

[2022-10-04 17:15] infinitered-circleci commented on #2215
:tada: This issue has been resolved in version 8.2.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.2.3)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.2.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-04 17:18] #2233 closed

[2022-10-04 17:21] infinitered-circleci commented on #2233
:tada: This issue has been resolved in version 8.2.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.2.4)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-04 17:26] sergioisidoro commented on #2249
For me `webpack-dev-server@^3` does launch, but on a clean project it still does not load with multiple console errors. Pinning it to the exact `3.11.0` also doesn't help.

[2022-10-04 17:27] carlinisaacson commented on #2234
This is an issue with the react-native-safe-area-context library. There are several issues in that repo regarding this.

The fix is to not use SafeAreaView and instead use their provided `useSafeAreaInsets` hook to get the insets. Then wrap your content in a regular View and set the insets using padding in the styles.

[code]

Ignite has been updated to use this pattern. So, newly created apps usi

[2022-10-04 17:35] joshuayoes commented on #2223
Discussion here is relevant: https://reactnative.dev/docs/security#storing-sensitive-info

[2022-10-04 17:38] joshuayoes commented on #1543
There has been a lot of changes since this issue last had activity. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:38] #1543 closed

[2022-10-04 17:40] joshuayoes commented on #1594
Our Detox workflow has been revamped since our latest Ignite release, Maverick.

This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:40] #1594 closed

[2022-10-04 17:40] joshuayoes commented on #1625
There has been a lot of changes since this issue last had activity. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:40] #1625 closed

[2022-10-04 17:41] joshuayoes commented on #1646
There has been a lot of changes since this issue last had activity. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:41] #1646 closed

[2022-10-04 17:41] joshuayoes commented on #1649
There has been a lot of changes since this issue last had activity. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:41] #1649 closed

[2022-10-04 17:42] joshuayoes commented on #1664
There has been a lot of changes since this issue last had activity. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:42] #1664 closed

[2022-10-04 17:42] joshuayoes commented on #1698
There has been a lot of changes since this issue last had activity. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:42] #1698 closed

[2022-10-04 17:43] joshuayoes commented on #1707
There has been a lot of changes since this issue last had activity. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:43] #1707 closed

[2022-10-04 17:43] joshuayoes commented on #1714
There has been a lot of changes since this issue last had activity. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:43] #1714 closed

[2022-10-04 17:44] joshuayoes commented on #1715
There has been a lot of changes since this issue last had activity. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:44] #1715 closed

[2022-10-04 17:44] joshuayoes commented on #1735
There has been a lot of changes since this issue last had activity. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:44] #1735 closed

[2022-10-04 17:49] joshuayoes commented on #1761
You should make sure that your `token` is actually set when you try to call it.

I'm going to close this issue since it's more of a question instead of an issue with Ignite. If you are still having issues, please say hi in our [community slack](http://community.infinite.red)! I'm sure you'll be able to get some good help from someone at Infinite Red or a community member :)

[2022-10-04 17:49] #1761 closed

[2022-10-04 17:52] joshuayoes commented on #1777
There has been a lot of changes since this issue last had activity. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:52] #1777 closed

[2022-10-04 17:52] joshuayoes commented on #1779
There has been a lot of changes since this issue last had activity. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:52] #1779 closed, assigned to nobody

[2022-10-04 17:52] joshuayoes commented on #1796
There has been a lot of changes since this issue last had activity. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:52] #1796 closed

[2022-10-04 17:55] joshuayoes commented on #1799
There has been a lot of changes since this issue last had activity. Most notably, we have remove Storybook in our latest Ignite Maverick release, which seemed to be the source of this issue.

This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:55] #1799 closed

[2022-10-04 17:56] joshuayoes commented on #1825
There has been a lot of changes since this issue last had activity. We have release a new major version of Ignite, codenamed Maverick. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 17:56] #1825 closed

[2022-10-04 17:58] frankcalise commented on #883
PowerShell is now working in the latest version of Ignite, v8!

[2022-10-04 17:58] #883 closed

[2022-10-04 18:03] joshuayoes commented on #1922
This would be better filed on the [gluegun](https://github.com/infinitered/gluegun) repository.

This security issue doesn't really apply to our use of `ejs` in Gluegun because we are running our own template code only for the cli users host machine, not on a web server. This is an issue for ejs because users of websites could potentially inject and execute malicious code on web servers that they

[2022-10-04 18:03] #1922 closed

[2022-10-04 18:04] joshuayoes commented on #1931
There has been a lot of changes since this issue last had activity. We have release a new major version of Ignite, codenamed Maverick. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 18:04] #1931 closed

[2022-10-04 18:04] joshuayoes commented on #1932
There has been a lot of changes since this issue last had activity. We have release a new major version of Ignite, codenamed Maverick. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 18:04] #1932 closed

[2022-10-04 18:06] joshuayoes commented on #1934
There has been a lot of changes since this issue last had activity. We have release a new major version of Ignite, codenamed Maverick. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 18:06] #1934 closed

[2022-10-04 18:09] #2025 closed

[2022-10-04 18:09] joshuayoes commented on #2034
There has been a lot of changes since this issue last had activity. We have release a new major version of Ignite, codenamed Maverick. This is going to be closed for now, but please re-open if this still needs attention.

[2022-10-04 18:09] #2034 closed

[2022-10-04 18:10] joshuayoes commented on #2049
@jvgeee could you submit a PR with the gradle change that fixed it for you?

[2022-10-04 18:12] joshuayoes commented on #2125
Since this isn't entirely related to Ignite, and our default workflow out of the box, I'm going to close this issue for now.

However, in the future, we are working on a project called Ignite Cookbook, where we document common patterns in articles. I think multiple builds would be a good candidate for this. So I'm going to close the issue for now, but add the cookbook tag.

[2022-10-04 18:36] frankcalise commented on #1432
This app bundle size topic has been discussed over at issues https://github.com/infinitered/ignite/issues/2240 and https://github.com/infinitered/ignite/issues/1947#issuecomment-1223985929 so I'm going to close this for now.

Closing this for now but feel free to bring it back up in [Discussions](https://github.com/infinitered/ignite/discussions) or [Community Slack](https://community.infinite.red

[2022-10-04 18:36] #1432 closed

[2022-10-04 18:54] frankcalise opened #2253 "Ignite generators don't work on Windows"
### Describe the bug

When generating a screen with a command such as `npx ignite-cli generate screen TestScreen`, the frontmatter gets left in if executing from a Windows machine. For example:

[code]

Fix the new line parsing based on the platform we're executing on to allow generators to be cross-platform

### Ignite version

8.2.0

### Additional info

[code]

[2022-10-04 19:12] frankcalise commented on #2249
@sergioisidoro yeah sorry that asset thing was what commenced the looking into Expo web, which then lead to finding out about the issue with yarn!

How are you doing now after `yarn add -D webpack-dev-server@^3` ?

Console isn't completely clean yet (we'll get there) but seems to be building and running now for me.

[2022-10-04 19:25] sergioisidoro commented on #2249
After running the generator with `:latest` instead of `:edge` which fixed the asset issue, everything now works 👌

But the coincidence of a resource missing and a webpack issue made me immediately point fingers to webpack 😅
Thanks for the help :)

[2022-10-04 20:49] #2247 closed

[2022-10-04 21:02] infinitered-circleci commented on #2253
:tada: This issue has been resolved in version 8.2.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.2.5)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.2.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-04 21:02] infinitered-circleci commented on #2247
:tada: This issue has been resolved in version 8.2.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.2.5)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.2.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-05 03:20] frankcalise commented on #2249
Thank you for the help also @sergioisidoro !

[2022-10-06 23:54] engineerStuardo opened #2259 "Expo iOS App gets stuck on SplashScreen"
### Describe the bug

I created a new repo with ignite boilerplate, then right away I just did expo publish and everything went fine. Then I scanned the QR on iOS devices and it got stuck in the SplashScreen and It's running fine on Android.

Here is the published app for you to test it: https://expo.dev/@stuardocortez/NewPizzaApp

### Ignite version

latest

### Additional info

.

[2022-10-07 01:26] engineerStuardo commented on #1287
Hi @kevinvangelder ... I just have a related issue about this. I created a brand new project with ignite and everything is working fine on local. But when I did expo publish then the iOS app it's stuck in the SplashScreen (Android is working fine). This is my published project: https://expo.dev/@stuardocortez/NewPizzaApp

[2022-10-07 15:53] frankcalise commented on #2134
Also let's detect the simulator name to use

[2022-10-09 09:41] jfroffice opened #2260 "Installation just failed"
### Describe the bug

Installation just failed, I let all default option for installation as default.

[code]

### Ignite version

8.2.5

### Additional info

[code]

[2022-10-09 15:15] frankcalise commented on #2260
@jfroffice From your project directory can you `cd ios` and then `pod install` and see if it goes through successfully?

[2022-10-09 17:18] jfroffice commented on #2260
No it fails also.

Le 9 oct. 2022 à 17:15, Frank Calise ***@***.***> a écrit :

﻿
@jfroffice From your project directory can you cd ios and then pod install and see if it goes through successfully?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.

[2022-10-09 18:06] frankcalise commented on #2260
Are you able to `pod install` with other projects typically? Maybe try a plain `react-native` install or `expo prebuild` and see if it works that way?

Hard to say what's going on here, you have quite a few globally installed packages and every machine is different depending on how you have things set up.

Or try ignite at a different but recent version to rule out any latest changes, say 8.2.0 or

[2022-10-09 18:24] jfroffice commented on #2260
React-native only just works like a charm.

Will try with previous version.

[2022-10-09 20:25] Dolabok opened #2261 "Showcase component does not scroll on the web"
### Describe the bug

Hello
I noticed that the list of components on the demo page does not scroll on the web. I think this is related to the presence of the drawer menu on the page, the scrolling works correctly on other pages where it is not present.
You can open the drawer by holding the click and dragging the mouse to the right as you might do with the thumb on mobile, I think this behavior ca

[2022-10-09 21:27] frankcalise commented on #2261
Hey @Dolabok thanks for reporting the issue! We have noticed this and are trying to streamline the web experience as best we can.

Can you see if this change alleviates your problem in the `DemoShowroomScreen.tsx`?

Change from `<Screen` wrapper around the `<SectionList` to `<SafeAreaView style={$screenContainer}>` and add the style, here is the git diff as an example:

[code]

[2022-10-09 21:40] Dolabok commented on #2261
wonderful, the scrolling is back
thank you

[2022-10-09 21:41] frankcalise commented on #2261
@Dolabok you're welcome! thanks for the feedback, we'll look to fold this change in upstream

[2022-10-09 21:44] frankcalise commented on #2259
Hi @engineerStuardo - expo publish using the classic Expo CLI? If you don't mind, could you please run `npx ignite-cli doctor` from the project directory and paste the output here?

Also please include your publish commands as well.

Thank you!