[2022-10-09 21:45] Dolabok commented on #2261
Is there a list of planed tasks for web compatibility? I could possibly make pull requests

[2022-10-10 02:33] frankcalise commented on #2261
@Dolabok nothing at the moment, just started doing more testing with the web side and noting things. Feel free to create issues and work on some PRs though!

[2022-10-10 05:09] Dolabok commented on #2261
noted, thank you!

[2022-10-10 09:24] notAunty commented on #2261
Hi, curious to know why wouldn't this works?
[code]

[2022-10-10 10:04] engineerStuardo commented on #2259
@frankcalise thanks for your answered. Here are the steps I'm following:

https://user-images.githubusercontent.com/72483443/194842009-005c8887-4e9e-4e48-809a-c0e20a53051a.mp4

and here it's the output of `npx ignite-cli doctor`:
[code]

[2022-10-10 13:11] frankcalise commented on #2259
@engineerStuardo Hey thanks for the extra info! Are you meaning to use a bare workflow or an Expo managed work flow? The boilerplate allows for quick development/debugging of either, but I'm thinking you probably have to decide when going through with publish.

From the terminal output it looks like Expo is picking up a bare workflow due to the native ios/android directories. However, if you don't

[2022-10-10 14:27] engineerStuardo commented on #2259
@frankcalise The idea is to have a Managed expo app. In this case I deleted `ios / android` folder and `index.js` and `react-native-bootsplash`. Then I published the app with `expo publish` and also `eas update`. And both of them gets stuck on SplashScreen, works on iOS and Android on simulators but the published version doesn't work on iOS just working on Android.

URL: https://expo.dev/@stuardoc

[2022-10-10 14:41] frankcalise commented on #2259
@engineerStuardo Sorry you're having trouble, but thanks for the info! Will take a look and get back to you

[2022-10-10 14:48] frankcalise commented on #2261
@notAunty Yeah that won't allow mobile to work.

However another solution leaving the Screen component in there is to add the following style
`<Screen preset="fixed" safeAreaEdges={["top", "bottom"]} contentContainerStyle={{ flex: 1 }}>`

That should enable scrolling on web and mobile properly as well.

We'll fix this in main when we decide which solution we want, but either of those should get yo

[2022-10-10 15:28] Dolabok opened #2262 "Links usable on the web"
A great improvement to the web application would be proper integration of the URLs in the browser
Currently, we don't show the current page link in the address bar and opening a link to a specific page returns to the default page.

I think the best way to do this without affecting the mobile part is to use deep links from react-navigation 6
https://reactnavigation.org/docs/configuring-links

As th

[2022-10-10 16:59] engineerStuardo commented on #2259
It should be like in the screenshot below, right?

![Screen Shot 2022-10-10 at 10 58 00](https://user-images.githubusercontent.com/72483443/194917698-4c9753c2-1a56-47af-867b-d35d2fdc2eb4.png)

[2022-10-10 17:03] frankcalise commented on #2259
Viewer should be fine

[2022-10-10 18:10] engineerStuardo commented on #2259
I just sent you the invite, thanks a lot @frankcalise

[2022-10-10 18:27] frankcalise commented on #2259
Thanks I'm able to see the issue in action now

[2022-10-10 19:25] frankcalise commented on #2259
It's interesting because even running `yarn expo:start --no-dev --minify` still works in the simulator (which would put the app in production mode like a publish). I was hoping to gain some information locally by running in release mode.

https://docs.expo.dev/workflow/development-mode/#production-mode

[2022-10-10 19:47] engineerStuardo commented on #2259
I know, right?... Do you think there's something else we can do to make it works?

[2022-10-10 20:24] frankcalise commented on #2259
@engineerStuardo Hey! I think it's hermes related. For now head over to your `app.json` and switch the `jsEngine` property to `jsc`. Publish again and see if that works for you.

[2022-10-10 20:37] engineerStuardo commented on #2259
@frankcalise OMG... awesome, it worked. I just tested with `expo publish` and `eas update` and it worked without any issue. I really appreciate all your help.

[2022-10-10 20:37] #2259 closed

[2022-10-10 20:38] frankcalise commented on #2260
This seems related in some way based on your error message, not sure if you have to do some sort of pod update?

[2022-10-10 20:38] frankcalise commented on #2259
@engineerStuardo Thanks, glad it worked for you!

[2022-10-11 02:40] engineerStuardo commented on #2259
hey sorry to bother you @frankcalise :( , in this case the SplashScreen and Icon it's no showing in the publish version but it's working locally:

https://expo.dev/accounts/stuardocortez/projects/testExpoPublish/updates/d8595363-dcf4-4b08-862a-046c08fcef50

[2022-10-11 04:15] frankcalise commented on #2259
@engineerStuardo if you wouldn't mind, could you please open another issue with steps to reproduce as it is different from this one.

Thanks

[2022-10-11 08:03] jfroffice commented on #2260
@frankcalise actually I don't have a M1 Mac.

[2022-10-11 09:33] engineerStuardo opened #2263 "Splash Screen and Icon not showing on Expo Go (Published app with EAS, working fine with expo publish)"
### Describe the bug

When you configure an ignite Managed Expo App (I deleted `ios`, `android` folders and `index.js`. Also removed `react-native-bootsplash`). And configured app.json from `hermes` to `jsc` in `jsEngine` property. Then the app is running fine local and publish but in the published version is not showing SplashScreen and Icon Image (Just showing the background color). This scenari

[2022-10-11 09:39] jfroffice commented on #2260
I have also test `ignite-cli@8.1.2` I also have the same error that I have on the first message.

[2022-10-11 12:42] frankcalise commented on #2260
Hi @jfroffice can you run with the debug flag and paste the entire output here to analyze? Thank you!

`npx ignite-cli new PizzaApp --yes --debug`

[2022-10-11 12:43] frankcalise commented on #2263
@engineerStuardo Can you list your EAS build/submit/update commands here so I can properly reproduce? Thanks!

[2022-10-11 13:03] engineerStuardo commented on #2263
I just did the following:
[code]

and I don't have a `eas.json`, should I have one? and if so, which structure should it have?

EAS build:
![Screen Shot 2022-10-11 at 07 01 40](https://user-images.githubusercontent.com/72483443/195097995-256b9fbe-0408-4c11-8482-c38900691c07.png)

EAS update:
![Screen Shot 2022-10-11 at 07 00 50](https://user-images.githubusercontent.com/72483443/195097759-a29c8233

[2022-10-11 14:00] frankcalise commented on #2263
I'd first follow the [Creating your first build](https://docs.expo.dev/build/setup/) Expo documentation. If you don't want to wait for the EAS queue time you can add the `--local` flag to [build an `APK` or `.app` locally](https://docs.expo.dev/build-reference/local-builds/) and try it on your Android device or iOS simulator.

From these steps the splash screen and app icon appear fine. Your exper

[2022-10-11 14:04] frankcalise commented on #2263
This could also be related https://github.com/expo/expo/issues/18691

[2022-10-12 00:20] frankcalise commented on #2239
Cookbook recipe has been created!

[2022-10-12 00:20] #2239 closed

[2022-10-12 13:37] #2263 closed

[2022-10-12 22:22] frankcalise commented on #2001
Let's link to the cookbook recipe when published in the DemoPodcastListScreen.tsx to let the devs know there is a walkthrough for migrating to FlashList

[2022-10-13 20:12] slasho opened #2265 "Error on default instalation"
### Describe the bug

    █ Creating PizzaApp using Ignite 8.2.5
    █ Powered by  ∞ Infinite Red  (https://infinite.red)
    █ Package Manager: yarn
    █ Bundle identifier: com.pizzaapp
    █ Path: /Users/jcasanova/Documents/GIT/PizzaApp
    ────────────────────────────────────────────────────

    🖨  3D-printing a new React Native app
    ⠇ Installing yarn dependencies (wow these are heavy)
/Us

[2022-10-13 20:20] slasho commented on #2265
Using : npx ignite-cli new PizzaApp --yes --debug works ok but I noticed that with debug uses Creating PizzaApp using Ignite 7.15.0 not the Ignite 8.2.5

[2022-10-13 20:22] frankcalise commented on #2265
@slasho you might be cached, you can clear our your npm cache entirely or that specific package

Caution: this clears out the entire cache if that matters to you:
`rm -rf ~/.npm/_npx`

[2022-10-13 20:45] slasho commented on #2265
same error after removin _npx dir

[2022-10-13 20:47] frankcalise commented on #2265
Do you have ignite-cli globally installed?

[2022-10-13 20:56] slasho commented on #2265
The problem was node version
it fails with v17.7.1
but work OK with v16.13.2

is it a bug?

[2022-10-13 21:33] frankcalise commented on #2265
I know it's working on Node 16.x and 18.x, not sure about 17.

[2022-10-14 19:10] NoMoreTickets opened #2267 "Detox Testing Link Is Broken In Docs"
### Describe the bug

Steps to repeat:

1. Navigate to https://github.com/infinitered/ignite in browser.
2. Go to "docs" folder
3. Click on "Testing.md" link
4. Find the heading on the page titled "Detox Testing"
5. On the line "We provide a [README.md](https://github.com/infinitered/ignite/blob/master/docs/%5B../boilerplate/detox/README.md%5D) inside of Ignite for how to get started with and run

[2022-10-15 15:58] acerblaze commented on #2265
Hi! I had a similar problem and running it with --debug didn't work. I tried to use NPM instead of Yarn and installation went without any errors.

[2022-10-15 20:48] frankcalise commented on #2267
Thanks, good find!

[2022-10-17 16:22] frankcalise commented on #2049
@Piemontez @jvgeee Does this seem related to the issues you're seeing? https://github.com/expo/expo/issues/18412

[2022-10-17 16:56] #2267 closed

[2022-10-18 10:57] saeedghasemi72 opened #2272 "react-native 0.70"
Hi guys,
Do you have any plan for upgrade to 0.70 and new architecture? :)

[2022-10-18 12:58] frankcalise commented on #2272
Hi @saeedghasemi72 thanks for the interest in Ignite!

We plan on keeping RN upgraded along with Expo's recommended version for the boilerplate. However, it is just that, a starting boilerplate! Feel free to go through the upgrades yourself after you Ignite a new project.

As far as the new architecture goes, there is a lot that goes into fully supporting this. For one, since we do include many pa

[2022-10-18 12:58] #2272 closed

[2022-10-21 12:39] comertcimen commented on #2265
I have the same issue with node v16.13.2

[2022-10-21 13:57] frankcalise commented on #2265
@slasho @acerblaze @comertcimen can you all provide the output of `npx ignite-cli doctor` please? Need more information.

Issues with Yarn only?

[2022-10-22 16:56] comertcimen commented on #2265
@frankcalise Here is the output. It is not just yarn. I have the same issue with npm.

[code]

And this is the output when I try to run npm install or yarn install

[code]

[2022-10-22 20:40] frankcalise commented on #2265
@comertcimen did you try the suggested command?

[code]

[2022-10-23 21:45] comertcimen commented on #2265
I updated cocoapods and problem solved.

@slasho can you run this command and try again?

[code]

[2022-10-24 15:32] DeMuu opened #2274 "DrawerIconButton progress can get stuck in interpolation"
### Describe the bug

Hi,

I'm new to the project, first of all, thanks for the great boilerplate!  ❤️

While testing the demo project I noticed that the DrawerIconButton progress interpolation gets stuck when you pull it and then let it snap back. This happens when opening or closing.

Steps to reproduce:

1. Navigate to components screen
2. Pull from the left to open the drawer to a point where

[2022-10-25 13:16] frankcalise commented on #2260
@jfroffice can you try updating cocoapods as well?

`sudo gem install cocoapods`

[2022-10-25 21:18] #2241 closed

[2022-10-25 21:22] infinitered-circleci commented on #2001
:tada: This issue has been resolved in version 8.2.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.2.6)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.2.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-25 21:22] infinitered-circleci commented on #2241
:tada: This issue has been resolved in version 8.2.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.2.6)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.2.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-25 21:32] #2249 closed

[2022-10-25 21:32] #2261 closed

[2022-10-25 21:47] infinitered-circleci commented on #2249
:tada: This issue has been resolved in version 8.2.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.2.7)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.2.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-25 21:47] infinitered-circleci commented on #2261
:tada: This issue has been resolved in version 8.2.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.2.7)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.2.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-27 15:57] martengooz commented on #2260
Had the same issue but i think i found the issue.

I noticed that it was using my old pod version, and not the one i just installed by gem. By running `which pod`, i saw that it was pointing to `/usr/local/bin/pod` which is the built in version. Changing this to the one installed by gem i added  `/opt/homebrew/lib/ruby/gems/<version>/bin` to my path.

But that was not all. The script would still f

[2022-10-28 01:14] frankcalise commented on #2265
Closing with @comertcimen's solution.

@slasho Feel free to reopen if you are still experiencing this.

[2022-10-28 01:17] frankcalise commented on #2260
@jfroffice Can you try out @martengooz's suggestion?

[2022-10-28 14:37] frankcalise commented on #1818
Recipe over at the Ignite Cookbook! https://infinitered.github.io/ignite-cookbook/docs/MigratingToMMKV

[2022-10-28 14:37] #1818 closed

[2022-10-29 07:36] saeedghasemi72 commented on #1770
Hi @frankcalise , can we use absolute path without "~" ?
I tried but not working, what you think?

[2022-10-31 12:05] smallsaucepan commented on #2260
@frankcalise was experiencing the same problem as @martengooz (CocoaPods could not find compatible versions for pod "hermes-engine").

Can confirm removing Podfile.lock and re-running ./bin/postinstall from project directory worked, installing hermes-engine 0.69.6

If it helps, hermes-engine version in Podfile.lock was 0.69.5 and in Pods/Local Podspecs/hermes-engine.podspec 0.69.6

[2022-10-31 13:03] frankcalise commented on #2260
@smallsaucepan Thanks, very helpful. We'll get that Podfile.lock updated and patch out

[2022-10-31 15:13] frankcalise commented on #2227
Or maybe let's just run `npx pod-install` from the postInstall script and remove our home rolled version?

[2022-10-31 18:00] frankcalise commented on #1770
@saeedghasemi72 did you update the config `paths` ?

[2022-10-31 18:38] frankcalise opened #2280 "Remove unused package, expo-linear-gradient"
`expo-linear-gradient` was left over from the previous (before Maverick) components, where we had a `GradientBackground`. This no longer exists and does not need to be in the boilerplate.

Making a task out of this because although it has Experimental Fabric support in Expo v47, it would help get use closer to New Architecture compatible if we drop it.

[2022-11-01 17:08] frankcalise commented on #1044
Package names are properly handled in the latest version of Ignite.

Closing as this is solved now, in both Vanilla and Expo

[2022-11-01 17:08] #1044 closed

[2022-11-02 11:17] frankcalise commented on #2227
Interesting in my testing, if the Podfile.lock versions were mismatched, (see https://github.com/infinitered/ignite/pull/2278), our typical `cd ios && pod install` in `./boilerplate/bin/postInstall` does fail:

[code]

However, if that command is skipped and `npx pod-install` runs shortly after, that will complete successfully catching the error and running the appropriate command:

[code]

Perhap

[2022-11-02 15:44] #2260 closed

[2022-11-02 15:48] infinitered-circleci commented on #2260
:tada: This issue has been resolved in version 8.2.8 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.2.8)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.2.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-03 15:40] jfroffice commented on #2260
@frankcalise I did not have the opportunity to test it.

Good news ! thx @martengooz

[2022-11-03 16:14] jfroffice commented on #2260
Sorry but I still have the same issue.

[code]

the `PATH` has been updated too, regarding the CocoaPods Guides
https://guides.cocoapods.org/using/getting-started.html

[2022-11-03 16:16] jfroffice commented on #2260
[code]

[2022-11-03 16:19] jfroffice opened #2286 "Installation still failing"
### Describe the bug

https://github.com/infinitered/ignite/issues/2260#issuecomment-1302346762

`which pod`

### Ignite version

8.2.28

### Additional info

[code]

[2022-11-03 16:27] frankcalise commented on #2286
@jfroffice please try `npx ignite-cli@latest` or clear out your npx cache. If you look at the `ignite-cli` version output by the doctor command you are still running `8.2.5`, not `8.2.8`.

If you want to try out the fix by hand, just go into `projectDir/ios` and `rm Podfile.lock` followed by `pod install` or `cd ..; yarn`

[2022-11-03 18:47] robinheinze opened #2287 "Use default metro config from @expo/metro-config for expo projects"
### Describe the bug

Regular default metro config is missing asset hashing for Release builds. We should be getting the default config from `@expo/metro-config` instead.

https://github.com/infinitered/ignite/blob/master/boilerplate/metro.config.js#L21

### Ignite version

8.2.8

### Additional info

[code]

[2022-11-04 14:29] mohamed-ahdidou-nw commented on #2049
The solution for me was to create a new ignite project using `yarn` instead of `npm` & `pnpm`
I'm trying to fix that since I'm a big `pnpm` fan

[2022-11-04 16:17] jfroffice commented on #2286
I am getting the same error with the last version. :(

[code]

[2022-11-04 16:20] #2287 closed

[2022-11-04 17:05] jfroffice commented on #2286
Yes, even with the trick on installation a custom pod version.
[code]

[code]

[2022-11-04 17:21] frankcalise commented on #2286
@jfroffice Can you please run `npx ignite-cli@latest --yes --debug` and paste the formatted output here? Thanks!

[2022-11-04 21:56] #2280 closed

[2022-11-04 21:56] #2218 closed

[2022-11-04 21:59] infinitered-circleci commented on #2280
:tada: This issue has been resolved in version 8.2.10 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.2.10)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.2.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-04 21:59] infinitered-circleci commented on #2218
:tada: This issue has been resolved in version 8.2.10 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.2.10)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.2.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-04 22:17] mhy-beta commented on #2286
Hi, I have installation problem but I am newbie,

Steps:

- run command : npx ignite-cli@latest new dbapp7 --debug
- answer all question yes

result;
`    Ignited dbapp7 in 231.26s  🚀

    For next time: here are the Ignite options you picked!
      npx ignite-cli new dbapp7 \
        --bundle=com.mhy.dbapp7 \
        --git \
        --install-deps \
        --packager=yarn \
        --target-path

[2022-11-04 22:55] frankcalise commented on #2286
@mhy-beta it looks like your project got initialized correctly, were you able to cd into the directory and run it?

What command did you run after that (before the `ignite-cli doctor`) where that gluegun output displayed?

[2022-11-04 23:44] mhy-beta commented on #2286
@frankcalise Hi, I will try to explain step by step.
The name of the project I created is "dbapp7"

1. start "powershell" and went to the following directory (C:\users\mhy\projects\) to create a new project.
2. and write this `npx ignite-cli@latest new dbapp7 --debug`
3. I see this `C:\Users\mhy\AppData\Roaming\npm-cache_npx\11192\node_modules\ignite-cli\node_modules\gluegun\build\index.js:15
thro

[2022-11-04 23:47] frankcalise commented on #2286
@mhy-beta thanks for the detail! this will help us debug

[2022-11-05 20:32] frankcalise commented on #2286
@mhy-beta I just tested on my Windows machine and this seems to work just fine.  Since your `npx ignite-cli doctor` output is not completing, could you give me the following versions for the listed packages? I think something is possibly wrong in your nodejs/npm setup.

node --version
npm --version

[2022-11-05 20:46] mhy-beta commented on #2286
node: v14.17.0
npm: 6.14.13

@frankcalise Actually, I'm starting to think there's a problem with that. I will delete node/npm completely and try with the latest LTS version.

Note: However, since the latest nodejs version and the last lts version took longer than normal, I installed this version.
I also gave feedback for Nodejs but no response.

e.g: Node versions 18.12.1 and 19.0.1 it takes exact

[2022-11-05 21:07] frankcalise commented on #2286
@mhy-beta ok I know I use 16.14.2 and others on my team use either a variation of 16 or 18.

However if you install something like `nvm` then you don't have to worry about only keeping one version installed.

There is a version of this for Windows - https://github.com/coreybutler/nvm-windows - you'll have to follow the installation instructions to remove any pervious version of node for it to work

[2022-11-05 21:17] mhy-beta commented on #2286
Thanks for your concern, I just installed "nvm for windows" and downloaded the latest LTS version nodejs. Using npm it successfully built the first project in 321 seconds. I haven't tried it with yarn yet.

![7](https://user-images.githubusercontent.com/76412344/200141674-7a7d3d35-0a43-43db-b211-a9a912c2c684.png)

Since my computer is old, I use windows and unfortunately I cannot virtualize, so I

[2022-11-05 21:21] frankcalise commented on #2286
@mhy-beta awesome glad to hear you got it working!

[2022-11-06 21:19] Peege151 commented on #2260
Hi -- I haven't worked with gems or pods in a while.  My `which pod` command has the same output as you `/usr/local/bin/pod` what command do I use to link it to the homebrew version? I also installed that.

[2022-11-06 21:31] frankcalise commented on #2260
@Peege151 Hi can you move the conversation over to #2286 please as this issue is closed. Thanks

[2022-11-06 21:48] Peege151 commented on #2286
Carrying on from #2260

(Idk how to quote Martengooz from here) but he said:

```I noticed that it was using my old pod version, and not the one i just installed by gem. By running which pod, i saw that it was pointing to /usr/local/bin/pod which is the built in version. Changing this to the one installed by gem i added /opt/homebrew/opt/ruby/bin to my path.```

I was just wondering how / where yo

[2022-11-06 22:40] frankcalise commented on #2286
@Peege151 you might have two cocoapods installed. You might need to do something like this to clear it up:

[code]

At this point I'd make sure you close and restart any terminals, can then try `which pod`

If pointing to the homebrew one

[code]

[2022-11-06 23:24] Peege151 commented on #2286
I tried that which pod points to the same location… am I supposed to update
my .bash_profile though? I have not done that if I am supposed to

On Sun, Nov 6, 2022 at 5:40 PM Frank Calise ***@***.***>
wrote:

--
That's all for now!
-Patrick Sullivan

[2022-11-06 23:59] Peege151 commented on #2286
Same error...

I got it to work with pod install --repo-update

[2022-11-07 12:53] jacob0123456 commented on #1675
dependencies {
        classpath("com.android.tools.build:gradle:3.5.3")
 }

I changed like this. but not working.

[2022-11-07 19:36] jamonholmgren opened #2291 "Documentation: Document the Ignite CLI in a separate doc"
We really need a doc (maybe `./docs/Ignite-CLI.md`) where we document all commands and link to specific other pages as needed (like the page for Generators).

[2022-11-07 20:43] #932 closed

[2022-11-07 20:48] infinitered-circleci commented on #932
:tada: This issue has been resolved in version 8.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.3.0)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-07 23:02] objectiveSee opened #2292 "Storyboard Required for iOS Submission"
### Describe the bug

I just created a new app using ignite however I got an error when submitting to Apple. They are requiring a storyboard file. I am wondering if this is something that ignite handles which I may have configured incorrectly. I actually was able to submit my app once without an issue, but my second build for some reason triggered this error from Apple.

I am also using Expo fully

[2022-11-07 23:09] frankcalise commented on #2292
@objectiveSee have you removed the native android/ios directories?

[2022-11-07 23:10] objectiveSee commented on #2292
@frankcalise no, they are still there. Should I remove them?

[2022-11-07 23:36] objectiveSee commented on #2292
@frankcalise thanks for the quick reply! I tried the steps listed in that link, but now I get a warning when running `eas build --platform ios`.

First, I made a fresh RN ignite app and ran `eas build --platform ios` successfully. Then I made the changes per the "pristine" method. Does anything jump out to you as incorrect here?

The actions I took were:
1. Start with a fresh RN Ignite project
2.

[2022-11-08 00:05] frankcalise commented on #2292
@objectiveSee mind pasting me the contents of your metro config?

[2022-11-08 00:11] objectiveSee commented on #2292
Here is `metro.config.js`. I haven't touch it since initializing the project:

[code]

[2022-11-08 00:27] frankcalise commented on #2292
@objectiveSee understood, can you try something like the following, I'm curious if the expo / vanilla config switching isn't happening properly

[code]

[2022-11-08 16:14] objectiveSee commented on #2292
@frankcalise I was able to get everything working by doing another fresh app using Ignite and removing the ios and android directories. I am not 100% sure why the metro stuff was not working, but now that is also working fine. Perhaps I ran some incorrect command along the way. I can close this one for now but will re-open if I experience the same issue again.

Appreciate the help!

[2022-11-08 16:14] #2292 closed

[2022-11-09 01:49] MirGhojam opened #2293 "can't ignite new app on windows11"
### Describe the bug

I ran the create new app command as suggested on my terminal, but after the installation of the cli, there are no follow up prompt. The whole procedure is suddenly stopped with no extra warnings or anything.

### Ignite version

8.3.0

### Additional info

somthing wrong with my network, can't upload the image. It goes like this:

[code]

[2022-11-09 01:56] frankcalise commented on #2293
@MirGhojam Hey! Sorry you're having trouble. A couple of questions:

0. Add the `--debug` flag for verbose logging, maybe at least something will show up in the terminal
1. Does `npx` normally work for you on this machine or is this a new machine? If unsure, could you try `npx` with another package?
2. Maybe it's a privileges issue? Try running the shell (VSCode or PowerShell) as admin?
3. Check W

[2022-11-09 18:53] #2291 closed

[2022-11-10 03:46] infinitered-circleci commented on #2291
:tada: This issue has been resolved in version 8.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.3.1)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-13 12:31] xianGpdy opened #2299 "npx react-native run-ios fail on ignite-cli v8.3.1, node lts v14.20.0"
### Describe the bug

What happened? I tried to use expo-47-rn-70 in the project.
then Could not run sample project created with "npx react-native run-ios" command.

npx react-native run-ios
[code]

### Ignite version

8.3.1

### Additional info

npx ignite-cli doctor
[code]

[2022-11-13 22:52] frankcalise commented on #2299
Hi @xianGpdy - can you explain to me your steps describing how you "tried to use expo-47-rn-70 in the project"? I'm not exactly sure what you mean there.

You have an existing project and are looking to do upgrades? Or you checked out the branch, linked ignite locally and spun up a new app?

[2022-11-14 00:50] xianGpdy commented on #2299
yeah i checked out the branch  "expo-47-rn-70" and spun up a new app. but It didn't work. :(
[code]

[2022-11-14 02:50] frankcalise commented on #2299
Can you build regular `npx react-native run-ios` apps? Xcode is up to 14 now, not sure this is Ignite related

[2022-11-14 04:55] ryskin opened #2300 "Demo with real use of Header"
That's great Header comp is included in the library but there is no example of how to use it "right". For example, I usually include it in the Screen component but there are some problems with the insets. Maybe there is a better way to use it? I want to know how infinitered integrates Header in projects )

Thanks for all you do for the community!

[2022-11-14 10:47] funfake opened #2301 "Ignite-cli new app failing at dependencies installation (expo-detox-hook/ExpoDetoxHook)"
### Describe the bug

Hi! I'g going through an issue with my Ignite app creation during dependencies install. It gives me that error that I can't overcome. I've looked everywhere online, reinstalled cocoapods, reinstalling the cli, switched from yarn to npm. Nothing changes. Thanks a lot for your help !

### Error
[code]

### Steps to reproduce
`ignite-cli new OMNx ` or `npx ignite-cli@latest new

[2022-11-14 13:25] frankcalise commented on #2301
Hi @funfake I'm sorry you're having trouble - can you try the following steps? It seems like your directory got created, correct?

` cd OMNx`
`npx pod-install`

Does that pod install get completed?

[2022-11-14 13:34] frankcalise commented on #2293
@MirGhojam Hey, just following up - are you still having issues?

[2022-11-14 13:43] funfake commented on #2301
Hi! Thanks for your help.
I installed expo which was missing in the ignite doctor. Sadly I get the same error.
The directory got created but I don't think the dependency install went through.
Does that mean that everything will work even with those errors ?
I ran your command with the following outputs :

Need to install the following packages:
  pod-install
Ok to proceed? (y) y
Scanning for pods.

[2022-11-14 13:49] frankcalise commented on #2301
@funfake yeah the Podfile.lock file should be fixed now - I was able to reproduce over here as well. I just opened a PR to fix this issue, but in the mean time you can get going now.

You should be able to `yarn` from the project directory and see that things go through correctly now (although dependencies should be installed, the snag you hit comes after installation).

However, keep in mind that

[2022-11-14 14:04] frankcalise commented on #2293
@MirGhojam so adding `--debug` to the install command displays no output?

You searched EventViewer and there are no errors?

[2022-11-14 14:06] funfake commented on #2301
I'm glad you were able to reproduce the issue on your side. I was afraid my install had a problem. The project starts with expo meaning that I can enjoy your excellent hello world app so that's cool. I will take care of the git manually.
I will keep an eye on #2303 and see how it goes.

Thanks again for your help. It’s a pleasure to have been helped by you. Should I close this issue now ?

[2022-11-14 14:10] frankcalise commented on #2301
No problem glad you got it resolved, you can leave it open - it'll get closed when we push the fix. Thank you!

[2022-11-14 14:20] #2293 closed

[2022-11-14 17:02] ryskin commented on #2300
@yulolimum you are the best, I will follow your recommendation, you just made my day

[2022-11-14 18:55] jamonholmgren commented on #2300
If you want to use @yulolimum's suggestion 2, here's a small convenience hook:

[code]

You use it like this in your screen:

[code]

We could, perhaps, include it in Ignite if @yulolimum likes this approach.

[2022-11-14 19:01] jamonholmgren commented on #2286
Might be fixed with #2302?

[2022-11-14 19:03] jamonholmgren commented on #2274
@DeMuu Thanks for reporting! I've confirmed this is indeed happening.

![CleanShot 2022-11-14 at 11 02 50@2x](https://user-images.githubusercontent.com/1479215/201743996-d61d709d-9c18-49d2-8da8-a30ead84209f.png)

[2022-11-14 19:27] #2301 closed

[2022-11-14 19:30] infinitered-circleci commented on #2301
:tada: This issue has been resolved in version 8.3.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.3.2)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-15 03:01] ryskin commented on #2300
@jamonholmgren thanks for the addition, I will use it

I think need to include both variants in the demo, so the user can choice.

[2022-11-15 03:12] ryskin commented on #2300
Just tried and it's so simple and works great, hooks are my choice. I can make a different file for option if I need to reuse it many times.

[2022-11-16 02:09] infinitered-circleci commented on #2227
:tada: This issue has been resolved in version 8.3.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.3.3)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.3.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-17 02:34] ryskin opened #2308 "In spacing should be same naming as in fonts"
That's really confusing in one place use **extraLarge** in another place it's just **xl**. I think naming is much more intuitive in fonts.

<img width="210" alt="image" src="https://user-images.githubusercontent.com/3756722/202340341-81d87238-d1ef-42b4-9450-20a794d3f557.png">

<img width="449" alt="image" src="https://user-images.githubusercontent.com/3756722/202340414-3e4f035d-2db7-48c6-be29-1f5b

[2022-11-17 03:23] yulolimum commented on #2308
I like this proposal. I get confused between micro/tiny and huge/massive all the time. @robinheinze what do you think?

[2022-11-17 03:27] jamonholmgren commented on #2308
I don't have an opinion on which one is better, but I agree they should be consistent.

BTW, the `as TextStyle` doesn't do actual type-checking, just coerces/casts it as that.

<img width="894" alt="CleanShot 2022-11-16 at 19 22 39@2x" src="https://user-images.githubusercontent.com/1479215/202347032-75a7bb03-43ee-49ed-ac4d-8d5dd1c72f28.png">

I seem to remember some way to make a generic that woul

[2022-11-17 03:38] yulolimum commented on #2308
@jamonholmgren

It doesn't do typechecking but it does typeahead:
![yulolimum-capture-2022-11-16--19-34-39](https://user-images.githubusercontent.com/1775841/202348882-5164a239-177f-4413-a540-db42c7a00fad.jpg)

You can do `Record` generic...
![yulolimum-capture-2022-11-16--19-35-36](https://user-images.githubusercontent.com/1775841/202348896-f635ae08-798f-4bc3-a1f4-e2aca490cb15.jpg)

...but you lo

[2022-11-17 04:05] jamonholmgren opened #2309 "Better types for $sizeStyles"
Per #2308, specifically [this comment](https://github.com/infinitered/ignite/issues/2308#issuecomment-1318011470), it would be good to get type-checking on the $sizeStyles object.

Currently, we're using `as TextStyle`, which just coerces but doesn't typecheck the object.

![as TextStyle](https://user-images.githubusercontent.com/1479215/202347032-75a7bb03-43ee-49ed-ac4d-8d5dd1c72f28.png)

@yuloli

[2022-11-17 04:06] jamonholmgren commented on #2308
Opened #2309 for that.

[2022-11-17 04:21] jamonholmgren commented on #2309
This is one approach that works, but I don't like it.

<img width="1218" alt="CleanShot 2022-11-16 at 20 18 23@2x" src="https://user-images.githubusercontent.com/1479215/202354563-7fd9470f-da08-48bd-a75d-d0ea927d2535.png">

[2022-11-17 04:31] jamonholmgren commented on #2309
Okay, so this seems to be the way to go -- use `satisfies`, which exists in TypeScript 4.9.x.

<img width="1149" alt="CleanShot 2022-11-16 at 20 29 59@2x" src="https://user-images.githubusercontent.com/1479215/202355647-a7fd9dd3-11f5-478e-8672-bcccc2bc7986.png">

Note that one must use the workspace TypeScript version rather than VS Code's built-in TS version.

<img width="514" alt="CleanShot 2022

[2022-11-17 04:42] ryskin opened #2310 "Naming in screen generators is different from demo screens, also casing issue"
`npx ignite-cli generate screen Calendar`

create **app/screens/calendar/calendarScreen.tsx**

1) Name of the file in a different casing, should be CalendarScreen.tsx
2) I think should be used the same pattern as in the Demo project.
- app/screens/CalendarScreen/CalendarScreen.tsx
- app/screens/CalendarScreen/index.tsx

[2022-11-17 04:47] ryskin commented on #2310
also noticed that import paths are wrong in the generated file, anyway it's useful and easy to adapt but anyway it's working not as expected.

[2022-11-17 05:04] frankcalise commented on #2310
@ryskin are you sure you aren't point at an old Ignite version, could you please post which you are using?

`npx ignite-cli generate screen Calendar`

results in this for me:

[code]

[2022-11-17 05:56] ITXIN commented on #2299
I also encountered this error，Other people are xcode 14. No problem , Do I have to upgrade Xcode to 14? Are there other solutions？Looking forward to your reply。

`npx react-native run-ios` apps error：

** BUILD FAILED **
[code]

`npx ignite-cli doctor`
[code]

[2022-11-17 06:30] ryskin commented on #2310
hmm Ignite ignite-cli         7.15.0

[2022-11-17 06:33] ryskin commented on #2310
yes, my bad, latest is 8.3.4
case is closed )

[2022-11-17 06:35] #2310 closed

[2022-11-17 13:51] frankcalise commented on #2299
@ITXIN can you try `npx ignite-cli@latest` and let me know if you experience the same? 8.3.4 is the latest

[2022-11-17 22:35] #2300 closed

[2022-11-17 22:38] infinitered-circleci commented on #2300
:tada: This issue has been resolved in version 8.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.4.0)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-17 22:43] yulolimum commented on #2300
@ryskin

Documentation added to https://github.com/infinitered/ignite/blob/master/docs/Components-Header.md#usage

`useHeader()` hook added: https://github.com/infinitered/ignite/blob/master/docs/Utils-useHeader.md

[Header updated](https://github.com/infinitered/ignite/blob/master/boilerplate/app/components/Header.tsx#L168) to use insets instead of SafeArea using new hook: https://github.com/infi

[2022-11-18 03:06] ITXIN commented on #2299
@frankcalise  I try` npx ignite-cli@latest` also The same error is reported。
`npx ignite-cli doctor`
[code]

[2022-11-18 03:22] frankcalise commented on #2299
@ITXIN and this is following a successful ignite new? But `yarn ios` results in this error?

[2022-11-18 03:50] ITXIN commented on #2299
yeah , also this error
[code]

[2022-11-18 03:59] vantuan88291 opened #2312 "[Android] Heavy size apk when build release"
A long time ago, when i used ignite version that include react native 0.62.x, the apk size just around 19-20mb, and when i released on playstore, its just 8-10mb. And now i cannot believe that the apk file over 50mb(on my project 66mb) for react native version 0.69. Do you guys have any ideals for reduce the apk file?
This is what i did for reduce it:
- enable proguard
- enable r8(by default)
- en

[2022-11-18 04:10] frankcalise commented on #2299
@ITXIN are you able to init a regular react-native CLI app?

`npx react-native init AwesomeProject`

https://reactnative.dev/docs/environment-setup

[2022-11-18 04:24] Slamerz opened #2313 "Expo start --web broken `symbolicateMiddleware`"
### Describe the bug

Created 2 fresh projects of ignite, both show the same behavior when you attempt to run for web.

Seems to be an issue with [Expo-CLI](https://githubplus.com/expo/expo-cli/issues/4602)

Current Error.
[code]

Steps to reproduce.
Create a fresh ignite project
`npx ignite-cli@latest new PizzaApp --yes`
Navigate to project
`npm run expo:web`

### Ignite version

8.4.0

### Addit

[2022-11-18 04:37] frankcalise commented on #2313
@Slamerz thanks for the report! we're almost done publishing an update for this, it's an issue upstream with Expo.

More details in this PR - https://github.com/infinitered/ignite/pull/2303, specifically this: https://github.com/expo/expo/issues/19833

[2022-11-18 04:53] ITXIN commented on #2299
Yes，`npx react-native init AwesomeProject` is OK

[2022-11-18 05:32] frankcalise commented on #2299
@ITXIN Can you please paste more than just the last 4 lines of the build failed output if you can obtain it?

[2022-11-18 07:25] ITXIN commented on #2299
`npx react-native run-ios` log

[code]

[2022-11-18 15:58] frankcalise commented on #2274
@jamonholmgren PR is up!

[2022-11-18 19:20] jamonholmgren commented on #2312
We'll definitely look into this, @vantuan88291! I don't want to remove the `expo` core library from Ignite, as Expo libraries are super important to our workflow, but I'm sure there are opportunities to reduce the apk file size quite a bit.

[2022-11-18 19:22] jamonholmgren commented on #2173
![monorepo](https://c.tenor.com/uBhzzXtirz4AAAAd/angry-chewing.gif)

[2022-11-18 19:22] #2173 closed

[2022-11-18 19:23] jamonholmgren commented on #2173
(Lest people think I'm a jerk, I did this on Zoom with Josh there...lol)

[2022-11-18 19:32] #2274 closed

[2022-11-19 00:21] ryskin opened #2316 "Text props improvement"
I think need to make additional props (to avoid using styles) for underline, strike, and italic (textDecorationLine), that's basic for text like bold.

[2022-11-19 00:21] ryskin commented on #2313
Yeah I have a same issue

[2022-11-19 00:42] yulolimum commented on #2316
@ryskin

Thanks for the suggestion!

What we're trying to achieve with the components is provide the developers with a good "starting point" for customization. Most components have just enough props (external customization) that it would be enough for most use-cases. What we **_don't_** want to do is provide "too much"  that components become hard to maintain. So, in other words, we have the basic

[2022-11-19 02:04] bionicmaster commented on #2299
I'm also having the same issue, if I run a react-native new project I can run it without issue, the same if I run it with expo:start, but when I run npm run ios, it doesn't compile and breaks

[2022-11-19 02:19] frankcalise commented on #2299
Can you provide `npx ignite-cli doctor` output please?

[2022-11-19 02:43] bionicmaster commented on #2299
System
  platform           darwin
  arch               x64
  cpu                12 cores        Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
  directory          MaasMobileNew   /Users/miguel.velasco/Documents/Code/MaasMobileNew

JavaScript (and globally-installed packages)
  node               19.1.0       /usr/local/bin/node
  npm                8.19.3       /usr/local/bin/npm
    ignite-cli

[2022-11-20 01:14] gutenfries commented on #2313
I also have this issue...

[2022-11-20 05:35] ryskin commented on #2316
I'm agree with you but this small thing will make this component complete, underline and italic for example is often using by designers and in any design tool it will be visible.

This will not overload component, even in editor I write this message I always see icon **bold** and _italic _

[2022-11-21 09:28] ldlogic commented on #2299
@frankcalise  I have the same problem.:

The following build commands failed:
        CompileSwift normal x86_64
        CompileSwiftSources normal x86_64 com.apple.xcode.tools.swift.compiler
(2 failures)

`System
  platform           darwin
  arch               x64
  cpu                8 cores      Intel(R) Core(TM) i7-3615QM CPU @ 2.30GHz
  directory          test         /Users/xxx/test

JavaSc

[2022-11-21 15:47] pecabum commented on #2313
+1 for the same issue

[2022-11-21 16:50] frankcalise commented on #2299
@ITXIN @ldlogic your Xcode is pretty outdated, I'm not sure if this is the issue but 12.4 came out just under 2 years ago. Maybe want to try updating?

@bionicmaster Although your Xcode is up to date, your cocoapods version is from a release almost 2 years ago, might want to try updating that?

[2022-11-21 17:29] jamonholmgren commented on #2299
No issues here.

<img src="https://user-images.githubusercontent.com/1479215/203121521-0344f1d7-ce36-44eb-8dbd-704c558d9a93.png" width="200" />

[code]

[2022-11-21 17:31] jamonholmgren commented on #2316
@ryskin We've been noticing your activity internally here at Infinite Red and rest assured it's very appreciated! You've had some great ideas and contributions.

[2022-11-21 18:01] frankcalise commented on #2299
@ITXIN @ldlogic @bionicmaster can you also confirm that you are trying this against the `feat/expo-47-rn-70` branch? Or are these just standard Ignite installs?

[2022-11-21 18:03] bionicmaster commented on #2299
I'm trying against latest in npm, Im trying to update pods now

Obtener Outlook para Android<https://aka.ms/ghei36>
________________________________
From: Frank Calise ***@***.***>
Sent: Monday, November 21, 2022 12:01:28 PM
To: infinitered/ignite ***@***.***>
Cc: Miguel Angel Velasco Vazquez ***@***.***>; Mention ***@***.***>
Subject: Re: [infinitered/ignite] npx react-native run-ios fail on igni

[2022-11-21 18:44] #2262 closed

[2022-11-21 18:48] infinitered-circleci commented on #2274
:tada: This issue has been resolved in version 8.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.4.1)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-21 18:48] infinitered-circleci commented on #2262
:tada: This issue has been resolved in version 8.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-cli/v/8.4.1)
- [GitHub release](https://github.com/infinitered/ignite/releases/tag/v8.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-21 20:41] ldlogic commented on #2299
I have used standard installs.

[2022-11-22 04:16] ryskin commented on #2316
@ryskin I always take ideas from Ignite and always wanted much more examples in demos and the latest release I think is the most significant. Also, I would like later to try to contribute with a code. I have some ideas, I remember what was hard for me some time ago, especially with MST, because the community is not big as I wish.

[2022-11-23 01:32] joshuayoes commented on #2299
I'm getting the same thing on my machine:

In `ignite` directory
[code]

Simulator output
<img width="458" alt="Screen Shot 2022-11-22 at 5 27 26 PM" src="https://user-images.githubusercontent.com/37849890/203452940-a97df434-3430-4ab0-87e4-40c5702be64e.png">

`yarn ios` output
[code]

`npx ignite-cli doctor` output
[code]

[2022-11-29 01:19] lakarpusky commented on #2299
Running a fresh app using `yarn run ios` fails wiht the message: **"error No simulator available with name 'iPhone 13'"**, but using `yarn run expo:ios` works, and also using Xcode (Simulator iPhone 14 / iOS 16.1) to run the app works ok too.

`ignite doctor` output
[code]

[2022-11-29 08:30] maqeelqureshi opened #2320 "Header ActionComponent events are not working"
### Describe the bug

I am trying to add animated drawer button in header component. Component is rendering properly but it's events are not working. If i use header left/right icons then onPress events works fine,

        ` import { Button, Header } from "../../components"
           <Header
          titleTx="screen1.title"
          LeftActionComponent={
            <Button
              text=

[2022-11-30 00:07] joshuayoes commented on #2299
The issue you are having is known, try this solution here: https://github.com/infinitered/ignite/issues/2170#issuecomment-1249641608

[2022-11-30 14:14] tschai-yim opened #2323 "Invalid shouldComponentUpdate in ErrorBoundary"
### Describe the bug

Was cleaning up the code after changing the linting rules and found [`ErrorBoundary.shouldComponentUpdate`](https://github.com/infinitered/ignite/blob/7ab40e3b08fdb475478cddd6fea37cdbeb768f1f/boilerplate/app/screens/ErrorScreen/ErrorBoundary.tsx#L46) to not make any sense:
[code]
According to the `Props` type, there is no `error` prop. I think it's supposed to be the followin